﻿<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style googleFonts --><!-- /build -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style mainResponsive --><!-- /build -->
    <!-- build:style print [media="print"] --><!-- /build -->
    <!-- build:style theme.light [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->

</head>
<body>

    <!-- build:section layout.header --><!-- /build -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.navbar --><!-- /build -->
        <!-- start: PAGE -->
        <div class="main-content">
            <!-- build:section layout.panelConfiguration --><!-- /build -->
            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- build:section layout.styleSelector --><!-- /build -->
                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-grid-6"></i>
                                <a href="#">
                                    Tables
                                </a>
                            </li>
                            <li class="active">
                                Static Tables
                            </li>
                            <li class="search-box">
                                <form class="sidebar-search">
                                    <div class="form-group">
                                        <input type="text" placeholder="Start Searching...">
                                        <button class="submit">
                                            <i class="clip-search-3"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ol>
                        <div class="page-header">
                            <h1>Static Tables <small>static tables samples</small></h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- start: BASIC TABLE PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i>
                                Basic table
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="fa fa-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover" id="sample-table-1">
                                    <thead>
                                        <tr>
                                            <th class="center">#</th>
                                            <th>Browser</th>
                                            <th class="hidden-xs">Creator</th>
                                            <th>Software license</th>
                                            <th class="hidden-xs">Current layout engine</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="center">1</td>
                                            <td class="hidden-xs">Google Chrome</td>
                                            <td>Google</td>
                                            <td>
                                                <a href="#" rel="nofollow" target="_blank">
                                                    Terms of Service
                                                </a>
                                            </td>
                                            <td class="hidden-xs">Blink</td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="gebruikers_edit.html#panel_edit_account" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-share"></i> Share
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-times"></i> Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="center">2</td>
                                            <td>Internet Explorer</td>
                                            <td class="hidden-xs">Microsoft, Spyglass</td>
                                            <td>
                                                <a href="#" rel="nofollow" target="_blank">
                                                    Proprietary
                                                </a>
                                            </td>
                                            <td class="hidden-xs">Trident</td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="gebruikers_edit.html#panel_edit_account" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-share"></i> Share
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-times"></i> Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="center">3</td>
                                            <td>Mozilla Firefox</td>
                                            <td class="hidden-xs">Mozilla Foundation</td>
                                            <td>
                                                <a href="#" rel="nofollow" target="_blank">
                                                    MPR
                                                </a>
                                            </td>
                                            <td class="hidden-xs">Gecko</td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="gebruikers_edit.html#panel_edit_account" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-share"></i> Share
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-times"></i> Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="center">4</td>
                                            <td>Safari</td>
                                            <td class="hidden-xs">Apple Inc.</td>
                                            <td>
                                                <a href="#" rel="nofollow" target="_blank">
                                                    Proprietary
                                                </a>
                                            </td>
                                            <td class="hidden-xs">WebKit</td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="gebruikers_edit.html#panel_edit_account" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-share"></i> Share
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-times"></i> Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="center">5</td>
                                            <td>Opera</td>
                                            <td class="hidden-xs">Opera Software</td>
                                            <td>
                                                <a href="#" rel="nofollow" target="_blank">
                                                    Proprietary
                                                </a>
                                            </td>
                                            <td class="hidden-xs">Presto</td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="gebruikers_edit.html#panel_edit_account" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-share"></i> Share
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-times"></i> Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end: BASIC TABLE PANEL -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- start: TABLE WITH IMAGES PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i>
                                Table with images
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="fa fa-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover" id="sample-table-2">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </th>
                                            <th class="center">Photo</th>
                                            <th>Full Name</th>
                                            <th class="hidden-xs">Role</th>
                                            <th class="hidden-xs">Email</th>
                                            <th class="hidden-xs">Phone</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="center">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="center"><img src="assets/images/avatar-1.jpg" alt="image" /></td>
                                            <td>Peter Clark</td>
                                            <td class="hidden-xs">UI Designer</td>
                                            <td class="hidden-xs">
                                                <a href="#" rel="nofollow" target="_blank">
                                                    peter@example.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">(641)-734-4763</td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="gebruikers_edit.html#panel_edit_account" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-share"></i> Share
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-times"></i> Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="center">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="center"><img src="assets/images/avatar-2.jpg" alt="image" /></td>
                                            <td>Nicole Bell</td>
                                            <td class="hidden-xs">Content Designer</td>
                                            <td class="hidden-xs">
                                                <a href="#" rel="nofollow" target="_blank">
                                                    nicole@example.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">(741)-034-4573</td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="gebruikers_edit.html#panel_edit_account" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-share"></i> Share
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-times"></i> Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="center">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="center"><img src="assets/images/avatar-3.jpg" alt="image" /></td>
                                            <td>Steven Thompson</td>
                                            <td class="hidden-xs">Visual Designer</td>
                                            <td class="hidden-xs">
                                                <a href="#" rel="nofollow" target="_blank">
                                                    steven@example.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">(471)-543-4073</td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="gebruikers_edit.html#panel_edit_account" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-share"></i> Share
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-times"></i> Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="center">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="center"><img src="assets/images/avatar-4.jpg" alt="image" /></td>
                                            <td>Ella Patterson</td>
                                            <td class="hidden-xs">Web Editor</td>
                                            <td class="hidden-xs">
                                                <a href="#" rel="nofollow" target="_blank">
                                                    ella@example.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">(799)-994-9999</td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="gebruikers_edit.html#panel_edit_account" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-share"></i> Share
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-times"></i> Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="center">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="center"><img src="assets/images/avatar-5.jpg" alt="image" /></td>
                                            <td>Kenneth Ross</td>
                                            <td class="hidden-xs">Senior Designer</td>
                                            <td class="hidden-xs">
                                                <a href="#" rel="nofollow" target="_blank">
                                                    kenneth@example.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">(111)-114-1173</td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="gebruikers_edit.html#panel_edit_account" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-share"></i> Share
                                                                </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-times"></i> Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end: TABLE WITH IMAGES PANEL -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!-- start: CONDENSED TABLE PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i>
                                Condensed table
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="fa fa-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed table-hover" id="sample-table-3">
                                    <thead>
                                        <tr>
                                            <th class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </th>
                                            <th>Domain</th>
                                            <th class="hidden-xs">Clicks</th>
                                            <th><i class="fa fa-time"></i> Update </th>
                                            <th class="hidden-xs">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    alpha.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 13</td>
                                            <td class="hidden-xs"><span class="label label-sm label-warning">Expiring</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    beta.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Jen 15</td>
                                            <td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    gamma.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Mar 09</td>
                                            <td class="hidden-xs"><span class="label label-sm label-danger">Expired</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    delta.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 10</td>
                                            <td class="hidden-xs"><span class="label label-sm label-inverse">Flagged</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    epsilon.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 18</td>
                                            <td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    zeta.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 13</td>
                                            <td class="hidden-xs"><span class="label label-sm label-warning">Expiring</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    eta.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Jen 15</td>
                                            <td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    theta.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Mar 09</td>
                                            <td class="hidden-xs"><span class="label label-sm label-danger">Expired</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    iota.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 10</td>
                                            <td class="hidden-xs"><span class="label label-sm label-inverse">Flagged</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    kappa.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 18</td>
                                            <td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end: CONDENSED TABLE PANEL -->
                    </div>
                    <div class="col-md-6">
                        <!-- start: BORDERED TABLE PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i>
                                Bordered Table
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="fa fa-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-hover" id="sample-table-4">
                                    <thead>
                                        <tr>
                                            <th class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </th>
                                            <th>Domain</th>
                                            <th class="hidden-xs">Clicks</th>
                                            <th><i class="fa fa-time"></i> Update </th>
                                            <th class="hidden-xs">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    alpha.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 13</td>
                                            <td class="hidden-xs"><span class="label label-sm label-warning">Expiring</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    beta.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Jen 15</td>
                                            <td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    gamma.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Mar 09</td>
                                            <td class="hidden-xs"><span class="label label-sm label-danger">Expired</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    delta.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 10</td>
                                            <td class="hidden-xs"><span class="label label-sm label-inverse">Flagged</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    epsilon.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 18</td>
                                            <td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    zeta.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 13</td>
                                            <td class="hidden-xs"><span class="label label-sm label-warning">Expiring</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    eta.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Jen 15</td>
                                            <td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    theta.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Mar 09</td>
                                            <td class="hidden-xs"><span class="label label-sm label-danger">Expired</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    iota.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 10</td>
                                            <td class="hidden-xs"><span class="label label-sm label-inverse">Flagged</span></td>
                                        </tr>
                                        <tr>
                                            <td class="center hidden-xs">
                                                <div class="checkbox-table">
                                                    <label>
                                                        <input type="checkbox" class="flat-grey">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    kappa.com
                                                </a>
                                            </td>
                                            <td class="hidden-xs">3,330</td>
                                            <td>Feb 18</td>
                                            <td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end: BORDERED TABLE PANEL -->
                    </div>
                </div>
                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- build:section layout.sidebar --><!-- /build -->



    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
            <script src="../../bower_components/respond/dest/respond.min.js"></script>
            <script src="../../bower_components/Flot/excanvas.min.js"></script>
            <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
            <![endif]-->

    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

    <script>
        jQuery(document).ready(function () {
            Main.init();
        });
    </script>

</body>
</html>
