@using FusionCore.Modules.InstallationManager.Data.Entities
@using FusionCore.Modules.InstallationManager.Data.Enums
@using FusionCore.Modules.InstallationManager.Services
@using FusionCore.Core.Extensions
@model FusionCore.Modules.InstallationManager.Models.ReportPlanningModel

@functions {
    private string CheckRange(int? min, int? max, int? value)
    {
        if (min.HasValue && max.HasValue && value.HasValue && value >= min && value < max)
        {
            return "af_range_ok";
        }
        return "af_range_outside";
    }
    private string CheckRange(float? min, float? max, float? value)
    {
        if (min.HasValue && max.HasValue && value.HasValue && value >= min && value < max)
        {
            return "af_range_ok";
        }
        return "af_range_outside";
    }

}
@{
    Layout = null;
    var planning = Model.Planning;
    var maxFieldTitleLength = 100;
    if (planning.AssetActivity?.AssetActivityFields != null && planning.AssetActivity.AssetActivityFields.Any())
    {
        maxFieldTitleLength = planning.AssetActivity.AssetActivityFields.Max(iaf => iaf.Name.Length);
    }

    var rapportageTab = "35;55;75";
    var tabs = rapportageTab.Split(';');
    var fieldTitlePercentage = 0;
    var percentage = 20;
    for (int i = 0; i < tabs.Length; i++)
    {
        if (maxFieldTitleLength < Convert.ToInt32(tabs[i]))
        {
            fieldTitlePercentage = percentage;
            break;
        }
        percentage += 10;
    }


    var base64Logo = Model.ClientLogo != null ? Convert.ToBase64String(Model.ClientLogo) : null;
    var imgSrcLogo = base64Logo != null ? $"data:image/gif;base64,{base64Logo}" : "";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style>
        td {
            font-size: 12px;
        }

        #tblNewPage {
            page-break-before: always;
        }


        .af_range.af_range_ok {
            background: #92d050;
            color: #000000;
        }

        .af_range.af_range_outside {
            background: #ffc000;
            color: #000000;
        }

        .af_hv.af_hv_1,
        .af_hv.af_hv_2 {
            background: rgb(83, 142, 213);
            color: #000000;
        }

        .af_hv.af_hv_3,
        .af_hv.af_hv_4 {
            background: rgb(146, 208, 80);
            color: #000000;
        }

        .af_hv.af_hv_5 {
            background: rgb(255, 192, 0);
            color: #000000;
        }

        .af_hv.af_hv_6 {
            background: rgb(255, 0, 0);
            color: #000000;
        }

        .af_tvrtav.af_tvrtav_1 {
            background: rgb(146, 208, 80);
            color: #000000;
        }

        .af_tvrtav.af_tvrtav_2 {
            background: rgb(255, 192, 0);
            color: #000000;
        }


        .af_tvrtav.af_tvrtav_3 {
            background: rgb(255, 0, 0);
            color: #000000;
        }
    </style>


</head>

<body>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">
        <!-- Logo -->
        <tr>
            <td align="left"><img src="@imgSrcLogo" width="200" alt="" /></td>
        </tr>
        <tr>
            <td height="30px">&nbsp;</td>
        </tr>
        <!-- Logo -->
        <!-- Rapportage -->
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #000000;">
                    <tr>
                        <td><h2>Rapportage</h2></td>
                        <td align="right"><strong>@planning.Asset.Name @planning.AssetActivity.Name</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="30px">&nbsp;</td>
        </tr>
        <!-- Rapportage -->
        <!-- Gegevens -->
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">
                            Gebouw: <strong>@planning.Building.Name</strong><br />
                            Adres: <strong>@Html.Raw(planning.Building.Address)</strong><br />
                            Postcode: <strong>@planning.Building.PostalCode</strong><br />
                            Plaats: <strong>@planning.Building.City</strong><br />
                        </td>
                        <td width="50%" align="left" valign="bottom" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">
                            Datum: <strong>@planning.StartDate.ToString("dd/MM/yyyy")</strong><br />
                            Offertenummer: <strong>@planning.OfferNumber</strong><br />
                            Contact: <strong>@Html.Raw(Model.Client.GetContact)</strong><br />
                            Telefoon: <strong>@Model.Client.Phonenumber</strong>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <!-- Gegevens -->
        <!-- Header -->
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="4" style="background-color: #f6f6f6; border: 1px solid #b1b1b1;">
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000; background-color: #f6f6f6;">Systeemgegevens</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <!-- Header -->
        <!-- Systeemgegevens -->
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                    @{
                        var dynamicList = planning.AssetActivityHistories.Where(x => x.Kind == 2).ToList().OrderBy(x => x.SortOrder).ToList();
                    }
                    @while (dynamicList.Any())
                    {
                        var dynamicField = dynamicList.First();
                        if (dynamicField.Name.Equals("placeholder", StringComparison.InvariantCultureIgnoreCase))
                        {
                            dynamicField.Name = "";
                        }
                        dynamicList.Remove(dynamicField);

                        <tr>
                            <td width="25%">@dynamicField.Name</td>
                            <td width="25%">: <strong>@dynamicField.Value</strong></td>
                            @if (dynamicList.Any())
                            {
                                dynamicField = dynamicList.First();
                                dynamicList.Remove(dynamicField);
                                <td width="25%">@dynamicField.Name</td>
                                <td width="25%">: <strong>@dynamicField.Value</strong></td>

                            }
                            else
                            {
                                <td width="25%">&nbsp;</td>
                                <td width="25%">&nbsp;</td>
                            }

                        </tr>
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <!-- Systeemgegevens -->
        <!-- Header -->
        @*<tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="4" style="background-color: #f6f6f6; border: 1px solid #b1b1b1;">
                        <tr>
                            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000; background-color: #f6f6f6;">Werkzaamheden onderhoudsbezoek</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>*@

        @{
            var fieldList = planning.AssetActivityHistories.Where(x => x.Kind == 1).OrderBy(x => x.SortOrder).ToList();
            var fotoList = new List<AssetActivityHistory>();
            var backgroundColorYes = "#fff";
            var backgroundColorNo = "#ff0000";
            var foregroundColorNo = "";
            var foregroundColorYes = "";
            var firstField = fieldList.FirstOrDefault() ?? new AssetActivityHistory();

        }

        @while (fieldList.Any())
        {
            var type = fieldList.First().DynamicFieldType;
            var fieldSubList = new List<AssetActivityHistory>();
            while (fieldList.Any() && type == fieldList.First().DynamicFieldType)
            {
                fieldSubList.Add(fieldList.First());
                fieldList.Remove(fieldList.First());
            }
            var firstOfType = true;

            while (fieldSubList.Any())
            {
                var field = fieldSubList.First();
                if (field.Name.Equals("placeholder", StringComparison.InvariantCultureIgnoreCase))
                {
                    field.Name = "";
                }
                fieldSubList.Remove(field);
                switch (field.DynamicFieldType)
                {
                    case DynamicFieldType.Pagebreak:
                        @Html.Raw("</table>")
                        @Html.Raw("<table id='tblNewPage' width='100%' border='0' align='center' cellpadding='0' cellspacing='0' style='font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;'>")
                        break;
                    case DynamicFieldType.Header:
                        <!-- Header -->
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="4" style="background-color: #f6f6f6; border: 1px solid #b1b1b1;">
                                    <tr>
                                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000; background-color: #f6f6f6;">@field.Name</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- Header -->
                        break;
                    case DynamicFieldType.Text:
                        <!-- Tekst veld -->
                        var leftWidth = string.IsNullOrEmpty(field.Name) ? "0%" : string.Format("{0}%", fieldTitlePercentage);
                        var rightWidth = string.IsNullOrEmpty(field.Name) ? "100%" : string.Format("{0}%", 100 - fieldTitlePercentage);
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td valign="top" width="@leftWidth">@field.Name</td>
                                        <td width="@rightWidth" style="background-color: #f6f6f6; border: 1px solid #dddddd; padding: 5px;">@field.Value &nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- Tekst veld -->
                        break;
                    case DynamicFieldType.Bullet:
                        <!-- Bullet -->
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        @{
                                            backgroundColorNo = field.Value == "1" ? "#808080" : "#fff";
                                            backgroundColorYes = field.Value == "1" ? "#fff" : "#808080";
                                            foregroundColorNo = field.Value == "1" ? "#fff" : "#000";
                                            foregroundColorYes = field.Value == "1" ? "#000" : "#fff";

                                        }
                                        <td width="20%">@field.Name</td>
                                        <td width="30%">
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td width="50%" style="background-color: @backgroundColorYes; border: 1px solid #dddddd; color: @foregroundColorYes;">JA</td>
                                                    <td width="50%" style="background-color: @backgroundColorNo; border: 1px solid #dddddd; color: @foregroundColorNo;">NEE</td>
                                                </tr>
                                            </table>
                                        </td>
                                        @if (fieldSubList.Any())
                                        {
                                            field = fieldSubList.First();
                                            fieldSubList.Remove(field);
                                            backgroundColorNo = field.Value == "1" ? "#808080" : "#fff";
                                            backgroundColorYes = field.Value == "1" ? "#fff" : "#808080";
                                            foregroundColorNo = field.Value == "1" ? "#fff" : "#000";
                                            foregroundColorYes = field.Value == "1" ? "#000" : "#fff";
                                            <td width="20%" style="padding-left: 10px;">@field.Name</td>
                                            <td width="30%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="50%" style="background-color: @backgroundColorYes; border: 1px solid #dddddd; color: @foregroundColorYes;">JA</td>
                                                        <td width="50%" style="background-color: @backgroundColorNo; border: 1px solid #dddddd; color: @foregroundColorNo;">NEE</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        }
                                        else
                                        {
                                            <td width="20%" style="padding-left: 10px;">&nbsp;</td>
                                            <td width="30%" style="padding-left: 10px;">&nbsp;</td>
                                        }

                                    </tr>
                                </table>
                            </td>
                        </tr>

                        break;
                    case DynamicFieldType.FiltersVSnaren:
                        if (firstOfType)
                        {
                            firstOfType = false;
                            <tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="20%" valign="top">&nbsp;</td>
                                            <td width="80%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="20%" align="center" class="" style="border: 1px solid #dddddd; color: #000000;">Fabrikant/Merk</td>
                                                        <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">Aantal</td>

                                                        <td width="20%" align="center" class="" style="border: 1px solid #dddddd; color: #000000;">Type</td>
                                                        <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">Afmetingen</td>
                                                        <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000; ">Toelichting</td>
                                                    </tr>


                                                </table>



                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td />
                            </tr>
                        }
                        <!-- Air TV / RT / AV -->
                        var fliterVSnarenValue = AssetFieldValueHelper.GetFiltersVSnaren(field.Value);
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="20%" valign="top">@field.Name</td>
                                        <td width="80%">
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td width="20%" align="center" class="" style="border: 1px solid #dddddd; color: #000000;">@fliterVSnarenValue.Fabrikant</td>
                                                    <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">@fliterVSnarenValue.Aantal</td>

                                                    <td width="20%" align="center" class="" style="border: 1px solid #dddddd; color: #000000;">@fliterVSnarenValue.Type</td>
                                                    <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">@fliterVSnarenValue.LxBxH</td>
                                                    <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000; background-color:#f6f6f6">@fliterVSnarenValue.Toelichting</td>
                                                </tr>


                                            </table>



                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        break;

                    case DynamicFieldType.FiltersVSnarenWV:
                        var fliterVSnarenWVValue = AssetFieldValueHelper.GetFiltersVSnaren(field.Value);
                        if (firstOfType)
                        {
                            firstOfType = false;
                            <tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="20%" valign="top">&nbsp;</td>
                                            <td width="80%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        @if (!string.IsNullOrEmpty(fliterVSnarenWVValue.Fabrikant))
                                                        {
                                                            <td width="20%" align="center" class="" style="border: 1px solid #dddddd; color: #000000;">Fabrikant/Merk</td>
                                                        }
                                                        @if (!string.IsNullOrEmpty(fliterVSnarenWVValue.Aantal))
                                                        {
                                                            <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">Aantal</td>
                                                        }
                                                        @if (!string.IsNullOrEmpty(fliterVSnarenWVValue.Type))
                                                        {
                                                            <td width="20%" align="center" class="" style="border: 1px solid #dddddd; color: #000000;">Type</td>
                                                        }
                                                        @if (!string.IsNullOrEmpty(fliterVSnarenWVValue.LxBxH))
                                                        {
                                                            <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">Afmetingen</td>
                                                        }
                                                        @if (!string.IsNullOrEmpty(fliterVSnarenWVValue.Toelichting))
                                                        {
                                                            <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000; ">Toelichting</td>
                                                        }
                                                    </tr>


                                                </table>



                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td />
                            </tr>
                        }
                        <!-- Air TV / RT / AV -->
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="20%" valign="top">@field.Name</td>
                                        <td width="80%">
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    @if (!string.IsNullOrEmpty(fliterVSnarenWVValue.Fabrikant))
                                                    {
                                                        <td width="20%" align="center" class="" style="border: 1px solid #dddddd; color: #000000;">@fliterVSnarenWVValue.Fabrikant</td>
                                                    }
                                                    @if (!string.IsNullOrEmpty(fliterVSnarenWVValue.Aantal))
                                                    {
                                                        <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">@fliterVSnarenWVValue.Aantal</td>
                                                    }
                                                    @if (!string.IsNullOrEmpty(fliterVSnarenWVValue.Type))
                                                    {
                                                        <td width="20%" align="center" class="" style="border: 1px solid #dddddd; color: #000000;">@fliterVSnarenWVValue.Type</td>
                                                    }
                                                    @if (!string.IsNullOrEmpty(fliterVSnarenWVValue.LxBxH))
                                                    {
                                                        <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">@fliterVSnarenWVValue.LxBxH</td>
                                                    }
                                                    @if (!string.IsNullOrEmpty(fliterVSnarenWVValue.Toelichting))
                                                    {
                                                        <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000; background-color:#f6f6f6">@fliterVSnarenWVValue.Toelichting</td>
                                                    }
                                                </tr>


                                            </table>



                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        break;
                    case DynamicFieldType.Hv:
                        <!-- H / V -->
                        if (firstOfType)
                        {
                            firstOfType = false;
                            <tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="20%">&nbsp;</td>
                                            <td width="30%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="50%" align="center" style="border: 1px solid #dddddd;">huidige</td>
                                                        <td width="50%" align="center" style="border: 1px solid #dddddd;">vorige</td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td width="20%">&nbsp;</td>
                                            @if (fieldSubList.Any())
                                            {
                                                <td width="30%">
                                                    <table width="100%" cellspacing="0" cellpadding="5">
                                                        <tr>
                                                            <td width="50%" align="center" style="border: 1px solid #dddddd;">huidige</td>
                                                            <td width="50%" align="center" style="border: 1px solid #dddddd;">vorige</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            }
                                            else
                                            {
                                                <td width="30%">&nbsp;</td>
                                            }
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    @{
                                        var hvvalue = AssetFieldValueHelper.GetHuidigeEnVorigeWaarden(field.Value);

                                    }
                                    <tr>
                                        <td width="20%">@field.Name</td>
                                        <td width="30%">
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td width="50%" align="center" class="af_hv af_hv_@hvvalue.Huidige" style="border: 1px solid #dddddd; color: #ffffff;">@hvvalue.Huidige</td>
                                                    <td width="50%" align="center" class="af_hv af_hv_@hvvalue.VorigeWaarden.FirstOrDefault()" style="border: 1px solid #dddddd; color: #ffffff;">@hvvalue.VorigeWaarden.FirstOrDefault()</td>
                                                </tr>
                                            </table>
                                        </td>
                                        @if (fieldSubList.Any())
                                        {
                                            field = fieldSubList.First();
                                            fieldSubList.Remove(field);

                                            hvvalue = AssetFieldValueHelper.GetHuidigeEnVorigeWaarden(field.Value);
                                            <td width="20%" style="padding-left: 10px;">@field.Name</td>
                                            <td width="30%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="50%" align="center" class="af_hv af_hv_@hvvalue.Huidige" style="border: 1px solid #dddddd; color: #ffffff;">@hvvalue.Huidige</td>
                                                        <td width="50%" align="center" class="af_hv af_hv_@hvvalue.VorigeWaarden.FirstOrDefault()" style="border: 1px solid #dddddd; color: #ffffff;">@hvvalue.VorigeWaarden.FirstOrDefault()</td>
                                                    </tr>
                                                </table>
                                            </td>

                                        }
                                        else
                                        {
                                            <td width="20%" style="padding-left: 10px;">&nbsp;</td>
                                            <td width="30%">&nbsp;</td>
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- H / V -->
                        break;
                    case DynamicFieldType.HvExplain:
                        <!-- H / V Toelichting -->
                        if (firstOfType)
                        {
                            firstOfType = false;
                            <tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="20%" valign="top" style="padding-top: 5px;">&nbsp;</td>
                                            <td width="80%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">huidige</td>
                                                        <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">vorige</td>
                                                        <td width="60%" style="border: 1px solid #dddddd;">Toelichting</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="20%" valign="top" style="padding-top: 5px;">@field.Name</td>
                                        <td width="80%">
                                            @{
                                                var hvtvalue = AssetFieldValueHelper.GetAssetFieldHuidigeEnVorigeWaardeEnToelichting(field.Value);
                                            }
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td width="20%" align="center" class="af_hv af_hv_@hvtvalue.Huidige" style="border: 1px solid #dddddd; color: #ffffff;">@hvtvalue.Huidige</td>
                                                    <td width="20%" align="center" class="af_hv af_hv_@hvtvalue.Vorige" style="border: 1px solid #dddddd; color: #ffffff;">@hvtvalue.Vorige</td>
                                                    <td width="60%" style="background-color: #f6f6f6; border: 1px solid #dddddd;">@hvtvalue.Toelichting &nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- H / V Toelichting -->
                        break;
                    case DynamicFieldType.AnalyseSk:
                        <!-- Analyse SK -->
                        if (firstOfType)
                        {
                            firstOfType = false;
                            <tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="20%">&nbsp;</td>
                                            <td width="80%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="40%" align="center" style="border: 1px solid #dddddd; color: #000000;" colspan="2">Richtwaarde</td>
                                                        <td width="2.5%">&nbsp;</td>
                                                        <td width="17.5%" align="center" style="border: 1px solid #dddddd; color: #000000;">Ketel waarde</td>
                                                        <td width="2.5%">&nbsp;</td>
                                                        <td width="17.5%" align="center" style="border: 1px solid #dddddd; color: #000000;">Ontgasser</td>
                                                        <td width="2.5%">&nbsp;</td>
                                                        <td width="17.5%" align="center" style="border: 1px solid #dddddd; color: #000000;">Suppletie</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }
                        var askValue = AssetFieldValueHelper.GetAnalyseSk(field.Value);
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="20%">@field.Name</td>
                                        <td width="80%">
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">@askValue.MinWaarde &nbsp;</td>
                                                    <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">@askValue.MaxWaarde</td>
                                                    <td width="2.5%">&nbsp;</td>
                                                    <td width="17.5%" align="center" class="af_range @CheckRange(askValue.MinWaarde, askValue.MaxWaarde, askValue.Waarde)" style="border: 1px solid #dddddd; color: #ffffff;">@askValue.Waarde</td>
                                                    <td width="2.5%">&nbsp;</td>
                                                    <td width="17.5%" align="center" style="border: 1px solid #dddddd; color: #000000;">@askValue.Ontgassing</td>
                                                    <td width="2.5%">&nbsp;</td>
                                                    <td width="17.5%" align="center" style="border: 1px solid #dddddd; color: #000000;">@askValue.Suppletie</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <!-- Analyse SK -->
                        break;
                    case DynamicFieldType.Value:
                        var vValues = (field.Value ?? "").Split(Convert.ToChar(";"));
                        var vValue = "";
                        if (vValues.Length > 0)
                        {
                            vValue = vValues[0];
                        }
                        <!-- Waarde -->
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="20%" valign="top" style="padding-top: 5px;">@field.Name</td>
                                        <td width="30%">
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td width="50%" align="center" class="af_hv af_hv_@vValue" style="border: 1px solid #dddddd; color: #ffffff;">@vValue</td>
                                                    <td width="50%" style="background-color: #f6f6f6; border: 1px solid #dddddd;">@Html.Raw(vValues.Length > 1 ? vValues[1] : "") &nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                        @if (fieldSubList.Any())
                                        {
                                            field = fieldSubList.First();
                                            fieldSubList.Remove(field);

                                            vValues = (field.Value ?? "").Split(Convert.ToChar(";"));
                                            vValue = "";
                                            if (vValues.Length > 0)
                                            {
                                                vValue = vValues[0];
                                            }
                                            <td width="20%" valign="top" style="padding-left: 10px; padding-top: 5px;">@field.Name</td>
                                            <td width="30%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="50%" align="center" class="af_hv af_hv_@vValue" style="border: 1px solid #dddddd; color: #ffffff;">@vValue</td>
                                                        <td width="50%" style="background-color: #f6f6f6; border: 1px solid #dddddd;">@Html.Raw(vValues.Length > 1 ? vValues[1] : "") &nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        }
                                        else
                                        {
                                            <td width="20%" valign="top" style="padding-left: 10px; padding-top: 5px;">&nbsp;</td>
                                            <td width="30%">&nbsp;</td>
                                        }
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <!-- Waarde -->
                        break;
                    case DynamicFieldType.ValueUsuage:
                        <!-- Waarde / Verbruik -->
                        var vuValues = (field.Value ?? "").Split(Convert.ToChar(";"));
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="20%">@field.Name</td>
                                        <td width="30%">
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td width="50%" style="border: 1px solid #dddddd; color: #000000;">@Html.Raw(vuValues.Length > 0 ? vuValues[0] : "") &nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="20%" style="padding-left: 10px;">Verbruik</td>
                                        <td width="30%">
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td width="50%" style="border: 1px solid #dddddd; color: #000000;">@Html.Raw(vuValues.Length > 1 ? vuValues[1] : "") &nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        @if (fieldSubList.Any())
                                        {
                                            field = fieldSubList.First();
                                            fieldSubList.Remove(field);
                                            vuValues = (field.Value ?? "").Split(Convert.ToChar(";"));
                                            <td width="20%">@field.Name</td>
                                            <td width="30%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="50%" style="border: 1px solid #dddddd; color: #000000;">@Html.Raw(vuValues.Length > 0 ? vuValues[0] : "") &nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="20%" style="padding-left: 10px;">Verbruik</td>
                                            <td width="30%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="50%" style="border: 1px solid #dddddd; color: #000000;">@Html.Raw(vuValues.Length > 1 ? vuValues[1] : "") &nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        }
                                        else
                                        {
                                            <td width="20%">&nbsp;</td>
                                            <td width="30%"></td>
                                            <td width="20%" style="padding-left: 10px;"></td>
                                            <td width="30%"></td>
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- Waarde / Verbruik -->
                        break;

                    case DynamicFieldType.AirChange:
                        <!-- Air vervangen -->
                        var acValues = (field.Value ?? "").Split(Convert.ToChar(";"));

                        backgroundColorYes = "#fff";
                        backgroundColorNo = "#fff";

                        if (acValues.Length > 0)
                        {
                            backgroundColorNo = acValues[0] == "1" ? "#fff" : "#ff0000";
                            backgroundColorYes = acValues[0] != "1" ? "#fff" : "#92d050";
                            foregroundColorNo = acValues[0] == "1" ? "#000" : "#fff";
                            foregroundColorYes = acValues[0] != "1" ? "#000" : "#fff";
                        }

                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="20%">@field.Name</td>
                                        <td width="30%">
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td width="35%" style="background-color: @backgroundColorYes; border: 1px solid #dddddd; color: @foregroundColorYes;">JA</td>
                                                    <td width="35%" style="background-color: @backgroundColorNo; border: 1px solid #dddddd; color: @foregroundColorNo;">NEE</td>
                                                    <td width="30%" style="background-color: #f6f6f6; border: 1px solid #dddddd; color: #000000;">@(acValues.Length > 1 ? acValues[1] : "")</td>
                                                </tr>
                                            </table>
                                        </td>
                                        @if (fieldSubList.Any())
                                        {
                                            field = fieldSubList.First();
                                            fieldSubList.Remove(field);
                                            acValues = (field.Value ?? "").Split(Convert.ToChar(";"));

                                            backgroundColorYes = "#fff";
                                            backgroundColorNo = "#fff";
                                            if (acValues.Length > 0)
                                            {
                                                backgroundColorNo = acValues[0] == "1" ? "#ff0000" : "#fff";
                                                backgroundColorYes = acValues[0] == "1" ? "#fff" : "#92d050";
                                                foregroundColorNo = acValues[0] == "1" ? "#fff" : "#000";
                                                foregroundColorYes = acValues[0] != "1" ? "#fff" : "#000";
                                            }

                                            <td width="20%" style="padding-left: 10px;">@field.Name</td>
                                            <td width="30%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="35%" style="background-color: @backgroundColorYes; border: 1px solid #dddddd; color: @foregroundColorYes;">JA</td>
                                                        <td width="35%" style="background-color: @backgroundColorNo; border: 1px solid #dddddd; color: @foregroundColorNo;">NEE</td>
                                                        <td width="30%" style="background-color: #f6f6f6; border: 1px solid #dddddd; color: #000000;">@(acValues.Length > 1 ? acValues[1] : "")</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        }
                                        else
                                        {
                                            <td width="20%"></td>
                                            <td width="30%"> </td>

                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        break;
                    case DynamicFieldType.Image:
                        fotoList.Add(field);
                        break;
                    case DynamicFieldType.File:
                        break;
                    case DynamicFieldType.AnalyseKt:

                        <!-- Analyse KT -->
                        if (firstOfType)
                        {
                            firstOfType = false;
                            <tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="20%">&nbsp;</td>
                                            <td width="80%">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="40%" align="center" style="border: 1px solid #dddddd; color: #000000;">Richtwaarde</td>
                                                        <td width="2.5%">&nbsp;</td>
                                                        <td width="27.5%" align="center" style="border: 1px solid #dddddd; color: #000000;">Koelwater</td>
                                                        <td width="2.5%">&nbsp;</td>
                                                        <td width="27.5%" align="center" style="border: 1px solid #dddddd; color: #000000;">Suppletie</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        }
                        var aktValue = AssetFieldValueHelper.GetAnalyseKt(field.Value);
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="20%">@field.Name</td>
                                        <td width="80%">
                                            <table width="100%" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">@aktValue.MinWaarde</td>
                                                    <td width="20%" align="center" style="border: 1px solid #dddddd; color: #000000;">@aktValue.MaxWaarde</td>
                                                    <td width="2.5%">&nbsp;</td>
                                                    <td width="27.5%" align="center" class="af_range @CheckRange(aktValue.MinWaarde, aktValue.MaxWaarde, aktValue.Waarde)" style="border: 1px solid #dddddd; color: #ffffff;">@aktValue.Waarde</td>
                                                    <td width="2.5%">&nbsp;</td>
                                                    <td width="27.5%" align="center" style="border: 1px solid #dddddd; color: #000000;">@aktValue.Suppletie</td>
                                                </tr>

                                            </table>

                                        </td>

                                    </tr>

                                </table>

                            </td>

                        </tr>


                        <!-- Analyse KT -->
                        break;
                    default:
                        <!-- TypeNotFoundFor @field.DynamicFieldTypeId -->;
                        break;
                }

            }
            <tr>
                <td>&nbsp;</td>
            </tr>


        }


        @if (!string.IsNullOrEmpty(planning.MaterialsRemark.StripHtml(false, false, false, false, false).Trim()))
        {
            <!-- Header -->
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="4" style="background-color: #f6f6f6; border: 1px solid #b1b1b1;">
                        <tr>
                            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000; background-color: #f6f6f6;">Opmerkingen</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <!-- Header -->
            <!-- Opmerkingen -->
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="5">
                        <tr>
                            <td width="100%" style="background-color: #f6f6f6; border: 1px solid #dddddd;">@Html.Raw(planning.MaterialsRemark.Replace("\n", "<br/>"))</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>

        }
        <!-- Opmerkingen -->
        @if (!string.IsNullOrEmpty(planning.Materials.StripHtml(false, false, false, false, false).Trim()))
        {
            <!-- Header -->
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="4" style="background-color: #f6f6f6; border: 1px solid #b1b1b1;">
                        <tr>
                            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000; background-color: #f6f6f6;">Acties</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <!-- Header -->
            <!-- Acties -->
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="100%">
                                <table width="100%" cellspacing="0" cellpadding="5">
                                    <tr>
                                        <td width="50%" valign="top" style="background-color: #f6f6f6; border: 1px solid #dddddd; color: #000000;">@Html.Raw(planning.Materials.Replace("\n", "<br/>"))</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>

        }
        <!-- Acties -->
        <!-- Header -->
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="4" style="background-color: #f6f6f6; border: 1px solid #b1b1b1;">
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000; background-color: #f6f6f6;">Handtekening</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <!-- Header -->
        <!-- Handtekening -->
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="5">
                    <tr>
                        <td width="25%">Akkoord bevonden door</td>
                        <td width="75%">
                            <table width="100%" cellspacing="0" cellpadding="5">
                                <tr>
                                    <td width="50%" valign="top" style="border: 1px solid #dddddd; color: #000000;">@firstField.OkayGivenBy</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="5" cellpadding="24">
                    <tr>
                        <td width="100%" valign="top" style="border: 1px solid #dddddd;">
                            @if (Model.Planning.Signature != null && Model.Planning.Signature.Length > 0)
                            {
                                var signature = Convert.ToBase64String(Model.Planning.Signature);
                                <img alt="handtekening" id="imgSignature" width="300" src="data:image/png;base64,@signature" />
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="5">
                    <tr>
                        <td width="25%">Monteur</td>
                        <td width="75%">
                            <table width="100%" cellspacing="0" cellpadding="5">
                                <tr>
                                    <td width="50%" valign="top" style="border: 1px solid #dddddd; color: #000000;">@planning.MainEmployee?.GetFullname</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Handtekening -->
        <!-- Breakline -->
        <tr>
            <td>
                <hr style="width: 100%; border: 1px dashed #939393;" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <!-- Breakline -->

    </table>

    @if (fotoList.Any())
    {
        <table id="tblNewPage" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">

            <!-- Header -->
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="4" style="background-color: #f6f6f6; border: 1px solid #b1b1b1;">
                        <tr>
                            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000; background-color: #f6f6f6;">Foto's</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <!-- Header -->
            <!-- Foto's -->
            @{
                var fotoindex = 0;
            }
            @foreach (var foto in fotoList)
            {
                if (!foto.AssetFileId.HasValue || foto.AssetFile == null)
                {
                    continue;
                }

                if (fotoindex != 0 && fotoindex % 6 == 0)
                {
                    @Html.Raw("</table>")
                    @Html.Raw("<table id='tblNewPage' width='100%' border='0' align='center' cellpadding='0' cellspacing='0' style='text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;'>")
                }

                fotoindex++;
                <tr style="float: left; width: 50%; margin-bottom: 15px;">
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="8">
                                        <tr>
                                            <td valign="top" width="420px" style="max-height: 330px; max-width: 420px; overflow: hidden"><img src="https://fusion.aqgroup.nl/installationmanager/asset/image/@foto.AssetFileId" width="420" alt="" /></td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="color: #000000;">@foto.AssetFile.Description</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <!-- Foto's -->
        </table>
    }

    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">

        <!-- Footer text -->
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #303030;"><em>Dit is een automatisch gegenereerde rapportage.<span style="float:right">id:@planning.Id</span></em></td>
        </tr>
        <!-- Footer text -->
        <tr>
            <td>
                <hr style="width: @(!fotoList.Any() ? "25" : "100")%; border: 1px dashed #939393;" />
            </td>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #303030;"><em>Statusbepalingen worden gedaan naar inzicht van de engineer en kan daarmee niet gebruikt worden voor de NEN 2767 statusbepaling.</em></td>
        </tr>
    </table>

</body>
</html>