@using FusionCore.Modules.NewsManager.Models
@using FusionCore.Core.Helpers

@model FusionCore.Modules.NewsManager.Models.NewsPersistModel
@{
    Layout = null;
}
<form asp-action="Persist">
    <input type="hidden" asp-for="Id" />
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Algemene informatie</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="Titel" class="form-control" asp-for="Title" />
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group" id="picker-container">
                                                    <input type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker" placeholder="Datum" asp-for="NewsDate">
                                                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Nieuws content</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_content" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="ckeditor form-control" asp-for="Content">Deze informatie komt terug bij informatie button (i-tje) Monteur</textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Nieuws instellingen</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input type='checkbox' data-toggle='toggle' data-onstyle='teal' asp-for="Active" />&nbsp;&nbsp; Activiteit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Beeld</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account-2" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">

                                                        <fileupload asp-id="NewsLogoId"
                                                                    asp-value="@Model.NewsLogoId">
                                                        </fileupload>

                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"> <i class="fa fa-video-camera"></i> </span>
                                                            <input type="text" id="form-field-mask-2" placeholder="Youtube URL" class="form-control" asp-for="YouTubeLink">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"> <i class="fa fa-file"></i> </span>
                                                            <input type="text" id="form-field-mask-2" placeholder="File URL" class="form-control" asp-for="FileLink">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Meta instellingen</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account-2" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"><input type="text" placeholder="Meta naam" class="form-control" asp-for="MetaTitle" /></div>
                                            <div class="form-group"><textarea placeholder="Meta omschrijving" class="form-control limited" asp-for="MetaDescription" maxlength="200"></textarea></div>
                                            <div class="form-group"><textarea placeholder="Meta keywords" class="form-control limited" asp-for="MetaKeywords" maxlength="200"></textarea></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </div>
</form>

<script>
    jQuery(document).ready(function () {
        try {
            FormElements.init();
        } catch (exception) { }
        $('.ckeditor').each(function () {
            //  CKEDITOR.replace(this, {
            //    allowedContent: {
            //        '$1': {
            //            attributes: 'data-*'
            //        }
            //    }
            //});
              CKEDITOR.replace(this, {
                allowedContent: true
              });
        });
    });
</script>