@using FusionCore.Modules.FundsManager.Data.Enums
@model FusionCore.Modules.FundsManager.Models.GeneralSubscriptionsPersistModel

<form id="generalsubscriptionform" method="post">
    <div class="modal-body">
        <input type="hidden" name="fundsPersistModel.Title" value="@Model.fundsPersistModel.Title" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="FundsId" value="@Model.FundsId" />
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3 class="bold main-color font-16"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Model.fundsPersistModel.Title</font></font></h3>
                </div>

                <div class="col-md-12 margin-bottom-small">
                    <li class="form-excl-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Velden met dit teken zijn verplicht</font></font></li>
                    <div class="form-input margin-bottom-small">
                        <input type="hidden" name="onderwerp" value="Natuurlijk" />
                        <select id="form-field-select-11" class="form-control" disabled>
                            <option value=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Selecteer hoe u wenst in te schrijven</font></font></option>
                            <option value="Natuurlijk" selected><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Natuurlijk persoon</font></font></option>
                            <option value="Rechtspersoon"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rechtspersoon</font></font></option>
                        </select>
                    </div>

                </div>

                <div class="col-md-12 subscribtion">
                    <h4 class="margin-vertical-10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">De ondertekende</font></font></h4>
                    <div class="col-md-6 no-padding-horizontal">
                        <div class="form-input"><li class="form-excl"><input type="text" name="LastName" value="@Model.LastName" required class="form-control" placeholder="Achternaam"></li></div>
                    </div>
                    <div class="col-md-6 no-padding-horizontal-right">
                        <div class="form-input"><li class="form-excl"><input type="text" name="Title" value="@Model.Title" class="form-control" placeholder="Titels(s)"></li></div>
                    </div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="FirstName" value="@Model.FirstName" required class="form-control" placeholder="Voorna(a)m(en) voluit"></li></div>
                    <div class="col-md-12 margin-top-10">
                        <div class="col-md-12 margin-top-10">
                            <h5 class="margin-bottom-5">Geslacht</h5>
                            @if (Model.Sex == "man")
                            {
                                <label class="radio-inline"><input type="radio" class="square-green" value="man" checked="checked" name="Sex" required>Man</label>
                                <label class="radio-inline"><input type="radio" class="square-green" value="vrouw" name="Sex" required>Vrouw</label>
                            }
                            else
                            {

                                <label class="radio-inline"><input type="radio" class="square-green" value="man" name="Sex" required>Man</label>
                                <label class="radio-inline"><input type="radio" class="square-green" value="vrouw" name="Sex" checked="checked" required>Vrouw</label>
                            }
                        </div>
                    </div>
                    <div class="col-md-6 no-padding-horizontal">
                        <div class="form-input"><li class="form-excl"><input type="text" name="BirthPlace" value="@Model.BirthPlace" class="form-control" placeholder="Geboorteplaats" required></li></div>
                    </div>

                    <div class="col-md-6 no-padding-horizontal-right">
                        <div class="form-input"><li class="form-excl"><span class="margin-horizontal-10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Date of birth</font></font></span><input style="width: 70.6%; display:inline-block;" type="text" name="DateOfBirth" required value="@Model.DateOfBirth" class="form-control pull-right"></li></div>
                    </div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="HomeAddress" required value="@Model.HomeAddress" class="form-control" placeholder="Huisadres"></li></div>
                    <div class="col-md-6 no-padding-horizontal">
                        <div class="form-input"><li class="form-excl"><input type="text" name="PostalCode" required value="@Model.PostalCode" class="form-control" placeholder="Postcode"></li></div>
                    </div>
                    <div class="col-md-6 no-padding-horizontal-right">
                        <div class="form-input"><li class="form-excl"><input type="text" name="Residence" required value="@Model.Residence" class="form-control" placeholder="Woonplaats"></li></div>
                    </div>

                    <div class="col-md-12 margin-vertical-10">
                        <h5 class="margin-vertical-10">Correspondentieadres</h5>
                        <div class="form-group">
                            @{
                                string corresponding = "unchecked";
                                if (Model.CorrespondenceAddressType)
                                { corresponding = "checked"; }
                            }

                            <input id="correspaddrtype" type="checkbox" name="CorrespondenceAddressType" @corresponding data-toggle="toggle" data-onstyle="teal" onchange="enableCorrespondentie(this)">&nbsp; &nbsp; Heeft u een ander correspondentieadres ?

                        </div>

                    </div>

                    <div class="form-input correspondentie">
                        <li class="form-excl"><input type="text" name="Huisadres" value="" class="form-control" placeholder="Huisadres"></li>
                    </div>
                    <div class="col-md-6 no-padding-horizontal correspondentie">
                        <div class="form-input"><li class="form-excl"><input type="text" name="Postcode" value="" class="form-control" placeholder="Postcode"></li></div>
                    </div>
                    <div class="col-md-6 no-padding-horizontal-right correspondentie">
                        <div class="form-input"><li class="form-excl"><input type="text" name="Woonplaats" value="" class="form-control" placeholder="Woonplaats"></li></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>

                    <div class="form-input"><li class="form-excl"><input type="text" name="Phone" value="@Model.Phone" class="form-control" placeholder="Telefoon" required></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="MobilePhone" value="@Model.MobilePhone" class="form-control" placeholder="Telefoon mobiel" required></li></div>
                    <div class="form-input"> <li class="form-excl"><input type="text" name="Email" value="@Model.Email" class="form-control" placeholder="E-mail" required></li></div>
                    <div class="form-input"><li class="margin_bottom form-excl"><input type="text" name="Iban" value="@Model.Iban" class="form-control" placeholder="IBAN" required></li></div>
                    @if (Model.Identificationtype == IdentificationTypes.Idin_Bank)
                    {
                        <div class="col-md-12 margin-top-15">
                            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Legitimatiebewijs paspoort/rijbewijs/identiteitskaart</font></font></h5>
                        </div>
                        <div class="form-input"><li class="form-excl"><input type="file" name="paspoort" id="filepassport" class="form-control border-ratio-0"></li></div>
                        <div class="form-input"><li class="form-excl"><input type="text" name="IssuedAt" value="@Model.IssuedAt" required class="form-control" placeholder="Afgegeven te"></li></div>

                        <div class="col-md-6 no-padding-horizontal">
                            <div class="form-input"><li class="form-excl"><span class="margin-horizontal-10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Afgegevens op</font></font></span><input style="width: 40%; display:inline-block;" type="text" value="@Model.IssuedOn" name="IssuedOn" required class="form-control pull-right"></li></div>
                        </div>
                        <div class="col-md-6 no-padding-horizontal-right">
                            <div class="form-input"><li class="form-excl"><span class="margin-horizontal-10 margin-bottom-10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Geldig tot</font></font></span><input style="width: 40%; display:inline-block;" type="text" value="@Model.ValidityDate" name="ValidityDate" required class="form-control pull-right"></li></div>
                        </div>
                    }
                    else
                    {
                        <input id="IssuedAt" name="IssuedAt" value="@Model.IssuedAt" type="hidden" />
                        <input id="IssuedOn" name="IssuedOn" value="@Model.IssuedOn" type="hidden" />
                        <input id="ValidityDate" name="ValidityDate" value="@Model.ValidityDate" type="hidden" />
                        <input id="FileName" name="FileName" value="@Model.FileName" type="hidden" />
                    }
                    <div class="row">
                        <div class="col-md-12 margin-top-15">
                            <div class="panel-group white-bg border5px accordion style-3" id="accordion-5" role="tablist">
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingOne-5">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#collapseOne-5" aria-expanded="true" aria-controls="collapseOne-5"><i class="fa fa-check-square"></i>Gehuwd</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne-5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-5">
                                        <div class="panel-body">
                                            @{
                                                string met = "", zonder = "";
                                                if (Model.MarriedWithContract == "met")
                                                {
                                                    met = "checked";
                                                }
                                                else if (Model.MarriedWithContract == "zonder")
                                                {
                                                    zonder = "checked";
                                                }
                                            }
                                            <label class="radio-inline"><input type="radio" class="square-green" value="met" @met name="MarriedWithContract">met huwelijkse voorwaarden</label><br />
                                            <label class="radio-inline"><input type="radio" class="square-green" value="zonder" @zonder name="MarriedWithContract">zonder huwelijkse voorwaarden</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingTwo-5">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#collapseTwo-5" aria-expanded="false" aria-controls="collapseTwo-5"><i class="fa fa-check-square"></i>Ongehuwd</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-5">
                                        <div class="panel-body">
                                            @{
                                                string unmarriedmet = "", unmarriedzonder = "";
                                                if (Model.UnMarriedWithContract == "met")
                                                {
                                                    unmarriedmet = "checked";
                                                }
                                                else if (Model.UnMarriedWithContract == "zonder")
                                                {
                                                    unmarriedzonder = "checked";
                                                }
                                            }
                                            <label class="radio-inline"><input type="radio" class="square-green" value="met" @unmarriedmet name="UnMarriedWithContract">met het aangaan van geregistreerde partnerschapsvoorwaarden</label>
                                            <label class="radio-inline"><input type="radio" class="square-green" value="zonder" @unmarriedzonder name="UnMarriedWithContract">zonder het aangaan van geregistreerde partnerschapsvoorwaarden</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h4 class="margin-top-15 margin-bottom-10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Personalia echtgeno(o)t(e)/partner</font></font></h4>
                    <div class="form-input"><input type="text" name="SpouseLastName" value="@Model.SpouseFirstName" class="form-control" placeholder="Achternaam"></div>
                    <div class="form-input"><input type="text" name="SpouseFirstName" value="@Model.SpouseFirstName" class="form-control" placeholder="Voorna(a)m(en) voluit"></div>
                    <div class="col-md-12 margin-top-10">
                        <h5>Geslacht</h5>
                        @if (Model.SpouseSex == "Man")
                        {
                            <label class="radio-inline"><input type="radio" class="square-green" value="Man" checked="checked" name="SpouseSex">Man</label>
                            <label class="radio-inline"><input type="radio" class="square-green" value="Vrouw" name="SpouseSex">Vrouw</label>
                        }
                        else if (Model.SpouseSex == "Vrouw")
                        {
                            <label class="radio-inline"><input type="radio" class="square-green" value="Man" name="SpouseSex">Man</label>
                            <label class="radio-inline"><input type="radio" class="square-green" value="Vrouw" checked="checked" name="SpouseSex">Vrouw</label>
                        }
                        else
                        {
                            <label class="radio-inline"><input type="radio" class="square-green" value="Man" name="SpouseSex">Man</label>
                            <label class="radio-inline"><input type="radio" class="square-green" value="Vrouw" name="SpouseSex">Vrouw</label>
                        }
                    </div>
                    <div class="col-md-6 no-padding-horizontal">
                        <div class="form-input"><input type="text" name="SpouseBirthPlace" value="@Model.SpouseBirthPlace" class="form-control" placeholder="Geboorteplaats"></div>
                    </div>
                    <div class="col-md-6 no-padding-horizontal-right">
                        <div class="form-input"><span class="margin-horizontal-10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Date of birth</font></font></span><input style="width: 70.6%; display:inline-block;" type="text" name="SpouseDateOfBirth" value="@Model.SpouseDateOfBirth" class="form-control pull-right"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                    @{
                        var designation = "";
                        if (Model.fundsPersistModel.designation.HasValue)
                        {
                            if (Model.fundsPersistModel.designation == FundDesignations.Prospectus)
                            {
                                designation = FundDesignations.Prospectus.ToString();
                            }
                            else
                            {
                                designation = FundDesignations.Informatiememorandum.ToString();
                            }
                        }
                    }
                    <div class="verklaring">
                        <ul>
                            <h4>Verklaart bij deze: <sup>(1)</sup></h4>
                            <p>op basis van het door Sectie5 Investments NV aan hem/haar verstrekte @designation:</p>
                            <li>deel te willen nemen in het beleggingsfonds <span>@Model.fundsPersistModel.Title</span>, kantoorhoudende te Amsterdam met het doel een gezamenlijk voordeel te behalen door te beleggen in (register)goederen;</li>
                            <li>
                                het @designation in zijn geheel te hebben gelezen en de daarin beschreven voorwaarden en risico’s te hebben begrepen en te accepteren, meer in het bijzonder:
                                <ol>
                                    <li>bekend te zijn en akkoord te gaan met de inhoud van de bepalingen van de Fondsvoorwaarden;</li>
                                    <li>ermee in te stemmen dat de Houdster (<span>Stichting @Model.fundsPersistModel.Title</span>) optreedt als houdster van alle rechten en verplichtingen van het Fonds; en</li>
                                    <li>ermee in te stemmen dat het beheer van het Fonds wordt uitgeoefend door de Beheerder;</li>
                                </ol>
                            </li>
                            <li>
                                @{
                                    string wwft_yes = "", wwft_no = "";
                                    if (Model.WWFT.HasValue && Model.WWFT.Value)
                                    {
                                        wwft_yes = "checked";
                                    }
                                    else
                                    {
                                        wwft_no = "checked";
                                    }
                                }
                                <div class="radio-lbl custom-radio" style="display: inline-block; margin-top: -3px; margin-bottom: -10px;"><label class="radio-inline"><input type="radio" class="square-green" @wwft_yes name="WWFT" value="Wel" required id="wwft_wel"> Wel</label></div>
                                <div class="radio-lbl custom-radio" style="display: inline-block; margin-top:  -3px; margin-bottom: -10px;"><label class="radio-inline"><input type="radio" class="square-green" @wwft_no name="WWFT" value="Niet" required id="wwft_niet"> Niet</label></div>
                                (aanklikken wat van toepassing is) op grond van de WWFT aangemerkt wordt als ‘politiek prominent persoon’<sup>(2)</sup>;
                            </li>
                            <li id="assetschecboxgeneral">
                                @{
                                    string sales = Model.SalesCompany ? "checked" : "";

                                    string salary = Model.SalaryBonusWork ? "checked" : "";

                                    string heritage = Model.Heritage ? "checked" : "";

                                    string business = Model.BusinessActivities ? "checked" : "";

                                    string others = Model.Others ? "checked" : "";


                                }
                                dat zijn/haar vermogen afkomstig is van (keuze aankruisen s.v.p.):<br />
                                <div id="chckboxerrmsg" class="margin-bottom-10">Selecteer minimaal 1 checkbox</div>
                                <div class="margin-bottom-15"><input type="checkbox" class="square-green" @sales name="SalesCompany" /> <span> &nbsp;&nbsp;Verkoop onderneming</span></div>
                                <div class="margin-bottom-15"><input type="checkbox" class="square-green" @salary name="SalaryBonusWork" /> <span> &nbsp;&nbsp;Salaris/ bonus van werk</span></div>
                                <div class="margin-bottom-15"><input type="checkbox" class="square-green" @heritage name="Heritage" /> <span> &nbsp;&nbsp;Erfenis</span></div>
                                <div class="margin-bottom-15"><input type="checkbox" class="square-green" @business name="BusinessActivities" /> <span> &nbsp;&nbsp;Ondernemingsactiviteiten</span></div>
                                <div class="margin-bottom-15"> <label><input type="checkbox" class="square-green half-section" @others name="Others" /> <span> &nbsp;&nbsp;Anders namelijk</span></label><input type="text" asp-for="OtherAssets" class="form-control half-section" /></div>
                            </li>
                            <li>dit inschrijvingsformulier volledig en naar waarheid te hebben ingevuld en voorts bekend te zijn en akkoord te gaan met de deelnameprocedure als beschreven in <span>@Model.fundsPersistModel.sectionnumber</span> van het @designation;</li>
                            <p class="margin-top-10">en voorts:</p>
                            <li>
                                @*onkeyup="calculateprice(@Model.fundsPersistModel.participation_price);"*@
                                zich te verplichten in het Fonds deel te nemen met
                                <input type="text" name="NumberofParticipations" value="@Model.NumberofParticipations" class="form-control margin-top-10 margin-bottom-10" placeholder="minimaal 1.000 (geef hier het aantal participaties aan)" required autocomplete="off" onkeypress="return onlyNumbers();" />
                                Participaties (minimaal 1.000) en tot storting (van een bankrekening op naam van de ondergetekende zelf) van de deelnamesom welke per Participatie <span>@Model.fundsPersistModel.participationprice</span>
                                @{
                                    var emissiontext = "bedraagt.";
                                    if (Model.fundsPersistModel.emission_cost > 0) { emissiontext = "bedraagt, te vermeerderen met de Emissievergoeding."; }
                                }
                                @emissiontext
                                De totale deelnamesom dient op eerste aangeven van de Beheerder te worden overgemaakt op rekeningnummer <span>@Model.Iban</span> t.n.v. <span>Stichting @Model.fundsPersistModel.Title</span> onder vermelding van het aantal Participaties en de naam van diegene die opteert voor deelname in het Fonds. Niet tijdige storting van de deelnamesom, tot storting waarvan ondergetekende zich verplicht middels ondertekening van dit inschrijvingsformulier, kan tot gevolg hebben dat ondanks tijdige ontvangst van dit inschrijvingsformulier door de Beheerder geen Participaties worden toegewezen;
                            </li>
                            <li>
                                een onherroepelijke - behoudens het zich voordoen van de situatie als beschreven in @Model.fundsPersistModel.chapter van het @designation - volmacht te verlenen aan de Beheerder om namens de ondergetekende:
                                <ol>
                                    <li>het bepaalde in de Fondsvoorwaarden te aanvaarden op grond waarvan de ondergetekende deelneemt overeenkomstig de bepalingen opgenomen in de Fondsvoorwaarden; en</li>
                                    <li>al hetgeen te doen wat de gevolmachtigde nodig, wenselijk of nuttig mocht oordelen, alles met het recht van substitutie. Ook indien de Beheerder als wederpartij van ondergetekende of namens een of meerdere andere betrokkenen optreedt bij de hiervoor bedoelde rechtshandelingen, is de Beheerder bevoegd gebruik te maken van de verleende volmacht;</li>
                                </ol>
                            </li>
                            <li>
                                bekend te zijn met het volgende en daarmee in te stemmen:
                                <ol>
                                    <li>inschrijvingen kunnen zonder opgaaf van redenen geheel of gedeeltelijk door de Beheerder worden geweigerd;</li>
                                    <li>in het geval dat het Beleggerskapitaal uiterlijk op <span>@Model.fundsPersistModel.Dateofcapital</span> niet bijeen is gebracht, dan kunnen de ondergetekende(n), noch de Beheerder, noch <span>Stichting @Model.fundsPersistModel.Title</span> of het Fonds aan dit inschrijvingsformulier enig recht ontlenen; en</li>
                                    <li>Indien de financiële instelling waarvan het beoogd is dat die de hypothecaire financiering voor het Object en/of de bankrekening verstrekt, weigert de financiering en/of de bankrekening te verstrekken zonder uw identiteit te kennen, uw NAW gegevens worden verstrekt aan de financier / bancaire instelling waarbij zal worden bedongen dat uw gegevens onmiddellijk na gebruik worden vernietigd en geen kopie daarvan wordt achtergehouden door de financier / bancaire instelling; en</li>
                                    <li>Indien de financiële instelling het verstrekken van de hypothecaire financiering / bankrekening van het Object weigert in verband met uw deelname aan het Fonds, uw inschrijving op en toewijzing van de Participaties komen te vervallen. In dat geval (i) ontvangt u hiervan schriftelijk bericht en (ii) kunt u geen rechten ontlenen aan uw inschrijving of toewijzing anders dan onverwijlde terugstorting van het bedrag als bedoeld onder punt 6 hierboven;</li>
                                </ol>
                            </li>
                            <li>
                                door ondertekening van dit formulier akkoord te zijn dat alle informatievoorziening met betrekking tot <span>@Model.fundsPersistModel.Title</span> per e-mail plaatsvindt.

                                @{
                                    string agreement_yes = "", agreement_no = "";
                                    if (Model.AgreementStatus)
                                    {
                                        agreement_yes = "checked";
                                    }
                                    else
                                    {
                                        agreement_no = "checked";
                                    }
                                }
                                <div style="display: inline-block; margin-top: -3px; margin-bottom: -10px;"><label class="radio-inline"><input type="radio" class="square-green" value="Wel" @agreement_yes name="AgreementStatus">Wel</label></div>
                                <div style="display: inline-block; margin-top: -3px; margin-bottom: -10px;"><label class="radio-inline"><input type="radio" class="square-green" value="Niet" @agreement_no name="AgreementStatus">Niet</label></div>
                                akkoord te zijn met de verwerking van zijn/ haar contactgegevens om geattendeerd te worden op nieuwe investeringsmogelijkheden in beleggingsinstellingen van Sectie5.
                            </li>
                            <li>op de hoogte te zijn van de privacy policy van Sectie5 die van toepassing is op de verwerking van persoonsgegevens door Sectie5 (zie <a href="//www.sectie5.nl/privacy-policy" target="_blank">www.sectie5.nl/privacy-policy</a>)</li>
                        </ul>
                    </div>

                    <div class="addin">
                        <ul>
                            <li class="margin-top-15 margin-bottom-20">De definities die gebruikt worden in dit inschrijvingsformulier en met een hoofdletter worden weergegeven, hebben dezelfde betekenis als vastgelegd in het @designation van <span>@Model.fundsPersistModel.Title</span>.</li>
                        </ul>
                    </div>

                    <input id="priceperparticipations" name="fundsPersistModel.participation_price" value="@Model.fundsPersistModel.participation_price" type="hidden" />
                    <input id="emissioncost" name="fundsPersistModel.emission_cost" value="@Model.fundsPersistModel.emission_cost" type="hidden" />
                    <input id="Identificationtype" name="Identificationtype" type="hidden" value="@Model.Identificationtype" />
                    <input id="IsIdentified" name="IsIdentified" value="@Model.IsIdentified.ToString()" type="hidden" />
                    <input id="CreatedOnUtc" name="CreatedOnUtc" value="@Model.CreatedOnUtc" type="hidden" />

                    <input id="IDinstatus" name="IDinstatus" value="@Model.IDinstatus" type="hidden" />
                    <input id="Idealpaymentstatus" name="Idealpaymentstatus" value="@Model.Idealpaymentstatus" type="hidden" />
                    <input id="IdentificationPaymenttype" name="IdentificationPaymenttype" value="@Model.IdentificationPaymenttype" type="hidden" />

                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="btnsubmitgeneralsubscription">Opslaan</button>
    </div>
</form>
