@using FusionCore.Modules.FundsManager.Data.Enums
@model FusionCore.Modules.FundsManager.Models.LegalSubscriptionsPersistModel

<form id="formlegalsubscription" method="post">
    <div class="modal-body">
        <input type="hidden" name="fundsPersistModel.Title" value="@Model.fundsPersistModel.Title" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="FundsId" value="@Model.FundsId" />
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3 class="bold main-color font-16"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Model.fundsPersistModel.Title</font></font></h3>
                </div>

                <div class="col-md-12 margin-bottom-small">
                    <li class="form-excl-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Velden met dit teken zijn verplicht</font></font></li>
                    <div class="form-input margin-bottom-small">
                        <input type="hidden" name="onderwerplegal" value="Rechtspersoon" />
                        <select id="form-field-select-11" class="form-control" disabled>
                            <option value=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Selecteer hoe u wenst in te schrijven</font></font></option>
                            <option value="Natuurlijk"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Natuurlijk persoon</font></font></option>
                            <option value="Rechtspersoon" selected><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rechtspersoon</font></font></option>
                        </select>
                    </div>

                </div>

                <div class="col-md-12 subscribtion">
                    <h4 class="margin-vertical-10">De ondertekende</h4>
                    <div class="form-input"><li class="form-excl"><input type="text" name="RegisteredName" required value="@Model.RegisteredName" class="form-control" placeholder="Statutaire naam" /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="RegisteredAddress" value="@Model.RegisteredAddress" class="form-control" placeholder="Statutair adres" required /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="Location" required value="@Model.Location" class="form-control" placeholder="Vestigingsplaats" /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="PostalCode" required value="@Model.PostalCode" class="form-control" placeholder="Postcode" /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="RegistrationNumber" required value="@Model.RegistrationNumber" class="form-control" placeholder="Inschrijfnummer KvK*" /></li></div>

                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>

                    <h4 class="margin-bottom-10"> Uittreksel Handelsregister van rechtspersoon</h4>

                    <div class="form-input"><li class="form-excl"><input type="file" name="uittreksel" class="form-control" id="legalsubscriptionfile1" /></li></div>

                    <div class="form-input"><li class="form-excl"><input type="text" name="CorrespondenceAddress" required value="@Model.CorrespondenceAddress" class="form-control" placeholder="Correspondentieadres" /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="CorrespondencePostalCode" required value="@Model.CorrespondencePostalCode" class="form-control" placeholder="Postcode" /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="Place" required value="@Model.Place" class="form-control" placeholder="Plaats" /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="Phone" required value="@Model.Phone" class="form-control" placeholder="Telefoon" /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="MobilePhone" required value="@Model.MobilePhone" class="form-control" placeholder="Telefoon mobiel" /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="email" name="Email" required value="@Model.Email" class="form-control" placeholder="E-mail" /></li></div>

                    <div class="form-input"><li class="form-excl"><input type="text" name="Iban" required value="@Model.Iban" class="form-control" placeholder="IBAN" /></li></div>

                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>

                    <h4 class="margin-bottom-10">Personalia vertegenwoordigingsbevoegde(n)**</h4>
                    <div class="form-input"><li class="form-excl"><input type="text" name="LastName" required value="@Model.LastName" class="form-control" placeholder="Achternaam" /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="Title" required value="@Model.Title" class="form-control" placeholder="Titels(s)" /></li></div>
                    <div class="form-input"><li class="form-excl"><input type="text" name="FirstName" required value="@Model.FirstName" class="form-control" placeholder="Voorna(a)m(en) voluit" /></li></div>
                    <div class="col-md-12 margin-top-10">
                        <h5 class="margin-bottom-5">
                            Geslacht
                        </h5>
                        @if (Model.Sex == "man")
                        {
                            <label class="radio-inline"><input type="radio" class="square-green" value="man" checked="checked" name="Sex" required>Man</label>
                            <label class="radio-inline"><input type="radio" class="square-green" value="vrouw" name="Sex" required>Vrouw</label>
                        }
                        else
                        {

                            <label class="radio-inline"><input type="radio" class="square-green" value="man" name="Sex" required>Man</label>
                            <label class="radio-inline"><input type="radio" class="square-green" value="vrouw" name="Sex" checked="checked" required>Vrouw</label>
                        }
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 no-padding-horizontal">
                            <div class="form-input">
                                <li class="form-excl">
                                    <span class="margin-horizontal-10">Geboorteplaats</span>
                                    <input style="width: 40%; display:inline-block;" type="text" name="BirthPlace" required value="@Model.BirthPlace" class="form-control" placeholder="Geboorteplaats" />
                                </li>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-input">
                                <li class="form-excl">
                                    <span class="margin-horizontal-10">Geboortedatum</span>
                                    <input style="width: 40%; display:inline-block;" type="text" name="DateOfBirth" required value="@Model.DateOfBirth" class="form-control" placeholder="Geboortedatum" />
                                </li>
                            </div>
                        </div>
                    </div>
                    <div id="legalsubscriptionpassportblock">
                        <div class="col-md-12 margin-top-15">
                            <h5>Legitimatiebewijs paspoort/rijbewijs/identiteitskaart</h5>
                        </div>
                        <div class="form-input"><li class="form-excl"><input type="file" name="paspoort" class="form-control" id="legalsubscriptionpassport" /></li></div>
                        <div class="form-input"><li class="form-excl"><input type="text" name="IssuedAt" id="legalsubscriptionissuedat" value="@Model.IssuedAt" class="form-control" placeholder="Afgegeven te" /></li></div>

                        <div class="col-md-6 no-padding-horizontal">
                            <div class="form-input">
                                <li class="form-excl">
                                    <span class="margin-horizontal-10">Afgegevens op</span>
                                    <input style="width: 40%; display:inline-block;" type="text" value="@Model.IssuedOn" id="legalsubscriptionissuedondate" class="form-control" name="IssuedOn">
                                </li>
                            </div>
                        </div>
                        <div class="col-md-6 no-padding-horizontal-right">
                            <div class="form-input">
                                <li class="form-excl">
                                    <span class="margin-horizontal-10">Geldig tot</span>
                                    <input style="width: 40%; display:inline-block;" type="text" value="@Model.ValidityDate" id="legalsubscriptionvaliditydate" class="form-control" name="ValidityDate" required>
                                </li>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                    @{
                        var designation = "";
                        if (Model.fundsPersistModel.designation.HasValue)
                        {
                            if (Model.fundsPersistModel.designation == FundDesignations.Prospectus)
                            {
                                designation = FundDesignations.Prospectus.ToString();
                            }
                            else
                            {
                                designation = FundDesignations.Informatiememorandum.ToString();
                            }
                        }
                    }
                    <div class="verklaring">
                        <ul>
                            <h4>Verklaart bij deze: <sup>(1)</sup></h4>
                            <p>op basis van het door Sectie5 Investments NV aan hem/haar verstrekte @designation:</p>
                            <li>deel te willen nemen in het beleggingsfonds <span>@Model.fundsPersistModel.Title</span>, kantoorhoudende te Amsterdam met het doel een gezamenlijk voordeel te behalen door te beleggen in (register)goederen;</li>
                            <li>
                                het @designation in zijn geheel te hebben gelezen en de daarin beschreven voorwaarden en risico’s te hebben begrepen en te accepteren, meer in het bijzonder:
                                <ol>
                                    <li>bekend te zijn en akkoord te gaan met de inhoud van de bepalingen van de Fondsvoorwaarden;</li>
                                    <li>ermee in te stemmen dat de Houdster (<span>Stichting @Model.fundsPersistModel.Title</span>) optreedt als houdster van alle rechten en verplichtingen van het Fonds; en</li>
                                    <li>ermee in te stemmen dat het beheer van het Fonds wordt uitgeoefend door de Beheerder;</li>
                                </ol>
                            </li>
                            <li>

                                @{
                                    string wwft_yes = "", wwft_no = "";
                                    if (Model.WWFT.HasValue && Model.WWFT.Value)
                                    {
                                        wwft_yes = "checked";
                                    }
                                    else
                                    {
                                        wwft_no = "checked";
                                    }
                                }
                                <div class="radio-lbl custom-radio" style="display: inline-block; margin-top: -3px; margin-bottom: -10px;"><label class="radio-inline"><input type="radio" class="square-green" name="WWFT" value="Wel" @wwft_yes required id="wwft_wel"> Wel</label></div>
                                <div class="radio-lbl custom-radio" style="display: inline-block; margin-top:  -3px; margin-bottom: -10px;"><label class="radio-inline"><input type="radio" class="square-green" name="WWFT" value="Niet" @wwft_no required id="wwft_niet">Niet</label></div>
                                (aanklikken wat van toepassing is) op grond van de WWFT aangemerkt wordt als ‘politiek prominent persoon’<sup>(2)</sup>;
                            </li>
                            <li id="assetschecboxlegal">
                                @{
                                    Model.LegalSalesCompany = Model.SalesCompany;
                                    string legalsales = Model.LegalSalesCompany ? "checked" : "";
                                    Model.LegalSalaryBonusWork = Model.SalaryBonusWork;
                                    string legalsalary = Model.LegalSalaryBonusWork ? "checked" : "";
                                    Model.LegalHeritage = Model.Heritage;
                                    string legalheritage = Model.LegalHeritage ? "checked" : "";
                                    Model.LegalBusinessActivities = Model.BusinessActivities;
                                    string legalbusiness = Model.LegalBusinessActivities ? "checked" : "";
                                    Model.LegalOthers = Model.Others;
                                    string legalothers = Model.LegalOthers ? "checked" : "";
                                    Model.LegalOtherAssets = Model.OtherAssets;

                                }
                                dat zijn/haar vermogen afkomstig is van (keuze aankruisen s.v.p.):<br />
                                <div id="chckboxerrmsg" class="margin-bottom-10">Selecteer minimaal 1 checkbox</div>
                                <div class="margin-bottom-15"><input type="checkbox" class="square-green" @legalsales name="LegalSalesCompany" /> <span> &nbsp;&nbsp;Verkoop onderneming</span></div>
                                <div class="margin-bottom-15"><input type="checkbox" class="square-green" @legalsalary name="LegalSalaryBonusWork" /> <span> &nbsp;&nbsp;Salaris/ bonus van werk</span></div>
                                <div class="margin-bottom-15"><input type="checkbox" class="square-green" @legalheritage name="LegalHeritage" /> <span> &nbsp;&nbsp;Erfenis</span></div>
                                <div class="margin-bottom-15"><input type="checkbox" class="square-green" @legalbusiness name="LegalBusinessActivities" /> <span> &nbsp;&nbsp;Ondernemingsactiviteiten</span></div>
                                <div class="margin-bottom-15"> <label><input type="checkbox" class="square-green half-section" @legalothers name="LegalOthers" /> <span> &nbsp;&nbsp;Anders namelijk</span></label><input type="text" name="LegalOtherAssets" value="@Model.LegalOtherAssets" class="form-control half-section" /></div>
                            </li>
                            <li>dit inschrijvingsformulier volledig en naar waarheid te hebben ingevuld en voorts bekend te zijn en akkoord te gaan met de deelnameprocedure als beschreven in @Model.fundsPersistModel.sectionnumber van het @designation;</li>
                            <p class="margin-top-10">en voorts:</p>
                            <li>
                                zich te verplichten in het Fonds deel te nemen met
                                <input type="text" id="NumberofParticipations" name="NumberofParticipations" value="@Model.NumberofParticipations" class="form-control focus margin-vertical-10" placeholder="minimaal 1.000 (geef hier het aantal participaties aan)" required autocomplete="off" onkeypress="return onlyNumbers(this);" onkeyup="calculateprice(parseFloat(@Model.fundsPersistModel.participation_price.ToString().Replace(',', '.')));" />
                                Participaties (minimaal 1.000) en tot storting (van een bankrekening op naam van de ondergetekende zelf) van de deelnamesom welke per Participatie <span>@Model.fundsPersistModel.participationprice</span>
                                @{
                                    var emissiontext = "bedraagt.";
                                    if (Model.fundsPersistModel.emission_cost > 0) { emissiontext = "bedraagt, te vermeerderen met de Emissievergoeding."; }
                                }
                                @emissiontext
                                De totale deelnamesom dient op eerste aangeven van de Beheerder te worden overgemaakt op rekeningnummer <span>@Model.Iban</span> t.n.v. <span>Stichting @Model.fundsPersistModel.Title</span> onder vermelding van het aantal Participaties en de naam van diegene die opteert voor deelname in het Fonds. Niet tijdige storting van de deelnamesom, tot storting waarvan ondergetekende zich verplicht middels ondertekening van dit inschrijvingsformulier, kan tot gevolg hebben dat ondanks tijdige ontvangst van dit inschrijvingsformulier door de Beheerder geen Participaties worden toegewezen;
                            </li>
                            <li>
                                een onherroepelijke - behoudens het zich voordoen van de situatie als beschreven in @Model.fundsPersistModel.chapter van het @designation - volmacht te verlenen aan de Beheerder om namens de ondergetekende:
                                <ol>
                                    <li>het bepaalde in de Fondsvoorwaarden te aanvaarden op grond waarvan de ondergetekende deelneemt overeenkomstig de bepalingen opgenomen in de Fondsvoorwaarden; en</li>
                                    <li>al hetgeen te doen wat de gevolmachtigde nodig, wenselijk of nuttig mocht oordelen, alles met het recht van substitutie. Ook indien de Beheerder als wederpartij van ondergetekende of namens een of meerdere andere betrokkenen optreedt bij de hiervoor bedoelde rechtshandelingen, is de Beheerder bevoegd gebruik te maken van de verleende volmacht;</li>
                                </ol>
                            </li>
                            <li>
                                bekend te zijn met het volgende en daarmee in te stemmen:
                                <ol>
                                    <li>inschrijvingen kunnen zonder opgaaf van redenen geheel of gedeeltelijk door de Beheerder worden geweigerd;</li>
                                    <li>in het geval dat het Beleggerskapitaal uiterlijk op <span>@Model.fundsPersistModel.Dateofcapital</span> niet bijeen is gebracht, dan kunnen de ondergetekende(n), noch de Beheerder, noch <span>Stichting @Model.fundsPersistModel.Title</span> of het Fonds aan dit inschrijvingsformulier enig recht ontlenen; en</li>
                                    <li>Indien de financiële instelling waarvan het beoogd is dat die de hypothecaire financiering voor het Object en/of de bankrekening verstrekt, weigert de financiering en/of de bankrekening te verstrekken zonder uw identiteit te kennen, uw NAW gegevens worden verstrekt aan de financier / bancaire instelling waarbij zal worden bedongen dat uw gegevens onmiddellijk na gebruik worden vernietigd en geen kopie daarvan wordt achtergehouden door de financier / bancaire instelling; en</li>
                                    <li>Indien de financiële instelling het verstrekken van de hypothecaire financiering / bankrekening van het Object weigert in verband met uw deelname aan het Fonds, uw inschrijving op en toewijzing van de Participaties komen te vervallen. In dat geval (i) ontvangt u hiervan schriftelijk bericht en (ii) kunt u geen rechten ontlenen aan uw inschrijving of toewijzing anders dan onverwijlde terugstorting van het bedrag als bedoeld onder punt 6 hierboven;</li>
                                </ol>
                            </li>
                            <li>
                                door ondertekening van dit formulier akkoord te zijn dat alle informatievoorziening met betrekking tot <span>@Model.fundsPersistModel.Title</span> per e-mail plaatsvindt.


                                @{
                                    string agreement_yes = "", agreement_no = "";
                                    if (Model.AgreementStatus)
                                    {
                                        agreement_yes = "checked";
                                    }
                                    else
                                    {
                                        agreement_no = "checked";
                                    }
                                }

                                <div style="display: inline-block; margin-top: -3px; margin-bottom: -10px;"><label class="radio-inline"><input type="radio" class="square-green" value="Wel" @agreement_yes name="AgreementStatus">Wel</label></div>
                                <div style="display: inline-block; margin-top: -3px; margin-bottom: -10px;"><label class="radio-inline"><input type="radio" class="square-green" value="Niet" @agreement_no name="AgreementStatus">Niet</label></div>
                                akkoord te zijn met de verwerking van zijn/ haar contactgegevens om geattendeerd te worden op nieuwe investeringsmogelijkheden in beleggingsinstellingen van Sectie5.
                            </li>
                            <li>op de hoogte te zijn van de privacy policy van Sectie5 die van toepassing is op de verwerking van persoonsgegevens door Sectie5 (zie <a href="//www.sectie5.nl/privacy-policy" target="_blank" class="link">www.sectie5.nl/privacy-policy</a>)</li>
                        </ul>
                    </div>

                    <div class="addin">
                        <ul>
                            <li class="margin-top-15 margin-bottom-20">De definities die gebruikt worden in dit inschrijvingsformulier en met een hoofdletter worden weergegeven, hebben dezelfde betekenis als vastgelegd in het Informatiememorandum van <span>@Model.fundsPersistModel.Title</span>.</li>
                        </ul>
                    </div>


                </div>

            </div>
        </div>

        <input type="hidden" name="Fondsnaam" value="@Model.fundsPersistModel.Title" />
        <input id="priceperparticipations" name="fundsPersistModel.priceperparticipations" value="@Model.fundsPersistModel.participation_price" type="hidden" />
        <input id="emissioncost" name="fundsPersistModel.emissioncost" value="@Model.fundsPersistModel.emission_cost" type="hidden" />
        <input id="IsIdentified" name="IsIdentified" value="@Model.IsIdentified.ToString()" type="hidden" />
        <input id="CreatedOnUtc" name="CreatedOnUtc" value="@Model.CreatedOnUtc" type="hidden" />

        <input id="IDinstatus" name="IDinstatus" value="@Model.IDinstatus" type="hidden" />
        <input id="Idealpaymentstatus" name="Idealpaymentstatus" value="@Model.Idealpaymentstatus" type="hidden" />
        <input id="IdentificationPaymenttype" name="IdentificationPaymenttype" value="@Model.IdentificationPaymenttype" type="hidden" />
        <input id="Identificationtype" name="Identificationtype" value="@Model.Identificationtype" type="hidden" />
    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="btnsubmitgeneralsubscription">Opslaan</button>
    </div>
</form>