@using FusionCore.Modules.FundsManager.Models
@using FusionCore.Modules.FundsManager.Data.Enums
@using FusionCore.Core.Enums
@using FusionCore.Core.Extensions
@model FusionCore.Modules.FundsManager.Models.FundsPersistModel
@{
    Layout = null;

}
<form asp-action="Persist" autocomplete="on">
    <input type="hidden" asp-for="Id" />
    <div class="modal-body">
        <div class="tabbable panel-tabs">
            <ul class="nav nav-tabs" style="margin: -52px 40px 0 0; background-color:#F5F4F9;">
                <li class="active"><a data-toggle="tab" href="#panel_tab_algemeen"><h5 class="tab-correct-NM">Algemeen</h5></a></li>
                @if (Model.Id.HasValue && Model.Id.Value > 0)
                {
                <li><a data-toggle="tab" href="#panel_tab_beelden"><h5 class="tab-correct-NM">Beelden</h5></a></li>
                <li><a data-toggle="tab" href="#panel_tab_bestanden"><h5 class="tab-correct-NM">Bestanden</h5></a></li>
                <li><a data-toggle="tab" href="#panel_tab_subscription"><h5 class="tab-correct-NM">Inschrijfformulieren</h5></a></li>
                <li><a data-toggle="tab" href="#panel_tab_client"><h5 class="tab-correct-NM">Client info</h5></a></li>
                }
            </ul>
            <div class="tab-content">

                <div id="panel_tab_algemeen" class="tab-pane active">
                    @{
                        await Html.RenderPartialAsync("tab_algemeen", Model);
                    }
                </div>

                <div id="panel_tab_beelden" class="tab-pane">
                    @{
                        await Html.RenderPartialAsync("tab_beelden", Model);
                    }
                </div>

                <div id="panel_tab_bestanden" class="tab-pane">
                    @{
                        await Html.RenderPartialAsync("tab_bestanden", Model);
                    }
                </div>

                <div id="panel_tab_subscription" class="tab-pane">

                    @{
                        await Html.RenderPartialAsync("tab_subscription", Model);
                    }
                </div>

                <div id="panel_tab_client" class="tab-pane">

                    @{
                        await Html.RenderPartialAsync("tab_client", Model);
                    }

                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </div>
</form>

<script>

    window.onload = function () {
        $("body").find("[data-toggle='toggle']").bootstrapToggle();

    };

    jQuery(document).ready(function () {

			@{
	int modelid = 0;
	if (Model != null)
	{
		if (Model.Id.HasValue)
		{
			modelid = Model.Id.Value;
		}
	}
}

        $(".js-fileinput-file").each(function(i, elm) {
				var previewList = [];
				var previewConfig = [];
			var $elm = $(elm);

					$elm.fileinput({
			allowedFileExtensions: ['png','jpg','jpeg'],
					showClose: false,
					uploadAsync: false,
					dropZoneEnabled: false,
					required: true,
					uploadUrl: '@Url.Action("FileUpload", "Funds")',
					uploadExtraData: function() {
						return {
							'fundId': '@modelid'//,	'fileType': $elm.data("type")
							};
					},
					initialPreview: previewList,
                    initialPreviewConfig: previewConfig,
                    overwriteInitial: false,
                    maxFileCount: 10,
                    });
            $elm.on('filebatchuploaderror', function(event, data, previewId, index) {
                var form = data.form, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;

            });

           $elm.on('filebatchuploadsuccess', function(event, data, previewId, index) {

                var $parent = $("#imagesrow");
               var response = JSON.parse(data.response.json);

               var file = "";
               $.each(response, function(i, item) {
                     //file +='<div class="col-md-3 col-sm-4 gallery-img"  data-sortorder="'+response[i].sortOrder+'" data-eleid="' + response[i].id + '" data-eletempid="' + response[i].tempId + '"><div class="wrap-image"><a class="group1 cboxElement" href="data:image/png;base64,'+response[i].file+'" title="Clip-One Business Card"><img src="data:image/png;base64,'+response[i].file+'" alt="" class="img-responsive"></a><div class="tools tools-bottom js-remove-image" data-sortorder="'+response[i].sortOrder+'" data-id="' + response[i].id + '" data-tempFile="' + response[i].tempId + '"><a href="#"><i class="clip-close-2 fa-3x"></i></a></div></div></div>';
                    file +='<div class="col-md-3 col-sm-4 gallery-img"  data-sortorder="'+response[i].sortOrder+'" data-eleid="' + response[i].id + '" data-eletempid="' + response[i].tempId + '"><div class="wrap-image"><a class="group1 cboxElement" href="'+response[i].file+'" title="Clip-One Business Card"><img src="'+response[i].file+'" alt="" class="img-responsive"></a><div class="tools tools-bottom js-remove-image" data-sortorder="'+response[i].sortOrder+'" data-id="' + response[i].id + '" data-tempFile="' + response[i].tempId + '"><a href="#"><i class="clip-close-2 fa-3x"></i></a></div></div></div>';

               });
               $parent.empty();
               $parent.append(file);
					$elm.fileinput('cancel');
					$elm.fileinput('clear');
					$("#fileTable tr:last .tooltips").tooltip();

                    PagesGallery.init();
            });
     //       $elm.on('fileuploaded', function (event, data, previewId, index) {

					//var response = data.response;
     //               var $parent = $("#imagesrow");

     //               //var file='<div class="col-md-3 col-sm-4 gallery-img"  data-sortorder="'+response.sortOrder+'" data-eleid="' + response.id + '" data-eletempid="' + response.tempId + '"><div class="wrap-image"><a class="group1 cboxElement" href="data:image/png;base64,'+response.file+'" title="Clip-One Business Card"><img src="data:image/png;base64,'+response.file+'" alt="" class="img-responsive"></a><div class="tools tools-bottom js-remove-image" data-sortorder="'+response.sortOrder+'" data-id="' + response.id + '" data-tempFile="' + response.tempId + '"><a href="#"><i class="clip-close-2 fa-3x"></i></a></div></div></div>';
     //             var file='<div class="col-md-3 col-sm-4 gallery-img"  data-sortorder="'+response.sortOrder+'" data-eleid="' + response.id + '" data-eletempid="' + response.tempId + '"><div class="wrap-image"><a class="group1 cboxElement" href="'+response.file+'" title="Clip-One Business Card"><img src="'+response.file+'" alt="" class="img-responsive"></a><div class="tools tools-bottom js-remove-image" data-sortorder="'+response.sortOrder+'" data-id="' + response.id + '" data-tempFile="' + response.tempId + '"><a href="#"><i class="clip-close-2 fa-3x"></i></a></div></div></div>';

     //               $(file).appendTo($parent);

					//$elm.fileinput('cancel');
					//$elm.fileinput('clear');
					//$("#fileTable tr:last .tooltips").tooltip();

     //               PagesGallery.init();
		   // });
        });


        $("body").on('click',
			'.js-remove-image',
			function(e) {
				e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("RemoveFile", "Funds")?Id=' +
						$this.data("id") +
						'&tempId='+$this.attr("data-tempFile")+
						'&fundId=@modelid',
					success: function(data) {
                        $this.closest(".gallery-img").remove();
                          $("#imagesrow").find(".gallery-img").each(function (i, val) {
                    $(this).attr("data-sortorder", i + 1);
                });
					}
				});
			});

       $("body").on("click", ".js-file-websiteorderup", function (e) {
			e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("WebsiteFileOrderUp", "Funds")?Id=' +
						$this.data("id") + '&order='+$this.data("order")+
						'&tempId='+$this.attr("data-tempFile"),
					success: function (data) {


						var currentele = $this.closest("tr");
						var prevele = currentele.prev();
						if (data.currenteleorder > 0 && data.previuoseleorder > 0) {
							$(currentele.children()[1]).find('a').each(function (i, val) {

								$(val).attr("data-order", data.currenteleorder);

							});
							$(prevele.children()[1]).find('a').each(function (i, val) {

								$(val).attr("data-order", data.previuoseleorder);

							});
						}

						var preveletagname = $(prevele.children()[0]).prop("tagName");

						if (preveletagname == "TD") {
							swapElements(currentele[0], prevele[0]);
						}
					}
				});
		});

		$("body").on("click", ".js-file-websiteorderdown", function (e) {
			e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("WebsiteFileOrderDown", "Funds")?Id=' +
						$this.data("id") +'&order='+$this.data("order")+
						'&tempId='+$this.attr("data-tempFile"),
					success: function (data) {

						var currentele = $this.closest("tr");
						var nextele = currentele.next();
						if (data.currenteleorder > 0 && data.nexteleorder > 0) {
							$(currentele.children()[1]).find('a').each(function (i, val) {

								$(val).attr("data-order", data.currenteleorder);
							});
							$(nextele.children()[1]).find('a').each(function (i, val) {

								$(val).attr("data-order", data.nexteleorder);

							});
						}

						var nexteletagname = $(nextele.children()[0]).prop("tagName");

						if (nexteletagname == "TD") {
							swapElements(currentele[0], nextele[0]);
						}
					}
				});
		});



         $("body").on('click',
			'.js-remove-websitefile',
			function(e) {
				e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("WebsiteRemoveFile", "Funds")?Id=' +
						$this.data("id") +
						'&tempId='+$this.attr("data-tempFile")+
						'&fundId=@modelid',
					success: function(data) {
					$this.closest("tr").remove();
					}
				});
			});


        $('#panel-new-cat').on('show.bs.modal', function(e) {

            var categid = $(e.relatedTarget).data('categid');
            $(e.currentTarget).find('#btnnewcateg').attr("data-categid", categid);

           // $("#" + categid).parent().find("a[href='#" + categid + "']").click();
        });

         $('#panel-subcat-fileupload').on('show.bs.modal', function(e) {

             $("#subcategory_filename").val('');
                $("#subcategfile").fileinput('cancel');
                     $("#subcategfile").fileinput('clear');
                     $("#subcategfile").fileinput('reset');
                     $("#subcategfile").fileinput('refresh');
                     $("#subcategfile").fileinput('enable');


             var type = $(e.relatedTarget).data('type');
             var filetypeid = $(e.relatedTarget).data('filetypeid');
             var subcategid = $(e.relatedTarget).data('subcategid');

             $(e.currentTarget).find('#subcategfile').attr("data-type", type);
             $(e.currentTarget).find('#subcategfile').attr("data-filetypeid", filetypeid);
             $(e.currentTarget).find('#subcategfile').attr("data-subcategid", subcategid);

         });

         $('#panel-website-fileupload').on('show.bs.modal', function(e) {

             $("#bestandsnaam_websitefiles").val('');
                $("#websitefileinput").fileinput('cancel');
                     $("#websitefileinput").fileinput('clear');
                     $("#websitefileinput").fileinput('reset');
                     $("#websitefileinput").fileinput('refresh');
                     $("#websitefileinput").fileinput('enable');


             var type = $(e.relatedTarget).data('type');

             var fundid = $(e.relatedTarget).data('fundid');

             $(e.currentTarget).find('#websitefileinput').attr("data-type", type);

             $(e.currentTarget).find('#websitefileinput').attr("data-fundid", fundid);

         });




        $('#panel-new-cat, #panel-new-year, #edit-subscription, #panel-subcat-fileupload, #panel-website-fileupload').on('hidden.bs.modal', function () {

            addscrollToPopup();
        });



        $("body").on("click", ".js-file-subcategoryorderup", function (e) {
			e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("subcategoryOrderUp", "Funds")?order='+$this.data("order")+
						'&subcategtempId='+$this.attr("data-tempFile")+'&categid='+$this.attr("data-tempId"),
					success: function (data) {


						var currentele = $this.closest(".row");
						var prevele = currentele.prev();
						if (data.currenteleorder > 0 && data.previuoseleorder > 0) {
							$(currentele).find('.subcategorder').each(function (i, val) {

								$(val).attr("data-order", data.currenteleorder);

							});
							$(prevele).find('.subcategorder').each(function (i, val) {

								$(val).attr("data-order", data.previuoseleorder);

							});
						}

						//var preveletagname = $(prevele.children()[0]).prop("tagName");

						//if (preveletagname == "TD") {
							swapElements(currentele[0], prevele[0]);
						//}
					}
				});
		});

		$("body").on("click", ".js-file-subcategoryorderdown", function (e) {
			e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("subcategoryOrderDown", "Funds")?order='+$this.data("order")+
						'&subcategtempId='+$this.attr("data-tempFile")+'&categid='+$this.attr("data-tempId"),
					success: function (data) {

						var currentele = $this.closest(".row");
						var nextele = currentele.next();
						if (data.currenteleorder > 0 && data.nexteleorder > 0) {
							$(currentele).find('.subcategorder').each(function (i, val) {

								$(val).attr("data-order", data.currenteleorder);
							});
							$(nextele).find('.subcategorder').each(function (i, val) {

								$(val).attr("data-order", data.nexteleorder);

							});
						}

						//var nexteletagname = $(nextele.children()[0]).prop("tagName");

						//if (nexteletagname == "TD") {
							swapElements(currentele[0], nextele[0]);
						//}
					}
				});
        });


        $("body").on("click", ".js-file-subcategoryfileorderup", function (e) {
			e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("subcategoryFileOrderUp", "Funds")?order='+$this.data("order")+
						'&tempFile='+$this.attr("data-tempFile")+'&tempId='+$this.attr("data-tempId"),
					success: function (data) {
                         var tbody = $this.closest("tbody");
                        $.each(data.order, function (index, row) {

                            var ele = tbody.find("[data-tempid='" + row + "']");
                            var tr = ele[0].closest('tr');

                            	$(ele).each(function (i, val) {
								$(val).attr("data-order", index+1);
                                });

                            tbody.append(tr);
                        });
						//var currentele = $this.closest("tr");
						//var prevele = currentele.prev();
						//if (data.currenteleorder > 0 && data.previuoseleorder > 0) {
						//	$(currentele.children()[1]).find('a').each(function (i, val) {

						//		$(val).attr("data-order", data.currenteleorder);

						//	});
						//	$(prevele.children()[1]).find('a').each(function (i, val) {

						//		$(val).attr("data-order", data.previuoseleorder);

						//	});
						//}

						//var preveletagname = $(prevele.children()[0]).prop("tagName");

						//if (preveletagname == "TD") {
						//	swapElements(currentele[0], prevele[0]);
						//}
					}
				});
		});

		$("body").on("click", ".js-file-subcategoryfileorderdown", function (e) {
			e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("subcategoryFileOrderDown", "Funds")?order='+$this.data("order")+
						'&tempFile='+$this.attr("data-tempFile")+'&tempId='+$this.attr("data-tempId"),
					success: function (data) {

                        var tbody = $this.closest("tbody");
                        $.each(data.order, function (index, row) {

                            var ele = tbody.find("[data-tempid='" + row + "']");
                            var tr = ele[0].closest('tr');

                            	$(ele).each(function (i, val) {
								$(val).attr("data-order", index+1);
                                });

                            tbody.append(tr);
                        });
						//var currentele = $this.closest("tr");
						//var nextele = currentele.next();
						//if (data.currenteleorder > 0 && data.nexteleorder > 0) {
						//	$(currentele.children()[1]).find('a').each(function (i, val) {

						//		$(val).attr("data-order", data.currenteleorder);
						//	});
						//	$(nextele.children()[1]).find('a').each(function (i, val) {

						//		$(val).attr("data-order", data.nexteleorder);

						//	});
						//}

						//var nexteletagname = $(nextele.children()[0]).prop("tagName");

						//if (nexteletagname == "TD") {
						//	swapElements(currentele[0], nextele[0]);
						//}
					}
				});
        });



          $("body").on('click',
			'.js-remove-subcategoryfile',
			function(e) {
				e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("subcategoryRemoveFile", "Funds")?tempFile='+$this.attr("data-tempFile")+'&tempId='+$this.attr("data-tempId"),
					success: function(data) {
						$this.closest("tr").remove();
					}
				});
              });

          $("body").on('click',
			'.js-subcategory-remove',
			function(e) {
				e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("subcategoryRemove", "Funds")?tempFile='+$this.attr("data-tempFile")+'&tempId='+$this.attr("data-tempId"),
					success: function(data) {
						$this.closest(".row").remove();
					}
				});
              });


          $("body").on('click',
			'.js-category-remove',
			function(e) {
				e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("categoryRemove", "Funds")?categid='+$this.attr("data-categid"),
					success: function(data) {
						$this.closest(".row").remove();
					}
				});
              });



        $('#tablesubscriptionslist').DataTable({
            'stateSave': true,
				"processing": true,
				"serverSide": true,
				"filter": true,
               "orderMulti": false,
                "order": [[ 0, "desc" ]],
				"ajax": "@Url.Action("subscriptionslistDataTable")",
            "columns": [
                    { "data": "createOn" },
					{ "data": "name" },
                    { "data": "address" },
                    { "data": "place" },
                    { "data": "participationPrice" },
                    { "data": "isIdentified" },
                    { "data": "idealpaymentstatus" },
					{ "data": "buttons" }
				],
				"columnDefs": [

					{
						"render": function (data, type, row) {

							if (row.createOn != null) {
								var parsedDate = new Date(row.createOn);
								return parsedDate.toLocaleDateString();
							}
							return null;
						},
						"className": "hidden-xs",
						"targets": 0
                    },

					{

						"render": function (data, type, row) {
							var activeUrl = "@Url.Action("Identify")";
                            var subscriptionid = row.id;
                            var subscriptiontype = row.subscriptionType;
							var returnValue = "";
							if (row.isIdentified) {

								returnValue += "<input type='checkbox' data-toggle='toggle' data-onstyle='teal' checked data-id=" + subscriptionid + " data-url=" + activeUrl + " data-subscriptiontype="+subscriptiontype+" data-from='identify' onchange='Identification($(this));' />";
							} else {

								returnValue += "<input type='checkbox' data-toggle='toggle' data-onstyle='teal'  data-id=" + subscriptionid + " data-url=" + activeUrl + " data-subscriptiontype="+subscriptiontype+" data-from='identify' onchange='Identification($(this));' />";
							}

							return returnValue;
						},
						className: "hidden-xs",
						"targets": 5,

                    },
                    {

						"render": function (data, type, row) {

							var returnValue = "";
                            var status = row.idealpaymentstatus;

                            if (status == "paid" || status =="2") {
                                returnValue += "<i class='fa fa-check-circle green size-26'></i>";
                            }
                            else {
                                returnValue += "<i class='fa fa-exclamation-triangle yellow size-26'></i>";
                            }
							return returnValue;
						},
						className: "center",
						"targets": 6,

					},
					{
                        "render": function (data, type, row) {
                             var status = row.idealpaymentstatus;
                            var checkboxclass="btn-teal";
                            if ((status == "paid" || status == "2")&&row.isIdentified) {
                                checkboxclass="btn-green";
                            }
							var returnValue = "";
							var modalProperties = " data-id=\"" + row.id +"\"" +
                                "\" data-type=\"" + row.subscriptionType+"\"";

                            var deleteUrl = "@Url.Action("Deletesubscription")/" + row.id + "?fundid=@modelid&type=" + row.subscriptionType;

                            var callback = "addscrollToPopup";

                            var updatepayment = "@Url.Action("UpdatePayment")";

                            returnValue += "<div class=\"visible-md visible-lg hidden-sm hidden-xs\">\n";
                            returnValue += "<a style='margin: 0 3px;' href='#' class='btn btn-sm "+checkboxclass+" tooltips' data-placement='top' data-original-title='Check' data-item='paymentcheck' data-url=\""+updatepayment+"\" data-subscribeid=\"" + row.id +"\" data-subsctype=\"" + row.subscriptionType +"\"><i class='fa fa-check-circle'></i></a>";

							returnValue +=
								"<a href=\"#\" class=\"btn btn-sm btn-teal tooltips edit-subscription\" " +
								modalProperties +
								"onclick='editsubscription(this);' ><i class=\"fa fa-edit\"></i></a>\n";
                            returnValue +=
                                "<a href=\"" +
                                deleteUrl +
                                "\" class=\"btn btn-sm btn-bricky tooltips js-modal-delete-ajax\" data-placement=\"top\" data-original-title=\"Remove\" data-selector=\"#tablesubscriptionslist\" data-function=\""+callback+"\" ><i class=\"fa fa-times fa fa-white\"></i></a>\n";
							returnValue += "</div>\n";
							returnValue += "<div class=\"visible-xs visible-sm hidden-md hidden-lg\">\n";
							returnValue += "<div class=\"btn-group\">\n";
							returnValue +=
								"<a class=\"btn btn-primary dropdown-toggle btn-sm\" data-toggle=\"dropdown\" href=\"#\"><i class=\"fa fa-cog\"></i> <span class=\"caret\"></span></a>\n";
							returnValue += "<ul role=\"menu\" class=\"dropdown-menu pull-right\">\n";
							returnValue +=
								"<li role=\"presentation\"><a role=\"menuitem\" href=\"#\" class=\"edit-subscription\" " +
								modalProperties +
								"onclick='editsubscription(this);'><i class=\"fa fa-edit\"></i> Edit</a></li>\n";
							returnValue +=
								"<li role=\"presentation\"><a role=\"menuitem\" href=\"" +
								deleteUrl +
                            "\" class=\"js-modal-delete-ajax\" data-selector=\"#tablesubscriptionslist\"  data-function=\"" + callback +"\" ><i class=\"fa fa-times\"></i> Remove</a></li>\n";
							returnValue += "</ul>\n";
							returnValue += "</div>\n";
							returnValue += "</div>\n";

							return returnValue;
						},
						className: "center",
						"targets": 7,
						"orderable": false
					}
				],
				"createdRow": function (row, data, dataIndex) {
					$(row).find("[data-toggle='toggle']").bootstrapToggle();
				},
			 "drawCallback": function( settings ) {
					//var api = this.api();

					//// Output the data for the visible rows to the browser's console
                 //console.log( api.rows( {page:'current'} ).data() );

                 $("#subscribedRegistrations").text(settings.json.subscribedRegistrations);
                 $("#completedRegistrations").text(settings.json.completedRegistrations);
                 $("#possibleCapital").text(settings.json.possibleCapital);
                 $("#totalCapital").text(settings.json.totalCapital);

                 UpdatePaymentEvent();
				}

			});

        $('[id^=js-defaultModal]').on('hidden.bs.modal', function () {

            setTimeout(function () {
                $('body').removeClass("modal-open");
            }, 1000);

        });

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        };

        PagesGallery.init();

        $("#imagesrow").sortable({
            update: function (event, ui) {

                var tempids = [];

                $("#imagesrow").find(".gallery-img").each(function (i, val) {
                    $(this).attr("data-sortorder", i + 1);
                    tempids.push($(this).attr("data-eletempid"));
                });

                	$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'POST',
                        url: '@Url.Action("ChangeFundFileOrder", "Funds")',
                         data: { "tempids": tempids },
					success: function (data) {

					}
				});

            },
        });

        sortCategories();

        sortSubcategory();

          try {
            FormElements.init();
        } catch (exception) { }

        $('.ckeditor').each(function () {

              //CKEDITOR.replace(this, {
              //  allowedContent: {
              //        '$1': {
              //          attributes: 'data-*'
              //        }
              //  }
              //});
              CKEDITOR.replace(this, {
                allowedContent: true
              });

        });


    });

    function sortCategories() {

        $(".categories-elements").each(function () {

        $(this).sortable({
                containment: ".categories-elements",
             update: function (event, ui) {

                var tempids = [];

                $(this).find(".categ-order").each(function (i, val) {

                    tempids.push($(this).attr("data-tempId"));
                });

                	$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'POST',
                        url: '@Url.Action("ChangeFundCategoriesOrder", "Funds")',
                         data: { "tempids": tempids },
					success: function (data) {

					}
				});

            },
        });

         });
    }
    function sortSubcategory() {
         $(".sub-categories-elements").each(function () {

          $(this).sortable({
              //containment: ".sub-categories-elements",
            update: function (event, ui) {
               var parentcategid= $($(ui.item[0]).find("a[title='Item Verplaatsen']")[0]).attr("data-tempId");
                var tempids = [];

                $(this).find(".sub-categ-order").each(function (i, val) {
                    if ($(this).attr("data-tempId") == parentcategid) {

                        tempids.push($(this).attr("data-subcategtempId"));
                    }
                });

                	$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'POST',
                        url: '@Url.Action("ChangeFundSubCategoriesOrder", "Funds")',
                         data: { "tempids": tempids,"parentid":parentcategid },
					success: function (data) {

					}
				});

            },
          });

              });
    }

    function swapElements(obj1, obj2) {

    // create marker element and insert it where obj1 is
    var temp = document.createElement("div");
    obj1.parentNode.insertBefore(temp, obj1);

    // move obj1 to right before obj2
    obj2.parentNode.insertBefore(obj1, obj2);

    // move obj2 to right before where obj1 used to be
    temp.parentNode.insertBefore(obj2, temp);

    // remove temporary marker node
    temp.parentNode.removeChild(temp);
    }

    function addCategory() {

        var val = $("#year").val();
        if (val != "" && val != undefined && hasWhiteSpace(val)) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddCategory")",
                data: { "title": val },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (returnData) {
                    var activeUrl = "@Url.Action("ActiveCategory")";
                    var editurl = "@Url.Action("EditCategory")";
					var fundcategoryid = returnData;
                    var $parent = $("#panel_tab_client-bestanden");
                    var data = "<div class='row'><div class='col-sm-12'><div class='panel-group margin-bottom-small'><div class='panel panel-default'><div class='panel-heading padding-left-small'>" +
                        "<a href='#' class='categ-order' data-tempId='"+fundcategoryid+"' title='Item Verplaatsen'><img src='/assets/images/icons/row-slider.png' class='img_drag_c' alt='Item Verplaatsen'><i class='right_end_border'></i></a>"+
                        "<a href='#' class='editable editable-click' data-url='"+editurl+"' data-type='text' data-placement='right' data-placeholder='Voeg een jaartal toe' data-original-title='Edit year' data-pk='"+fundcategoryid+"' data-value='" + val + "' style='margin-top: -3px; margin-right:4px;'></a>"+
                        "<a data-toggle='collapse' data-parent='#' href='#" + fundcategoryid + "' class='link-collapse text-resp assets'><i class='fa fa-arrow-down'></i> </a>" +
                        "<a href='#' class='btn btn-bricky tooltips pull-right js-category-remove' style='margin-top: -9px; margin-right:-14px;' data-categid='"+fundcategoryid+"' data-placement='top' data-original-title='Remove'><i class='fa fa-times fa fa-white'></i></a>" +
                        "<a class='btn btn-primary btn-xs pull-right' href='#panel-new-cat' data-categid='"+fundcategoryid+"' style='margin-top: -3px; margin-right:8px;' data-toggle='modal'><i class='fa fa-plus'></i> toevoegen</a>" +
                        "<div  class='pull-right' style='margin-top: -7px; margin-right:7px;'><input type='checkbox' checked data-toggle='toggle' data-onstyle='teal' data-size='small'  data-id='" + fundcategoryid + "' data-url='" + activeUrl + "' onchange='CheckActive($(this));' /></div>" +
                        "</div>" +
                        "<div id='" + fundcategoryid + "' class='panel-collapse collapse' aria-expanded='false' style='height:0px;'>" +
                        "<div class='panel-body sub-categories-elements'><div class='row'></div></div>"
                        "</div>" +
                        "</div></div></div></div>";
                    $(data).appendTo($parent);
                    $parent.find("[data-toggle='toggle']").last().bootstrapToggle();
                    $("#year").val('');
                    $("#panel-new-year").modal('toggle');
                    $('.editable').editable();
                    //$(".categories-elements").sortable("refresh");
                    sortCategories();
                    sortSubcategory();
                }
            });
        }
    }

    function CheckActive(e){
			if (e.length > 0) {
				var url = $(e[0]).attr("data-url");
				var fundcategoryid = $(e[0]).attr("data-id");
				var ischecked = $(e[0]).is(":checked");
				var data = { id: fundcategoryid, value: ischecked };

            $.ajax({
				type: "POST",
				url: url,
						data: data,
						beforeSend: function (xhr) {
							xhr.setRequestHeader("RequestVerificationToken",
								$('input:hidden[name="__RequestVerificationToken"]').val());
						},
						success: function (returnData) {

						}
					});
			}
		}

    function addSubCategory() {

        var subcateg_name = $("#categorie").val();
        var categid = $("#btnnewcateg").attr('data-categid');

        var lastrow = $("#" + categid).find(".ui-sortable-handle").last();

        if ($(lastrow).length==0) {
            lastrow = $("#" + categid).find(".row").last();
        }
        if (subcateg_name != "" && subcateg_name != undefined  && hasWhiteSpace(subcateg_name)) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("AddSubCategory")",
                data: { "title": subcateg_name, "categid": categid },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (returnData) {
                    @*var orderup = "@Url.Action("subcategoryfileFileOrderUp")?order=" + response.sortOrder+ "&&subcategtempId=" + response.subCategTempId;
					var orderdown = "@Url.Action("subcategoryfileFileOrderDown")?order="+response.sortOrder+"&&subcategtempId=" + response.subCategTempId;*@

                    var editurl = "@Url.Action("EditSubCategory")";
                    $(lastrow).after("<div class='row'>"+
														"<div class='col-sm-12'>"+
														"<div class='panel-group margin-bottom-small' >"+
															  "<div class='panel panel-default'>"+
                        "<div class='panel-heading padding-left-small'>" +
                        "<a href='#' class='sub-categ-order'  data-tempId='"+returnData.tempId+"' data-subcategtempId='"+returnData.subCategTempId+"'  title='Item Verplaatsen'><img src='/assets/images/icons/row-slider.png' class='img_drag_c' alt='Item Verplaatsen'><i class='right_end_border'></i></a>"+
                         "<a href='#' class='editable editable-click' data-url='"+editurl+"' data-type='text' data-placement='right' data-placeholder='Voeg een categorie toe' data-original-title='Categorie toevoegen' data-pk='"+ returnData.subCategTempId + "' data-value='"+ returnData.title +"' style='margin-top: -3px; margin-right:4px;'></a>"+
                                                                    "<a data-toggle='collapse' data-parent='#' href='#" + returnData.subCategTempId + "' class='link-collapse text-resp assets collapsed' aria-expanded='false'><i class='fa fa-arrow-down'></i> </a>" +
																	"<a href='#' class='btn btn-bricky tooltips pull-right js-subcategory-remove'  data-tempFile='" + returnData.subCategTempId + "' data-tempId='"+returnData.tempId+"' style='margin-top: -9px; margin-right:-14px;' data-placement='top' data-original-title='Remove'><i class='fa fa-times fa fa-white'></i></a>"+
																	"<div class='pull-right margin-right margin-top-min-3'>"+
																		"<a style='margin:0 4px;' class='btn btn-xs btn-light-grey subcategorder js-file-subcategoryorderup' href='#' data-order='"+returnData.sortOrder+"' data-tempFile='" + returnData.subCategTempId + "' data-tempId='"+returnData.tempId+"'><i class='fa fa-arrow-circle-up'></i></a>"+
																		"<a class='btn btn-xs btn-light-grey subcategorder js-file-subcategoryorderdown' href='#' data-order='"+returnData.sortOrder+"' data-tempFile='" + returnData.subCategTempId + "' data-tempId='"+returnData.tempId+"'><i class='fa fa-arrow-circle-down'></i></a>"+

                        "</div>" +
                         "<a class='btn btn-teal btn-xs pull-right' href='#panel-subcat-fileupload' data-type='@((int)FileType.Pdf)' data-filetypeid='table_" + returnData.subCategTempId + "' data-subcategid='"+returnData.subCategTempId+"' style='margin-right:8px;margin-top: -3px;' data-toggle='modal'><i class='fa fa-plus'></i> toevoegen</a>"+
																"</div>"+
																"<div id='"+returnData.subCategTempId+"' class='panel-collapse collapse' aria-expanded='false'>"+
																"<div class='panel-body'>"+
                                                                     @* "<div class='form-group'>"+

                                                                                                        "<div class='row'>"+
                                                                                                                "<div class='col-sm-5'>"+
                                                                                                                    "<input type='text' placeholder='bestandsnaam' class='form-control subcategfilename' value='' id='subcategfilename_" + returnData.subCategTempId + "' name='subcategory_filename'>"+

                                                                                                                "</div>"+
                                                                                                                "<div class='col-sm-5'>"+
                                                                                                                   " <input type='file' class='js-fileinput-subcategoryfile' data-type='@((int)FileType.Pdf)' data-filetypeid='table_" + returnData.subCategTempId + "' data-subcategid='"+returnData.subCategTempId+"' id='subcategfile_" + returnData.subCategTempId + "' />"+
                                                                                                                "</div>"+
                                                                                                                "<div class='col-sm-2'>"+
                                                                                                                    "<a class='btn btn-green full-width subcategoryfileuploadbutton' href='' data-toggle='modal'>toevoegen</a>"+
                                                                                                                "</div>"+
                                                                                                            "</div>"+
                                                                    "</div>" +*@
                                                            "<table class='table table-striped table-bordered table-hover table-full-width' id='table_"+returnData.subCategTempId+"'>" +
                                                            "<thead>"+
																				"<tr>"+
																					"<th>Datum</th>"+
																					"<th>Order</th>"+
																					"<th>Bestandsnaam</th>"+
																					"<th class='center'>Edit </th>"+
																				"</tr>"+
                                                                "</thead>" +
                                                                "<tbody>" +
                                                                "<tr></tr>" +
                                                                "</tbody>"+
                                                                "</table>"+
																"</div>"+
															  "</div>"+
															"</div>"+
														"</div>"+
                        "</div>");

                   // subCategoryFileUpload("[data-filetypeid='table_"+returnData.subCategTempId+"']");

                    $("#categorie").val('');
                    $("#panel-new-cat").modal('toggle');
                    $('.editable').editable();
                    sortSubcategory();
                }
            });
        }
    }


    function Identification(e){
			if (e.length > 0) {
				var url = $(e[0]).attr("data-url");
                var _subscribeid = $(e[0]).attr("data-id");
                var _subscriptiontype = $(e[0]).attr("data-subscriptiontype");
                var _checkfrom = $(e[0]).attr("data-from");
				var ischecked = $(e[0]).is(":checked");
				var data = { subscribeid: _subscribeid, type: _subscriptiontype , from:_checkfrom};

            $.ajax({
				type: "POST",
				url: url,
						data: data,
						beforeSend: function (xhr) {
							xhr.setRequestHeader("RequestVerificationToken",
								$('input:hidden[name="__RequestVerificationToken"]').val());
						},
						success: function (returnData) {

						}
					});
			}
		}
     function deleteSubscription($curr) {

         $.get($($curr[0]).attr("href"), function (data) {
             addscrollToPopup();
             $curr.closest("tr").remove();
         });

    }
    function addscrollToPopup() {

        $("body").addClass("modal-open");
    }

    function editsubscription(e) {
          var id = $(e).attr('data-id');
            var type = $(e).attr('data-type');
            var subscribegeturl = "@Url.Action("GetSubscription")";
            var url = subscribegeturl + "/" + id + "?type=" + type;
            $.get(url, function (data) {
                $('#edit-subscription-container').html(data);
                $('#edit-subscription').modal('show');
                $("#edit-subscription-container").find("[data-toggle='toggle']").bootstrapToggle();
                enableCorrespondentie(document.getElementById("correspaddrtype"));
                GeneralSubscriptionSubmit();
                LegalSubscriptionSubmit();
                $('input[type="checkbox"].square-green, input[type="radio"].square-green').iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", increaseArea: "10%" });

                $('input:radio[name=MarriedWithContract]').on("ifChanged", function () {

            if ($(this).is(':checked')) {
                $('input:radio[name="UnMarriedWithContract"]').iCheck('uncheck');
                }
            });

                $('input:radio[name=UnMarriedWithContract]').on("ifChanged", function () {

            if ($(this).is(':checked')) {
                 $('input:radio[name="MarriedWithContract"]').iCheck('uncheck');
            }
         });
            });
    }

    function enableCorrespondentie(enable) {
        try {
            if (enable.checked) {
                $(".correspondentie").show();
            } else {
                $(".correspondentie").hide();
            }
        } catch (exception) { }
    }

    function onlyNumbers(evt) {
  var e = event || evt;
  var charCode = e.which || e.keyCode;
  if (charCode > 31 && (charCode < 48 || charCode > 57)) {
    return false;
  }
  return true;
}

    function GeneralSubscriptionSubmit() {

         $("#generalsubscriptionform").on("submit",function (e) {
             e.preventDefault();
             var fdata = $("#generalsubscriptionform").serialize();//new FormData($("#generalsubscriptionform").serialize());
             try {
                 var uploadedFile = $("#filepassport").get(0).files[0];
                 fdata.append(uploadedFile.name, uploadedFile);
             } catch (exception) { }
                                    var formAction = "@Url.Action("SubscriptionsPersist")";

                                    //$.ajax({
                                    //    type: 'post',
                                    //    async:false,
                                    //    url: formAction,
                                    //    data: fdata,
                                    //    processData: false,
                                    //    contentType: false,
                                    //})
                                    //.done(function (result) {
                                    //    // do something with the result now
                                    //    console.log(result);
                                    //});

               $.post(formAction, fdata, function (data) {
                if (data) {
                     $('#edit-subscription').modal('hide');
                }

            });

        });

    }


      function LegalSubscriptionSubmit() {

         $("#formlegalsubscription").on("submit",function (e) {
             e.preventDefault();
             var fdata = $("#formlegalsubscription").serialize();

           var formAction = "@Url.Action("SubscriptionsPersist")";

               $.post(formAction, fdata, function (data) {
                if (data) {
                     $('#edit-subscription').modal('hide');
                }

            });

        });

    }


    function UpdatePaymentEvent() {


          $('a[data-item="paymentcheck"]').on("click",function () {

             var data = { subscribeid: $(this).attr("data-subscribeid"), type: $(this).attr("data-subsctype") };
              var url = $(this).attr("data-url");
              var $tr = $($(this).parent().parent().parent());
              var $this = $(this);
              $.post(url, data, function (responseData) {

                  if (responseData) {
                      $tr.find("[data-toggle='toggle']").attr("data-from", "payment");
                    $tr.find("[data-toggle='toggle']").prop('checked', true).change();
                    var $status = $($tr.find(".fa-exclamation-triangle"));
                    $status.addClass("fa-check-circle green ");
                    $status.removeClass("fa-exclamation-triangle yellow ");

                    $this.removeClass("btn-teal");
                    $this.addClass("btn-green");
                }
                //window.location.reload();
            });
        });
    }

</script>