@model object
@{
    ViewData["Title"] = "Fonds overzicht";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {

    <link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/assets/libs/ckeditor/contents.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {

    <script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
    <script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>

    <script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>


    <script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>

    <script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>

    @*<script src="~/assets/js/table-data.js" asp-append-version="true"></script>*@
    <script src="~/assets/js/pages-user-profile.js" asp-append-version="true"></script>
    <script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>

    <script>
		jQuery(document).ready(function () {
            $('#fonds').DataTable({
                'stateSave': true,
				"processing": true,
				"serverSide": true,
				"filter": true,
                "orderMulti": false,
                //"order": [[ 1, "desc" ]],
				"ajax": "@Url.Action("DataTable")",
				"columns": [
					{ "data": "title" },
					{ "data": "date" },
					{ "data": "active" },
					{ "data": "buttons" }
				],
				"columnDefs": [

					{
						"render": function (data, type, row) {

							if (row.createdOnUtc != null) {
								var parsedDate = new Date(row.createdOnUtc);
								return parsedDate.toLocaleDateString();
							}
							return null;
						},
						"className": "hidden-xs",
						"targets": 1
					},
					{

						"render": function (data, type, row) {
							var activeUrl = "@Url.Action("Active")";
							var pageid = row.id;
							var returnValue = "";
							if (row.active) {

								returnValue += "<input type='checkbox' data-toggle='toggle' data-onstyle='teal' checked data-id=" + pageid + " data-url=" + activeUrl + " onchange='CheckActive($(this));' />";
							} else {

								returnValue += "<input type='checkbox' data-toggle='toggle' data-onstyle='teal'  data-id=" + pageid + " data-url=" + activeUrl + " onchange='CheckActive($(this));' />";
							}

							return returnValue;
						},
						className: "hidden-xs",
						"targets": 2,

					},
					{
						"render": function (data, type, row) {

							var returnValue = "";
							var modalProperties = " data-title=\"" +
								row.title +
								"\" data-url=\"@Url.Action("Get")/" +
								row.id +
								"\" data-class=\"super\"";
							var deleteUrl = "@Url.Action("Delete")/" + row.id;

							returnValue += "<div class=\"visible-md visible-lg hidden-sm hidden-xs\">\n";
							returnValue +=
								"<a href=\"#panel-gebruiker-edit\" class=\"btn btn-teal tooltips js-popup-modal\" " +
								modalProperties +
								" data-placement=\"top\" data-original-title=\"Edit\"><i class=\"fa fa-edit\"></i></a>\n";
							returnValue +=
								"<a href=\"" +
								deleteUrl +
								"\" class=\"btn btn-bricky tooltips js-modal-delete\" data-placement=\"top\" data-original-title=\"Remove\"><i class=\"fa fa-times fa fa-white\"></i></a>\n";
							returnValue += "</div>\n";
							returnValue += "<div class=\"visible-xs visible-sm hidden-md hidden-lg\">\n";
							returnValue += "<div class=\"btn-group\">\n";
							returnValue +=
								"<a class=\"btn btn-primary dropdown-toggle btn-sm\" data-toggle=\"dropdown\" href=\"#\"><i class=\"fa fa-cog\"></i> <span class=\"caret\"></span></a>\n";
							returnValue += "<ul role=\"menu\" class=\"dropdown-menu pull-right\">\n";
							returnValue +=
								"<li role=\"presentation\"><a role=\"menuitem\" href=\"#\" class=\"js-popup-modal\" " +
								modalProperties +
								"><i class=\"fa fa-edit\"></i> Edit</a></li>\n";
							returnValue +=
								"<li role=\"presentation\"><a role=\"menuitem\" href=\"" +
								deleteUrl +
								"\" class=\"js-modal-delete\"><i class=\"fa fa-times\"></i> Remove</a></li>\n";
							returnValue += "</ul>\n";
							returnValue += "</div>\n";
							returnValue += "</div>\n";

							return returnValue;
						},
						className: "center",
						"targets": 3,
						"orderable": false
					}
				],
				"createdRow": function (row, data, dataIndex) {
					$(row).find("[data-toggle='toggle']").bootstrapToggle();
				},
			 "drawCallback": function( settings ) {
					//var api = this.api();

					//// Output the data for the visible rows to the browser's console
					//console.log( api.rows( {page:'current'} ).data() );
                 	 $('.dataTables_length select').select2();
				}

			});
		});
		function CheckActive(e){
			if (e.length > 0) {
				var url = $(e[0]).attr("data-url");
				var pageid = $(e[0]).attr("data-id");
				var ischecked = $(e[0]).is(":checked");
				var data = { id: pageid, value: ischecked };

            $.ajax({
				type: "POST",
				url: url,
						data: data,
						beforeSend: function (xhr) {
							xhr.setRequestHeader("RequestVerificationToken",
								$('input:hidden[name="__RequestVerificationToken"]').val());
						},
						success: function (returnData) {

						}
					});
			}
		}

    </script>

}

@section PageHeader {

    <ol class="breadcrumb">
        <li>
            <i class="clip-home"></i><a asp-controller="Dashboard" asp-action="Index">&nbsp;Home</a>
        </li>
        <li class="active">Fonds overzicht</li>
        @await Component.InvokeAsync("SearchBox")
    </ol>
    <div class="page-header">
        <span class="pull-right">
            <a class="btn btn-primary js-popup-modal js-new-button" data-class="super" data-title="Nieuwe pagina" data-url="@Url.Action("Get")"><i class="fa fa-plus"></i> toevoegen</a>
        </span>
        <h1> Fonds <small>overzicht</small></h1>
    </div>

}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external fa-reorder"></i>
                <div class="mobile_text">Overzicht</div>
                <div class="panel-tools big">
                    <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
                    <a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#fonds" href="#"><i class="fa fa-refresh"></i></a>
                    <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-full-width" id="fonds">
                    <thead>
                        <tr>
                            <th>Fonds naam</th>
                            <th class="hidden-xs"> Datum</th>
                            <th class="hidden-xs"> Active</th>
                            <th class="center">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section _Popup{

    @*<div class="modal fade" id="panel-new-year" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">×</font></font></button>
                    <h4 class="modal-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Add year</font></font></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group"><input type="text" placeholder="Voeg een jaartal toe" class="form-control" id="year" name="year" value=""></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addCategory();"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Save</font></font></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="panel-new-cat" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Categorie toevoegen</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group"><input type="text" placeholder="Voeg een categorie toe" class="form-control" id="categorie" name="categorie" value=""></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnnewcateg" onclick="addSubCategory();">Opslaan</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="edit-subscription" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myLargeModalLabel">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header t-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Inschrijfformulier</h4>
                </div>
                <div id="edit-subscription-container"></div>

            </div>
        </div>

    </div>*@

}
