@using FusionCore.Modules.FundsManager.Models
@using FusionCore.Modules.FundsManager.Data.Enums
@using FusionCore.Core.Enums
@using FusionCore.Core.Extensions
@model FusionCore.Modules.FundsManager.Models.FundsPersistModel
@{
    Layout = null;

}

<div class="row">
    <div class="col-sm-10 no-padding">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tabbable">
                                <ul id="myTab4" class="nav nav-tabs" style="margin: -52px 40px 0 16px; background-color:#F5F4F9;  float: left;">
                                    <li class="active"><a href="#panel_tab2_klanten" data-toggle="tab"><i class="blue fa fa-user"></i> Klanten</a></li>
                                    <li><a href="#panel_tab3_example2" data-toggle="tab"><i class="blue fa fa-user-times"></i> Oude klanten</a></li>
                                    <li><a href="#panel_tab3_example3" data-toggle="tab"><i class="blue fa fa-euro"></i> Uitkeringen</a></li>
                                    <li><a href="#panel_tab3_example4" data-toggle="tab"><i class="blue fa fa-calculator"></i> Cumulatief</a></li>

                                </ul>
                                <div class="tab-content">

                                    <div class="tab-pane in active" id="panel_tab2_klanten" style="margin-top: -10px;">
                                        <p>

                                        </p><table class="table table-striped table-bordered table-hover table-full-width" id="sample_5">
                                            <thead>
                                                <tr>
                                                    <th>Naam</th>
                                                    <th class="hidden-xs"> Email</th>
                                                    <th class="hidden-xs"> Inschrijving</th>
                                                    <th class="hidden-xs"> Investering</th>
                                                    <th class="center">Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Freek de Jong</td>
                                                    <td class="hidden-xs">freek@novimedia.net</td>
                                                    <td class="hidden-xs">12-08-2018</td>
                                                    <td class="hidden-xs">50.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Freek de Jong</td>
                                                    <td class="hidden-xs">freek@novimedia.net</td>
                                                    <td class="hidden-xs">12-08-2018</td>
                                                    <td class="hidden-xs">50.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Freek de Jong</td>
                                                    <td class="hidden-xs">freek@novimedia.net</td>
                                                    <td class="hidden-xs">12-08-2018</td>
                                                    <td class="hidden-xs">50.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Freek de Jong</td>
                                                    <td class="hidden-xs">freek@novimedia.net</td>
                                                    <td class="hidden-xs">12-08-2018</td>
                                                    <td class="hidden-xs">50.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Freek de Jong</td>
                                                    <td class="hidden-xs">freek@novimedia.net</td>
                                                    <td class="hidden-xs">12-08-2018</td>
                                                    <td class="hidden-xs">50.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Freek de Jong</td>
                                                    <td class="hidden-xs">freek@novimedia.net</td>
                                                    <td class="hidden-xs">12-08-2018</td>
                                                    <td class="hidden-xs">50.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <p></p>
                                    </div>

                                    <div class="tab-pane" id="panel_tab3_example2">
                                        <p>

                                        </p><table class="table table-striped table-bordered table-hover table-full-width" id="sample_6" style="margin-top: -10px;">
                                            <thead>
                                                <tr>
                                                    <th>Naam</th>
                                                    <th class="hidden-xs"> Email</th>
                                                    <th class="hidden-xs"> Inschrijving</th>
                                                    <th class="hidden-xs"> Investering</th>
                                                    <th class="center">Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Maarten Hendrixen</td>
                                                    <td class="hidden-xs">maarten@novimedia.net</td>
                                                    <td class="hidden-xs">02-02-2018</td>
                                                    <td class="hidden-xs">150.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Maarten Hendrixen</td>
                                                    <td class="hidden-xs">maarten@novimedia.net</td>
                                                    <td class="hidden-xs">02-02-2018</td>
                                                    <td class="hidden-xs">150.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Maarten Hendrixen</td>
                                                    <td class="hidden-xs">maarten@novimedia.net</td>
                                                    <td class="hidden-xs">02-02-2018</td>
                                                    <td class="hidden-xs">150.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Maarten Hendrixen</td>
                                                    <td class="hidden-xs">maarten@novimedia.net</td>
                                                    <td class="hidden-xs">02-02-2018</td>
                                                    <td class="hidden-xs">150.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Maarten Hendrixen</td>
                                                    <td class="hidden-xs">maarten@novimedia.net</td>
                                                    <td class="hidden-xs">02-02-2018</td>
                                                    <td class="hidden-xs">150.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Maarten Hendrixen</td>
                                                    <td class="hidden-xs">maarten@novimedia.net</td>
                                                    <td class="hidden-xs">02-02-2018</td>
                                                    <td class="hidden-xs">150.000,00</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="Activate"><i class="fa fa-play fa fa-white"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-play"></i> Activate</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <p></p>

                                    </div>

                                    <div class="tab-pane" id="panel_tab3_example3">
                                        <div class="row">
                                            <div class="col-sm-12 center">
                                                <a class="btn btn-primary" href="#"><i class="fa fa-plus"></i> toevoegen</a>
                                                <a class="btn btn-orange" href="#"><i class="fa fa-calculator"></i> bereken alles</a>
                                                <a class="btn btn-bricky" href="#"><i class="fa fa-trash"></i> verwijder alles</a>
                                            </div>
                                        </div>

                                        <p>
                                        </p><table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                                            <thead>
                                                <tr>
                                                    <th>Jaar</th>
                                                    <th class="hidden-xs"> Kwartaal</th>
                                                    <th class="hidden-xs"> Rendement</th>
                                                    <th class="hidden-xs"> P Rendement</th>
                                                    <th class="hidden-xs"> Delta</th>
                                                    <th class="hidden-xs"> Batch</th>
                                                    <th class="center">Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">053004</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="ING bestand"><i class="fa clip-banknote"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-primary tooltips" data-placement="top" data-original-title="Calculator"><i class="fa fa-calculator"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-warning tooltips" data-placement="top" data-original-title="Lock"><i class="fa fa-lock"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa clip-banknote"></i> ING bestand</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-calculator"></i> Calculator</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-lock"></i> Lock</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">053004</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="ING bestand"><i class="fa clip-banknote"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-primary tooltips" data-placement="top" data-original-title="Calculator"><i class="fa fa-calculator"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-warning tooltips" data-placement="top" data-original-title="Lock"><i class="fa fa-lock"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa clip-banknote"></i> ING bestand</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-calculator"></i> Calculator</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-lock"></i> Lock</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">053004</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="ING bestand"><i class="fa clip-banknote"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-primary tooltips" data-placement="top" data-original-title="Calculator"><i class="fa fa-calculator"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-warning tooltips" data-placement="top" data-original-title="Lock"><i class="fa fa-lock"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa clip-banknote"></i> ING bestand</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-calculator"></i> Calculator</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-lock"></i> Lock</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">053004</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="ING bestand"><i class="fa clip-banknote"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-primary tooltips" data-placement="top" data-original-title="Calculator"><i class="fa fa-calculator"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-warning tooltips" data-placement="top" data-original-title="Lock"><i class="fa fa-lock"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa clip-banknote"></i> ING bestand</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-calculator"></i> Calculator</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-lock"></i> Lock</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">053004</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="ING bestand"><i class="fa clip-banknote"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-primary tooltips" data-placement="top" data-original-title="Calculator"><i class="fa fa-calculator"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-warning tooltips" data-placement="top" data-original-title="Lock"><i class="fa fa-lock"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa clip-banknote"></i> ING bestand</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-calculator"></i> Calculator</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-lock"></i> Lock</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">053004</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Search"><i class="fa fa-search"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-orange tooltips" data-placement="top" data-original-title="ING bestand"><i class="fa clip-banknote"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-primary tooltips" data-placement="top" data-original-title="Calculator"><i class="fa fa-calculator"></i></a>
                                                            <a href="#panel-edit-opdrachtgever" data-toggle="modal" class="btn btn-sm btn-warning tooltips" data-placement="top" data-original-title="Lock"><i class="fa fa-lock"></i></a>
                                                            <a href="#" class="btn btn-sm btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-search"></i> Search</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa clip-banknote"></i> ING bestand</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-calculator"></i> Calculator</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-edit-opdrachtgever" data-toggle="modal"><i class="fa fa-lock"></i> Lock</a></li>
                                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p></p>
                                    </div>

                                    <div class="tab-pane" id="panel_tab3_example4" style="margin-top: -10px;">
                                        <p>
                                        </p><table class="table table-striped table-bordered table-hover table-full-width" id="sample_7">
                                            <thead>
                                                <tr>
                                                    <th>Jaar</th>
                                                    <th class="hidden-xs"> Kwartaal</th>
                                                    <th class="hidden-xs"> Rendement %</th>
                                                    <th class="hidden-xs"> P Rendement %</th>
                                                    <th class="hidden-xs"> Delta</th>
                                                    <th class="hidden-xs"> Rendement</th>
                                                    <th class="hidden-xs"> Per jaar</th>
                                                    <th>Cumulatief</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td>8.047.822,50</td>
                                                </tr>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td>8.047.822,50</td>
                                                </tr>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td>8.047.822,50</td>
                                                </tr>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td>8.047.822,50</td>
                                                </tr>
                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td>8.047.822,50</td>
                                                </tr>

                                                <tr>
                                                    <td>2018</td>
                                                    <td class="hidden-xs">4</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">6</td>
                                                    <td class="hidden-xs">0</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td class="hidden-xs">8.047.822,50</td>
                                                    <td>8.047.822,50</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p></p>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 no-padding">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Acties</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                        <a class="btn btn-lg btn-link panel-refresh" href="#"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-lg btn-link panel-expand" href="#">
                            <i class="fa icon-resize-full"></i>
                        </a>
                        <a class="btn btn-lg btn-link panel-close" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 center">

                            <!--
                            <div class="btn-group margin-bottom-small">
                                <button type="button" class="btn full-width btn-primary"><i class="fa fa-envelope"></i> Overzichten</button>
                                <button data-toggle="dropdown" class="btn full-width btn-primary dropdown-toggle" aria-expanded="false"><span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><i class="fa fa-envelope"></i> Klanten per email</a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i> Klanten per post</a></li>
                                    <li><a href="#"><i class="fa fa-group"></i> Klanten alleen</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="fa fa-cloud-download"></i> Per fonds rapport</a></li>
                                </ul>
                            </div>
                                -->

                            <button class="btn btn-primary btn-block"><i class="fa fa-envelope fa-pull-left fa-top"></i> Klanten per email</button>
                            <button class="btn btn-primary btn-block"><i class="fa fa-envelope-o fa-pull-left fa-top"></i> Klanten per post</button>
                            <button class="btn btn-primary btn-block"><i class="fa fa-group fa-pull-left fa-top"></i> Klanten alleen</button>
                            <button class="btn btn-primary btn-block"><i class="fa fa-history fa-pull-left fa-top"></i> Geschiedenis</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
