@using FusionCore.Modules.FundsManager.Models
@using FusionCore.Modules.FundsManager.Data.Enums
@using FusionCore.Core.Enums
@using FusionCore.Core.Extensions
@model FusionCore.Modules.FundsManager.Models.FundsPersistModel
@{
    Layout = null;

}


<div class="row">
    <div class="col-sm-10 no-padding">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Inschrijfformulieren</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-left"></i></a>
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-right"></i></a>
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                        <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a>
                        <a class="btn btn-lg btn-link panel-refresh" href="#"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                        <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">

                    <table class="table table-striped table-bordered table-hover table-full-width" id="tablesubscriptionslist">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th class="hidden-xs"> Naam</th>
                                <th class="hidden-xs"> Adres</th>
                                <th class="hidden-xs"> Plaats</th>
                                <th class="hidden-xs"> Participatie prijs</th>
                                <th class="hidden-xs"> Identificatie</th>
                                <th class="center"> Status</th>
                                <th class="center"> Edit</th>
                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 no-padding">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Inschrijf informatie</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-left"></i></a>
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-right"></i></a>
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                        <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a>
                        <a class="btn btn-lg btn-link panel-refresh" href="#"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                        <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
              
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tab-pane">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="alert alert-warning center">
                                                <label class="control-label center">Aantal beschikbare inschrijvingen</label><input type="text" placeholder="Beschikbare inschrijvingen" class="form-control center" asp-for="MaximumSubscriptions">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="alert alert-info center">
                                            <label class="control-label center">Inschrijvingen</label><br>
                                            <strong class="center size-22" id="subscribedRegistrations"></strong>
                                        </div>
                                        <div class="alert alert-success center">
                                            <label class="control-label center">Afgeronde Inschrijvingen</label><br>
                                            <strong class="center size-22" id="completedRegistrations"></strong>
                                        </div>
                                        <div class="alert alert-info center">
                                            <label class="control-label center">Mogelijk kapitaal</label><br>
                                            <strong class="center size-20" id="possibleCapital"></strong>
                                        </div>
                                        <div class="alert alert-success center">
                                            <label class="control-label center">Totaal kapitaal</label><br>
                                            <strong class="center size-20" id="totalCapital"></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>