@using FusionCore.Modules.FundsManager.Models
@using FusionCore.Modules.FundsManager.Data.Enums
@using FusionCore.Core.Enums
@using FusionCore.Core.Extensions
@model FusionCore.Modules.FundsManager.Models.FundsPersistModel
@{
    Layout = null;

}

<div class="row">
    <div class="col-sm-7 no-padding">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-reorder"></i> Client bestanden</div>
                        <div class="panel-body">
                            <div class="tabbable panel-tabs no-margin-bottom">

                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#panel_tab_client-bestanden" aria-expanded="true">Bestanden</a></li>
                                    <!--<li><a data-toggle="tab" href="#panel_tab_activiteiten">Andere bestanden</a></li>-->
                                    <li>
                                        <a class="add-btn" href="#panel-new-year" data-toggle="modal">
                                            <i class="fa fa-plus add-btn-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="panel_tab_client-bestanden" class="tab-pane active categories-elements">

                                        @if (Model != null)
                                        {
                                            if (Model.FundCategory != null)
                                            {
                                                var parentcateg = Model.FundCategory.Where(x => !x.ParentId.HasValue).ToList();
                                                var childrencateg = Model.FundCategory.Where(x => x.ParentId.HasValue).ToList();
                                                foreach (var categ in parentcateg.OrderBy(x=>x.SortOrder))
                                                {
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="panel-group margin-bottom-small">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading padding-left-small">

                                                                        <a href="#" class="categ-order" title="Item Verplaatsen" data-tempId="@categ.TempId">
                                                                            <img src="/assets/images/icons/row-slider.png" class="img_drag_c" alt="Item Verplaatsen">
                                                                            <i class="right_end_border"></i>
                                                                        </a>

                                                                        <a href="#" class="editable editable-click" data-url="@Url.Action("EditCategory")" data-type="text" data-placement="right" data-placeholder="Voeg een jaartal toe" data-original-title="Edit year" data-pk="@categ.TempId" data-value="@categ.Title" style="margin-top: -3px; margin-right:4px;">
                                                                        </a>

                                                                        <a data-toggle="collapse" data-parent="#" href="#@categ.TempId" class="link-collapse text-resp assets collapsed" aria-expanded="false">
                                                                            <i class="fa fa-arrow-down"></i>
                                                                        </a>

                                                                        <a href="#" class="btn btn-bricky tooltips pull-right js-category-remove" data-categid='@categ.TempId' style="margin-top: -9px; margin-right:-14px;" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                                        <a class="btn btn-primary btn-xs pull-right" href="#panel-new-cat" data-categid="@categ.TempId" style="margin-top: -3px; margin-right:8px;" data-toggle="modal"><i class="fa fa-plus"></i> toevoegen</a>


                                                                        <div class="pull-right" style="margin-top: -7px; margin-right:7px;">
                                                                            @if (categ.Active)
                                                                            {
                                                                                <input type='checkbox' checked data-toggle='toggle' data-onstyle='teal' data-size='small' data-id='@categ.TempId' data-url='@Url.Action("ActiveCategory")' onchange='CheckActive($(this));' />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type='checkbox' data-toggle='toggle' data-onstyle='teal' data-size='small' data-id='@categ.TempId' data-url='@Url.Action("ActiveCategory")' onchange='CheckActive($(this));' />
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    <div id="@categ.TempId" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                        <div class="panel-body sub-categories-elements">
                                                                            <div class="row"></div>
                                                                            @foreach (var subcateg in childrencateg.Where(c => c.ParentId == categ.Id).OrderBy(c => c.SortOrder))
                                                                            {
                                                                                <div class="row">
                                                                                    <div class="col-sm-12">
                                                                                        <div class="panel-group margin-bottom-small">
                                                                                            <div class="panel panel-default">
                                                                                                <div class="panel-heading padding-left-small">
                                                                                                    <a href="#" class="sub-categ-order" title="Item Verplaatsen" data-tempId="@categ.TempId" data-subcategtempId="@subcateg.SubCategTempId">
                                                                                                        <img src="/assets/images/icons/row-slider.png" class="img_drag_c" alt="Item Verplaatsen">
                                                                                                        <i class="right_end_border"></i>
                                                                                                    </a>
                                                                                                    <a href="#" class="editable editable-click" data-url="@Url.Action("EditSubCategory")" data-type="text" data-placement="right" data-placeholder="Voeg een categorie toe" data-original-title="Categorie toevoegen" data-pk="@subcateg.SubCategTempId" data-value="@subcateg.Title" style="margin-top: -3px; margin-right:4px;">
                                                                                                    </a>
                                                                                                    <a data-toggle="collapse" data-parent="#" href="#@subcateg.SubCategTempId" class="link-collapse text-resp assets collapsed" aria-expanded="false"><i class="fa fa-arrow-down"></i></a>
                                                                                                    <a href="#" class="btn btn-bricky tooltips pull-right js-subcategory-remove" data-tempFile="@subcateg.SubCategTempId" data-tempId="@subcateg.TempId" style="margin-top: -9px; margin-right:-14px;" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                                                                    <div class="pull-right margin-right margin-top-min-3">
                                                                                                        <a class="btn btn-xs btn-light-grey subcategorder js-file-subcategoryorderup" href="#" data-order="@subcateg.SortOrder" data-tempFile="@subcateg.SubCategTempId" data-tempId="@subcateg.TempId"><i class="fa fa-arrow-circle-up"></i></a>
                                                                                                        <a class="btn btn-xs btn-light-grey subcategorder js-file-subcategoryorderdown" href="#" data-order="@subcateg.SortOrder" data-tempFile="@subcateg.SubCategTempId" data-tempId="@subcateg.TempId"><i class="fa fa-arrow-circle-down"></i></a>
                                                                                                    </div>
                                                                                                    <a class="btn btn-teal btn-xs pull-right" href="#panel-subcat-fileupload" data-type='@((int)FileType.Pdf)' data-filetypeid='table_@subcateg.SubCategTempId' data-subcategid='@subcateg.SubCategTempId' style="margin-top: -3px; margin-right:8px;" data-toggle="modal"><i class="fa fa-plus"></i> toevoegen</a>

                                                                                                </div>
                                                                                                <div id="@subcateg.SubCategTempId" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                                                    <div class="panel-body">
                                                                                                      
                                                                                                        <table class="table table-striped table-bordered table-hover table-full-width" id="table_@subcateg.SubCategTempId">
                                                                                                            <thead>
                                                                                                                <tr>
                                                                                                                    <th>Datum</th>
                                                                                                                    <th>Order</th>
                                                                                                                    <th>Bestandsnaam</th>
                                                                                                                    <th class="center">Edit </th>
                                                                                                                </tr>
                                                                                                            </thead>
                                                                                                            <tbody>
                                                                                                                @if (Model != null)
                                                                                                                {
                                                                                                                    if (Model.FundFiles != null)
                                                                                                                    {
                                                                                                                        foreach (var fundfile in Model.FundFiles.Where(x => x.websitedownloadfiles && x.FundCategoryId.HasValue && x.FundCategoryId == subcateg.Id).OrderBy(x => x.SortOrder))
                                                                                                                        {
                                                                                                                            var orderup = Url.Action("WebsiteFileOrderUp") + "?id=" + fundfile.Id + "&&order=" + fundfile.SortOrder;
                                                                                                                            var orderdown = Url.Action("WebsiteFileOrderDown") + "?id=" + fundfile.Id + "&&order=" + fundfile.SortOrder;
                                                                                                                            if (fundfile == null) { continue; }
                                                                                                                            var iconType = "pdf";
                                                                                                                            var buttonClass = "btn-danger";
                                                                                                                            if (fundfile.FileName.ToLower().EndsWith(".xls") || fundfile.FileName.ToLower().EndsWith(".xlsx"))
                                                                                                                            {
                                                                                                                                iconType = "excel";
                                                                                                                                buttonClass = "btn-green";
                                                                                                                            }
                                                                                                                            else if (fundfile.FileName.ToLower().EndsWith(".doc") || fundfile.FileName.ToLower().EndsWith(".docx"))
                                                                                                                            {
                                                                                                                                iconType = "word";
                                                                                                                                buttonClass = "btn-primary";
                                                                                                                            }
                                                                                                                            <tr>
                                                                                                                                <td>@fundfile.CreatedOnUtc.ConvertToUserTime().ToString("dd-MM-yyyy - HH:mm")</td>
                                                                                                                                <td class="center">
                                                                                                                                    <a class="btn btn-xs btn-light-grey js-file-subcategoryfileorderup" href="#" data-order="@fundfile.SortOrder" data-tempId="@fundfile.TempID" data-tempFile="@fundfile.FundCategoryTempId"><i class="fa fa-arrow-circle-up"></i></a>
                                                                                                                                    <a class="btn btn-xs btn-light-grey js-file-subcategoryfileorderdown" href="#" data-order="@fundfile.SortOrder" data-tempId="@fundfile.TempID" data-tempFile="@fundfile.FundCategoryTempId"><i class="fa fa-arrow-circle-down"></i></a>
                                                                                                                                </td>
                                                                                                                                <td>
                                                                                                                                    <a href="#" class="editable editable-click" data-url="@Url.Action("EditCategoryFile")" data-type="text" data-placement="right" data-placeholder="DisplayName" data-original-title="DisplayName" data-pk="@fundfile.TempID" data-value="@fundfile.DisplayName" style="margin-top: -3px; margin-right:4px;">
                                                                                                                                    </a>

                                                                                                                                </td>
                                                                                                                                <td class="center">
                                                                                                                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                                                                                        <a asp-action="subcategoryfileFileDownload" asp-route-tempFile="@fundfile.TempID" target="_blank" class="btn @buttonClass tooltips" data-original-title="File"><i class="fa clip-file-@iconType"></i></a>
                                                                                                                                        <a href="#" class="btn btn-bricky tooltips js-remove-subcategoryfile" data-tempFile="@fundfile.FundCategoryTempId" data-tempId="@fundfile.TempID" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                                                                                                    </div>
                                                                                                                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                                                                                        <div class="btn-group">
                                                                                                                                            <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i><span class="caret"></span></a>
                                                                                                                                            <ul role="menu" class="dropdown-menu pull-right">
                                                                                                                                                <li role="presentation"><a role="menuitem" tabindex="-1" asp-action="subcategoryfileFileDownload" asp-route-tempFile="@fundfile.TempID" target="_blank"><i class="fa clip-file-@iconType"></i></a></li>
                                                                                                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-remove-subcategoryfile" data-tempFile="@fundfile.FundCategoryTempId" data-tempId="@fundfile.TempID"><i class="fa fa-times"></i></a></li>
                                                                                                                                            </ul>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        }
                                                                                                                    }
                                                                                                                }

                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Website bestanden</div>
                                                         <div class="panel-tools big">
                                                             <a class="btn btn-teal btn-xs" href="#panel-website-fileupload" style=" margin-right:8px;padding:1px 5px!important;" data-toggle="modal" data-type='@((int)FileType.Pdf)' data-fundid="@Model.Id"><i class="fa fa-plus"></i> toevoegen</a>
                                                             <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>

                                                             <a class="btn btn-lg btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
                                                             <a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
                                                             <a class="btn btn-lg btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>

                                                         </div>
            </div>
            <div class="panel-body">
              
                <table class="table table-striped table-bordered table-hover table-full-width" id="websitefilestable">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Order</th>
                            <th>Bestandsnaam</th>
                            <th class="center">Edit </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        @if (Model != null)
                        {
                            if (Model.FundFiles != null)
                            {
                                foreach (var fundfile in Model.FundFiles.Where(x => x.websitedownloadfiles && x.FundId.HasValue && !x.FundCategoryId.HasValue).OrderBy(x => x.SortOrder))
                                {
                                    var orderup = Url.Action("WebsiteFileOrderUp") + "?id=" + fundfile.Id + "&&order=" + fundfile.SortOrder;
                                    var orderdown = Url.Action("WebsiteFileOrderDown") + "?id=" + fundfile.Id + "&&order=" + fundfile.SortOrder;
                                    if (fundfile == null) { continue; }
                                    var iconType = "pdf";
                                    var buttonClass = "btn-danger";
                                    if (fundfile.FileName.ToLower().EndsWith(".xls") || fundfile.FileName.ToLower().EndsWith(".xlsx"))
                                    {
                                        iconType = "excel";
                                        buttonClass = "btn-green";
                                    }
                                    else if (fundfile.FileName.ToLower().EndsWith(".doc") || fundfile.FileName.ToLower().EndsWith(".docx"))
                                    {
                                        iconType = "word";
                                        buttonClass = "btn-primary";
                                    }
                                    <tr>
                                        <td>@fundfile.CreatedOnUtc.ConvertToUserTime().ToString("dd-MM-yyyy - HH:mm")</td>
                                        <td class="center">
                                            <a class="btn btn-xs btn-light-grey js-file-websiteorderup" href="#" data-order="@fundfile.SortOrder" data-id="@fundfile.Id" data-tempFile="@fundfile.TempID"><i class="fa fa-arrow-circle-up"></i></a>
                                            <a class="btn btn-xs btn-light-grey js-file-websiteorderdown" href="#" data-order="@fundfile.SortOrder" data-id="@fundfile.Id" data-tempFile="@fundfile.TempID"><i class="fa fa-arrow-circle-down"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" class="editable editable-click" data-url="@Url.Action("EditFundFile")" data-type="text" data-placement="right" data-placeholder="DisplayName" data-original-title="DisplayName" data-pk="@fundfile.TempID" data-name="@fundfile.Id" data-value="@fundfile.DisplayName" style="margin-top: -3px; margin-right:4px;">
                                            </a>
                                        </td>
                                        <td class="center">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                <a asp-action="WebsiteFileDownload" asp-route-id="@fundfile.Id" target="_blank" class="btn @buttonClass tooltips" data-original-title="File"><i class="fa clip-file-@iconType"></i></a>
                                                <a href="#" class="btn btn-bricky tooltips js-remove-websitefile" data-id="@fundfile.Id" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="btn-group">
                                                    <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i><span class="caret"></span></a>
                                                    <ul role="menu" class="dropdown-menu pull-right">
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" asp-action="WebsiteFileDownload" asp-route-id="@fundfile.Id" target="_blank"><i class="fa clip-file-@iconType"></i></a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-remove-websitefile" data-id="@fundfile.Id"><i class="fa fa-times"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
