@using FusionCore.Modules.FundsManager.Models
@using FusionCore.Modules.FundsManager.Data.Enums
@using FusionCore.Core.Enums
@using FusionCore.Core.Extensions
@model FusionCore.Modules.FundsManager.Models.FundsPersistModel
@{
    Layout = null;

}

<div class="row">
    <div class="col-sm-8 no-padding">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Algemene informatie</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-left"></i></a>
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-right"></i></a>
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                        <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a>
                        <a class="btn btn-lg btn-link panel-refresh" href="#"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                        <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tab-pane">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"><input type="text" placeholder="Fonds naam" class="form-control" asp-for="Title"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"><input type="text" placeholder="" class="form-control" asp-for="SubTitle"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="space_white"></div>
                                        <h4>Adresgegevens</h4>
                                        <div class="form-group"><input type="text" placeholder="Straat en huisnummer" class="form-control" asp-for="Address"></div>
                                        <div class="form-group"><input type="text" placeholder="Postcode" class="form-control" asp-for="Zipcode"></div>
                                        <div class="form-group"><input type="text" placeholder="Plaats" class="form-control" asp-for="City"></div>
                                        <div class="form-group"><input type="text" placeholder="Land" class="form-control" asp-for="Country"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="space_white"></div>
                                        <h4>Inschrijfformulier</h4>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-group"><span class="input-icon"><input type="text" placeholder="€100,- (honderd)" class="form-control" asp-for="participationprice"><i class="fa clip-banknote"></i></span></div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group"><input type="text" placeholder="100" autocomplete="off" class="form-control" asp-for="participation_price"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-group"><span class="input-icon"><input type="text" placeholder="€50,- (vijftig)" class="form-control" asp-for="emissioncost"><i class="fa clip-banknote"></i></span></div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group"><input type="text" placeholder="50" autocomplete="off" class="form-control" asp-for="emission_cost"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <select asp-for="designation" class="form-control">
                                                        <option value="" selected="">Selecteer aanduiding</option>
                                                        <option value="@((int)FundDesignations.Prospectus)">Prospectus</option>
                                                        <option value="@((int)FundDesignations.Informatiememorandum)">Informatiememorandum</option>
                                                    </select>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Sectie 10" class="form-control" asp-for="sectionnumber">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Sectie 10.3" class="form-control" asp-for="chapter">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group"><span class="input-icon"><input type="text" placeholder="IBAN" class="form-control" asp-for="Iban"><i class="fa  fa-bank"></i></span></div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" asp-for="Dateofcapital" data-date-format="dd-mm-yyyy" data-date-viewmode="years" autocomplete="off" placeholder="Uiterlijke kapitaal datum" class="form-control date-picker">
                                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <hr>
                                            <div class="form-group">
                                                <input type='checkbox' data-toggle='toggle' data-onstyle='teal' asp-for="activeregistration" />&nbsp;&nbsp; Inschrijfformulier aan/uit
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Website informatie</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-left"></i></a>
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-right"></i></a>
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                        <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a>
                        <a class="btn btn-lg btn-link panel-refresh" href="#"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                        <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <textarea class="ckeditor form-control" asp-for="GeneralDescription"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 no-padding">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Fonds status</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-left"></i></a>
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-right"></i></a>
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                        <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a>
                        <a class="btn btn-lg btn-link panel-refresh" href="#"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-lg btn-link panel-expand" href="#">
                            <i class="fa icon-resize-full"></i>
                        </a>
                        <a class="btn btn-lg btn-link panel-close" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 margin-bottom">
                            <div class="input-group">
                                <input type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" autocomplete="off" placeholder="Startdatum" class="form-control date-picker" asp-for="FundStartDate">
                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group" id="picker-container-berekening">
                                <input type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" autocomplete="off" placeholder="Startdatum berekening" class="form-control date-picker" asp-for="FundEndDate" disabled="disabled">
                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">

                                <select id="form-field-select-1" class="form-control" asp-for="fundStatus">
                                    <option value="@FundStatus.New">In oprichting</option>
                                    <option value="@FundStatus.Active">Actief</option>
                                    <option value="@FundStatus.Liquidated">Geliquideerd</option>
                                    <option value="@FundStatus.OutOfScope">Uit beheer</option>
                                    <option value="@FundStatus.Stopped">Gestopt</option>
                                </select>
                            </div>

                            <div class="form-group">

                                <select class="form-control" asp-for="fundType">
                                    <option value="">Seleteer type fonds</option>
                                    <option value="@FundType.storefund">Winkelfonds</option>
                                    <option value="@FundType.heathcarefund">Zorgfonds</option>
                                    <option value="@FundType.housingfund">Woningfonds</option>
                                    @*Woonfonds*@
                                    <option value="@FundType.overigefond">Overige fondsen</option>

                                </select>
                            </div>
                            <hr>
                            <div class="form-group">
                                <input type='checkbox' data-toggle='toggle' data-onstyle='teal' asp-for="Active" />
                                &nbsp;&nbsp; Activiteit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Meta instellingen</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-left"></i></a>
                        <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-right"></i></a>
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                        <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a>
                        <a class="btn btn-lg btn-link panel-refresh" href="#"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                        <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panel_edit_account-2" class="tab-pane">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"><input type="text" placeholder="Meta naam" class="form-control" asp-for="MetaTitle"></div>
                                        <div class="form-group"><textarea type="text" placeholder="Meta omschrijving" asp-for="MetaDescription" class="form-control limited" maxlength="150"></textarea></div>
                                        <div class="form-group"><textarea type="text" placeholder="Meta keywords" asp-for="MetaKeywords" class="form-control limited" maxlength="100"></textarea></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>