@using FusionCore.Modules.FundsManager.Models
@using FusionCore.Modules.FundsManager.Data.Enums
@using FusionCore.Core.Enums
@using FusionCore.Core.Extensions
@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Hosting;
@using FusionCore.Core.Settings
@model FusionCore.Modules.FundsManager.Models.FundsPersistModel
@inject IHostingEnvironment env
@inject IConfiguration configuration
@{
    Layout = null;

}

<div class="row">
    <div class="col-sm-6 no-padding">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Splash screen</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
                        <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> </a>
                        <a class="btn btn-lg btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
                        <a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
                        <a class="btn btn-lg btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <fileupload asp-id="SplashImageId"
                                                    asp-value="@Model.SplashImageId">
                                        </fileupload>


                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group"><input type="text" placeholder="Titel" class="form-control" asp-for="SplashImageTitle"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group"><input type="text" placeholder="Onderschrift" class="form-control" asp-for="SplashImageCaption"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 no-padding">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Hoofd beeld</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
                        <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> </a>
                        <a class="btn btn-lg btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
                        <a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
                        <a class="btn btn-lg btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <fileupload asp-id="ThumbnailImageId"
                                                    asp-value="@Model.ThumbnailImageId">
                                        </fileupload>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group"><input type="text" placeholder="Titel" class="form-control" asp-for="ThumbnailImageTitle"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group"><input type="text" placeholder="Onderschrift" class="form-control" asp-for="ThumbnailImageCaption"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Beelden</div>
                <div class="panel-tools big">
                    <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-left"></i></a>
                    <a class="btn btn-lg btn-link panel-config" href="#"><i class="fa fa-arrow-circle-o-right"></i></a>
                    <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
                    <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> </a>
                    <a class="btn btn-lg btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
                    <a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
                    <a class="btn btn-lg btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input id="file" type="file" class="js-fileinput-file" multiple />

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel-group margin-bottom-small" id="accordion5">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row" id="imagesrow">
                                        @if (Model != null)
                                        {
                                            if (Model.FundFiles != null)
                                            {
                                                FileSettings fileSettings = configuration.GetSection("FileSettings").Get<FileSettings>();
                                                MainSettings mainSettings = configuration.GetSection("MainSettings").Get<MainSettings>();

                                                foreach (var fundfile in Model.FundFiles.Where(x => !x.websitedownloadfiles).OrderBy(x => x.SortOrder))
                                                {
                                                    var file = (mainSettings.FusionUrl + fileSettings.FundFileRelativePath +fundfile.FilePath);//"data:image/png;base64," + Convert.ToBase64String(fundfile.File);
                                                    <div class="col-md-3 col-sm-4 gallery-img" data-eleid="@fundfile.Id" data-eletempid="@fundfile.TempID" data-sortorder="@fundfile.SortOrder">
                                                        <div class="wrap-image">
                                                            <a class="group1 cboxElement" href="@file" title="">
                                                                <img src="@file" alt="" class="img-responsive">
                                                            </a>
                                                            <div class="tools tools-bottom js-remove-image" data-id="@fundfile.Id" data-tempFile="@fundfile.TempID" data-sortorder="@fundfile.SortOrder">
                                                                <a href="#"><i class="clip-close-2 fa-3x"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>