@model FusionCore.Models.Common.InstallViewModel
@{
	Layout = null;
}<!DOCTYPE html>
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<title>Fusion Media - Install</title>
	<link rel="shortcut icon" href="assets/images/favicon.png" />
	<!-- start: META -->
	<meta charset="utf-8" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta content="Responsive Admin panel build of Fusion Media CMS" name="description" />
	<meta content="Fusion Media" name="Novi Media®" />
	<!-- end: META -->
	<!-- start: MAIN CSS -->
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Raleway:400,100,200,300,500,600,700,800,900/"  asp-append-version="true" />
	<link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" asp-append-version="true"  />
	<link type="text/css" rel="stylesheet" href="assets/libs/font-awesome/css/font-awesome.min.css"  asp-append-version="true" />
	<link type="text/css" rel="stylesheet" href="assets/fonts/clip-font.min.css"  asp-append-version="true" />
	<link type="text/css" rel="stylesheet" href="assets/libs/iCheck/skins/all.css" asp-append-version="true"  />
	<link type="text/css" rel="stylesheet" href="assets/libs/perfect-scrollbar/css/perfect-scrollbar.min.css" asp-append-version="true"  />
	<link type="text/css" rel="stylesheet" href="assets/libs/sweetalert/dist/sweetalert.css"  asp-append-version="true" />
	<link type="text/css" rel="stylesheet" href="assets/css/main.min.css"  asp-append-version="true" />
	<link type="text/css" rel="stylesheet" href="assets/css/main-responsive.min.css"  asp-append-version="true" />
	<link type="text/css" rel="stylesheet" media="print" href="assets/css/print.min.css"  asp-append-version="true" />
	<link type="text/css" rel="stylesheet" id="skin_color" href="assets/css/theme/black-and-white.css" asp-append-version="true"  />
	<link type="text/css" rel="stylesheet" id="skin_color fm" href="assets/css/template.css" asp-append-version="true"  />
	<!-- end: MAIN CSS -->
	<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->

</head>
<body class="login">
	<div class="main-login col-sm-4 col-sm-offset-4">
		<div class="logo">
			<a href="/"><img src="assets/images/header-logo-black.png" class="img-fm" alt="Fusion Media" width="220" /></a>
		</div>
		@{
			await Html.RenderPartialAsync("_ControllerMessages");
		}
		<div class="box-install">
			<h3>Installeren</h3>
			<form asp-controller="Install" asp-action="Index" class="form-login">
				<div asp-validation-summary="All" class="errorHandler alert alert-danger no-display">
					<i class="fa fa-remove-sign"></i>Er is helaas iets fout gegaan
				</div>
				<fieldset>
					<div class="form-actions">
						<label asp-for="InstallSampleData" class="checkbox-inline">
							<input type="checkbox" asp-for="InstallSampleData" class="grey" />
							Installeer voorbeeld data
						</label>
						<button type="submit" class="btn btn-green btn-lg pull-right">
							Installeer <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</fieldset>
			</form>
		</div>

		<!-- start: COPYRIGHT -->
		<div class="copyright">
			@DateTime.Now.Year &copy; Fusion media  | <span style="font-size:8px">powerd by</span>&nbsp;&nbsp;<a href="https://www.novimediasolutions.nl" title="Novi Media" target="_blank"><img style="vertical-align:middle" src="https://www.novimediasolutions.nl/uploads/novi-media-logo-black.png" width="90" /></a>
		</div>
		<!-- end: COPYRIGHT -->
	</div>

	<!-- start: MAIN JAVASCRIPTS -->
	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
			asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
			asp-fallback-test="window.jQuery"
			crossorigin="anonymous"
			integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
	</script>
	<script type="text/javascript" src="assets/libs/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>

	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js" asp-append-version="true"></script>

	<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
			asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
			asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
			crossorigin="anonymous"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
	</script>
	
</body>
</html>