<span  style="font-size:14px; font-family:Arial, 'Helvetica Neue', Gotham; color: #676163;">Beste Klant,</span>
<table cellpadding="0" cellspacing="0" style="font-size:14px; font-family:Arial, 'Helvetica Neue', Gotham; color: #676163;">
<tr>
<td>&nbsp;</td>
</tr>
<tr>
	<td>Dit formulier is verstuurd via de website van Sectie5, de volgende informatie is ingevuld:</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
	<td><h3>{0}</h3></td>
</tr>
<tr>
    <td>
        <strong>Inschrijving:</strong> Rechtspersoon <br />
        <strong>Statutaire naam:</strong> {1} <br />
        <strong>Statutair adres:</strong> {2} <br />
        <strong>Vestigingsplaats:</strong> {3} <br />
        <strong>Postcode:</strong> {4} <br />
        <strong>Inschrijfnummer KvK*:</strong> {5} <br />
        <strong>Uittreksel Handelsregister:</strong> {6} <br />
        <strong>Correspondentieadres:</strong> {7} <br />
        <strong>Postcode:</strong> {8} <br />
        <strong>Woonplaats:</strong> {9} <br />
        <strong>Telefoon:</strong> {10} <br />
        <strong>Telefoon mobiel:</strong> {11} <br />
        <strong>E-mail:</strong> {12} <br />
        <strong>Rekeningnummer voor uitkering:</strong> {13} <br />
        <strong>IBAN:</strong> {14} <br />
        <br />
        <strong>Personalia</strong><br />
        <strong>Achternaam:</strong> {15} <br />
        <strong>Titels:</strong> {16} <br />
        <strong>Voornaam:</strong> {17} <br />
        <strong>Geslacht:</strong> {18} <br />
        <strong>Geboorteplaats:</strong> {19} <br />
        <strong>Geboortedatum:</strong> {20} <br />
        <strong>Legitimatiebewijs:</strong> {21} <br />
        <strong>Afgegeven te:</strong> {22} <br />
        <strong>Afgegeven op:</strong> {23} <br />
        <strong>Geldig tot:</strong> {24} <br />
        <br />
        <strong>WWFT:</strong> {27}  <br />
        <br />
        <strong>Vermogen:</strong><br />
        <strong>Verkoop onderneming:</strong> {28}  <br />
        <strong>Salaris/ bonus van werk:</strong> {29}  <br />
        <strong>Erfenis:</strong> {30}  <br />
        <strong>Ondernemingsactiviteiten:</strong> {31}  <br />
        <strong>Anders namelijk:</strong> {32}  <br />
        <br />
        <strong>Participaties</strong><br />
        <strong>Aantal:</strong> {25} stuks <br />
        <br />
        <strong>Akkoord voor contact:</strong> {26} <br />
    </td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<br />
</table>
<table cellpadding="0" cellspacing="0" style="font-size:14px; font-family:'sans-serif', Helvetica, 'Helvetica Neue', Arial, Gotham; color: #676163;">
<tr>
</tr>
<tr>
<td>
Met vriendelijke groet |  Regards<br />
Novi Media</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td valign="top">
<a href="https://www.novimediasolutions.nl" target="_blank"><img src="https://www.novimediasolutions.nl/uploads/novi-media-logo-black.png" width="200" height="66" alt=""/></a><br />
<br>
Duizendknooplaan 19<br>
NL-3452 AS Vleuten<br>
<br>
t: +31 (0)302682756<br>
m: +31 (0)620899533 <br>
</td>
<td valign="bottom">
<span style="color: #56af00">info@novimediasolutions.nl<br>
www.novimediasolutions.nl</span>
</td>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td valign="top">
<table cellpadding="0" cellspacing="4">
<tr>
<td><a href="https://www.facebook.com/novimedia" target="_blank"><img src="https://www.novimediasolutions.nl/uploads/icon-facebook.png" width="30" height="" alt=""/></a></td>
<td><a href="https://www.linkedin.com/company/novi-media" target="_blank"><img src="https://www.novimediasolutions.nl/uploads/icon-linkedin.png" width="30" height="" alt=""/></a></td>
<td><a href="https://twitter.com/NoviMediaNL" target="_blank"><img src="https://www.novimediasolutions.nl/uploads/icon-twitter.png" width="30" height="" alt=""/></a></td>
</tr>
</table>
</td>
<td>
<a href="https://www.novimediasolutions.nl/diensten/software-ontwikkeling/" target="_blank"><img src="https://www.novimediasolutions.nl/uploads/fusion-media-logo-black.png" width="190" height="80" alt=""/></a>
</td>
</tr>
</tr>
</table>
<br />