<table cellpadding="0" cellspacing="0" style="font-size:15px; font-family:Arial, 'Helvetica Neue', Gotham; color: #676163; width: 100%;">
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="text-align: center; font-size:18px; "><span style="font-weight: bold; font-family:'sans-serif', Helvetica, 'Helvetica Neue', Arial, Gotham; ">[INVESTMENT]</span></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style=" font-family:'sans-serif', Helvetica, 'Helvetica Neue', Arial, Gotham; ">Dit is een overzicht van uw kwartaaluitkeringen</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="border:1px solid #676163; background:  #F1F1F1;" cellpadding="20">
			[CONTENT]
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style=" font-family:'sans-serif', Helvetica, 'Helvetica Neue', Arial, Gotham; ">Wij hopen u hiermee van dienst te zijn geweest. Mocht u nog vragen hebben, dan kunt u contact opnemen met Mariette van Heyningen (020 670 1265 / participanten@sectie5.nl)</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
<table cellpadding="0" cellspacing="2" style="font-size:14px; font-family:'sans-serif', Helvetica, 'Helvetica Neue', Arial, Gotham; color: #676163;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><img src="https://www.sectie5.nl/assets/img/sectie5-logo-ht.png" width="150" height="35" alt="" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>John M. Keynesplein 5<span style="color: #e7211e"> | </span>1066 EP Amsterdam</td>
		</tr>
		<tr>
			<td><span style="color: #676163">T +31 (0)20 6701265</span></td>
		</tr>
		<tr>
			<td><span style="color: #676163">participanten@sectie5.nl</span><span style="color: #e7211e"> | </span><span style="color: #676163">www.sectie5.nl</span></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
<br />