<span style="font-size:14px; font-family:Arial, 'Helvetica Neue', Gotham; color: #676163;">Geachte Participant,</span>
<table cellpadding="0" cellspacing="0" style="font-size:14px; font-family:Arial, 'Helvetica Neue', Gotham; color: #676163;">
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			U ontvangt deze email omdat u op de website heeft aangegeven uw wachtwoord te willen wijzigen voor het client gedeelte van de Sectie5 website. Als u dit niet heeft aangevraagd, kunt u deze email als niet verstuurd beschouwen en hoeft u geen verdere actie te ondernemen.<br />
			<br />
			Via onderstaande stappen kunt u opnieuw uw eigen wachtwoord instellen:<br />
			<br />
			<strong>1)</strong> Ga naar: <a href="https://www.sectie5.nl/?token=[TOKEN]" target="_blank"><strong>www.sectie5.nl</strong></a><br />
			<strong>2)</strong> Gebruik voor het wijzigen deze unieke token: <strong>[TOKEN]</strong><br />
			<strong>3)</strong> Vul 2x het door uzelf gekozen nieuwe wachtwoord in<br />
			<br />
			Om nu in te loggen op uw eigen client gedeelte gebruikt u uw gebruikersnaam <strong>[GEBRUIKERSNAAM]</strong> en het door u gekozen <strong>Nieuwe Wachtwoord</strong><br />
			<br />
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Wij hopen u hiermee van dienst te zijn geweest. Mocht u nog vragen hebben, dan kunt u contact opnemen met Mariette van Heyningen (020 670 1265 / participanten@sectie5.nl)</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
<table cellpadding="0" cellspacing="0" style="font-size:14px; font-family:'sans-serif', Helvetica, 'Helvetica Neue', Arial, Gotham; color: #676163;">
	<tbody>
		<tr>
			<td>Met vriendelijke groet | kind regards,</td>
		</tr>
		<tr>
			<td>Sectie5</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="https://www.sectie5.nl" target="_blank"><img src="https://www.sectie5.nl/assets/img/sectie5-logo-ht.png" width="150" height="35" alt="" /></a></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>John M. Keynesplein 5<span style="color: #e7211e"> | </span>1066 EP Amsterdam</td>
		</tr>
		<tr>
			<td><a href="tel:+31206701265" target="_blank" title="Neem contact op"><span style="color: #676163">T +31 (0)20 6701265</span></a></td>
		</tr>
		<tr>
			<td><a href="mailto:participanten@sectie5.nl" target="_blank"><span style="color: #676163">participanten@sectie5.nl</span></a><span style="color: #e7211e"> | </span><a href="https://www.sectie5.nl" target="_blank"><span style="color: #676163">www.sectie5.nl</span></a></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="4">
					<tr>
						<td><a href="https://www.facebook.com/Sectie5/" target="_blank"><img src="https://www.sectie5.nl/uploads/icon-facebook.png" width="20" height="20" alt="" /></a></td>
						<td><a href="https://www.linkedin.com/company/1328364/" target="_blank"><img src="https://www.sectie5.nl/uploads/icon-linkedin.png" width="20" height="20" alt="" /></a></td>
						<td><a href="https://twitter.com/Sectie5" target="_blank"><img src="https://www.sectie5.nl/uploads/icon-twitter.png" width="20" height="20" alt="" /></a></td>
					</tr>
				</table>
				<table>
					<tr>
						<td>&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<br />