<span  style="font-size:14px; font-family:Arial, 'Helvetica Neue', Gotham; color: #676163;">Beste {0},</span>
<table cellpadding="0" cellspacing="0" style="font-size:14px; font-family:Arial, 'Helvetica Neue', Gotham; color: #676163;">
<tr>
<td>&nbsp;</td>
</tr>
<tr>
	<td>
		Via onze website heeft u zich ingeschreven voor het {1}. U heeft zich ingeschreven met {2} participaties. U heeft bij uw inschrijving gekozen voor het Identificeren via iDin en betalen via iDeal<br/>
		<br/>
		Via onderstaande stappen kunt u de inschrijving afronden<br/>
		<br/>
		<strong>1)</strong> U heeft zich geindentificeerd via iDin, u hoeft geen verdere stappen te ondernemen voor uw identificatie plicht.<br/>
		<strong>2)</strong> Uw betaling is via iDeal afgerond en hier hoeft u geen actie meer voor te ondernemen*.<br/>
		<br/>
		* Bijgevoegd vindt u een aangemaakt betaalverzoek, deze kunt u gebruiken voor uw administratie.<br/>
		<br/>
	</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>Wij hopen dat het duidelijk is hoe u kunt deelenemen aan {3}. Mocht u vragen hebben kun u natuurlijk contact opnemen met onze medewerkster Mariette van Heyningen (020 670 1265 / participanten@sectie5.nl)</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" style="font-size:14px; font-family:'sans-serif', Helvetica, 'Helvetica Neue', Arial, Gotham; color: #676163;">
<tbody>
<tr>
<td>Met vriendelijke groet | kind regards,</td>
</tr>
<tr>
<td>Sectie5</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="https://www.sectie5.nl" target="_blank"><img src="https://www.sectie5.nl/assets/img/sectie5-logo-ht.png" width="150" height="35" alt=""/></a></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>John M. Keynesplein 5<span style="color: #e7211e"> | </span>1066 EP Amsterdam</td>
</tr>
<tr>
<td><a href="tel:+31206701265" target="_blank" title="Neem contact op"><span style="color: #676163">T +31 (0)20 6701265</span></a></td>
</tr>
<tr>
<td><a href="mailto:participanten@sectie5.nl" target="_blank"><span style="color: #676163">participanten@sectie5.nl</span></a><span style="color: #e7211e"> | </span><a href="https://www.sectie5.nl" target="_blank"><span style="color: #676163">www.sectie5.nl</span></a></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><table cellpadding="0" cellspacing="4">
<tr>
<td><a href="https://www.facebook.com/Sectie5/" target="_blank"><img src="https://www.sectie5.nl/uploads/icon-facebook.png" width="20" height="20" alt=""/></a></td>
<td><a href="https://www.linkedin.com/company/1328364/" target="_blank"><img src="https://www.sectie5.nl/uploads/icon-linkedin.png" width="20" height="20" alt=""/></a></td>
<td><a href="https://twitter.com/Sectie5" target="_blank"><img src="https://www.sectie5.nl/uploads/icon-twitter.png" width="20" height="20" alt=""/></a></td>
</tr>
</table>
<table>
<tr>
<td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</tbody>
</table>
<br />