﻿@using FusionCore.Modules.InstallationManager.Models
@model FusionCore.Modules.InstallationManager.Models.DivisionPersistModel
@{
	Layout = null;
}
<form asp-action="Persist">
<input type="hidden" asp-for="Id"/>
<div class="modal-body">
<div class="row">
<div class="col-sm-8">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-external fa-reorder"></i>
			<div class="mobile_text">Divisie gegevens</div>
			<div class="panel-tools big">
				<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
				</a>
				<a class="btn btn-lg btn-link panel-expand" href="#">
					<i class="fa icon-resize-full"></i>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Divisie</label>
								<input type="text" placeholder="Novi Media" class="form-control" asp-for="Name">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="space_white"></div>
							<h4>Contactpersoon</h4>
							<hr />
							<div class="form-group">
								<label class="control-label">Naam</label>
								<input type="text" placeholder="Peter" class="form-control" asp-for="Firstname">
							</div>
							<div class="form-group">
								<label class="control-label">tussenvoegsel</label>
								<input type="text" placeholder="de" class="form-control" asp-for="Middlename">
							</div>
							<div class="form-group">
								<label class="control-label">Achternaam</label>
								<input type="text" placeholder="Vries" class="form-control" asp-for="Lastname">
							</div>
							<h4>Contact informatie</h4>
							<hr />
							<div class="form-group">
								<label class="control-label">Email</label>
								<span class="input-icon">
									<input type="text" placeholder="info@novimedia.nl" class="form-control" asp-for="Email">
									<i class="fa fa-envelope-square"></i>
								</span>
							</div>
							<div class="form-group">
								<label class="control-label">Telefoon</label>
								<span class="input-icon">
									<input type="text" placeholder="03055669988" class="form-control" asp-for="Phonenumber">
									<i class="fa fa-phone-square"></i>
								</span>
							</div>
							<div class="form-group">
								<label class="control-label">Mobiel</label>
								<span class="input-icon">
									<input type="text" placeholder="0622008899" class="form-control" asp-for="Mobilenumber">
									<i class="fa clip-mobile"></i>
								</span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="space_white"></div>
							<h4>Adres gegevens</h4>
							<hr />
							<div class="form-group">
								<label class="control-label">Adres</label>
								<input type="text" placeholder="Duizendknooplaan 19" class="form-control" asp-for="Address">
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Postcode</label>
										<input class="form-control" placeholder="12345" type="text" asp-for="PostalCode">
									</div>
								</div>
								<div class="col-md-9">
									<div class="form-group">
										<label class="control-label">Woonplaats</label>
										<input class="form-control tooltips" placeholder="London (UK)" type="text" asp-for="City">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Land</label>
								<input type="text" placeholder="the Netherlands" class="form-control" asp-for="Country">
							</div>
							<h4>Overig</h4>
							<hr />
							<div class="form-group">
								<label class="control-label">Website</label>
								<span class="input-icon">
									<input type="text" placeholder="www.novimedia.nl" class="form-control" asp-for="Website">
									<i class="fa clip-globe"></i>
								</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-external fa-reorder"></i>
			<div class="mobile_text">Logo header</div>
			<div class="panel-tools big">
				<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
				</a>
				<a class="btn btn-lg btn-link panel-expand" href="#">
					<i class="fa icon-resize-full"></i>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="form-group">
							<div class="col-sm-12">
								<fileupload
									asp-id="LogoHeaderPictureId"
									asp-value="@Model.LogoHeaderPictureId">
								</fileupload>
							</div>
						</div>
						<div class="col-sm-12 margin-top">
							<div class="alert alert-block alert-info fade in">
								<button data-dismiss="alert" class="close" type="button">&times;</button>
								<h4 class="alert-heading"><i class="fa fa-info-circle"></i> Beeld formaat</h4>
								<p>Formaat van deze afbeelding is maximaal 75 pixels hoog</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-external fa-reorder"></i>
			<div class="mobile_text">Logo footer</div>
			<div class="panel-tools big">
				<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
				</a>
				<a class="btn btn-lg btn-link panel-expand" href="#">
					<i class="fa icon-resize-full"></i>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="form-group">
							<div class="col-sm-12">
								<fileupload
									asp-id="LogoFooterPictureId"
									asp-value="@Model.LogoFooterPictureId">
								</fileupload>
							</div>
						</div>
						<div class="col-sm-12 margin-top">
							<div class="alert alert-block alert-info fade in">
								<button data-dismiss="alert" class="close" type="button">&times;</button>
								<h4 class="alert-heading"><i class="fa fa-info-circle"></i> Beeld formaat</h4>
								<p>Formaat van deze afbeelding is maximaal 20 pixels hoog</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-8">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-external fa-reorder"></i>
			<div class="mobile_text">Email template </div>
			<div class="panel-tools big">
				<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
				</a>
				<a class="btn btn-lg btn-link panel-expand" href="#">
					<i class="fa icon-resize-full"></i>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Afzender</label>
								<input type="text" placeholder="info@novimedia.nl" class="form-control" asp-for="EmailTemplateCustomerEmail">
							</div>
							<div class="form-group">
								<textarea class="summernote" asp-for="EmailTemplateCustomerBody" placeholder="Hier komt de template layout van de mail naar de klanten"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-8">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-external fa-reorder"></i>
			<div class="mobile_text">Email template voor acties</div>
			<div class="panel-tools big">
				<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
				</a>
				<a class="btn btn-lg btn-link panel-expand" href="#">
					<i class="fa icon-resize-full"></i>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Afzender</label>
								<input type="text" placeholder="info@novimedia.nl" class="form-control" asp-for="EmailTemplatePlannerEmail">
							</div>
							<div class="form-group">
								<textarea style="min-width: 100%" class="summernote" asp-for="EmailTemplatePlannerBody" placeholder="Hier komt de template layout van de mail naar de planner"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
	<button type="submit" class="btn btn-primary">Opslaan</button>
</div>
</form>