﻿@model object

<li class="search-box">
	<form asp-controller="Common" asp-action="Search" class="sidebar-search">
		<div class="form-group">
			<input type="text" name="query" placeholder="Start Searching...">
			<button class="submit">
				<i class="clip-search-3"></i>
			</button>
		</div>
	</form>
</li>