﻿@using FusionCore.Modules.InstallationManager.Models
@model FusionCore.Modules.InstallationManager.Models.PlanningPersistModel
@{
	Layout = null;
}
<form asp-action="Persist" id="planningForm">
	<input type="hidden" asp-for="Id" />
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<h4>Planning informatie</h4>
				<hr>
				<div class="form-group">
					<label class="control-label">Offertenummer</label>
					<input type="text" placeholder="877876-00002" class="form-control" asp-for="OfferNumber" />
				</div>
				<div class="form-group">
					<label class="control-label">Date Range Picker</label>
					<div class="input-group">
						<span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
						<input type="text" class="form-control date-range" asp-for="DateString" />
					</div>
				</div>
				<div class="col-md-6 no-padding">
					<div class="form-group">
						<label class="control-label">Starttijd</label>
						<div class="input-group bootstrap-timepicker timepicker">
							<input asp-for="StartTimeString" type="text" class="form-control time-picker" />
							<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 no-padding right">
					<div class="form-group">
						<label class="control-label">Eindtijd</label>
						<div class="input-group bootstrap-timepicker timepicker">
							<input asp-for="EndTimeString" type="text" class="form-control time-picker" />
							<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
						</div>
					</div>
				</div>
				<label class="control-label">Status</label>
				<hr class="no-padding no-margin">
				<div class="form-group">
					<span class="input-icon dropdown_space_page">
						<select class="form-control" asp-for="StatusId" asp-items="@Model.AvailableStatusses"></select>
						<i class="fa fa-reorder"></i>
					</span>
				</div>
				<label class="control-label">Herhalen</label>
				<div class="row">
					<div class="col-md-2" style="top: 2px;">
						<div class="form-group">
							<input type="checkbox" asp-for="Repeatable" data-toggle="toggle" data-size="small" data-onstyle="teal" disabled="@(Model.Id.HasValue ? "disabled" : null)">
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<span class="input-icon dropdown_space_page">
								<select asp-for="RepeatableType" class="form-control" disabled="@(Model.Id.HasValue ? "disabled" : null)">
									<option value="-1">Selecteer</option>
									<option value="1">Wekelijks</option>
									<option value="2">Om de week</option>
									<option value="3">Maandelijks</option>
									<option value="4">Om de maand</option>
									<option value="5">Per kwartaal</option>
									<option value="6">Jaarlijks</option>
								</select>
								<i class="fa clip-calendar"></i>
							</span>
						</div>
					</div>
					<div class="col-md-5 right">
						<div class="form-group">
							<span class="input-icon dropdown_space_page">
								<select asp-for="RepeatableCount" class="form-control" disabled="@(Model.Id.HasValue ? "disabled" : null)">
									<option value="-1">Aantal</option>
									<option value="1">Eenmalig</option>
									<option value="2">2x</option>
									<option value="3">3x</option>
									<option value="4">4x</option>
									<option value="5">5x</option>
									<option value="6">6x</option>
									<option value="7">7x</option>
									<option value="8">8x</option>
									<option value="9">9x</option>
									<option value="10">10x</option>
									<option value="11">11x</option>
									<option value="12">1 jaar</option>
									<option value="24">2 jaar</option>
									<option value="36">3 jaar</option>
								</select>
								<i class="fa fa-calendar-check-o"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2" style="top: 2px;">
						<div class="form-group">
							<input type="checkbox" data-toggle="toggle" data-size="small" data-onstyle="teal" asp-for="CustomColorToggle">
						</div>
					</div>
					<div class="col-md-5">
						<input type="text" class="form-control round-corner custom-color" asp-for="CustomColor" value="rgb(@Model.CustomColor)">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control round-corner" id="" value="" style="background-color:rgb(@Model.CustomColorAssistant);" disabled>
					</div>
				</div>

			</div>
			<div class="col-md-6">
				<h4>&nbsp;</h4>
				<hr>
				<h4>Werknemer</h4>
				<div class="form-group margin-bottom-small">
					<span class="input-icon dropdown_space_page button-backspace-NM">
						<select class="form-control button-backspace-NM" asp-for="MainEmployeeId" asp-items="@Model.AvailablePlanningEmployees">
							<option value="">Selecteer een werknemer</option>
						</select>
						<i class="fa fa-user dark-grey"></i>
					</span>
					<a href="#" class="btn btn-bricky tooltips button-backspace-stack-NM js-remove-mainemployee"><i class="fa fa-times fa fa-white"></i></a>
				</div>
				@for (var i = 0; i < Model.PlanningEmployees.Count; i++)
				{
					<div class="form-group margin-bottom-small">
						<span class="input-icon dropdown_space_page button-backspace-NM">
							<select class="form-control button-backspace-NM" asp-for="@Model.PlanningEmployees[i].EmployeeId" asp-items="@Model.AvailablePlanningEmployees">
								<option value="">Selecteer een werknemer</option>
							</select>
							<i class="fa fa-user-plus"></i>
						</span>
						<a href="#" class="btn btn-bricky tooltips button-backspace-stack-NM js-employee-remove" data-placement="top" data-original-title="Remove">
							<i class="fa fa-times fa fa-white"></i>
						</a>
					</div>
				}
				@{
					Model.PlanningEmployees.Add(new PlanningPersistModel.PlanningEmployeeModel());
				}
				<div class="form-group margin-bottom-small">
					<span class="input-icon dropdown_space_page button-backspace-NM">
						<select class="form-control button-backspace-NM" asp-for="@Model.PlanningEmployees[Model.PlanningEmployees.Count - 1].EmployeeId" asp-items="@Model.AvailablePlanningEmployees">
							<option value="">Selecteer een werknemer</option>
						</select>
						<i class="fa fa-user-plus"></i>
					</span>
					<a href="#" class="btn btn-teal tooltips button-backspace-stack-NM js-employee-add" data-placement="top" data-original-title="Add">
						<i class="fa fa-plus fa fa-white"></i>
					</a>
				</div>
				<div class="space_white_10"></div>
				<h4>Invoer</h4>
				<div class="form-group background-grey">
					<select class="form-control js-loadclients" asp-for="DivisionId" asp-items="Model.AvailableDivisions" data-url="@Url.Action("GetClients")">
						<option value="">Selecteer een Divisie</option>
					</select>
					<div class="space_white_10"></div>
					<select class="form-control search-select js-loadbuildings" asp-for="ClientId" asp-items="Model.AvailableClients" data-url="@Url.Action("GetBuildings")" style="width:100%;">
						<option value="">Selecteer een Opdrachtgever</option>
					</select>
					<div class="space_white_10"></div>
					<select class="form-control js-loadassets" asp-for="BuildingLocationId" asp-items="Model.AvailableBuildingLocations" data-url="@Url.Action("GetAssets")">
						<option value="">Selecteer een Gebouw & Locatie</option>
					</select>
					<div class="space_white_10"></div>
					<select class="form-control js-loadactivities" asp-for="AssetId" asp-items="Model.AvailableAssets" data-url="@Url.Action("GetAssetActivities")">
						<option value="">Selecteer een Asset</option>
					</select>
					<div class="space_white_10"></div>
					<select class="form-control" asp-for="AssetActivityId" asp-items="Model.AvailableAssetActivities">
						<option value="">Selecteer een Activiteit</option>
					</select>
				</div>
			</div>
			<div class="col-md-12">
				<h4>Opmerking</h4>
				<hr>
				<div class="form-group">
					<textarea class="summernote" asp-for="Remark">Deze informatie komt terug als rood uitroepteken in het monteurs overzicht</textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-bricky pull-left js-delete-planning" data-url="@Url.Action("DeleteJson", new { Model.Id})">Verwijderen</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</div>
</form>