@using FusionCore.Modules.InstallationManager.Data.Enums
@using FusionCore.Core.Extensions
@using FusionCore.Modules.InstallationManager.Models
@using FusionCore.Core.Helpers
@model FusionCore.Modules.InstallationManager.Models.PlanningIndexViewModel
@{
	ViewData["Title"] = "Installatie planning beheer";
	Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {
	<link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/jquery.tagsinput/dist/jquery.tagsinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/summernote/dist/summernote.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />

	<link href="~/assets/libs/fullcalendar-scheduler/lib/fullcalendar.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/fullcalendar-scheduler/scheduler.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/qtip/jquery.qtip.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-colorpickersliders/bootstrap.colorpickersliders.css" rel="stylesheet" type="text/css" media="all">

	<style>
		td.fc-widget-content:nth-child(12n+12) {
			border-right: 3px solid #000 !important;
		}

		:not(.fc-resource-area).fc-widget-header:nth-child(12n+12), .fc-day {
			border-right: 3px solid #000 !important;
		}
	</style>
}

@section Scripts {
	<script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
	<script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-maskmoney/dist/jquery.maskMoney.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.tagsinput/src/jquery.tagsinput.js" asp-append-version="true"></script>
	<script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/adapters/jquery.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/pages-user-profile.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
	<script src="~/assets/js/table-data.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jqueryui-touch-punch/jquery.ui.touch-punch.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>
	<script src="~/assets/libs/fullcalendar-scheduler/lib/fullcalendar.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/fullcalendar-scheduler/lib/nl.js" asp-append-version="true"></script>
	<script src="~/assets/libs/fullcalendar-scheduler/scheduler.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/qtip/jquery.qtip.min.js" asp-append-version="true"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/tinycolor/0.11.1/tinycolor.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-colorpickersliders/bootstrap.colorpickersliders.js" asp-append-version="true"></script>


	<script src="~/assets/js/form-calendar.js" asp-append-version="true"></script>
	<script src="@Url.Action("GetJs", "Common", new { filename="Assets.PlanningIndex.js", assemblyName = "FusionCore.Modules.InstallationManager", area = "" })" asp-append-version="true"></script>
	@if (Model.AssetActivity.HasValue)
	{
		<text>
			<script>
				Modals.CreateModal('Planning', '@Url.Action("Get")/?activity=@Model.AssetActivity.Value', 'big', function () {
					$('#calendar').fullCalendar('refetchEvents');
				});
			</script>
		</text>
	}
}

@section PageHeader {
	<ol class="breadcrumb">
		<li>
			<i class="clip-home"></i>
			<a asp-controller="Dashboard" asp-action="Index">&nbsp;Home</a>
		</li>
		<li class="active">Planning edit</li>
		@await Component.InvokeAsync("SearchBox")
	</ol>
	<div class="page-header">
		<span class="pull-right margin-left"><a class="btn btn-primary js-planning-popup-modal js-new-button" data-class="big" data-title="Nieuwe planning" data-url="@Url.Action("Get")"><i class="fa fa-plus"></i> toevoegen</a></span>
		<span class="pull-right margin-left"><a class="btn btn-info" id="js-print" asp-action="Print" asp-controller="Planning" asp-route-weeknumber="@Model.WeekNumber" target="_blank" data-toggle="modal"><i class="fa fa-print"></i> printen</a></span>
		<div class="pull-right dropdown margin-left">
			<a href="#" data-toggle="dropdown" id="js-filters-collaps" class="btn btn-med-grey dropdown-toggle dropdown-enduring" aria-expanded="false">filters <span class="caret"></span></a>
			<div class="dropdown-menu dropdown-menu-NM " role="menu">
				<h4> Filters</h4>
				<form>
					<div class="row">
						<div class="col-xs-4">
							<div class="input-group full-width">
								<select multiple="multiple" id="employee" name="employee" class="form-control" style="height: 263px;" asp-items="Model.AvailableEmployees">
									<option value="">alle Werknemers</option>
								</select>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="input-group full-width">
								<select multiple="multiple" id="group" name="group" class="form-control" style="height: 263px;" asp-items="Model.AvailableGroups">
									<option value="">alle Groepen</option>
								</select>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="input-group full-width">
								<select id="buildingLocationId" name="buildingLocationId" asp-items="@Model.AvailableLocations" class="form-control search-select">
									<option value="">&nbsp;</option>
								</select>
							</div>
						</div>
					</div>
					<div class="divider" style="margin: 15px 0;"></div>
					<div class="row">
						<div class="col-xs-12">
							<button type="button" id="js-filters" class="btn btn-green pull-right"> filters toepassen</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="btn-group pull-right">
			<a href="#" data-toggle="dropdown" class="btn btn-med-grey dropdown-toggle" aria-expanded="false">Week <span id="js-weeknumber">@Model.WeekNumber</span> <span class="caret"></span></a>
			<ul class="dropdown-menu padding-sides" role="menu">
				<li>
					<select size="4" id="js-weeknumber-dropdown" class="form-control">
						@for (int i = 1; i < 53; i++)
						{
							var isSelected = i == Model.WeekNumber;
							if (isSelected)
							{
								<option value="@i" selected="selected">Week @i.ToString("D2")</option>
							}
							else
							{
								<option value="@i">Week @i.ToString("D2")</option>
							}
						}
					</select>
				</li>
				<li class="divider" role="presentation"></li>
				<li>
					<a href="#" id="js-setweeknumber" data-number="@Model.WeekNumber" tabindex="-1" role="menuitem">Huidige week</a>
				</li>
			</ul>
		</div>
		<h1>Planning <small>edit</small></h1>
	</div>
}
<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-12">
			<div id='calendar'
				 data-date="@DateTime.Now.StartOfWeek(DayOfWeek.Monday).ToString("yyyy-MM-dd")"
				 data-urlplanners="@Url.Action("GetPlanners")"
				 data-urlplannings="@Url.Action("GetPlannings")"
				 data-url="@Url.Action("Get")"
				 data-url-calendar="@Url.Action("GetCalendarItem", "Employee")"
				 data-updateurl="@Url.Action("UpdatePlanning")"></div>

		</div>
	</div>
</div>
