@using FusionCore.Modules.InstallationManager.Data.Enums
@using FusionCore.Core.Extensions
@using FusionCore.Modules.InstallationManager.Models
@model FusionCore.Modules.InstallationManager.Models.PlanningOverviewViewModel
@{
	ViewData["Title"] = "Installatie planning overzicht";
	Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {
	<link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/jquery.tagsinput/dist/jquery.tagsinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/summernote/dist/summernote.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/fullcalendar-scheduler/lib/fullcalendar.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/fullcalendar-scheduler/scheduler.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/qtip/jquery.qtip.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-colorpickersliders/bootstrap.colorpickersliders.css" rel="stylesheet" type="text/css" media="all">
}

@section Scripts {
	<script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
	<script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-maskmoney/dist/jquery.maskMoney.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.tagsinput/src/jquery.tagsinput.js" asp-append-version="true"></script>
	<script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/adapters/jquery.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/pages-user-profile.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
	<script src="~/assets/js/table-data.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jqueryui-touch-punch/jquery.ui.touch-punch.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>

	<script src="~/assets/libs/fullcalendar-scheduler/lib/fullcalendar.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/fullcalendar-scheduler/lib/nl.js" asp-append-version="true"></script>
	<script src="~/assets/libs/fullcalendar-scheduler/scheduler.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/qtip/jquery.qtip.min.js" asp-append-version="true"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/tinycolor/0.11.1/tinycolor.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-colorpickersliders/bootstrap.colorpickersliders.js" asp-append-version="true"></script>

	<script src="~/assets/js/form-calendar.js" asp-append-version="true"></script>
	<script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
	<script src="@Url.Action("GetJs", "Common", new { filename="Assets.ClientIndex.js", assemblyName = "FusionCore.Modules.InstallationManager", area = "" })" asp-append-version="true"></script>
	<script src="@Url.Action("GetJs", "Common", new { filename="Assets.BuildingIndex.js", assemblyName = "FusionCore.Modules.InstallationManager", area = "" })" asp-append-version="true"></script>
	<script src="@Url.Action("GetJs", "Common", new { filename="Assets.PlanningIndex.js", assemblyName = "FusionCore.Modules.InstallationManager", area = "" })" asp-append-version="true"></script>
	<script>
		jQuery(document).ready(function() {
			$('#planning').DataTable({
				"pagingType": "full_numbers",
				'stateSave': true,
				"order": [[0, "desc"]],
				"processing": true,
				"serverSide": true,
				"filter": true,
				"orderMulti": false,
				'searchDelay': 500,
				"ajax": "@Url.Action("DataTable")",
				"columns": [
					{ "data": "date" },
					{ "data": "offernumber" },
					{ "data": "activity" },
					{ "data": "building" },
					{ "data": "status" },
					{ "data": "employee" },
					{ "data": "buttons" }
				],
				"columnDefs": [
					{
						"className": "hidden-xs",
						"targets": 0
					},
					{
						"className": "hidden-xs",
						"targets": 2
					}, {
						"className": "hidden-xs",
						"targets": 3
					}, {
						"className": "hidden-xs",
						"targets": 4
					}, {
						"className": "hidden-xs",
						"targets": 5
					}, {
						"render": function(data, type, row) {
							var returnValue = "";
							var modalProperties = " data-title=\"" +
								row.offernumber +
								"\" data-url=\"@Url.Action("Get")/" +
								row.id +
								"\" data-class=\"big\"";
							var deleteUrl = "@Url.Action("Delete")/" + row.id;

							returnValue += '<div class="visible-md visible-lg hidden-sm hidden-xs">\n';
							returnValue += '<a href="#" data-toggle="modal" class="btn btn-teal tooltips js-popup-modal" ' + modalProperties + 'data-placement="top" data-original-title="Edit planning" title="Edit planning"><i class="fa fa-calendar"></i></a>\n';
							returnValue += '<a href="#" data-toggle="modal" class="btn btn-teal tooltips js-popup-modal" data-title="'+row.clientName+'" data-url="@Url.Action("Get","Client")/'+row.clientId+'" data-class="super" data-placement="top" data-original-title="Edit opdrachtgever" title="Edit opdrachtgever"><i class="clip-user-5"></i></a>\n';
							returnValue += '<a href="#" data-toggle="modal" class="btn btn-teal tooltips js-popup-modal" data-title="'+row.building+'" data-url="@Url.Action("Get","Building")/'+row.buildingId+'" data-class="super" data-placement="top" data-original-title="Edit gebouw" title="Edit gebouw"><i class="fa fa-building-o"></i></a>\n';
							returnValue += '<a href="' + deleteUrl +'" class="btn btn-bricky tooltips js-modal-delete" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>\n';
							returnValue += '</div>\n';
							returnValue += '<div class="visible-xs visible-sm hidden-md hidden-lg">\n';
							returnValue += '<div class="btn-group">\n';
							returnValue += '<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>\n';
							returnValue += '<ul role="menu" class="dropdown-menu pull-right">\n';
							returnValue += '<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-popup-modal" ' + modalProperties + ' data-toggle="modal"><i class="fa fa-calendar"></i> Planning</a></li>\n';
							returnValue += '<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-popup-modal" data-title="' + row.clientName + '" data-url="@Url.Action("Get","Client")/' + row.clientId +'" data-class="super" data-toggle="modal"><i class="clip-user-5"></i> Opdrachtgever</a></li>\n';
							returnValue += '<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-popup-modal" data-title="'+row.building+'" data-url="@Url.Action("Get","Building")/'+row.buildingId+'" data-class="super" data-toggle="modal"><i class="fa fa-building-o"></i> Gebouw</a></li>\n';
							returnValue += '<li role="presentation"><a role="menuitem" tabindex="-1" href="' + deleteUrl +'" class="js-modal-delete"><i class="fa fa-times"></i> Verwijderen</a></li>\n';
							returnValue += '</ul>\n';
							returnValue += '</div>\n';
							returnValue +='</div>';

							return returnValue;
						},
						className: "center",
						"targets": 6 ,
						"orderable": false
					}
				]
			});
		});
	</script>
}

@section PageHeader {
	<ol class="breadcrumb">
		<li>
			<i class="clip-home"></i>
			<a asp-controller="Dashboard" asp-action="Index">&nbsp;Home</a>
		</li>
		<li class="active">Planning overzicht</li>
		@await Component.InvokeAsync("SearchBox")
	</ol>
	<div class="page-header">
		<span class="pull-right"><a class="btn btn-primary js-popup-modal js-new-button" data-class="big" data-title="Nieuwe planning" data-url="@Url.Action("Get")"><i class="fa fa-plus"></i> toevoegen</a></span>
		<h1>Planning <small>overzicht</small></h1>
	</div>
}
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-reorder"></i><div class="mobile_text">Planning overzicht</div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
					<a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#planning" href="#"> <i class="fa fa-refresh"></i> </a>
					<a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered table-hover table-full-width" id="planning">
					<thead>
						<tr>
							<th class="hidden-xs">Datum</th>
							<th> Offertenummer</th>
							<th class="hidden-xs"> Activiteit</th>
							<th class="hidden-xs"> Gebouw</th>
							<th class="hidden-xs"> Status</th>
							<th class="hidden-xs"> Werknemer</th>
							<th class="center">Edit</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

