@using FusionCore.Modules.InstallationManager.Models
@model FusionCore.Modules.InstallationManager.Models.ClientPersistModel
@{
	Layout = null;
}
<form asp-action="Persist">
<input type="hidden" asp-for="Id"/>
<div class="modal-body">
<div class="row">
<div class="col-sm-8">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-external fa-reorder"></i>
			<div class="mobile_text">Opdrachtgevers informatie</div>
			<div class="panel-tools big">
				<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
				</a>
				<a class="btn btn-lg btn-link panel-expand" href="#">
					<i class="fa icon-resize-full"></i>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div id="panel_edit_account" class="tab-pane">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Opdrachtgever</label>
									<input type="text" placeholder="Novi Media" class="form-control" asp-for="Name"/>
								</div>
								<label class="control-label">Divisies</label>
								@for (var i = 0; i < Model.ClientDivisions.Count; i++)
								{
									<div class="form-group">
										<span class="input-icon dropdown_space_page button-backspace-NM">
											<select class="form-control button-backspace-NM" asp-for="@Model.ClientDivisions[i].DivisionId" asp-items="@Model.AvailableDivisions">
												<option value="">Selecteer een divisie</option>
											</select>
											<i class="fa fa-building"></i>
										</span>
										<a href="#" class="btn btn-bricky tooltips button-backspace-stack-NM js-division-remove" data-placement="top" data-original-title="Remove">
											<i class="fa fa-times fa fa-white"></i>
										</a>
									</div>
								}
								@{
									Model.ClientDivisions.Add(new ClientDivisionModel());
								}
								<div class="form-group">
									<span class="input-icon dropdown_space_page button-backspace-NM">
										<select class="form-control button-backspace-NM" asp-for="@Model.ClientDivisions[Model.ClientDivisions.Count - 1].DivisionId" asp-items="@Model.AvailableDivisions">
											<option value="">Selecteer een divisie</option>
										</select>
										<i class="fa fa-building"></i>
									</span>
									<a href="#" class="btn btn-teal tooltips button-backspace-stack-NM js-division-add" data-placement="top" data-original-title="Add">
										<i class="fa fa-plus fa fa-white"></i>
									</a>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="space_white"></div>
								<h4>Contactpersoon</h4>
								<hr />
								<div class="form-group">
									<label class="control-label">Naam</label>
									<input type="text" placeholder="Peter" class="form-control" asp-for="Firstname"/>
								</div>
								<div class="form-group">
									<label class="control-label">tussenvoegsel</label>
									<input type="text" placeholder="de" class="form-control" asp-for="Middlename"/>
								</div>
								<div class="form-group">
									<label class="control-label">Achternaam</label>
									<input type="text" placeholder="Vries" class="form-control" asp-for="Lastname">
								</div>
								<h4>Contact informatie</h4>
								<hr />
								<div class="form-group">
									<label class="control-label">Email</label>
									<span class="input-icon">
										<input type="text" placeholder="info@novimedia.nl" class="form-control" asp-for="Email"/>
										<i class="fa fa-envelope-square"></i>
									</span>
								</div>
								<div class="form-group">
									<label class="control-label">Telefoon</label>
									<span class="input-icon">
										<input type="text" placeholder="03055669988" class="form-control" asp-for="Phonenumber"/>
										<i class="fa fa-phone-square"></i>
									</span>
								</div>
								<div class="form-group">
									<label class="control-label">Mobiel</label>
									<span class="input-icon">
										<input type="text" placeholder="0622008899" class="form-control" asp-for="Mobilenumber"/>
										<i class="fa clip-mobile"></i>
									</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="space_white"></div>
								<h4>Adres gegevens</h4>
								<hr />
								<div class="form-group">
									<label class="control-label">Adres</label>
									<input type="text" placeholder="Duizendknooplaan 19" class="form-control" asp-for="Address"/>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<label class="control-label">Postcode</label>
											<input class="form-control" placeholder="12345" type="text" asp-for="PostalCode"/>
										</div>
									</div>
									<div class="col-md-9">
										<div class="form-group">
											<label class="control-label">Woonplaats</label>
											<input class="form-control tooltips" placeholder="London (UK)" type="text" title="" asp-for="City"/>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Land</label>
									<input type="text" placeholder="the Netherlands" class="form-control" asp-for="Country"/>
								</div>
								<h4>Overig</h4>
								<hr />
								<div class="form-group">
									<label class="control-label">Website</label>
									<span class="input-icon">
										<input type="text" placeholder="www.novimedia.nl" class="form-control" asp-for="Website"/>
										<i class="fa clip-globe"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-external fa-reorder"></i>
			<div class="mobile_text">Pagina instellingen</div>
			<div class="panel-tools big">
				<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
				</a>
				<a class="btn btn-lg btn-link panel-expand" href="#">
					<i class="fa icon-resize-full"></i>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<input type="checkbox" data-toggle="toggle" data-onstyle="teal" asp-for="Active">&nbsp;&nbsp; Activiteit
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-external fa-reorder"></i>
			<div class="mobile_text">Bedrijfs Logo</div>
			<div class="panel-tools big">
				<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
				<a class="btn btn-lg btn-link panel-expand" href="#">
					<i class="fa icon-resize-full"></i>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="form-group">
							<div class="col-sm-12">
								<fileupload
									asp-id="CompanyLogoPictureId"
									asp-value="@Model.CompanyLogoPictureId">
								</fileupload>
							</div>
						</div>
						<div class="col-sm-12 margin-top">
							<div class="alert alert-block alert-info fade in">
								<button data-dismiss="alert" class="close" type="button">&times;</button>
								<h4 class="alert-heading"><i class="fa fa-info-circle"></i> Beeld formaat</h4>
								<p>Formaat van deze afbeelding is maximaal 75 pixels hoog</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	@if (Model.Id.HasValue)
	{
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external fa-reorder"></i>
				<div class="mobile_text">Gebruikers</div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
					<a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#clientusers" href="#"><i class="fa fa-refresh"></i></a>
					<a class="btn btn-lg btn-link panel-expand" href="#">
						<i class="fa icon-resize-full"></i>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-full-width" id="clientusers">
					<thead>
					<tr>
						<th>Naam</th>
						<th class="center">Edit</th>
					</tr>
					</thead>
				</table>
				<hr class="no-margin-top">
				<span class="pull-right">
					<a class="btn btn-primary js-popupuser-modal" href="#" data-class="" data-title="Nieuwe gebruiker" data-url="@Url.Action("GetClientUser", new {clientId = Model.Id})"><i class="fa fa-plus"></i> toevoegen</a>
				</span>
			</div>
		</div>
	}
</div>
</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
	<button type="submit" class="btn btn-primary">Opslaan</button>
</div>
</form>
<script>
	jQuery(document).ready(function() {
		$('#clientusers').DataTable({
			'stateSave': true,
			"processing": true,
			"serverSide": true,
			"filter": false,
			"orderMulti": false,
			"ajax": "@Url.Action("DataTableClientUsers", new {clientId = Model.Id})",
			"columns": [
				{ "data": "name" },
				{ "data": "buttons" }
			],
			"columnDefs": [
				{
					"render": function(data, type, row) {
						var returnValue = "";
						var modalProperties = " data-title=\"" +
							row.name +
							"\" data-url=\"@Url.Action("GetClientUser")/" +
							row.id +
							"\" data-class=\"\"";
						var deleteUrl = "@Url.Action("DeleteClientUser")/" + row.id;
						returnValue += "<div class=\"visible-md visible-lg hidden-sm hidden-xs\">\n";
						returnValue +=
							"<a href=\"#panel-gebruiker-edit\" class=\"btn btn-teal tooltips js-popup-modal-custom\" " +
							modalProperties +
							" data-placement=\"top\" data-original-title=\"Edit\"><i class=\"fa fa-edit\"></i></a>\n";
						returnValue +=
							"<a href=\"" +
							deleteUrl +
							"\" class=\"btn btn-bricky tooltips js-modal-delete\" data-placement=\"top\" data-original-title=\"Remove\"><i class=\"fa fa-times fa fa-white\"></i></a>\n";
						returnValue += "</div>\n";
						returnValue += "<div class=\"visible-xs visible-sm hidden-md hidden-lg\">\n";
						returnValue += "<div class=\"btn-group\">\n";
						returnValue +=
							"<a class=\"btn btn-primary dropdown-toggle btn-sm\" data-toggle=\"dropdown\" href=\"#\"><i class=\"fa fa-cog\"></i> <span class=\"caret\"></span></a>\n";
						returnValue += "<ul role=\"menu\" class=\"dropdown-menu pull-right\">\n";
						returnValue +=
							"<li role=\"presentation\"><a role=\"menuitem\" href=\"#\" class=\"js-popup-modal-custom\" " +
							modalProperties +
							"><i class=\"fa fa-edit\"></i> Edit</a></li>\n";
						returnValue +=
							"<li role=\"presentation\"><a role=\"menuitem\" href=\"" +
							deleteUrl +
							"\" class=\"js-modal-delete\"><i class=\"fa fa-times\"></i> Remove</a></li>\n";
						returnValue += "</ul>\n";
						returnValue += "</div>\n";
						returnValue += "</div>\n";

						return returnValue;
					},
					className: "center",
					"targets": 1,
					"orderable": false
				}
			]
		});
	});
</script>