﻿@using FusionCore.Modules.InstallationManager.Models
@model FusionCore.Modules.InstallationManager.Models.ClientUserPersistModel
@{
	Layout = null;
}
<form asp-action="PersistClientUser">
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="ClientId" />
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-external fa-reorder"></i>
						<div class="mobile_text">Gebruikers informatie</div>
						<div class="panel-tools big">
							<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
							<a class="btn btn-lg btn-link panel-expand" href="#">
								<i class="fa icon-resize-full"></i>
							</a>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
								<div id="panel_edit_account" class="tab-pane">
									<div class="row">
										<div class="col-sm-12">
											<div class="space_white"></div>
											<div class="form-group">
												<label class="control-label">Naam</label>
												<input type="text" placeholder="Peter" class="form-control" asp-for="Firstname">
											</div>
											<div class="form-group">
												<label class="control-label">tussenvoegsel</label>
												<input type="text" placeholder="de" class="form-control" asp-for="Middlename">
											</div>
											<div class="form-group">
												<label class="control-label">Achternaam</label>
												<input type="text" placeholder="Vries" class="form-control" asp-for="Lastname">
											</div>
											<div class="space_white"></div>
											<h4>Login informatie</h4>
											<hr />
											<div class="form-group">
												<label class="control-label">Gebruikersnaam</label>
												<span class="input-icon">
													<input type="text" placeholder="gebruikersnaam" class="form-control" asp-for="Username">
													<i class="fa fa-user"></i>
												</span>
											</div>
											<div class="form-group">
												<label class="control-label">Wachtwoord</label>
												<span class="input-icon">
													<input type="password" placeholder="wachtwoord" class="form-control" asp-for="Password">
													<i class="fa fa-lock"></i>
												</span>
											</div>
											<div class="form-group">
												<label class="control-label">Wachtwoord controle</label>
												<span class="input-icon">
													<input type="password" placeholder="wachtwoord controle" class="form-control" asp-for="PasswordControle">
													<i class="fa fa-lock"></i>
												</span>
											</div>
											<hr />
											<div class="row">
												<div class="col-md-12">
													<input type="checkbox" asp-for="Active" data-toggle="toggle" data-onstyle="teal">&nbsp;&nbsp; Activiteit
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" @Html.Raw(!Model.Id.HasValue || Model.Id == 0 ? "style=\"display:none;\"" : "")>
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-external fa-reorder"></i>
						<div class="mobile_text">Bestandstoegang</div>
						<div class="panel-tools big">
							<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
							<a class="btn btn-lg btn-link panel-expand" href="#">
								<i class="fa icon-resize-full"></i>
							</a>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12" id="accordion">
									@{
										Model.ClientUserRights.Add(new ClientUserRightModel());
									}
									@for (var i = 0; i < Model.ClientUserRights.Count; i++)
									{
										var right = Model.ClientUserRights[i];
										var isLastItem = i == (Model.ClientUserRights.Count - 1);
										var value = "collapse" + new Random().Next(0, 99999);
										if (isLastItem)
										{
											@:<div class="js-dummy" data-id="@value" style="display:none">
											}
											<div class="panel-group">
												<div class="panel panel-default">
													<div class="panel-heading padding-left-small">
														<a data-toggle="collapse" data-parent="#accordion" href="#@value" class="link-collapse text-resp"><i class="fa fa-arrow-down"></i> @Model.ClientName - Alle bestanden</a>
														<a href="#" class="btn btn-bricky tooltips pull-right js-clientuserright-delete" style="margin-right: -14px; margin-top: -9px;" data-placement="top" data-original-title="Remove">
															<i class="fa fa-times fa fa-white"></i>
														</a>
													</div>
													<div id="@value" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="col-md-12">
																<div class="form-group">
																	<div class="row">
																		<div class="col-md-12">
																			<label class="control-label">Bedrijf</label>
																		</div>
																		<div class="col-md-7">
																			<input type="text" placeholder="@Model.ClientName" class="form-control" id="Model.ClientName" name="Model.ClientName" disabled>
																		</div>
																		<div class="col-md-5">
																			<input name="ClientUserRights[@i].AllBuildings" type="checkbox" value="true" @Html.Raw(!right.BuildingId.HasValue ? "checked" : "") @Html.Raw(!isLastItem ? "data-toggle=\"toggle\" data-size=\"normal\"" : "") class="js-chk-allcompany @(isLastItem ? "js-dummy-input" : "") @(isLastItem ? "js-dummy-checkbox" : "") ignore"/>&nbsp;&nbsp;&nbsp;Alle bestanden
																			<input name="ClientUserRights[@i].AllBuildings" type="hidden" value="false" />
																		</div>
																	</div>
																</div>
																<div class="form-group">
																	<div class="row">
																		<div class="col-md-12">
																			<label class="control-label">Gebouw</label>
																		</div>
																		<div class="col-md-7">
																			<span class="input-icon dropdown_space_page">
																				<select asp-for="@Model.ClientUserRights[i].BuildingId" class="form-control js-building @(isLastItem ? "js-dummy-input":"")" data-url="@Url.Action("GetLocations", "Client")">
																					<option value="">Selecteer een gebouw</option>
																					@foreach (var item in Model.AvailableBuildings)
																					{
																						<option value="@item.Value">@item.Text</option>
																					}
																				</select>
																				<i class="fa fa-building"></i>
																				<input type="hidden" asp-for="@Model.ClientUserRights[i].Id" class=" @(isLastItem ? "js-dummy-input":"")"/>
																			</span>
																		</div>
																		<div class="col-md-5">
																			<input name="ClientUserRights[@i].AllLocations" type="checkbox" value="true" @Html.Raw(!right.BuildingLocationId.HasValue ? "checked" : "") @Html.Raw(!isLastItem ? "data-toggle=\"toggle\" data-size=\"normal\"" : "") class="js-chk-allbuilding @(isLastItem ? "js-dummy-input" : "") @(isLastItem ? "js-dummy-checkbox" : "") ignore"/>&nbsp;&nbsp;&nbsp;Alle bestanden
																			<input name="ClientUserRights[@i].AllLocations" type="hidden" value="false" />
																		</div>
																	</div>
																</div>
																<div class="form-group">
																	<div class="row">
																		<div class="col-md-12">
																			<label class="control-label">Locatie</label>
																		</div>
																		<div class="col-md-7">
																			<span class="input-icon dropdown_space_page">
																				<select asp-for="@Model.ClientUserRights[i].BuildingLocationId" class="form-control js-location @(isLastItem ? "js-dummy-input":"")" data-oldvalue="@Model.ClientUserRights[i].BuildingLocationId">
																					<option value="">Selecteer een locatie</option>

																				</select>
																				<i class="fa fa-map-marker"></i>
																			</span>
																		</div>
																		<div class="col-md-5"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											if (isLastItem)
											{
											@:</div>
										}
									}
							</div>
						</div>
						<hr class="no-margin-top">
						<div class="row">
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								<span class="pull-right">
									<a class="btn btn-primary" href="#" id="js-addClientUserRight"><i class="fa fa-plus"></i> toevoegen</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</div>
</form>