@model object
@{
	ViewData["Title"] = "Installatie opdrachtgevers overzicht";
	Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {
	<link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
	<script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
	<script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-maskmoney/dist/jquery.maskMoney.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.tagsinput/src/jquery.tagsinput.js" asp-append-version="true"></script>
	<script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/adapters/jquery.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
	<script src="~/assets/js/table-data.js" asp-append-version="true"></script>
	<script src="~/assets/js/pages-user-profile.js" asp-append-version="true"></script>
	<script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
	<script src="@Url.Action("GetJs", "Common", new { filename="Assets.ClientIndex.js", assemblyName = "FusionCore.Modules.InstallationManager", area = "" })" asp-append-version="true"></script>
	<script>
		jQuery(document).ready(function () {

			$('#client').DataTable({
				'stateSave': true,
				"processing": true,
				"serverSide": true,
				"filter": true,
				"orderMulti": false,
				"ajax": "@Url.Action("DataTable")",
				"columns": [
					{ "data": "name" },
					{ "data": "contact" },
					{ "data": "phonenumber" },
					{ "data": "buttons" }
				],
				"columnDefs": [
					{
						"className": "hidden-xs",
						"targets": 1
					}, {
						"className": "hidden-xs",
						"targets": 2
					}, {
						"render": function(data, type, row) {
							var returnValue = "";
							var modalProperties = " data-title=\"" +
								row.name +
								"\" data-url=\"@Url.Action("Get")/" +
								row.id +
								"\" data-class=\"super\"";
							var deleteUrl = "@Url.Action("Delete")/" + row.id;
							returnValue += "<div class=\"visible-md visible-lg hidden-sm hidden-xs\">\n";
							returnValue +=
								"<a href=\"#panel-gebruiker-edit\" class=\"btn btn-teal tooltips js-popup-modal\" " +
								modalProperties +
								" data-placement=\"top\" data-original-title=\"Edit\"><i class=\"fa fa-edit\"></i></a>\n";
							returnValue +=
								"<a href=\"" +
								deleteUrl +
								"\" class=\"btn btn-bricky tooltips js-modal-delete\" data-placement=\"top\" data-original-title=\"Remove\"><i class=\"fa fa-times fa fa-white\"></i></a>\n";
							returnValue += "</div>\n";
							returnValue += "<div class=\"visible-xs visible-sm hidden-md hidden-lg\">\n";
							returnValue += "<div class=\"btn-group\">\n";
							returnValue +=
								"<a class=\"btn btn-primary dropdown-toggle btn-sm\" data-toggle=\"dropdown\" href=\"#\"><i class=\"fa fa-cog\"></i> <span class=\"caret\"></span></a>\n";
							returnValue += "<ul role=\"menu\" class=\"dropdown-menu pull-right\">\n";
							returnValue +=
								"<li role=\"presentation\"><a role=\"menuitem\" href=\"#\" class=\"js-popup-modal\" " +
								modalProperties +
								"><i class=\"fa fa-edit\"></i> Edit</a></li>\n";
							returnValue +=
								"<li role=\"presentation\"><a role=\"menuitem\" href=\"" +
								deleteUrl +
								"\" class=\"js-modal-delete\"><i class=\"fa fa-times\"></i> Remove</a></li>\n";
							returnValue += "</ul>\n";
							returnValue += "</div>\n";
							returnValue += "</div>\n";

							return returnValue;
						},
						className: "center",
						"targets": 3,
						"orderable": false
					}
				]
			});
		});
		function RenumberClientDivisions() {
			var dropdowns = $("select[name^='ClientDivisions']");
			dropdowns.each(function(index) {
				$(this).attr('name', 'ClientDivisions[' + index + '].DivisionId');
			});
		}
	</script>
}

@section PageHeader {
	<ol class="breadcrumb">
		<li>
			<i class="clip-home"></i><a asp-controller="Dashboard" asp-action="Index">&nbsp;Home</a>
		</li>
		<li class="active">Opdrachtgevers overzicht</li>
		@await Component.InvokeAsync("SearchBox")
	</ol>
	<div class="page-header">
		<span class="pull-right">
			<a class="btn btn-primary js-popup-modal js-new-button" data-class="super" data-title="Nieuwe opdrachtgever" data-url="@Url.Action("Get")"><i class="fa fa-plus"></i> toevoegen</a>
		</span>
		<h1> Opdrachtgevers <small>overzicht</small></h1>
	</div>

}

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external fa-reorder"></i>
				<div class="mobile_text">Overzicht</div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
					<a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#client" href="#"><i class="fa fa-refresh"></i></a>
					<a class="btn btn-lg btn-link panel-expand" href="#">
						<i class="fa icon-resize-full"></i>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered table-hover table-full-width" id="client">
					<thead>
						<tr>
							<th>Naam</th>
							<th class="hidden-xs"> Contactpersoon</th>
							<th class="hidden-xs"> Telefoon</th>
							<th class="center">Edit</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>