﻿@using FusionCore.Modules.InstallationManager.Data.Enums
@using FusionCore.Modules.InstallationManager.Models
@model FusionCore.Modules.InstallationManager.Models.EmployeePersistModel
@{
	Layout = null;
}
<form asp-action="Persist">
<input type="hidden" asp-for="Id" />
<div class="modal-body">
<div class="row">
<div class="col-sm-6 no-padding">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external fa-reorder"></i><div class="mobile_text">Werknemer gegevens</div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
					<a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<div id="panel_edit_account" class="tab-pane">
							<div class="row">
								<div class="col-md-6">
									<h4>Gebruikers informatie</h4>
									<hr />
									<div class="form-group">
										<label class="control-label">Naam</label>
										<input type="text" placeholder="Peter" class="form-control" asp-for="Firstname">
									</div>
									<div class="form-group">
										<label class="control-label">tussenvoegsel</label>
										<input type="text" placeholder="de" class="form-control" asp-for="Middlename">
									</div>
									<div class="form-group">
										<label class="control-label">Achternaam</label>
										<input type="text" placeholder="Vries" class="form-control" asp-for="Lastname">
									</div>
									<h4>Contact informatie</h4>
									<hr />
									<div class="form-group">
										<label class="control-label">Email</label>
										<span class="input-icon">
											<input type="text" placeholder="info@novimedia.nl" class="form-control" asp-for="Email">
											<i class="fa fa-envelope-square"></i>
										</span>
									</div>
									<div class="form-group">
										<label class="control-label">Telefoon</label>
										<span class="input-icon">
											<input type="text" placeholder="03055669988" class="form-control" asp-for="Phonenumber">
											<i class="fa fa-phone-square"></i>
										</span>
									</div>
									<div class="form-group">
										<label class="control-label">Mobiel</label>
										<span class="input-icon">
											<input type="text" placeholder="0622008899" class="form-control" asp-for="Mobilenumber">
											<i class="fa clip-mobile"></i>
										</span>
									</div>
									<div class="form-group">
										<label class="control-label">Navision nummer</label>
										<span class="input-icon">
											<input type="text" placeholder="123123" class="form-control" asp-for="NavisionNumber">
											<i class="fa clip-mobile"></i>
										</span>
									</div>
								</div>
								<div class="col-md-6">
									<h4>Adres gegevens</h4>
									<hr />
									<div class="form-group">
										<label class="control-label">Adres</label>
										<input type="text" placeholder="Duizendknooplaan 19" class="form-control" asp-for="Address">
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Postcode</label>
												<input class="form-control" placeholder="12345" type="text" asp-for="PostalCode">
											</div>
										</div>
										<div class="col-md-9">
											<div class="form-group">
												<label class="control-label">Woonplaats</label>
												<input class="form-control tooltips" placeholder="London (UK)" type="text" asp-for="City">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Land</label>
										<input type="text" placeholder="the Netherlands" class="form-control" asp-for="Country">
									</div>
									<h4>Inlog gegevens</h4>
									<hr />
									<div class="form-group">
										<label class="control-label">Gebruikersnaam</label>
										<span class="input-icon">
											<input type="text" placeholder="gebruikersnaam" class="form-control" asp-for="Username">
											<i class="fa fa-user"></i>
										</span>
									</div>
									<div class="form-group">
										<label class="control-label">Wachtwoord</label>
										<span class="input-icon">
											<input type="password" placeholder="wachtwoord" class="form-control" asp-for="Password">
											<i class="fa fa-lock"></i>
										</span>
									</div>
									<div class="form-group">
										<label class="control-label">Wachtwoord controle</label>
										<span class="input-icon">
											<input type="password" placeholder="wachtwoord controle" class="form-control" asp-for="PasswordControle">
											<i class="fa fa-lock"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external fa-reorder"></i><div class="mobile_text">Werknemer instellingen</div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
					<a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<div id="panel_edit_account-2" class="tab-pane">
							<div class="row">
								<div class="col-md-6">
									<h4>Functie</h4>
									<span class="input-icon dropdown_space">
										<select asp-for="EmployeeFunction" class="form-control">
											<option value="" selected>Selecteer een functie</option>
											<option value="@(EmployeeFunction.Employee)">Werknemer</option>
											<option value="@(EmployeeFunction.Planner)">Planner</option>
										</select>
										<i class="fa fa-eye"></i>
									</span>
								</div>
								<div class="col-md-6">
									<h4>Groep</h4>
									@for (var i = 0; i < Model.Employee2EmployeeGroups.Count; i++)
									{
										<div class="form-group margin-bottom-small">
											<span class="input-icon dropdown_space button-backspace-NM">
												<select class="form-control button-backspace-NM" asp-for="@Model.Employee2EmployeeGroups[i].EmployeeGroupId" asp-items="@Model.AvailableEmployeeGroups">
													<option value="">Selecteer een groep</option>

												</select>
												<i class="fa fa-suitcase"></i>
											</span>
											<a href="#" class="btn btn-bricky tooltips button-backspace-stack-NM js-employeegroup-remove" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
										</div>
									}
									@{
										Model.Employee2EmployeeGroups.Add(new Employee2EmployeeGroupModel());
									}
									<div class="form-group margin-bottom-small">
										<span class="input-icon dropdown_space button-backspace-NM">
											<select class="form-control button-backspace-NM" asp-for="@Model.Employee2EmployeeGroups[Model.Employee2EmployeeGroups.Count - 1].EmployeeGroupId" asp-items="@Model.AvailableEmployeeGroups">
												<option value="" selected>Selecteer een groep</option>
											</select>
											<i class="fa fa-suitcase"></i>
										</span>
										<a href="#" class="btn btn-teal tooltips button-backspace-stack-NM js-employeegroup-add" data-placement="top" data-original-title="Add"><i class="fa fa-plus fa fa-white"></i></a>
									</div>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-md-12">
									<input type="checkbox" asp-for="Active" data-toggle="toggle" data-onstyle="teal">&nbsp;&nbsp; Activiteit
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-external fa-reorder"></i><div class="mobile_text">Vrije dagen agenda</div>
			<div class="panel-tools big">
				<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
				<a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12 margin-bottom">
					<div id='calendar' data-updateurl="@Url.Action("UpdateCalenderItems")" data-items="@Url.Action("GetCalendarItems", new {EmployeeId = Model.Id})" data-url="@Url.Action("GetCalendarItem", new {EmployeeId = Model.Id})"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<span class="pull-right"><a class="btn btn-primary js-custom-popup-modal" href="#"><i class="fa fa-plus"></i> toevoegen</a></span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
	<button type="submit" class="btn btn-primary">Opslaan</button>
</div>
</form>
<script>
	$(function() {
		setTimeout(function() {
				Calendar.init();
			},
			700);
		$(".js-custom-popup-modal").off();
		$("body").on('click', ".js-custom-popup-modal", createAddPopup);
	});

	function createAddPopup() {
		Modals.CreateModal("Agenda item",
			'@Url.Action("GetCalendarItem", "Employee", new {EmployeeId = Model.Id})',
			"",
			function() {
				$("#calendar").fullCalendar('refetchEvents');
			});
	}

</script>