﻿@using FusionCore.Core.Extensions
@using FusionCore.Modules.InstallationManager.Data.Enums
@using FusionCore.Modules.InstallationManager.Models
@model FusionCore.Modules.InstallationManager.Models.CalendarItemPersistModel
@{
	Layout = null;
}
<form asp-action="PersistCalendarItem">
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="EmployeeId" />
	<div class="modal-body">
		<div class="form-group">
			<label class="control-label">Onderwerp</label>
			<input type="text" placeholder="Wegens enkel blessure tijdelijk niet beschikbaar" class="form-control" asp-for="Subject" />
		</div>
		<div class="form-group">
			<label class="control-label">Date Range Picker</label>
			<div class="input-group">
				<span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
				<input type="text" class="form-control date-range" asp-for="DateString">
			</div>
		</div>
		<div class="col-md-6 no-padding">
			<div class="form-group">
				<label class="control-label">Starttijd</label>
				<div class="input-group bootstrap-timepicker timepicker">
					<input asp-for="StartTimeString" type="text" class="form-control time-picker" />
					<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
				</div>
			</div>
		</div>
		<div class="col-md-6 no-padding right">
			<div class="form-group">
				<label class="control-label">Eindtijd</label>
				<div class="input-group bootstrap-timepicker timepicker">
					<input asp-for="EndTimeString" type="text" class="form-control time-picker" />
					<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<input type="checkbox" data-toggle="toggle" data-onstyle="teal" asp-for="WholeDay" />&nbsp;&nbsp; Hele dag
		</div>
		<div class="form-group">
			<label class="control-label">Status</label>
			<span class="input-icon dropdown_space_page">
				<select class="form-control" asp-for="CalendarStatus">
					<option value="">Selecteer een Status</option>
					@foreach (var item in (CalendarStatus[]) Enum.GetValues(typeof(CalendarStatus)))
					{
						<option value="@((int)item)">@item.GetStringValue()</option>
					}
				</select>
				<i class="fa fa-reorder"></i>
			</span>
		</div>
		<div class="form-group">
			<label class="control-label">Omschrijving</label>
			<textarea class="summernote" asp-for="Remark">Deze omschrijving is om meer informatie te geven over de reden van afwezigheid</textarea>
		</div>
	</div>
	<div class="modal-footer">
		@if (Model.Id.HasValue)
		{
			<button type="button" class="btn btn-danger js-custom-popup-modal-delete" data-id="@Model.Id"><i class="fa fa-trash"></i> Verwijderen</button>
		}
		<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</div>
</form>
<script>
	$(function() {
		$(".js-custom-popup-modal-delete").off();
		$("body").on('click', ".js-custom-popup-modal-delete", deletePopup);
	});

	function deletePopup() {
		var $this = $(this);
		var id = $this.data("id");
		$.ajax({
			type: "GET",
			url: '@Url.Action("DeleteCalendarItem", "Employee")/' + id,
			beforeSend: function (xhr) {
				xhr.setRequestHeader("RequestVerificationToken",
					$('input:hidden[name="__RequestVerificationToken"]').val());
			},
			success: function (returnData) {
				$this.parents('.modal').modal('hide');
				$("#calendar").fullCalendar('refetchEvents');
			}
		});
	}
</script>