@model FusionCore.Modules.InstallationManager.Models.GroupManagementViewModel
@{
	ViewData["Title"] = "Installatie groepen beheer";
	Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {
	<link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/summernote/dist/summernote.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/x-editable/dist/inputs-ext/address/address.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/x-editable/dist/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
	<script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
	<script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-maskmoney/dist/jquery.maskMoney.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.tagsinput/src/jquery.tagsinput.js" asp-append-version="true"></script>
	<script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/adapters/jquery.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
	<script src="~/assets/libs/Nestable/dist/js/jquery.nestable.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/inputs-ext/typeaheadjs/typeaheadjs.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/inputs-ext/typeaheadjs/lib/typeahead.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/inputs-ext/address/address.js" asp-append-version="true"></script>
	<script src="~/assets/js/ui-nestable.js" asp-append-version="true"></script>
	<script src="~/assets/js/table-data.js" asp-append-version="true"></script>
	<script src="~/assets/js/form-elements.js" asp-append-version="true"></script>

	<script>
		jQuery(document).ready(function () {
			LoadEmployees();

            $('#group').on('change', function () {
                LoadEmployees();
            })

			$(".nestableCustom").nestable({
				callback: function (l, e) {
					var allItems = l.find('.dd-item').map(function () {
						return $(this).data('id');
					}).get();

					$.ajax({
						type: "POST",
						url: l.data('url') + '?group=' + $("#group").val(),
						data: { ids: allItems },
						beforeSend: function (xhr) {
							xhr.setRequestHeader("RequestVerificationToken",
								$('input:hidden[name="__RequestVerificationToken"]').val());
						}
					});
				}
			});
		});

		function LoadEmployees() {
			$employees = $("#employees");
			$employees.html("");
			$.ajax({
				type: "GET",
				url: $employees.data('url') + '/?group=' + $("#group").val(),
				beforeSend: function (xhr) {
					xhr.setRequestHeader("RequestVerificationToken",
						$('input:hidden[name="__RequestVerificationToken"]').val());
				},
				success: function (returnData) {
					var html = "";
					$(returnData).each(function () {
						html += ('<li class="dd-item dd3-item" data-id="' +
							this.id +
							'">' +
                            '<div class="dd-handle dd3-handle"></div>' +
                            '<div class="dd3-content">' +
                            '    <div>'+this.name+'</div>' +
							'</div >' +
							'</li>');
					});
					$employees.append(html);
					Main.coupleDynamics();
				}
			});
		}
	</script>
}

@section PageHeader {
	<ol class="breadcrumb">
		<li>
			<i class="clip-home"></i><a asp-controller="Dashboard" asp-action="Index" asp-area="">&nbsp;Home</a>
		</li>
		<li class="active">Groepen beheer</li>
		@await Component.InvokeAsync("SearchBox")
	</ol>
	<div class="page-header">
		<h1> Groepen <small>beheer</small></h1>
	</div>
}
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-reorder"></i> Beheer </div>
			<div class="panel-body">
				<div class="tabbable panel-tabs">
					<ul class="nav nav-tabs">
						@*<li><button type="button" class="btn btn-warning btn-xs margin-top-small margin-right-small"><i class="fa clip-refresh"></i> Volgorde herstellen</button></li>*@
						<li class="nav-tabs-dropdown">
							<span class="input-group-addon dropdown"><i class="fa fa-users fa-padding-right" style="color:white"></i></span>
							<select id="group" name="group" asp-items="Model.AvailableGroups">
								<option value="999" selected="">alle Groepen</option>
							</select>
						</li>

						<li class="active"><a data-toggle="tab" href="#panel_tab_beheer">Indeling</a></li>
					</ul>
					<div class="tab-content">
						<div id="panel_tab_beheer" class="tab-pane active">

							<div class="row">
								<div class="col-sm-12">
									<h4>Werknemers</h4>
									<hr>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="dd nestableCustom" data-url="@Url.Action("SaveSort")">
										<ol class="dd-list" id="employees" data-url="@Url.Action("GetEmployees")"></ol>
									</div>
								</div>
							</div>

							<div class="space_white"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>