
@using FusionCore.Services.Common
@model List<MenuService.MenuItemForCaching>

<div class="navbar-content">
    <div class="main-navigation navbar-collapse collapse">
        <div class="navigation-toggler">
            <i class="clip-chevron-left"></i>
            <i class="clip-chevron-right"></i>
        </div>
        <ul class="main-navigation-menu">
            @foreach (var item in Model)
            {
                if (item.IsDivider)
                {
                    <li><h5>@item.Name</h5></li>
                }
                else
                {
                    var hasChildren = item.Children.Any();

                    <li class="@RenderActiveState(item.IsActive)">
                        <a href="@(hasChildren ? "javascript:void(0)" : item.Url)">
                            @Html.Raw(RenderIcon(item.Icon))
                            <span class="title"> @item.Name </span>
                            @if (hasChildren)
                            {
                                <i class="icon-arrow"></i>
                            }
                            <span class="@RenderSelectedState(item.IsActive)"></span>
                        </a>
                        @if (hasChildren)
                        {
                            <ul class="sub-menu">
                                @foreach (var child in item.Children)
                                {
                                    var hasSubChildren = child.Children.Any();
                                    if (child.HasNewButton)
                                    {
                                        <a href="@child.Url#new"><span class="badge badge-new icon_nm"><i class="fa fa-plus icon_nm"></i></span></a>
                                    }
                                    <li class="@RenderActiveState(child.IsActive)">
                                        <a href="@(hasSubChildren ? "javascript:void(0)" : child.Url)">
                                            @Html.Raw(RenderIcon(child.Icon))
                                            <span class="title">@child.Name</span>
                                            @if (hasSubChildren)
                                            {
                                                <i class="icon-arrow"></i>
                                            }
                                        </a>
                                        @if (hasSubChildren)
                                        {
                                            <ul class="sub-menu sm-correct-NM">
                                                @foreach (var subChild in child.Children)
                                                {
                                                    if (subChild.HasNewButton)
                                                    {
                                                        <a href="@subChild.Url#new"><span class="badge badge-new icon_nm"><i class="fa fa-plus icon_nm"></i></span></a>
                                                    }
                                                    <li>
                                                        <a href="@subChild.Url" class="@RenderActiveState(subChild.IsActive)">
                                                            @Html.Raw(RenderIcon(subChild.Icon))
                                                            <span class="title">@subChild.Name</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            }
        </ul>
    </div>
</div>

@functions
{

    string RenderIcon(string icon)
    {
        if (!string.IsNullOrEmpty(icon))
        {
            return $"<i class=\"{icon}\"></i>";
        }
        return string.Empty;
    }

    string RenderActiveState(bool isActive)
    {
        if (isActive)
        {
            return "active open";
        }
        return string.Empty;
    }
     string RenderSelectedState(bool isActive)
    {
        if (isActive)
        {
            return "selected";
        }
        return string.Empty;
    }
}
