@using FusionCore.Modules.TeamManager.Models
@using FusionCore.Core.Enums
@using FusionCore.Core.Helpers
@model FusionCore.Modules.TeamManager.Models.TeamsPersistModel
@{
    Layout = null;
}
<form asp-action="Persist" id="AdminForm">
    <input type="hidden" asp-for="Id" />

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Algemene informatie</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="Naam" class="form-control" asp-for="Name" />
                                            </div>
                                            <div class="form-group"><input type="text" placeholder="Functie" class="form-control" asp-for="Function" /></div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"> <i class="fa fa-linkedin"></i></span>
                                                    <input type="text" id="form-field-mask-2" placeholder="Linkedin URL" class="form-control" asp-for="LinkedinURL">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Pagina content</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_content" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="ckeditor form-control" cols="10" rows="10" asp-for="PageContent">Deze informatie komt terug bij informatie button (i-tje) Monteur</textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Pagina instellingen</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input type='checkbox' data-toggle='toggle' data-onstyle='teal' asp-for="IsActive" />&nbsp;&nbsp; Activiteit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Beeld</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account-2" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <fileupload asp-id="TeamLogoId"
                                                                    asp-value="@Model.TeamLogoId">
                                                        </fileupload>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 margin-top">
                                                    <div class="alert alert-block alert-info fade in">
                                                        <button data-dismiss="alert" class="close" type="button">&times;</button>
                                                        <h4 class="alert-heading"><i class="fa fa-info-circle"></i> Beeld formaat</h4>
                                                        <p>Formaat van deze afbeelding is maximaal 500x500 pixels</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
        <button type="submit" class="btn btn-primary js-save">Opslaan</button>
    </div>
</form>


<script>
    jQuery(document).ready(function () {
        try {
            FormElements.init();
        } catch (exception) { }

       
        $('.ckeditor').each(function () {
            //  CKEDITOR.replace(this, {
            //    allowedContent: {
            //        '$1': {
            //            attributes: 'data-*'
            //        }
            //    }
            //});
              CKEDITOR.replace(this, {
                allowedContent: true
              });
        });
    });
</script>
