@model FusionCore.Modules.InstallationManager.Data.Entities.AssetActivityHistory
@using FusionCore.Modules.InstallationManager.Data.Enums
@using FusionCore.Modules.InstallationManager.Services
@{
	Layout = null;
	if (Model.Name.Equals("placeholder", StringComparison.InvariantCultureIgnoreCase))
	{
		Model.Name = "";
	}
}
@switch (Model.DynamicFieldType)
{
	case DynamicFieldType.Header:
		<div class="container-check">
			<div class="col-sm-12 form-text"><h3>@Model.Name</h3></div>
		</div>
		break;
	case DynamicFieldType.Text:
		<div class="container-check">
			<div class="col-sm-5 form-text">@Model.Name</div>
			<div class="col-sm-7 align-right no-padding-wb">
				<input type="text" placeholder="Text Model" name="@("Model_" + Model.Id + "_")" value="@Model.Value" class="form-control">
			</div>
		</div>
		break;
	case DynamicFieldType.Bullet:
		<div class="container-check">
			<div class="col-sm-5 form-text">@Model.Name</div>
			<div class="col-sm-7 align-right no-padding-wb resp-center">
				<label class="radio-inline"><input type="radio" class="square-green" value="0" @(Model.Value == "0" ? "checked" : "") name="@("Model_" + Model.Id + "_")" id="@("Model_" + Model.Id + "_1")"><span class="text">JA</span></label>
				<label class="radio-inline"><input type="radio" class="square-green" value="1" @(Model.Value == "1" ? "checked" : "") name="@("Model_" + Model.Id + "_")" id="@("Model_" + Model.Id + "_0")"><span class="text">NEE</span></label>
			</div>
		</div>
		break;
	case DynamicFieldType.Hv:
		var hv = AssetFieldValueHelper.GetHuidigeEnVorigeWaarden(Model.Value);
		<div class="container-check">
			<div class="col-sm-5 form-text">@Model.Name</div>
			<div class="col-sm-7 align-right no-padding-wb">
				<span class="input-set-NM col-40-NM"><input type="text" placeholder="1" name="@("Model_" + Model.Id + "_huidige")" value="@hv.Huidige" min="1" max="6" class="form-control center af_hv"></span>
				@{
					var isFirstValue = true;
					var type = "text";
				}

				@for (var index = 0; index < hv.VorigeWaarden.Count; index++)
				{
					var vorige = hv.VorigeWaarden[index];
					<span class="input-set-NM col-40-NM">
						<input type="@type" readonly name="@("Model_" + Model.Id + "_vorige" + index)" value="@vorige" min="1" max="6" class="form-control center af_hv">
					</span>
					type = "hidden";
				}
			</div>
		</div>
		break;
	case DynamicFieldType.HvExplain:
		var hve = AssetFieldValueHelper.GetAssetFieldHuidigeEnVorigeWaardeEnToelichting(Model.Value);
		<div class="container-check">
			<div class="col-sm-5 form-text">@Model.Name</div>
			<div class="col-sm-7 align-right no-padding-wb margin-bottom-small">
				<span class="input-set-NM col-40-NM"><input type="text" placeholder="1" name="@("Model_" + Model.Id + "_huidige")" value="@hve.Huidige" min="1" max="6" class="form-control center af_hv"></span>
				<span class="input-set-NM col-40-NM"><input type="text" readonly name="@("Model_" + Model.Id + "_vorige")" value="@hve.Vorige" min="1" max="6" class="form-control center af_hv"></span>
			</div>
			<div class="container-textarea">
				<textarea class="autosize form-control" name="@("Model_" + Model.Id + "_toelichting")" placeholder="toelichting" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 69px;" data-autosize-on="true">@hve.Toelichting</textarea>
			</div>
		</div>
		break;
	case DynamicFieldType.AnalyseSk:
		var ask = AssetFieldValueHelper.GetAnalyseSk(Model.Value);
		<div class="container-check">
			<div class="col-sm-5 form-text">@Model.Name</div>
			<div class="col-sm-7 align-right no-padding-wb">
				<span class="input-set-NM col-16-NM"><input type="text" name="@("Model_" + Model.Id + "_min")" value="@ask.MinWaarde" class="form-control center one"></span>
				<span class="input-set-NM col-16-NM"><input type="text" name="@("Model_" + Model.Id + "_max")" value="@ask.MaxWaarde" class="form-control center two"></span>
				<span class="input-set-NM col-16-NM"><input type="text" name="@("Model_" + Model.Id + "_huidige")" value="@ask.Waarde" data-minvalue="@ask.MinWaarde" data-maxvalue="@ask.MaxWaarde" class="form-control center af_range"></span>
				<span class="input-set-NM col-16-NM"><input type="text" name="@("Model_" + Model.Id + "_ontgasser")" value="@ask.Ontgassing" class="form-control center"></span>
				<span class="input-set-NM col-16-NM"><input type="text" placeholder="suppletie" name="@("Model_" + Model.Id + "_suppletie")" value="@ask.Suppletie" class="form-control"></span>
			</div>
		</div>
		break;
	case DynamicFieldType.AnalyseKt:
		var af = AssetFieldValueHelper.GetAnalyseKt(Model.Value);
		<div class="container-check">
			<div class="col-sm-5 form-text">@Model.Name</div>
			<div class="col-sm-7 align-right no-padding-wb">
				<span class="input-set-NM col-20-NM"><input type="text" name="@("Model_" + Model.Id + "_min")" value="@af.MinWaarde" class="form-control center one"></span>
				<span class="input-set-NM col-20-NM"><input type="text" name="@("Model_" + Model.Id + "_max")" value="@af.MaxWaarde" class="form-control center two"></span>
				<span class="input-set-NM col-20-NM"><input type="text" name="@("Model_" + Model.Id + "_huidige")" value="@af.Waarde" class="form-control center af_range"></span>
				<span class="input-set-NM col-20-NM"><input type="text" placeholder="suppletie" name="@("Model_" + Model.Id + "_suppletie")" value="@af.Suppletie" class="form-control"></span>
			</div>
		</div>
		break;
	case DynamicFieldType.Value:
		var values = (Model.Value ?? "").Split(Convert.ToChar(";"));
		<div class="container-check">
			<div class="col-sm-5 form-text">@Model.Name</div>
			<div class="col-sm-7 align-right no-padding-wb">
				<span class="input-set-NM col-20-NM"><input type="text" placeholder="1" name="@("Model_" + Model.Id + "_1")" value="@(values.Length > 0 ? values[0] : "")" class="form-control center af_hv"></span>
				<span class="input-set-NM col-60-NM"><input type="text" placeholder="toelichting" name="@("Model_" + Model.Id + "_2")" value="@(values.Length > 1 ? values[1] : "")" class="form-control"></span>
			</div>
		</div>
		break;
	case DynamicFieldType.ValueUsuage:
		var va = (Model.Value ?? "").Split(Convert.ToChar(";"));
		<div class="container-check">
			<div class="col-sm-5 form-text">@Model.Name</div>
			<div class="col-sm-7 align-right no-padding-wb">
				<span class="input-set-NM col-40-NM"><input type="text" placeholder="waarde" name="@("Model_" + Model.Id + "_1")" value="@(va.Length > 0 ? va[0] : "")" class="form-control center"></span>
				<span class="input-set-NM col-40-NM"><input type="text" placeholder="verbruik" name="@("Model_" + Model.Id + "_2")" value="@(va.Length > 1 ? va[1] : "")" class="form-control center"></span>
			</div>
		</div>
		break;
	case DynamicFieldType.AirChange:
		var valuesAir = (Model.Value ?? "").Split(Convert.ToChar(";"));
		<div class="container-check">
			<div class="col-sm-5 form-text">Air vervangen</div>
			<div class="col-sm-7 align-right no-padding-wb resp-center">
				<div class="input-set-NM col-30-NM">
				</div>
				<div class="input-group input-set-NM col-50-NM" id="picker-container">
					<label class="radio-inline margin-top-small"><input type="radio" class="square-green" id="@("Model_" + Model.Id + "_1_ja")" @(valuesAir.Length > 0 && valuesAir[0] == "1" ? "checked" : "") value="1" name="@("Model_" + Model.Id + "_1")"><span class="text">JA</span></label>
					<label class="radio-inline margin-top-small"><input type="radio" class="square-green" id="@("Model_" + Model.Id + "_1_nee")" @(valuesAir.Length > 0 && valuesAir[0] == "2" ? "checked" : "") value="2" name="@("Model_" + Model.Id + "_1")"><span class="text">NEE</span></label>
					<input type="text" name="@("Model_" + Model.Id + "_2")" value="@(valuesAir.Length > 1 ? valuesAir[1] : "")" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker pull-right" style="width: 50%; height: 37px; top: 4px;">
					<span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
				</div>
			</div>
		</div>
		break;
	case DynamicFieldType.FiltersVSnaren:
	case DynamicFieldType.FiltersVSnarenWV:
		var fvs = (Model.Value ?? "").Split(Convert.ToChar(";"));
		<div class="container-check">
			<div class="col-sm-5 form-text">
				<a href="#" data-type="text" data-url="@Url.Action("SaveAssetActivityHistoryTitle")" data-pk="@Model.Id" data-placement="bottom" data-original-title="Veld aanpassen" class="editable editable-click" title="Tekst veld"><i class="fa fa-edit"></i> @Model.Name</a>
			</div>
			<div class="col-sm-7 align-right no-padding-wb">
				<span class="input-set-NM col-60-NM"><input type="text" placeholder="fabrikant / merk" name="@("Model_" + Model.Id + "_1")" value="@(fvs.Length > 0 ? fvs[0] : "")" class="form-control margin-bottom-small"></span>
				<span class="input-set-NM col-20-NM"><input type="text" placeholder="aantal" name="@("Model_" + Model.Id + "_2")" value="@(fvs.Length > 1 ? fvs[1] : "")" class="form-control margin-bottom-small"></span>
				<span class="input-set-NM col-60-NM"><input type="text" placeholder="type / soort" name="@("Model_" + Model.Id + "_3")" value="@(fvs.Length > 2 ? fvs[2] : "")" class="form-control margin-bottom-small"></span>
				<span class="input-set-NM col-20-NM"><input type="text" placeholder="LxBxH" name="@("Model_" + Model.Id + "_4")" value="@(fvs.Length > 3 ? fvs[3] : "")" class="form-control margin-bottom-small"></span>
			</div>
			<div class="container-textarea">
				<textarea class="autosize form-control" name="@("Model_" + Model.Id + "_5")" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 69px;" data-autosize-on="true" placeholder="toelichting">@(fvs.Length > 4 ? fvs[4] : "")</textarea>
			</div>
		</div>
		break;
}