﻿@model FusionCore.Modules.InstallationManager.Data.Entities.Planning
<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa fa-pencil-square-o"></i> Handtekening
		<div class="panel-tools big">
			<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
		</div>
	</div>
	<div class="panel-body responsive">
		<div class="container-check">
			<div class="col-sm-5 form-text">Akkoord bevonden door </div>
			<div class="col-sm-7 align-right no-padding-wb">
				<input type="text" placeholder="Text Field" id="form-field-30" class="form-control">
			</div>
		</div>
		<div class="col-sm-12 no-padding responsive"><hr class="small"></div>
		<div class="container-check" style="height: 250px;">
			<div class="col-sm-12 form-buttons">
				<a href="#" id="js-signature_reset" class="btn btn-blue pull-right"><i class="fa fa-refresh"></i></a>
			</div>
			<div class="container-textarea">
				<div id="canvas" style="height: 150px; text-align: center;">
					<canvas id="newSignature" style="margin: 0; padding: 0; border: 1px solid #c4caac;">Your browser doesn't support canvas</canvas>
				</div>
				@{
					if (Model.Signature != null && Model.Signature.Length > 0)
					{
						var signature = Convert.ToBase64String(Model.Signature);
						<img alt="handtekening" id="imgSignature" style="margin: 0; padding: 0;  height: 150px; display: none;" src='data:image/png;base64,@signature' />
					}
				}
			</div>
		</div>
	</div>
</div>
