﻿@using FusionCore.Core
@if (TempData.Keys.Any(x => x.StartsWith(Constants.TempDataSuccesKey)))
{
	<div class="alert alert-success">
		@foreach (var key in TempData.Keys.Where(x => x.StartsWith(Constants.TempDataSuccesKey)))
		{
			@string.Join("<br />",(string[])TempData[key])
		}
		<button type="button" class="close" data-dismiss="alert">x</button>
	</div>
}
@if (TempData.Keys.Any(x => x.StartsWith(Constants.TempDataErrorKey)))
{
	<div class="alert alert-danger">
		@foreach (var key in TempData.Keys.Where(x => x.StartsWith(Constants.TempDataErrorKey)))
	{
		@string.Join("<br />", (string[])TempData[key])
}
		<button type="button" class="close" data-dismiss="alert">x</button>
	</div>
}