<div class="footer clearfix">
	<div class="footer-inner">
		@DateTime.Now.Year &copy; Fusion Media  | <span style="font-size:8px">powerd by</span>&nbsp;&nbsp;<a href="https://www.novimediasolutions.nl" title="Novi Media" target="_blank"><img style="vertical-align:middle" src="https://www.novimediasolutions.nl/uploads/novi-media-logo-black.png" width="90" /></a>
	</div>
	<div class="footer-items">
		<span class="go-top"><i class="clip-chevron-up"></i></span>
	</div>
</div>
