<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>@ViewData["Title"] - Fusion Media - Responsive Admin Panel</title>
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="Fusion Media - Responsive Admin Panel" name="description" />
    <meta content="Fusion Media" name="Novi Media®" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link href="~/assets/libs/summernote/dist/summernote.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Raleway:400,100,200,300,500,600,700,800,900/" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/assets/libs/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/assets/fonts/clip-font.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/assets/libs/iCheck/skins/all.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/assets/libs/perfect-scrollbar/css/perfect-scrollbar.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/assets/libs/sweetalert/dist/sweetalert.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/main.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/main-responsive.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" media="print" href="~/assets/css/print.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" id="skin_color" href="~/assets/css/theme/black-and-white.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" id="skin_color fm" href="~/assets/css/template.css" asp-append-version="true" />
    <link href="~/assets/libs/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fusionmedia-v2.novimedia.net/bower_components/jquery-colorbox/example2/colorbox.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <!-- end: MAIN CSS -->
    @RenderSection("Head", false)
    <style>
        .messagearrowicon {
            right: 5px;
            position: absolute;
            top: 3px;
            cursor: pointer;
        }

        .messagearrowhide {
            display: none;
        }

        .messagearrowhover:hover .messagearrowshow {
            display: block;
        }

        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /*background-color: rgba(0,0,0,0.5);*/ /* Black background with opacity */
            z-index: 1005; /* Specify a stack order in case you're using a different order for other elements */
            /*cursor: pointer; */
        }
    </style>
</head>

<body>
    <div id="overlay"></div>
    @await Component.InvokeAsync("NavigationTop")

    <div class="main-container">
        @await Component.InvokeAsync("MainMenu")
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        @RenderSection("PageHeader")
                    </div>
                </div>
                @await Html.PartialAsync("_ControllerMessages")
                @RenderBody()
            </div>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_Footer");
    }

    @{
        try
        {
            await Html.RenderPartialAsync("_ProfileBar");
        }
        catch { }
    }
    @{await Html.RenderPartialAsync("_ModalPopup");}
    @{await Html.RenderPartialAsync("_DeletePopup");}
    @RenderSection("_Popup", false)


    <!--fund page popups, scripts added below-->
    <div class="modal fade" id="panel-new-year" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="addfundcategoryform" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">×</font></font></button>
                        <h4 class="modal-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Voeg categorie toe</font></font></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"><input type="text" placeholder="Voeg een categorie toe" class="form-control" autocomplete="on" id="year" name="year" value=""></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
                        <button type="submit" class="btn btn-primary">Opslaan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="panel-new-cat" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="addfundsubcategoryform" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Sub categorie toevoegen</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"><input type="text" placeholder="Voeg een sub categorie toe" class="form-control" autocomplete="on" id="categorie" name="categorie" value=""></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
                        <button type="submit" class="btn btn-primary" id="btnnewcateg">Opslaan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="panel-subcat-fileupload" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="fundsubcategfileuploadform" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Bestand toevoegen</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="bestandsnaam" class="form-control subcategfilename" value="" id="subcategory_filename" name="subcategory_filename">

                                </div>
                                <div class="col-sm-6">
                                    <input type='file' class="js-fileinput-subcategoryfile" id='subcategfile' />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
                        <button class="btn btn-green subcategoryfileuploadbutton" type="submit">toevoegen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="panel-website-fileupload" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="fundwebsitefileuploadform" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Bestand toevoegen</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="bestandsnaam" id="bestandsnaam_websitefiles" name="bestandsnaam_websitefiles" class="form-control fundwebsitefilename" value="">
                                </div>
                                <div class="col-sm-6">
                                    <input type='file' class="js-fileinput-websitefile" id="websitefileinput" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
                        <button class="btn btn-green fundwebsitefileuploadbutton" type="submit">toevoegen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="edit-subscription" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myLargeModalLabel">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header t-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Inschrijvingsformulier</h4>
                </div>
                <div id="edit-subscription-container"></div>

            </div>
        </div>

    </div>
    <!--fund page popups, scripts added below-->

    <button id="buttonchat" class="hide">test button</button>


    <div class="modal fade" id="panel-to-do" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="addtodoform" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">To Do item toevoegen</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="todoId" value="" />
                        <div class="form-group"><input type="text" required placeholder="To Do item" class="form-control" id="ToDoTitle" name="ToDoTitle" value=""></div>
                        <div class="form-group">
                            <select id="Period" name="Period" class="form-control" required>
                                <option value="">Selecteer een periode</option>
                                <option value="@FusionCore.Core.Enums.ToDoPeriod.Today">Vandaag</option>
                                <option value="@FusionCore.Core.Enums.ToDoPeriod.Tomorrow">Morgen</option>
                                <option value="@FusionCore.Core.Enums.ToDoPeriod.ThisWeek">Deze week</option>
                                <option value="@FusionCore.Core.Enums.ToDoPeriod.ThisMonth">Deze maand</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btnsubmittodo">Opslaan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    @*<script type="text/javascript" src="https://fusionmedia-v2.novimedia.net/bower_components/jquery/dist/jquery.min.js" asp-append-version="true"></script>*@

    <script type="text/javascript" src="~/assets/libs/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js" asp-append-version="true"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
    <script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/assets/libs/bootstrap-toggle/bootstrap-toggle.min.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/assets/libs/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/assets/libs/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/assets/libs/iCheck/icheck.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/assets/libs/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/assets/libs/jquery.cookie/jquery.cookie.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/assets/libs/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/assets/js/modals.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/assets/js/main.js" asp-append-version="true"></script>
    <script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
    @*<script src="~/assets/js/pages-user-profile.js" asp-append-version="true"></script>*@

    <script src="~/assets/js/table-data.js" asp-append-version="true"></script>
    <script src="https://fusionmedia-v2.novimedia.net/bower_components/jquery-colorbox/jquery.colorbox-min.js" asp-append-version="true"></script>
    <script src="~/assets/js/pages-gallery.js" asp-append-version="true"></script>
    <script src="~/assets/libs/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js" asp-append-version="true"></script>
    <script src="~/assets/js/signalr.js"></script>
    <script src="~/assets/js/Chat.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            TableData.init();
            //PagesUserProfile.init();
            //FormElements.init();
            //PagesGallery.init();

            websitefileupload();
            subCategoryFileUpload();

            $("#overlay").off("click");
            $("#overlay").on("click", function () {
                $(".sb-toggle")[0].click();
            });
            AddToDoList();
        });

        //funds fileupload
        function websitefileupload() {

				var previewList = [];
				var previewConfig = [];
			var $elm = $("#websitefileinput");
              var $form = $($elm.closest("form"));

					$elm.fileinput({
			allowedFileExtensions: ['pdf','xls','xlsx','doc','docx'],
					showClose: false,
                    showCaption: true,
                    showBrowse: true,
                    showUpload:false,
                    showUploadedThumbs: false,
                    showPreview: false,
                    uploadAsync: true,
                    dropZoneEnabled: false,
                    required: true,
					uploadUrl: '/fundsmanager/funds/WebsiteFileUpload',
                        uploadExtraData: function () {
                          var filename= $("#bestandsnaam_websitefiles").val();
                        filename = filename == undefined ? "" : filename;

						return {
							'fundId': $elm.data("fundid"),
                            'fileType': $elm.data("type"),
                            'filename':filename
							};
					},
					initialPreview: previewList,
					initialPreviewConfig: previewConfig
				});
				$elm.on('fileuploaded', function (event, data, previewId, index) {
					var response = data.response;

					var $lastRow = $("#websitefilestable tr:last");

					var iconType = "pdf";
					var buttonClass = "btn-danger";
					if (response.filename.toLowerCase().endsWith(".xls") || response.filename.toLowerCase().endsWith(".xlsx"))
					{
						iconType = "excel";
						buttonClass = "btn-green";
					}
					else if (response.filename.toLowerCase().endsWith(".doc") || response.filename.toLowerCase().endsWith(".docx"))
					{
						iconType = "word";
						buttonClass = "btn-primary";
					}

					var orderup = "/fundsmanager/funds/WebsiteFileOrderUp?id=" + response.id + "&&order=" + response.sortOrder+ "&&tempid=" + response.tempId ;
					var orderdown = "/fundsmanager/funds/WebsiteFileOrderDown?id=" + response.id+"&&order="+response.sortOrder+"&&tempid=" + response.tempId ;

					var OrderValue = "<a class='btn btn-sm btn-light-grey js-file-websiteorderup' href='#' data-order='"+response.sortOrder+"' data-id='" + response.id + "' data-tempFile='" + response.tempId + "' ><i class='fa fa-arrow-circle-up'></i></a><a class='btn btn-sm btn-light-grey js-file-websiteorderdown' href='#' data-id='" + response.id + "' data-order='"+response.sortOrder+"' data-tempFile='" + response.tempId + "' ><i class='fa fa-arrow-circle-down'></i></a>";

					$lastRow.after('<tr>'+
						'<td>' + response.createdon + '</td>' +
						'<td>' + OrderValue + '</td>' +
                        '<td>'+
                        '<a href="#" class="editable editable-click" data-url="/fundsmanager/funds/EditFundFile" data-type="text" data-placement="right" data-placeholder="FileName" data-original-title="FileName" data-pk="' + response.tempId + '" data-name="' + response.id + '" data-value="'+ response.title +'" style="margin-top: -3px; margin-right:4px;"></a>'+
                         '</td>' +
						'<td class="center">' +
						'<div class="visible-md visible-lg hidden-sm hidden-xs">' +
						'<a href="/fundsmanager/funds/WebsiteFileDownload/' + response.id + '?tempFile=' + response.tempId + '" target="_blank" class="btn ' + buttonClass + ' tooltips" data-original-title="File"><i class="fa clip-file-' + iconType + '"></i></a>' +
						'<a href="#" class="btn btn-bricky tooltips  js-remove-websitefile" data-id="' + response.id + '" data-tempFile="' + response.tempId + '" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>' +
						'</div>' +
						'<div class="visible-xs visible-sm hidden-md hidden-lg">' +
						'<div class="btn-group">' +
						'<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i><span class="caret"></span></a>' +
						'<ul role="menu" class="dropdown-menu pull-right">' +
						'<li role="presentation"><a role="menuitem" tabindex="-1" href="/fundsmanager/funds/WebsiteFileDownload/' + response.id +'?tempFile=' + response.tempId + '" target="_blank"><i class="fa clip-file-'+iconType+'"></i></a></li>' +
						'<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-remove-websitefile" data-id="'+response.id+'" data-tempFile="' + response.tempId + '"><i class="fa fa-times"></i></a></li>' +
						'</ul>' +
						'</div>' +
						'</div>' +
						'</td>' +
                        '</tr>');

 $("#bestandsnaam_websitefiles").val('');

                    $elm.fileinput('cancel');
                    $elm.fileinput('clear');
                    $elm.fileinput('reset');
                    $elm.fileinput('refresh');
                    $elm.fileinput('enable');

                    $("#websitefilestable tr:last .tooltips").tooltip();

                    $('.editable').editable();
                });

            $form.on("submit", function (e) {
                e.preventDefault();

                var fname = $("#bestandsnaam_websitefiles").val();

                if (fname != undefined && fname != '' && hasWhiteSpace(fname)) {
                    $elm.fileinput('upload');
                } else {

                }
            });


        }
         function subCategoryFileUpload() {



				var previewList = [];
               var previewConfig = [];

        var $elm = $("#subcategfile");



            var $form = $($elm.closest("form"));

                $elm.fileinput({
                    allowedFileExtensions: ['pdf', 'xls', 'xlsx', 'doc', 'docx'],
                    showClose: false,
                    showCaption: true,
                    showBrowse: true,
                    showUpload:false,
                    showUploadedThumbs: false,
                    showPreview: false,
                    uploadAsync: true,
                    dropZoneEnabled: false,
                    required: true,
                    uploadUrl: '/fundsmanager/funds/subcategoryfileFileUpload',
                    uploadExtraData: function () {

                        var filename= $("#subcategory_filename").val();
                        filename = filename == undefined ? "" : filename;
                        return {
                                'subcategId': $elm.attr("data-subcategid"),
                                'fileType': $elm.data("type"),
                                'filename': filename
                            };
                    },
                    initialPreview: previewList,
                    initialPreviewConfig: previewConfig
                });
                $elm.on('fileuploaded', function (event, data, previewId, index) {

                    var eleid = $(event.currentTarget).attr("data-subcategid");
                    var response = data.response;

                    var $lastRow = $("#" + eleid + " tr:last");

                    var iconType = "pdf";
                    var buttonClass = "btn-danger";
                    if (response.filename.toLowerCase().endsWith(".xls") || response.filename.toLowerCase().endsWith(".xlsx")) {
                        iconType = "excel";
                        buttonClass = "btn-green";
                    }
                    else if (response.filename.toLowerCase().endsWith(".doc") || response.filename.toLowerCase().endsWith(".docx")) {
                        iconType = "word";
                        buttonClass = "btn-primary";
                    }

                    var OrderValue = "<a style='margin:0 4px;' class='btn btn-xs btn-light-grey subcategorder js-file-subcategoryfileorderup' href='#' data-order='" + response.sortOrder + "' data-tempFile='" + response.fundCategoryTempId + "'  data-tempId='" + response.tempId + "'><i class='fa fa-arrow-circle-up'></i></a><a class='btn btn-xs btn-light-grey subcategorder js-file-subcategoryfileorderdown' href='#' data-order='" + response.sortOrder + "' data-tempFile='" + response.fundCategoryTempId + "'  data-tempId='" + response.tempId + "' ><i class='fa fa-arrow-circle-down'></i></a>";

                    $lastRow.after('<tr>' +
                        '<td>' + response.createdon + '</td>' +
                        '<td class="center">' + OrderValue + '</td>' +
                        '<td>' +
                        '<a href="#" class="editable editable-click" data-url="/fundsmanager/funds/EditCategoryFile" data-type="text" data-placement="right" data-placeholder="FileName" data-original-title="FileName" data-pk="' + response.tempId + '" data-value="' + response.title + '" style="margin-top: -3px; margin-right:4px;"></a>' +
                        '</td > ' +
                        '<td class="center">' +
                        '<div class="visible-md visible-lg hidden-sm hidden-xs">' +
                        '<a style="margin: 0 4px;" href="/fundsmanager/funds/subcategoryfileFileDownload?tempFile=' + response.tempId + '" target="_blank" class="btn ' + buttonClass + ' tooltips" data-original-title="File"><i class="fa clip-file-' + iconType + '"></i></a>' +
                        '<a href="#" class="btn btn-bricky tooltips  js-remove-subcategoryfile" data-tempFile="' + response.fundCategoryTempId + '"  data-tempId="' + response.tempId + '" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>' +
                        '</div>' +
                        '<div class="visible-xs visible-sm hidden-md hidden-lg">' +
                        '<div class="btn-group">' +
                        '<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i><span class="caret"></span></a>' +
                        '<ul role="menu" class="dropdown-menu pull-right">' +
                        '<li role="presentation"><a role="menuitem" tabindex="-1" href="/fundsmanager/funds/subcategoryfileFileDownload?tempFile=' + response.tempId + '" target="_blank"><i class="fa clip-file-' + iconType + '"></i></a></li>' +
                        '<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-remove-subcategoryfile"  data-tempFile="' + response.fundCategoryTempId + '"  data-tempId="' + response.tempId + '"><i class="fa fa-times"></i></a></li>' +
                        '</ul>' +
                        '</div>' +
                        '</div>' +
                        '</td>' +
                        '</tr>');


                    $("#subcategory_filename").val('');

                    $elm.fileinput('cancel');
                    $elm.fileinput('clear');
                    $elm.fileinput('reset');
                    $elm.fileinput('refresh');
                    $elm.fileinput('enable');


                    $("#" + eleid + " tr:last .tooltips").tooltip();
                    $('.editable').editable();
                });
            $form.on("submit", function (e) {
                e.preventDefault();


                var fname = $("#subcategory_filename").val();
                if (fname != undefined && fname != '' && hasWhiteSpace(fname)) {
                    $elm.fileinput('upload');
                } else {

                }
            });


    }
        //funds fileupload

    function hasWhiteSpace(s)
{
     reWhiteSpace = new RegExp(/^\s+$/);

     // Check for white space
     if (reWhiteSpace.test(s)) {

          return false;
     }
return true;
    }

        //funds popup scripts
        $("#addfundcategoryform").on("submit", function (e) {
            e.preventDefault();

            addCategory();
        });
        $("#addfundsubcategoryform").on("submit", function (e) {
            e.preventDefault();

            addSubCategory();
        });
            //funds popup scripts


        //readonly mode

        $(window).on("load",function() {
             ReadOnlyMode();
              $('.dataTable').each(function () {
                  if ($.fn.DataTable.isDataTable($(this))) {
                      $(this).on('draw.dt', function () {
                          ReadOnlyMode();
                      });
                  }
              });

            if ($(".todo-actions").length) {

                runToDoAction();//todo list scrolling and all events
            }

            runProfileBar();
});
        $(window).on('shown.bs.modal', function() {
            ReadOnlyMode();
        });


        function ReadOnlyMode() {
             var isreadonly = "@Context.User.IsInRole(FusionCore.Core.Enums.FusionRoles.ReadOnly.ToString())";

        if (isreadonly.toLowerCase() == "true") {
            addDisableAttr("[data-toggle='toggle']");//all active toggles
            addDisableAttr("[data-original-title='Remove']");//all x buttons
            addDisableAttr("[type='submit']");//all submit buttons
            addDisableAttr("#Role");//my profile popup role dropdown
            addDisableAttr(".kv-file-remove");// delete uploaded file
            addDisableAttr("[type='file']");//all fileupload browse
            addDisableAttr(".fileinput-remove-button");//fileupload control remove button
            addDisableAttr(".fileinput-upload-button");//fileupload control upload button

            //sorting arrows up and down
            $("a").each(function (index, val) {
                if ($(this).attr("href") != undefined) {
                    if ($(this).attr("href").toLowerCase().indexOf("orderdown")!=-1||$(this).attr("href").toLowerCase().indexOf("orderup")!=-1) {
                        addDisableAttr(this);
                    }
                }
            });
        }
        }
        function addDisableAttr(ele) {
             $("body").off("click",
                 ".js-modal-delete");
            $("body").off("click",
                ".js-modal-delete-ajax");

                        $("body").off("click",
                            ".js-remove-image");
                        $("body").off("click",
                            ".js-category-remove");
                        $("body").off("click",
                            ".js-subcategory-remove");
                        $("body").off("click",
                            ".js-remove-subcategoryfile");
                        $("body").off("click",
                            ".js-remove-websitefile");


            $(ele).each(function (index, val) {

                // $(this).off();
                if ($(this).prop("tagName").toLowerCase() == "a" && $(this).attr("id")!="addtodo") {
                    $(this).attr("href","#");
                }

                $(this).attr("disabled", "disabled");
                if (ele == "[type='submit']") {
                    $($(this).closest("form")).removeAttr("action");

                    if ($(this).attr("id") == "btnsubmitsendmessage" || $(this).attr("id")=="btnsubmittodo") {
                        $(this).removeAttr("disabled");
                    } else {
                        $($(this).closest("form")).off("submit");
                    }
                }

            });
        }
        //readonly mode

        function runToDoAction() {
            Main.runModuleTools();

            if ($(".todo-actions").length) {
                $(".todo-actions").off("click");
                $(".todo-actions").on("click", function () {

        if ($(this).find("i").hasClass("fa-square-o") || $(this).find("i").hasClass("icon-check-empty")) {
          if ($(this).find("i").hasClass("fa")) {
            $(this).find("i").removeClass("fa-square-o").addClass("fa-check-square-o");
          } else {
            $(this).find("i").removeClass("icon-check-empty").addClass("fa fa-check-square-o");
          };
          $(this).parent().find("span").css({
            opacity: .25
          });

          $(this).parent().find(".desc").css("text-decoration", "line-through");
        }
        else {
          $(this).find("i").removeClass("fa-check-square-o").addClass("fa-square-o");
          $(this).parent().find("span").css({
            opacity: 1
          });
          $(this).parent().find(".desc").css("text-decoration", "none");
                    }

AjaxCall("/dashboard/MarkasDone?id=" +$(this).attr("data-todoid")).done(function (response) {
    $("#navlitodolist").html(response.navigationtoptodo);
    $("#todolist").html(response.dashboardtodo);
    runToDoAction();
            });
        return !1;
      });
            }
            $(".edittodo").on("click", function () {
                $("#panel-to-do").modal("show");
                $("#panel-to-do .modal-title").text($(this).attr("data-title"));
                $("#panel-to-do #ToDoTitle").val($(this).attr("data-title"));
                $("#panel-to-do #Period").val($(this).attr("data-period"));
                $("#panel-to-do #todoId").val($(this).attr("data-todoid"));

            });
            $(".removetodo").on("click", function () {
                $("#tododelete").modal("show");
                $("#deletetodoconfirm").attr("data-id", $(this).attr("data-todoid"));
            });

            runPanelScroll();
        }
         function AddToDoList() {
            $("#addtodoform").on("submit", function (e) {
                e.preventDefault();
                var fdata = $("#addtodoform").serialize()+'&Id=' + $("#todoId").val();

                var formAction = "/dashboard/AddToDo";

                $.post(formAction, fdata, function (response) {
                      $("#navlitodolist").html(response.navigationtoptodo);
                    $("#todolist").html(response.dashboardtodo);


                    runToDoAction();
                    $("#panel-to-do").modal("hide");
                    clearToDoPopupData();

             });

            });
        }
        function clearToDoPopupData() {
            document.getElementById("addtodoform").reset();
            $("#panel-to-do .modal-title").text("To Do item toevoegen");
            $("#panel-to-do #todoId").val("");
        }
        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'

            });
        }

        function runPanelScroll() {

            if ($(".panel-scroll").length) {
                $('.panel-scroll').perfectScrollbar({
                    wheelSpeed: 50,
                    minScrollbarLength: 20,
                    suppressScrollX: true
                });
            }

        }
        var openchattab = false;
        var chatuserid = 0;
        function runProfileBar() {
            $(".sb-toggle").off("click");
            $(".sb-toggle").on("click", function (e) {

      if ($('body').hasClass("rtl")) {
        if ($(this).hasClass("open")) {
          $(this).not(".sidebar-toggler ").find(".fa-outdent").removeClass("fa-outdent").addClass("fa-indent");
          $(".sb-toggle").removeClass("open")
          $("#page-sidebar").css({
            left: -$("#page-sidebar").outerWidth()
          });
            $("#overlay").css("display","none");
        } else {
          $(this).not(".sidebar-toggler ").find(".fa-indent").removeClass("fa-indent").addClass("fa-outdent");
          $(".sb-toggle").addClass("open")
          $("#page-sidebar").css({
            left: 0
          });
            $("#overlay").css("display","block");
            LoadPageSideBar();
        }
      } else {
        if ($(this).hasClass("open")) {
          $(this).not(".sidebar-toggler ").find(".fa-indent").removeClass("fa-indent").addClass("fa-outdent");
          $(".sb-toggle").removeClass("open")
          $("#page-sidebar").css({
            right: -$("#page-sidebar").outerWidth()
          });
            $("#overlay").css("display","none");
        } else {
          $(this).not(".sidebar-toggler ").find(".fa-outdent").removeClass("fa-outdent").addClass("fa-indent");
          $(".sb-toggle").addClass("open")
          $("#page-sidebar").css({
            right: 0
          });
            $("#overlay").css("display","block");
          LoadPageSideBar();
        }
      }

      e.preventDefault();
    });
            $("#page-sidebar .media a").off("click");
            $("#page-sidebar .media a").on("click", function (e) {

      $(this).closest(".tab-pane").css({
        right: $("#page-sidebar").outerWidth()
      });

      e.preventDefault();
 LoadUserMessages($(this).attr("data-userid"));
            });
            $("#page-sidebar .sidebar-back").off("click");
            $("#page-sidebar .sidebar-back").on("click", function (e) {
      $(this).closest(".tab-pane").css({
        right: 0
      });
                e.preventDefault();

                var contactid = $(this).attr("data-userid");
                $("#page-sidebar .media [data-userid='" + contactid + "'] .label-success").text('')

    });
            $('#page-sidebar .sidebar-wrapper').perfectScrollbar({
      wheelSpeed: 50,
      minScrollbarLength: 20,
      suppressScrollX: true
    });
            $('#sidebar-tab a').on('shown.bs.tab', function (e) {

      $("#page-sidebar .sidebar-wrapper").perfectScrollbar('update');
            });
            NavbarMessageEvents();
            MessageDelete();
        }
        function NavbarMessageEvents() {
             $("#navtopseeallmsgs").off("click");
            $("#navtopseeallmsgs").on("click", function (e) {
                OpenMessageSidePanelonNavClick();
            });
            $("#navtopnewmessages a[data-userid]").off("click");
            $("#navtopnewmessages a[data-userid]").on("click", function (e) {
                OpenMessageSidePanelonNavClick();
                openchattab = true;
                chatuserid = $(this).attr("data-userid");
            });
        }
        function OpenMessageSidePanelonNavClick() {
             $("#users").css({ right: 0 });
                if ($(".sb-toggle").hasClass("open")) {$(".sb-toggle")[0].click(); }
                $(".sb-toggle")[0].click();
        }
        function LoadPageSideBar() {
    AjaxCall("/dashboard/GetActiveMessageUsers").done(function (response) {

        $("#profilebaruserslist").html(response);

        if (openchattab) {
            $("#users").css({
        right: $("#page-sidebar").outerWidth()
      });

 LoadUserMessages(chatuserid);

        }

        runProfileBar();
    });
        }
        function LoadUserMessages(userid) {
            AjaxCall("/dashboard/GetUserMessages?userid="+userid).done(function (response) {

                $("#profilebarusermessages").html(response.usermsgs);
                $("#navlinewmsglist").html(response.navmsgs);
                if (openchattab) {

                    openchattab = false;
                    chatuserid = 0;
                }
                runProfileBar();
                SubmitUserMessages();
    });
        }
        function SubmitUserMessages() {
             $("#sendusermessageform").on("submit", function (e) {
            e.preventDefault();
            var fdata = $("#sendusermessageform").serialize();
            var formAction = "/dashboard/SendUserMessage";

                $.post(formAction, fdata, function (response) {
                    $("#profilebarusermessages").html(response);
                    runProfileBar();
                    SubmitUserMessages();

                    var msgid=$("#userchatdiscussion li:first-child").attr("data-msgid");

                    var msg=$($("#sendusermessageform").find("#message")[0]).val();
                    $($("#sendusermessageform").find("#message")[0]).val('');

                    var userid = $("#navtopuserimage").attr("data-navtopuserid");
                    var username =  $("#navtopuserimage").attr("data-navtopusername");
                    var userimage = $("#navtopuserimage").attr("src");
                    var recieverid = $("#usermsgbackbutton").attr("data-userid");
                    $("#buttonchat").attr("data-senderid", userid);
                    $("#buttonchat").attr("data-sendername", username);
                    $("#buttonchat").attr("data-senderimage", userimage);
                    $("#buttonchat").attr("data-receiverid", recieverid);
                    $("#buttonchat").attr("data-msg", msg);
                    $("#buttonchat").attr("data-msgid", msgid);

                   $("#buttonchat").click();

             });

        });

        }
        function MessageDelete() {
            $(".messagearrowicon").off("click");
            $(".messagearrowicon").on("click", function () {
                var $this = $(this);
                bootbox.confirm("Weet u het zeker?", function (result) {
                    if (result) {
                        var msgid = $this.data("msgid");
                        var chattype = $this.data("chattype");
                        if (chattype == "group" || chattype == "user") {
                            var element;
                            if (chattype == "group") {
                                element = $('#msgs .panel-scroll');
                                $("#buttonchat").attr("data-group", "dashboard");
                            }
                            else if (chattype == "user") {
                                element = $("#page-sidebar .sidebar-wrapper");
                            }
                            $("#buttonchat").attr("data-msgid", msgid);

                            AjaxCall("/dashboard/DeleteMessage?msgid=" + msgid + "&type=" + chattype).done(function () {
                                if ($(".self[data-msgid='" + msgid + "']").length) {

                                    var scrolltop = element.scrollTop();

                                    var elehight = $(".self[data-msgid='" + msgid + "']").height();

                                    $(".self[data-msgid='" + msgid + "']").remove();
                                    element.scrollTop(scrolltop - elehight);

                                    $("#buttonchat").attr("data-isdelete",true);
                                    $("#buttonchat").click();
                                }
                            });
                        }
                    }
                });
            });
        }
    </script>
    @RenderSection("Scripts", false)
</body>

</html>