﻿<div class="modal fade" id="js-defaultModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="js-defaultModalHeader" class="modal-title"></h4>
			</div>
			<div id="js-defaultModalBody"></div>
		</div>
	</div>
</div>