@model FusionCore.Models.Backend.Common.NavigationTopModel


<a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#">
    <i class="clip-bubble-3"></i>
    @if (Model.NewMessages > 0)
    {
        <span class="badge" id="navmsgcount"> @Model.NewMessages</span>
    }
</a>
<ul class="dropdown-menu posts">
    <li>
        @if (Model.NewMessages > 0)
        {
            <span class="dropdown-menu-title" id="navmsgcounttext">
                Je hebt <strong>@Model.NewMessages</strong> berichten
            </span>
        }
        else
        {
            <span class="dropdown-menu-title" id="navmsgcounttext">  Je hebt <strong>0</strong> berichten</span>
        }
    </li>
    <li>
        <div class="drop-down-wrapper">
            <ul id="navtopnewmessages">
                @foreach (var msg in Model.messageThreads)
                {
                    <li>
                        <a href="#" data-userid="@msg.senderId">
                            <div class="clearfix">
                                <div class="thread-image">
                                    <img alt="@msg.sendername" src="@msg.senderphoto" style="height:50px;width:50px;">
                                </div>
                                <div class="thread-content">
                                    <span class="author">@msg.sendername</span>
                                    <span class="preview">@msg.message</span>
                                    <span class="time"></span>
                                </div>
                            </div>
                        </a>
                    </li>
                }
                @*<li>
                        <a href="javascript:;">
                            <div class="clearfix">
                                <div class="thread-image">
                                    <img alt="" src="./~/assets/images/avatar-2.jpg">
                                </div>
                                <div class="thread-content">
                                    <span class="author">Nicole Bell</span>
                                    <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                                    <span class="time"> Just Now</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="clearfix">
                                <div class="thread-image">
                                    <img alt="" src="./~/assets/images/avatar-1.jpg">
                                </div>
                                <div class="thread-content">
                                    <span class="author">Peter Clark</span>
                                    <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                                    <span class="time">2 mins</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="clearfix">
                                <div class="thread-image">
                                    <img alt="" src="./~/assets/images/avatar-3.jpg">
                                </div>
                                <div class="thread-content">
                                    <span class="author">Steven Thompson</span>
                                    <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                                    <span class="time">8 hrs</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="clearfix">
                                <div class="thread-image">
                                    <img alt="" src="./~/assets/images/avatar-1.jpg">
                                </div>
                                <div class="thread-content">
                                    <span class="author">Peter Clark</span>
                                    <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                                    <span class="time">9 hrs</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="clearfix">
                                <div class="thread-image">
                                    <img alt="" src="./~/assets/images/avatar-5.jpg">
                                </div>
                                <div class="thread-content">
                                    <span class="author">Kenneth Ross</span>
                                    <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                                    <span class="time">14 hrs</span>
                                </div>
                            </div>
                        </a>
                    </li>*@
            </ul>
        </div>
    </li>
    <li class="view-all">
        <a href="#" id="navtopseeallmsgs">
            Bekijk alle berichten  <i class="fa fa-arrow-circle-o-right"></i>
        </a>
    </li>
</ul>