@using FusionCore.Core.Enums
@model FusionCore.Models.Backend.Common.NavigationTopModel


<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
    <i class="clip-list-5"></i>
    @if (Model.AmountOfTasks > 0)
    {
        <span class="badge"> @Model.AmountOfTasks</span>
    }
    else
    {
        <span class="badge"></span>
    }
</a>
<ul class="dropdown-menu todo">
    <li>
        @if (Model.AmountOfTasks > 0)
        {
            <span class="dropdown-menu-title"> Je hebt <strong>@Model.AmountOfTasks</strong> taken te doen</span>

        }
        else
        {
            <span class="dropdown-menu-title"> Je hebt <strong>0</strong> taken te doen</span>
        }
    </li>
    <li>
        <div class="drop-down-wrapper panel-scroll">
            <ul>
                @{
                    foreach (var todo in Model.todolist)
                    {
                        <li>
                            <a class="todo-actions" href="javascript:void(0)" data-todoid="@todo.Id">
                                @{
                                    var itag = "fa-square-o";
                                    var spanstyle = "opacity: 1; text-decoration: none;";
                                    var spanopacity = "opacity: 1;";
                                    if (todo.done)
                                    {
                                        itag = "fa-check-square-o";
                                        spanstyle = "opacity: .25; text-decoration: line-through;";
                                        spanopacity = "opacity: .25;";
                                    }

                                }
                                <i class="fa @itag"></i>
                                <span class="desc" style="@spanstyle">@todo.ToDoTitle</span>
                                @{
                                    var today = DateTime.Now;
                                    var tomorrow = today.AddDays(1);
                                    var sundayDate = today.Subtract(new TimeSpan((int)DateTime.Now.DayOfWeek, 0, 0, 0));
                                    var saturdayDate = sundayDate.AddDays(6);
                                    var currentperiod = todo.Period;

                                    if (todo.Period == ToDoPeriod.Today || (todo.expiryDate.Day == today.Day && todo.expiryDate.Month == today.Month && todo.expiryDate.Year == today.Year))
                                    {
                                        <span class="label label-danger" style="@spanopacity"> today</span>

                                        currentperiod = ToDoPeriod.Today;
                                    }
                                    else if (todo.Period == ToDoPeriod.Tomorrow || (todo.expiryDate.Day == tomorrow.Day && todo.expiryDate.Month == tomorrow.Month && todo.expiryDate.Year == tomorrow.Year))
                                    {
                                        <span class="label label-warning" style="@spanopacity"> tommorow</span>

                                        currentperiod = ToDoPeriod.Tomorrow;
                                    }
                                    else if (todo.Period == ToDoPeriod.ThisWeek || (todo.expiryDate.Day == saturdayDate.Day && todo.expiryDate.Month == saturdayDate.Month && todo.expiryDate.Year == saturdayDate.Year))
                                    {
                                        <span class="label label-success" style="@spanopacity"> this week</span>

                                        currentperiod = ToDoPeriod.ThisWeek;
                                    }
                                    else //if (todo.Period == ToDoPeriod.ThisMonth)
                                    {
                                        <span class="label label-info" style="@spanopacity"> this month</span>
                                        currentperiod = ToDoPeriod.ThisMonth;
                                    }
                                }
                            </a>

                        </li>
                    }
                }
                @*<li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                            <span class="label label-danger" style="opacity: 1;"> today</span>
                        </a>
                    </li>
                    <li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                            <span class="label label-danger" style="opacity: 1;"> today</span>
                        </a>
                    </li>
                    <li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc"> Hire developers</span>
                            <span class="label label-warning"> tommorow</span>
                        </a>
                    </li>
                    <li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc">Staff Meeting</span>
                            <span class="label label-warning"> tommorow</span>
                        </a>
                    </li>
                    <li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc"> New frontend layout</span>
                            <span class="label label-success"> this week</span>
                        </a>
                    </li>
                    <li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc"> Hire developers</span>
                            <span class="label label-success"> this week</span>
                        </a>
                    </li>
                    <li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc"> New frontend layout</span>
                            <span class="label label-info"> this month</span>
                        </a>
                    </li>
                    <li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc"> Hire developers</span>
                            <span class="label label-info"> this month</span>
                        </a>
                    </li>
                    <li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                            <span class="label label-danger" style="opacity: 1;"> today</span>
                        </a>
                    </li>
                    <li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                            <span class="label label-danger" style="opacity: 1;"> today</span>
                        </a>
                    </li>
                    <li>
                        <a class="todo-actions" href="javascript:void(0)">
                            <i class="fa fa-square-o"></i>
                            <span class="desc"> Hire developers</span>
                            <span class="label label-warning"> tommorow</span>
                        </a>
                    </li>*@
            </ul>
        </div>
    </li>
    <li class="view-all">
        @if (Model.AmountOfTasks > 0)
        {
            <a href="/dashboard#todolist">
                Bekijk alle taken  <i class="fa fa-arrow-circle-o-right"></i>
            </a>
        }
        else
        {
            <a href="#panel-to-do" data-toggle="modal">
                Item toevoegen <i class="fa fa-plus"></i>
            </a>
        }
    </li>
</ul>
