﻿<!-- start: PAGE TITLE & BREADCRUMB -->
<ol class="breadcrumb">
	<li><i class="clip-home"></i><a asp-controller="Dashboard" asp-action="Index">&nbsp;&nbsp;Home</a></li>
	<li class="active">Bedrijsinformatie edit</li>
	<li class="search-box">
		<form class="sidebar-search">
			<div class="form-group">
				<input type="text" placeholder="Start Searching...">
				<button class="submit">
					<i class="clip-search-3"></i>
				</button>
			</div>
		</form>
	</li>
</ol>
<div class="page-header">
	<h1>Bedrijsinformatie <small>edit</small></h1>
</div>
<!-- end: PAGE TITLE & BREADCRUMB -->