@using FusionCore.Models.Backend.Messages
@model GroupChatBox

@if (Model != null)
{
    <div class="sidebar-content">
        <a class="sidebar-back" href="#" id="usermsgbackbutton" data-userid="@Model.receiverid"><i class="fa fa-chevron-circle-left"></i> Back</a>
    </div>
    <div class="user-chat-form sidebar-content">
        <form id="sendusermessageform" method="post">
            <div class="input-group">
                <input type="hidden" asp-for="senderid" />
                <input type="hidden" asp-for="receiverid" />

                <input type="text" placeholder="Type a message here..." required class="form-control" asp-for="message">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit" id="btnsubmitsendusermessage">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <ol class="discussion sidebar-content" id="userchatdiscussion">
        @if (Model.messageThreads != null && Model.messageThreads.Any())
        {
            @foreach (var msg in Model.messageThreads)
            {
                var userclass = "other";
                if (msg.senderId == Model.senderid)
                {
                    userclass = "self";
                }
                <li class="@userclass"  data-msgid="@msg.Id">
                    <div class="avatar"><img alt="@msg.sendername" src="@msg.senderphoto" style="height: 50px;width: 50px;" /></div>
                    <div class="messages messagearrowhover">
                        <p style="padding-right:7px;">@msg.message</p>
                        @if (msg.senderId == Model.senderid)
                        {
                            <span class="messagearrowicon messagearrowhide messagearrowshow" data-msgid="@msg.Id" data-chattype="user"><i class='clip-remove'></i></span>
                        }
                    </div>
                </li>
            }
        }
        @*<li class="other">
                <div class="avatar">
                    <img src="~/assets/images/avatar-4.jpg" alt="">
                </div>
                <div class="messages">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <span class="time"> 51 min </span>
                </div>
            </li>
            <li class="self">
                <div class="avatar">
                    <img src="~/assets/images/avatar-1.jpg" alt="">
                </div>
                <div class="messages">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <span class="time"> 37 mins </span>
                </div>
            </li>
            <li class="other">
                <div class="avatar">
                    <img src="~/assets/images/avatar-4.jpg" alt="">
                </div>
                <div class="messages">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </li>*@
    </ol>
}