@using FusionCore.Models.Backend.FusionUser
@model List<FusionUserPersistModel>
@if (Model != null)
{
    var onlineusers = Model.Where(x => x.isloggedin).ToList();
    if (onlineusers.Any())
    {
        <h5 class="sidebar-title">On-line</h5>
        <ul class="media-list" id="onlineuserslist">

            @foreach (var online in onlineusers.OrderByDescending(x=>x.lastmsg))
            {
                <li class="media">
                    <a href="#" data-userid="@online.Id">
                        <div class="user-label">
                            @{
                                var unreadmsgs = online.unreadmsgs > 0 ? online.unreadmsgs.ToString() : "";
                            }
                            <span class="label label-success">@unreadmsgs</span>
                        </div>
                        <i class="fa fa-circle status-online"></i>
                        <img alt="@online.Username" src="@online.Photo" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">@online.Username</h4>
                            <span> @online.Occupation &nbsp;</span>
                        </div>
                    </a>
                </li>
            }

            @*<li class="media">
                    <a href="#">
                        <i class="fa fa-circle status-online"></i>
                        <img alt="..." src="~/assets/images/avatar-2.jpg" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">Nicole Bell</h4>
                            <span> Content Designer </span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="user-label">
                            <span class="label label-success">3</span>
                        </div>
                        <i class="fa fa-circle status-online"></i>
                        <img alt="..." src="~/assets/images/avatar-3.jpg" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">Steven Thompson</h4>
                            <span> Visual Designer </span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <i class="fa fa-circle status-online"></i>
                        <img alt="..." src="~/assets/images/avatar-4.jpg" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">Ella Patterson</h4>
                            <span> Web Editor </span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <i class="fa fa-circle status-online"></i>
                        <img alt="..." src="~/assets/images/avatar-5.jpg" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">Kenneth Ross</h4>
                            <span> Senior Designer </span>
                        </div>
                    </a>
                </li>*@
        </ul>
    }
    var offlineusers = Model.Where(x => !x.isloggedin).ToList();
    if (offlineusers.Any())
    {
        <h5 class="sidebar-title">Off-line</h5>

        <ul class="media-list" id="offlineuserslist">

            @foreach (var offline in offlineusers.OrderByDescending(x=>x.lastmsg))
            {
                <li class="media">
                    <a href="#" data-userid="@offline.Id">
                        <div class="user-label">
                            @{
                                var unreadmsgs = offline.unreadmsgs > 0 ? offline.unreadmsgs.ToString() : "";
                            }
                            <span class="label label-success">@unreadmsgs</span>
                        </div>
                        <i class="fa fa-circle status-online hide"></i>
                        <img alt="@offline.Username" src="@offline.Photo" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">@offline.Username</h4>
                            <span>@offline.Occupation &nbsp;</span>
                        </div>
                    </a>
                </li>
            }

            @*<li class="media">
                    <a href="#">
                        <img alt="..." src="~/assets/images/avatar-6.jpg" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">Nicole Bell</h4>
                            <span> Content Designer </span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="user-label">
                            <span class="label label-success">3</span>
                        </div>
                        <img alt="..." src="~/assets/images/avatar-7.jpg" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">Steven Thompson</h4>
                            <span> Visual Designer </span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <img alt="..." src="~/assets/images/avatar-8.jpg" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">Ella Patterson</h4>
                            <span> Web Editor </span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <img alt="..." src="~/assets/images/avatar-9.jpg" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">Kenneth Ross</h4>
                            <span> Senior Designer </span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <img alt="..." src="~/assets/images/avatar-10.jpg" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">Ella Patterson</h4>
                            <span> Web Editor </span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <img alt="..." src="~/assets/images/avatar-5.jpg" class="media-object">
                        <div class="media-body">
                            <h4 class="media-heading">Kenneth Ross</h4>
                            <span> Senior Designer </span>
                        </div>
                    </a>
                </li>*@
        </ul>
    }

}