@using FusionCore.Models.Backend.Messages
@model GroupChatBox
<div class="row">
    <form id="sendmessageform" method="post">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="clip-bubble-4"></i> Groep chat
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
                        @*<a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> </a>*@
                        <a class="btn btn-lg btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
                        <a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
                        <a class="btn btn-lg btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
                    </div>
                </div>
                <div class="panel-body panel-scroll" style="height:335px">
                    <ol class="discussion" id="dashboardgroupchart">
                        @if (Model != null && Model.messageThreads != null && Model.messageThreads.Any())
                        {

                            @*<li class="other">
                                    <div class="avatar"><img alt="" src="assets/images/avatar-4.jpg"></div>
                                    <div class="messages">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <span class="time correct-NM"> 51 min </span>
                                    </div>
                                </li>
                                <li class="self">
                                    <div class="avatar"><img alt="" src="assets/images/avatar-1.jpg"></div>
                                    <div class="messages">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <span class="time correct-NM"> 37 mins </span>
                                    </div>
                                </li>
                                <li class="other">
                                    <div class="avatar"><img alt="" src="assets/images/avatar-3.jpg"></div>
                                    <div class="messages">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    </div>
                                </li>
                                <li class="self">
                                    <div class="avatar"><img alt="" src="assets/images/avatar-1.jpg"></div>
                                    <div class="messages">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    </div>
                                </li>
                                <li class="other">
                                    <div class="avatar"><img alt="" src="assets/images/avatar-4.jpg"></div>
                                    <div class="messages">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    </div>
                                </li>*@

                            @foreach (var msg in Model.messageThreads)
                            {
                                var userclass = "other";
                                if (msg.senderId == Model.senderid)
                                {
                                    userclass = "self";
                                }
                                <li class="@userclass" data-msgid="@msg.Id">
                                    <div class="avatar"><img alt="@msg.sendername" src="@msg.senderphoto" style="height: 50px;width: 50px;" /></div>
                                    <div class="messages messagearrowhover">
                                        <p style="padding-right:7px;">

                                            @msg.message

                                        </p>
                                        @if (msg.senderId == Model.senderid)
                                        {
                                            <span class="messagearrowicon messagearrowhide messagearrowshow" data-msgid="@msg.Id" data-chattype="group"><i class='clip-remove'></i></span>
                                        }
                                    </div>
                                </li>
                            }


                        }
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="chat-form">
                <div class="input-group">
                    <input type="hidden" asp-for="senderid" />
                    <input type="hidden" asp-for="groupid" />
                    <input type="text" class="form-control input-mask-date" required placeholder="Type a message here..." asp-for="message">
                    <span class="input-group-btn">
                        <button class="btn btn-teal" type="submit" id="btnsubmitsendmessage">
                            <i class="fa fa-check"></i>
                        </button>

                    </span>
                </div>
            </div>
        </div>
    </form>
</div>