@{
    ViewData["Title"] = "Dashboard";
}
@section Head
	{
    <link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/assets/libs/ckeditor/contents.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts
	{

    <script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
    <script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>

    <script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>

    <script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>

    <script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>

    @*<script src="~/assets/js/table-data.js" asp-append-version="true"></script>*@
    <script src="~/assets/js/pages-user-profile.js" asp-append-version="true"></script>
    <script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
    <script>
var pageIndex = 0;
        jQuery(document).ready(function () {

            $('#recentlyupdated').DataTable({
                'stateSave': true,
				"processing": true,
				"serverSide": true,
				"filter": true,
                "orderMulti": false,
                "order": [[1, "desc"]],
                "lengthMenu": [[5,10,15,20,100],[5,10,15,20,"All"]],
                "iDisplayLength": 5,
				"ajax": "@Url.Action("DataTable")",
				"columns": [
					{ "data": "title" },
					{ "data": "updated" },
					{ "data": "active" },
					{ "data": "buttons" }
				],
				"columnDefs": [

					{
						"render": function (data, type, row) {

							if (row.updated != null) {
								var parsedDate = new Date(row.updated);
								return parsedDate.toLocaleDateString();
							}
							return null;
						},
						"className": "hidden-xs",
						"targets": 1
					},
					{

						"render": function (data, type, row) {

							var returnValue = "";

							var pageurl = getPostUrls(row);;

                            var activeUrl =pageurl+"Active";
							var pageid = row.id;
							var returnValue = "";
							if (row.active) {

								returnValue += "<input type='checkbox' data-toggle='toggle' data-onstyle='teal' checked data-id=" + pageid + " data-url=" + activeUrl + " onchange='CheckActive($(this));' />";
							} else {

								returnValue += "<input type='checkbox' data-toggle='toggle' data-onstyle='teal'  data-id=" + pageid + " data-url=" + activeUrl + " onchange='CheckActive($(this));' />";
							}
							return returnValue;
						},
						className: "hidden-xs",
						"targets": 2,

					},
					{
						"render": function (data, type, row) {

                            var pageurl = getPostUrls(row);

							var returnValue = "";
							var modalProperties = " data-title=\"" +
								row.title +
								"\" data-url=\""+pageurl+"Get/" +
								row.id +
								"\" data-class=\"super\"";
							var deleteUrl = pageurl+"Delete/" + row.id;

							returnValue += "<div class=\"visible-md visible-lg hidden-sm hidden-xs\">\n";
							returnValue +=
								"<a href=\"#panel-gebruiker-edit\" class=\"btn btn-teal tooltips js-popup-modal\" " +
								modalProperties +
								" data-placement=\"top\" data-original-title=\"Edit\"><i class=\"fa fa-edit\"></i></a>\n";
							returnValue +=
								"<a href=\"" +
								deleteUrl +
								"\" class=\"btn btn-bricky tooltips js-modal-delete-ajax\" data-selector=\"#recentlyupdated\" data-placement=\"top\" data-original-title=\"Remove\"><i class=\"fa fa-times fa fa-white\"></i></a>\n";
							returnValue += "</div>\n";
							returnValue += "<div class=\"visible-xs visible-sm hidden-md hidden-lg\">\n";
							returnValue += "<div class=\"btn-group\">\n";
							returnValue +=
								"<a class=\"btn btn-primary dropdown-toggle btn-sm\" data-toggle=\"dropdown\" href=\"#\"><i class=\"fa fa-cog\"></i> <span class=\"caret\"></span></a>\n";
							returnValue += "<ul role=\"menu\" class=\"dropdown-menu pull-right\">\n";
							returnValue +=
								"<li role=\"presentation\"><a role=\"menuitem\" href=\"#\" class=\"js-popup-modal\" " +
								modalProperties +
								"><i class=\"fa fa-edit\"></i> Edit</a></li>\n";
							returnValue +=
								"<li role=\"presentation\"><a role=\"menuitem\" href=\"" +
								deleteUrl +
								"\" class=\"js-modal-delete-ajax\" data-selector=\"#recentlyupdated\"><i class=\"fa fa-times\"></i> Remove</a></li>\n";
							returnValue += "</ul>\n";
							returnValue += "</div>\n";
							returnValue += "</div>\n";

							return returnValue;
						},
						className: "center",
						"targets": 3,
						"orderable": false
					}
				],
				"createdRow": function (row, data, dataIndex) {
					$(row).find("[data-toggle='toggle']").bootstrapToggle();
				},
			 "drawCallback": function( settings ) {
					//var api = this.api();

					//// Output the data for the visible rows to the browser's console
					//console.log( api.rows( {page:'current'} ).data() );
				 $('.dataTables_length select').select2();
				}

            });

              AjaxCall("@Url.Action("GetDashboardMessages")?pageindex="+pageIndex).done(function (response) {

                  $("#msgs").html(response);
                  SendMessageFormSubmit();
                  commonInits();
              });


            GetToDoList();

            

            $("#deletetodoconfirm").on("click", function () {

                AjaxCall("@Url.Action("DeleteToDo")?id="+$(this).attr("data-id") ).done(function (response) {
                    $("#navlitodolist").html(response.navigationtoptodo);
    $("#todolist").html(response.dashboardtodo);
    runToDoAction();
                    $("#tododelete").modal("hide");
                    $("#deletetodoconfirm").removeAttr("data-id");

                    commonInits();
                });
            });

            $( "#panel-to-do" ).on('hidden.bs.modal', function(){
                clearToDoPopupData();
                commonInits();
});
		});
        function getPostUrls(row) {
            var pageurl = "";

            if (row.pagetype == "fund") {
                                pageurl = "/fundsmanager/funds/";
                            }
                            else if (row.pagetype == "banner") {
                                pageurl = "/bannermanager/banner/";
                            }
                            else if (row.pagetype == "page") {
                                pageurl = "/pagemanager/page/";
                            }
                            else if (row.pagetype == "adminpage") {
                                pageurl = "/pagemanager/administrator/";
                            }
                            else if (row.pagetype == "news") {
                                pageurl = "/newsmanager/news/";
                            }
                            else if (row.pagetype == "team") {
                                pageurl = "/teammanager/teams/";
            }
            else if (row.pagetype == "support") {
                                pageurl = "/supportmanager/support/";
            }
            return pageurl;
        }
        function CheckActive(e){
			if (e.length > 0) {
				var url = $(e[0]).attr("data-url");
				var pageid = $(e[0]).attr("data-id");
				var ischecked = $(e[0]).is(":checked");
				var data = { id: pageid, value: ischecked };

            $.ajax({
				type: "POST",
				url: url,
						data: data,
						beforeSend: function (xhr) {
							xhr.setRequestHeader("RequestVerificationToken",
								$('input:hidden[name="__RequestVerificationToken"]').val());
						},
						success: function (returnData) {

						}
					});
			}
        }

        function SendMessageFormSubmit() {
            runPanelScroll();
            ScrollToBottom();
            MessageDelete();
            commonInits();
            $("#sendmessageform").on("submit", function (e) {
            e.preventDefault();
            var fdata = $("#sendmessageform").serialize();
            var formAction = "@Url.Action("SendMessage")";

                $.post(formAction, fdata, function (response) {
                    pageIndex = 0;
                    $("#msgs").html(response);
                    SendMessageFormSubmit();

                    var msgid=$("#dashboardgroupchart li:last-child").attr("data-msgid");
                    
                    var msg = $($("#sendmessageform").find("#message")[0]).val();

                    $($("#sendmessageform").find("#message")[0]).val('');

                    var userid = $("#navtopuserimage").attr("data-navtopuserid");
                    var username =  $("#navtopuserimage").attr("data-navtopusername");
                    var userimage = $("#navtopuserimage").attr("src");
                    
                    $("#buttonchat").attr("data-senderid", userid);
                    $("#buttonchat").attr("data-sendername", username);
                   $("#buttonchat").attr("data-senderimage", userimage);
                    $("#buttonchat").attr("data-group", "dashboard");
                    $("#buttonchat").attr("data-msg", msg);
                    $("#buttonchat").attr("data-msgid",msgid);
                   $("#buttonchat").click();
             });

        });

        }

        function ScrollToBottom() {

                 if ($("#msgs .panel-scroll").length) {
                     var element = $('#msgs .panel-scroll');

                     var maxScrollBottom = element[0].scrollHeight - element.outerHeight();

                     if (pageIndex == 0) {

                         element.scrollTop(maxScrollBottom);
                     }
                     element.on('scroll', function () {

                         if (element.scrollTop() == 0) {

            pageIndex++;

            AjaxCall("@Url.Action("GetDashboardMessages")?pageindex=" + pageIndex).done(function (response) {

                 //$("#msgs").html(response);
                //SendMessageFormSubmit();
                var res = true;
                var html = ($($(response).find(".discussion")[0]).html());
                if (html == undefined) {
                    html = "";
                    res = false;
                }
                html += ($($("#sendmessageform").find(".discussion")[0]).html());

                $($("#sendmessageform").find(".discussion")[0]).html(html);

                if (res) {
                    var scrollheight = element[0].scrollHeight / 2;

                    element.scrollTop(scrollheight);
                }

              });

        }
    });
                 }
             }

       

        function GetToDoList() {
             AjaxCall("@Url.Action("GetToDoList")").done(function (response) {
                 $("#todolist").html(response);
                 
                 runToDoAction();
            });
        }

      

        function commonInits() {
            //Main.init();
            Main.runModuleTools();
        }
    </script>
}
@section PageHeader
	{
    <ol class="breadcrumb">
        <li><i class="clip-home"></i><a asp-controller="Dashboard" asp-action="Index">&nbsp;&nbsp;Home</a></li>
        <li class="active">Dashboard</li>
        @await Component.InvokeAsync("SearchBox")
    </ol>
    <div class="page-header">
        <h1>Dashboard <small>overview &amp; stats </small></h1>
    </div>
}
<!-- start: PANEL CONFIGURATION MODAL FORM -->
<div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Panel Configuration</h4>
            </div>
            <div class="modal-body">Here will be a configuration form</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- start: STYLE SELECTOR BOX -->
@*<div id="style_selector" class="hidden-xs close-style">
        <div id="style_selector_container" style="display: block">
            <div class="style-main-title">
                Style Selector
            </div>
            <div class="box-title">
                Choose Your Layout Style
            </div>
            <div class="input-box">
                <div class="input">
                    <select name="layout">
                        <option value="default">Wide</option>
                        <option value="boxed">Boxed</option>
                    </select>
                </div>
            </div>
            <div class="box-title">
                Choose Your Orientation
            </div>
            <div class="input-box">
                <div class="input">
                    <select name="orientation">
                        <option value="default">Default</option>
                        <option value="rtl">RTL</option>
                    </select>
                </div>
            </div>
            <div class="box-title">
                Choose Your Header Style
            </div>
            <div class="input-box">
                <div class="input">
                    <select name="header">
                        <option value="fixed">Fixed</option>
                        <option value="default">Default</option>
                    </select>
                </div>
            </div>
            <div class="box-title">
                Choose Your Footer Style
            </div>
            <div class="input-box">
                <div class="input">
                    <select name="footer">
                        <option value="default">Default</option>
                        <option value="fixed">Fixed</option>
                    </select>
                </div>
            </div>
            <div class="box-title">
                Backgrounds for Boxed Version
            </div>
            <div class="images boxed-patterns">
                <a id="bg_style_1" href="#"><img alt="" src="assets/images/bg.png"></a>
                <a id="bg_style_2" href="#"><img alt="" src="assets/images/bg_2.png"></a>
                <a id="bg_style_3" href="#"><img alt="" src="assets/images/bg_3.png"></a>
                <a id="bg_style_4" href="#"><img alt="" src="assets/images/bg_4.png"></a>
                <a id="bg_style_5" href="#"><img alt="" src="assets/images/bg_5.png"></a>
            </div>
            <div class="box-title">
                5 Predefined Color Schemes
            </div>
            <div class="images icons-color">
                <a id="light" href="#"><img class="active" alt="" src="assets/images/lightgrey.png"></a>
                <a id="dark" href="#"><img alt="" src="assets/images/darkgrey.png"></a>
                <a id="black-and-white" href="#"><img alt="" src="assets/images/blackandwhite.png"></a>
                <a id="navy" href="#"><img alt="" src="assets/images/navy.png"></a>
                <a id="green" href="#"><img alt="" src="assets/images/green.png"></a>
            </div>
            <div style="height: 25px; line-height: 25px; text-align: center">
                <a class="clear_style" href="#">
                    Clear Styles
                </a>
                <a class="save_style" href="#">
                    Save Styles
                </a>
            </div>
        </div>
        <div class="style-toggle open">
            <i class="fa fa-cog fa-spin"></i>
        </div>
    </div>*@
<!-- end: STYLE SELECTOR BOX -->
<!-- end: SPANEL CONFIGURATION MODAL FORM -->
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Laatste bewerkingen</div>
                <div class="panel-tools big">
                    <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
                    @*<a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> </a>*@
                    <a class="btn btn-lg btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
                    <a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
                    <a class="btn btn-lg btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-full-width" id="recentlyupdated">
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th class="hidden-xs"> Datum</th>
                            <th class="hidden-xs"> Active</th>
                            <th class="center">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div id="msgs"></div>
        @*@{
             await Html.RenderPartialAsync("GroupChatBox");
            }*@
    </div>
</div>
<div class="row">
    @*<div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="clip-calendar"></i> Calendar
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
                        <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> </a>
                        <a class="btn btn-lg btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
                        <a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
                        <a class="btn btn-lg btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>*@
    <div class="col-sm-7">

        <div id="todolist"></div>

    </div>
</div>
<!-- end: PAGE CONTENT-->
<div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Event Management</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-light-grey">
                    Close
                </button>
                <button type="button" class="btn btn-danger remove-event no-display">
                    <i class="fa fa-trash-o"></i> Delete Event
                </button>
                <button type="submit" class="btn btn-success save-event">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>



<div class="bootbox modal fade bootbox-confirm" tabindex="-1" role="dialog" id="tododelete">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                <div class="bootbox-body">Weet u het zeker?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="deletetodoconfirm">OK</button>
            </div>

        </div>
    </div>
</div>