@using FusionCore.Models.Backend.ToDo
@using FusionCore.Core.Enums
@model List<ToDoPersistModel>
@{
    var data = new List<ToDoPersistModel>();
    var style = "";
    var cssclass="";
    if (Model != null && Model.Any())
    {
        data = Model;
        cssclass = "collapses";
    }
    else
    {
        style = "display:none";
        cssclass = "expand";
    }
}
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="clip-checkbox"></i> To Do
        <div class="panel-tools big">
            <a class="btn btn-lg btn-link panel-collapse @cssclass" href="#">
            </a>
            <a class="btn btn-lg btn-link panel-to-do" href="#panel-to-do" data-toggle="modal" id="addtodo">
                <i class="fa fa-plus"></i>
            </a>
            @*<a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal">
                    <i class="fa fa-wrench"></i>
                </a>*@
            <a class="btn btn-lg btn-link panel-refresh" href="#">
                <i class="fa fa-refresh"></i>
            </a>
            <a class="btn btn-lg btn-link panel-close" href="#">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="panel-body panel-scroll" style="height:300px; @style">
        <ul class="todo">
            @foreach (var todo in data)
            {
                <li>
                    <div class="col-md-12 todo_correct" style="border-bottom:1px solid #E4E6EB;">
                        <div class="col-md-10">
                            <a class="todo-actions" style="border:none;" href="javascript:void(0)" data-todoid="@todo.Id">
                                @{
                                    var itag = "fa-square-o";
                                    var spanstyle = "opacity: 1; text-decoration: none;";
                                    var spanopacity = "opacity: 1;";
                                    if (todo.done)
                                    {
                                        itag = "fa-check-square-o";
                                        spanstyle = "opacity: .25; text-decoration: line-through;";
                                        spanopacity = "opacity: .25;";
                                    }

                                }
                                <i class="fa @itag"></i>
                                <span class="desc" style="@spanstyle">@todo.ToDoTitle</span>
                                @{
                                    var today = DateTime.Now;
                                    var tomorrow = today.AddDays(1);
                                    var sundayDate = today.Subtract(new TimeSpan((int)DateTime.Now.DayOfWeek, 0, 0, 0));
                                    var saturdayDate = sundayDate.AddDays(6);
                                    var currentperiod = todo.Period;

                                    if (todo.Period == ToDoPeriod.Today || (todo.expiryDate.Day == today.Day && todo.expiryDate.Month == today.Month && todo.expiryDate.Year == today.Year))
                                    {
                                        <span class="label label-danger" style="@spanopacity"> today</span>

                                        currentperiod = ToDoPeriod.Today;
                                    }
                                    else if (todo.Period == ToDoPeriod.Tomorrow || (todo.expiryDate.Day == tomorrow.Day && todo.expiryDate.Month == tomorrow.Month && todo.expiryDate.Year == tomorrow.Year))
                                    {
                                        <span class="label label-warning" style="@spanopacity"> tommorow</span>

                                        currentperiod = ToDoPeriod.Tomorrow;
                                    }
                                    else if (todo.Period == ToDoPeriod.ThisWeek || (todo.expiryDate.Day == saturdayDate.Day && todo.expiryDate.Month == saturdayDate.Month && todo.expiryDate.Year == saturdayDate.Year))
                                    {
                                        <span class="label label-success" style="@spanopacity"> this week</span>

                                        currentperiod = ToDoPeriod.ThisWeek;
                                    }
                                    else //if (todo.Period == ToDoPeriod.ThisMonth)
                                    {
                                        <span class="label label-info" style="@spanopacity"> this month</span>
                                        currentperiod = ToDoPeriod.ThisMonth;
                                    }
                                }
                            </a>
                        </div>
                        <div class="col-md-1" style="padding:0 !important;">
                            <a href="javascript:void(0)" class="edittodo" data-title="@todo.ToDoTitle" data-todoid="@todo.Id" data-period="@currentperiod" style="border:none;">
                                <i class="fa fa-edit"></i>
                            </a>
                        </div>
                        <div class="col-md-1" style="padding:0 !important;">
                            <a href="javascript:void(0)" class="removetodo" data-todoid="@todo.Id" style="padding:10px 0px 10px 10px !important;border:none;">
                                <i class="fa fa-remove"></i>
                            </a>
                        </div>
                    </div>
                </li>
            }

            @*<li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                        <span class="label label-danger" style="opacity: 1;"> today</span>
                    </a>
                </li>
                <li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                        <span class="label label-danger" style="opacity: 1;"> today</span>
                    </a>
                </li>
                <li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc"> Hire developers</span>
                        <span class="label label-warning"> tommorow</span>
                    </a>
                </li>
                <li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc">Staff Meeting</span>
                        <span class="label label-warning"> tommorow</span>
                    </a>
                </li>
                <li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc"> New frontend layout</span>
                        <span class="label label-success"> this week</span>
                    </a>
                </li>
                <li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc"> Hire developers</span>
                        <span class="label label-success"> this week</span>
                    </a>
                </li>
                <li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc"> New frontend layout</span>
                        <span class="label label-info"> this month</span>
                    </a>
                </li>
                <li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc"> Hire developers</span>
                        <span class="label label-info"> this month</span>
                    </a>
                </li>
                <li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                        <span class="label label-danger" style="opacity: 1;"> today</span>
                    </a>
                </li>
                <li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                        <span class="label label-danger" style="opacity: 1;"> today</span>
                    </a>
                </li>
                <li>
                    <a class="todo-actions" href="javascript:void(0)">
                        <i class="fa fa-square-o"></i>
                        <span class="desc"> Hire developers</span>
                        <span class="label label-warning"> tommorow</span>
                    </a>
                </li>*@
        </ul>


    </div>
</div>