@using FusionCore.Modules.InstallationManager.Data.Entities
@using FusionCore.Modules.InstallationManager.Data.Enums
@using FusionCore.Core.Enums
@using FusionCore.Core.Extensions
@model FusionCore.Modules.InstallationManager.Models.ControlePersistModel
@{
	Layout = null;
	var fields = Model.Planning.AssetActivityHistories
		.Where(x => (x.AssetActivityId == Model.Planning.AssetActivityId || !x.AssetActivityId.HasValue)
					&& x.PlanningId == Model.Planning.Id && x.Kind == 1)
		.OrderBy(x => x.SortOrder).ToList();
	var dynamicFields = Model.Planning.AssetActivityHistories
		.Where(x => (x.AssetActivityId == Model.Planning.AssetActivityId || !x.AssetActivityId.HasValue)
					&& x.PlanningId == Model.Planning.Id && x.Kind == 2)
		.OrderBy(x => x.SortOrder).ToList();
	var firstField = fields.FirstOrDefault() ?? new AssetActivityHistory();
	var hasSignature = Model.Planning.Signature != null && Model.Planning.Signature.Length > 0;
}
<form asp-action="Save" id="controleForm">
	<input type="hidden" name="id" id="id" value="@Model.Planning.Id" />
	<input type="hidden" asp-for="Planning.Id" />
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				@if (dynamicFields.Any())
				{
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa clip-file-2"></i> Dynamische velden
							<div class="panel-tools big">
								<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
							</div>
						</div>
						<div class="panel-body responsive">
							@for (var i = 0; i < dynamicFields.Count; i++)
							{
								var field = dynamicFields[i];
								if (field.DynamicFieldType == DynamicFieldType.File || field.DynamicFieldType == DynamicFieldType.Image)
								{
									continue;
								}
								await Html.RenderPartialAsync("_fields", field);

								if (i < (dynamicFields.Count - 1))
								{
									<div class="col-sm-12 no-padding responsive"><hr class="small"></div>
								}
							}
						</div>
					</div>
				}
				@if (fields.Any())
				{
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa clip-file-2"></i> Vragenlijst
							<div class="panel-tools big">
								<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
							</div>
						</div>
						<div class="panel-body responsive">
							@for (var i = 0; i < fields.Count; i++)
							{
								var field = fields[i];
								if (field.DynamicFieldType == DynamicFieldType.File || field.DynamicFieldType == DynamicFieldType.Image)
								{
									continue;
								}
								await Html.RenderPartialAsync("_fields", field);

								if (i < (fields.Count - 1))
								{
									<div class="col-sm-12 no-padding responsive"><hr class="small"></div>
								}
							}
						</div>
					</div>
				}
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-picture-o"></i> Foto's
						<div class="panel-tools big">
							<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
							<a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
						</div>
					</div>
					<div class="panel-body responsive">
						<div class="container-check resp-margin-top">
							<div class="col-sm-6 align-right no-padding-wb margin-bottom-small">
								<input id="fileImage" type="file" class="js-fileinput-image" data-type="@((int)FileType.Image)" />
							</div>
							<div class="container-textarea">
								<textarea class="autosize form-control" id="file-image-description" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 69px;" data-autosize-on="true" placeholder="toelichting"></textarea>
							</div>
							<div class="col-sm-12 no-padding"><hr class="img-resp"></div>
							<div class="container-textarea">
								<table class="table table-striped table-bordered table-hover table-full-width" id="pictureTable">
									<thead>
										<tr>
											<th>Foto</th>
											<th>Omschrijving</th>
											<th class="center">Edit </th>
										</tr>
									</thead>
									<tbody>
										@foreach (var history in Model.Planning.AssetActivityHistories.Where(x => x.DynamicFieldType == DynamicFieldType.Image))
										{
											if (!history.AssetFileId.HasValue || history.AssetFile == null)
											{
												continue;
											}
											<tr>
												<td class="img-resize">
													<img id="@("img" + history.Id)" src="@Url.Action("Image", "Asset", new {id = history.AssetFileId})" alt="@history.Id"/>
												</td>
												<td class="valign-top"><textarea class="autosize form-control" id="@($"file_data-image-description-{history.Id}")" name="@($"file_data-image-description-{history.Id}")" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 69px;" data-autosize-on="true" placeholder="toelichting">@history.AssetFile?.Description</textarea></td>
												<td class="center">
                                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                        <button type="button" class="btn btn-warning js-rotate-image" data-kind="l" data-id="@history.Id" data-planning="@Model.Planning.Id"><i class="fa clip-rotate-2"></i> left</button>
                                                        <button type="button" class="btn btn-warning js-rotate-image" data-kind="r" data-id="@history.Id" data-planning="@Model.Planning.Id"><i class="fa clip-rotate"></i> right</button>
                                                        <a href="#" class="btn btn-bricky tooltips js-remove-image" data-id="@history.Id" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                    </div>
													<div class="visible-xs visible-sm hidden-md hidden-lg">
														<div class="btn-group">
															<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>
															<ul role="menu" class="dropdown-menu pull-right">
																<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-remove-image" data-id="@history.Id"><i class="fa fa-times"></i> Verwijderen</a></li>
															</ul>
														</div>
													</div>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa clip-file-plus"></i> Bijvoeg bestanden
						<div class="panel-tools big">
							<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
							<a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
						</div>
					</div>
					<div class="panel-body responsive">
						<div class="container-check resp-margin-top">
							<div class="col-sm-6 align-right no-padding-wb margin-bottom-small">
								<input id="file" type="file" class="js-fileinput-file" data-type="@((int)FileType.Pdf)" />
							</div>
							<div class="container-textarea">
								<table class="table table-striped table-bordered table-hover table-full-width" id="fileTable">
									<thead>
										<tr>
											<th>Datum</th>
											<th>Bestandsnaam</th>
											<th class="center">Edit </th>
										</tr>
									</thead>
									<tbody>
										@foreach (var history in Model.Planning.AssetActivityHistories.Where(x => x.DynamicFieldType == DynamicFieldType.File))
										{
											if (history.AssetFile == null) { continue; }
											var iconType = "pdf";
											var buttonClass = "btn-danger";
											var downloadUrl = Url.Action("FileDownloadAsync", "Controle", new {id = history.Id});
											if (history.AssetFile.Title.ToLower().EndsWith(".xls") || history.AssetFile.Title.ToLower().EndsWith(".xlsx"))
											{
												iconType = "excel";
												buttonClass = "btn-green";
											}
											else if (history.AssetFile.Title.ToLower().EndsWith(".doc") || history.AssetFile.Title.ToLower().EndsWith(".docx"))
											{
												iconType = "word";
												buttonClass = "btn-primary";
											}
											<tr>
												<td>@history.CreatedOnUtc.ConvertToUserTime().ToString("dd-MM-yyyy - HH:mm")</td>
												<td>@history.AssetFile.Title</td>
												<td class="center">
													<div class="visible-md visible-lg hidden-sm hidden-xs">
														<a href="@downloadUrl" target="_blank" class="btn @buttonClass tooltips" data-original-title="File"><i class="fa clip-file-@iconType"></i></a>
														<a href="#" class="btn btn-bricky tooltips js-remove-image" data-id="@history.Id" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
													</div>
													<div class="visible-xs visible-sm hidden-md hidden-lg">
														<div class="btn-group">
															<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i><span class="caret"></span></a>
															<ul role="menu" class="dropdown-menu pull-right">
																<li role="presentation"><a role="menuitem" tabindex="-1" href="@downloadUrl" target="_blank"><i class="fa clip-file-@iconType"></i></a></li>
																<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-remove-image" data-id="@history.Id"><i class="fa fa-times"></i></a></li>
															</ul>
														</div>
													</div>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa clip-file-2"></i> Opmerkingen
						<div class="panel-tools big">
							<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
							<a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
						</div>
					</div>
					<div class="panel-body responsive">
						<div class="container-check">
							<div class="col-sm-12 no-padding resp-margin-top">
								<div class="container-textarea no-margin-bottom">
									<textarea class="summernote" asp-for="Planning.MaterialsRemark" placeholder="Hier komt de template layout van de mail naar de klanten"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-pencil-square-o"></i> Handtekening
						<div class="panel-tools big">
							<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
							<a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
						</div>
					</div>
					<div class="panel-body responsive">
						<div class="container-check">
							<div class="col-sm-5 form-text">Akkoord bevonden door </div>
							<div class="col-sm-7 align-right no-padding-wb">
								<input type="text" placeholder="Text Field" id="okayGivenBy" name="okayGivenBy" value="@firstField.OkayGivenBy" class="form-control">
							</div>
						</div>
						<div class="col-sm-12 no-padding responsive"><hr class="small"></div>
						<div class="container-check">
							<div class="container-textarea">
								@{
									if (hasSignature)
									{
										var signature = Convert.ToBase64String(Model.Planning.Signature);
										<img alt="handtekening" id="imgSignature" width="800" src='data:image/png;base64,@signature'/>
									}
								}
							</div>
						</div>
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<h4>Bedrijfsgegevens </h4>
				<hr />
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa  fa-clock-o"></i> Uren
						<div class="panel-tools big">
							<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
							<a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
						</div>
					</div>
					<div class="panel-body responsive">
						<div class="container-check">
							<div class="col-sm-5 form-text">Norm uren</div>
							<div class="col-sm-7 no-padding-wb">
								<div class="col-sm-3 no-padding"><input type="text" placeholder="2" name="normhours" value="@firstField.NormHours" class="form-control"></div>
							</div>
						</div>
						<div class="col-sm-12 no-padding responsive"><hr class="small"></div>
						<div class="container-check">
							<div class="col-sm-5 form-text">Werk uren</div>
							<div class="col-sm-7 no-padding-wb">
								<div class="col-sm-3 no-padding resp-margin-bottom"><input type="text" placeholder="aantal" id="realhours" value="@(firstField.RealHours > 0 ? firstField.RealHours.ToString() : "")" class="form-control"></div>
								<div class="col-sm-3 no-padding">
									<select id="realminutes" name="realminutes" class="form-control" asp-for="@firstField.RealMinutes">
										<option value="00">00</option>
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-12 no-padding responsive"><hr class="small"></div>
						<div class="container-check">
							<div class="col-sm-5 form-text">Reis uren</div>
							<div class="col-sm-7 no-padding-wb">
								<div class="col-sm-3 no-padding resp-margin-bottom"><input type="text" placeholder="aantal" name="travelhours" id="travelhours" value="@(firstField.TravelHours > 0 ? firstField.TravelHours.ToString() : "")" class="form-control"></div>
								<div class="col-sm-3 no-padding resp-margin-bottom">
									<select id="travelminutes" name="travelminutes" class="form-control" asp-for="@firstField.TravelMinutes">
										<option value="0">00</option>
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select>
								</div>
							</div>
						</div>

					</div>
				</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa clip-bubble-4"></i> Acties
					<div class="panel-tools big">
						<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
						<a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
					</div>
				</div>
				<div class="panel-body responsive">
					<div class="container-check">
						<div class="col-sm-12 no-padding resp-margin-top">
							<div class="container-textarea no-margin-bottom">
								<textarea class="summernote" asp-for="Planning.Materials" placeholder="Hier komt de template layout van de mail naar de klanten"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa clip-bubble-4"></i> Email toevoeging
					<div class="panel-tools big">
						<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
						<a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
					</div>
				</div>
				<div class="panel-body responsive">
					<div class="container-check">
						<div class="col-sm-12 no-padding resp-margin-top">
							<div class="container-textarea no-margin-bottom">
								<textarea class="summernote" asp-for="Planning.ExtraEmailInformation" placeholder="Deze text wordt verstuurd via een toevoeg veld als extra informatie aan de klant"></textarea>
							</div>
						</div>
					</div>
					<div class="col-sm-12 no-padding responsive"><hr class="small"></div>
					<div class="container-check">
						<div class="col-sm-5 form-text">Extra email ontvanger </div>
						<div class="col-sm-7 align-right no-padding-wb">
							<input type="text" placeholder="Extra emailadressen" asp-for="Planning.ExtraEmail" class="form-control">
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a asp-action="Pdf" asp-route-id="@Model.Planning.Id" class="btn btn-info pull-left" target="_blank"><i class="fa fa-print"></i></a>
		<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
		<button type="button" class="btn btn-primary js-save">Opslaan</button>
		@if (Model.Planning.Status == PlanningStatus.TechnicallyReady)
		{
			<button type="button" id="js-finish" class="btn btn-warning">Afmelden</button>
		}
		else if (Model.Planning.Status == PlanningStatus.Complete)
		{
			<button type="button" class="btn btn-bricky js-save">Opslaan &amp; PDF opnieuw genereren</button>
		}
	</div>
</form>
<script>
	var signaturePad;
	var signatureAlreadyPresent = @Model.Planning.SignatureAlreadyPresent.ToString().ToLower();
	function loadCanvas() {
		var parent = $("#canvas");
		if (parent.length > 0) {
			var canvas = document.getElementById("newSignature");
			signaturePad = new SignaturePad(canvas);

			canvas.width = parent.innerWidth() - 20;
			canvas.height = parent.innerHeight() - 10;
			canvas.getContext("2d").scale(1, 1);
			signaturePad.clear();


			if (signatureAlreadyPresent) {
				$("#canvas").hide();
				$("#imgSignature").show();
			}
		}
	}

	function clearCanvas() {
		signaturePad.clear();
	}

	function registerFunctions() {
		$('.summernote').summernote({
			height: 300,
			tabsize: 2
		});
		$("#js-signature_reset")
			.on("click",
				function(e) {
					e.preventDefault();
					clearCanvas();
					$("#canvas").show();
					$("#imgSignature").hide();
				});
	}

	function GetJsonData(dataUrl, status) {
		var mainForm = $('#controleForm').serializeObject();
		var dic = JSON.stringify(mainForm);
		return {
			'status': status,
			'dictionary': dic,
			'planningid': $("#Planning_Id").val(),
			'okayGivenBy': $("#okayGivenBy").val(),
			'actions': $("#Planning_Materials").val(),
			'realhours': $("#realhours").val(),
			'realminutes': $("#realminutes").val(),
			'normhours': $("#normhours").val(),
			'remarks': $("#Planning_MaterialsRemark").val(),
			'extraemail': $("#Planning_ExtraEmail").val(),
			'extraemailinformation': $("#Planning_ExtraEmailInformation").val(),
			'travelhours': $("#travelhours").val(),
			'travelminutes': $('#travelminutes').val()
		};
	}

	$.fn.serializeObject = function() {
		var o = {};
		var a = this.serializeArray();
		$.each(a,
			function() {
				if (o[this.name] !== undefined) {
					if (!o[this.name].push) {
						o[this.name] = [o[this.name]];
					}
					o[this.name].push(this.value || '');
				} else {
					o[this.name] = this.value || '';
				}
			});
		return o;
	};

	function save(status, finish) {
		var dataUrl = "";
		var $mainForm = $('#controleForm');
		var totalData = GetJsonData(dataUrl, status);
		var json = JSON.stringify(totalData);

		$.ajax({
			url: $mainForm.attr('action'),
			beforeSend: function(xhr) {
				xhr.setRequestHeader("RequestVerificationToken",
					$('input:hidden[name="__RequestVerificationToken"]').val());
			},
			type: 'POST',
			data: json,
			dataType: 'json',
			contentType: 'application/json',
			success: function(result) {
				if (result) {
					if (finish) {
						var statusUrl = "@Url.Action("StatusUpdate", "Controle")/" + $("#Planning_Id").val() + '?status=@((int)PlanningStatus.Complete)';
						$.ajax({
							url: statusUrl,
							beforeSend: function (xhr) {
								xhr.setRequestHeader("RequestVerificationToken",
									$('input:hidden[name="__RequestVerificationToken"]').val());
							},
							type: 'GET',
							contentType: 'application/json',
							success: function (result) {
								$("#controleForm").closest(".modal").modal('hide');
								$('#controle').DataTable().ajax.reload();
							},
							error: function() {
								alert('Werkbon kan niet afgerond worden.');
							}
						});
					}
					else {
						$("#controleForm").closest(".modal").modal('hide');
					}

				} else {
					alert('Er is een fout opgetreden tijdens het opslaan, neem contact op met Novi Media');

				}
			},
			error: function() {
				alert(
					'De gegevens konden niet worden opgeslagen. Er wordt een lokale kopie bewaard. Controleer je internetverbinding');
			}
		});
	}

	jQuery(document).ready(function() {
		loadCanvas();

		$(".af_range").change(function() {
			var val = parseInt($(this).val());
			var minVal = parseInt($(this).data('minvalue'));
			var maxVal = parseInt($(this).data('maxvalue'));
			$(this).removeClass("af_range_ok");
			$(this).removeClass("af_range_outside");
			if (minVal <= val && maxVal >= val) {
				$(this).addClass("af_range_ok");
			} else {
				$(this).addClass("af_range_outside");
			}
		});

		$(".af_range").each(function(i, elm) {
			$(this).change();
		});

		$(".af_hv").change(function() {
			$(this).removeClass("af_hv_1");
			$(this).removeClass("af_hv_2");
			$(this).removeClass("af_hv_3");
			$(this).removeClass("af_hv_4");
			$(this).removeClass("af_hv_5");
			$(this).removeClass("af_hv_6");
			var val = Math.round($(this).val().replace(',', '.'));
			if (val === "" || val === 0) return;
			if (val > 6) val = 6;
			if (val < 1) val = 1;

			$(this).addClass("af_hv_" + val);

		});
		$(".af_hv").each(function(i, elm) {
			$(this).change();
		});

		$(".af_tvrtav").change(function() {
			$(this).removeClass("af_tvrtav_1");
			$(this).removeClass("af_tvrtav_2");
			$(this).removeClass("af_tvrtav_3");
			var val = $(this).val();
			if (val === "") return;
			if (val > 3) val = 3;
			if (val < 1) val = 1;

			$(this).addClass("af_tvrtav_" + val);
		});
		$(".af_tvrtav").each(function(i, elm) {
			$(this).change();
		});

		$(".js-save")
			.click(function() {
				$(".js-save").attr('disabled', 'disabled');
				save(3, false);
			});

		$("#js-finish")
			.click(function () {
				$("#js-finish").attr('disabled', 'disabled');
				save(3, true);
			});

		$(".js-auto-update").each(function(i, elm) {
			if ($(elm).attr('type') === "text") {
				$(elm).on("blur keypress",
					function(e) {
						if ((e.which === 0 || e.which === 13)) {
							postValues(elm);
						}
					});
			} else {
				$(elm).on("change",
					function(e) {
						postValues(elm);
					});
			}
		});

		$("body").on('click',
			'.js-remove-image',
			function(e) {
				e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("RemoveFile", "Controle")?Id=' +
						$this.data("id") +
						'&planningId=@Model.Planning.Id',
					success: function(data) {
						$this.closest("tr").remove();
					}
				});
			});

		$(".js-fileinput-file").each(function(i, elm) {
				var previewList = [];
				var previewConfig = [];
				var $elm = $(elm);
				$elm.fileinput({
					allowedFileExtensions: ['pdf'],
					showClose: false,
					uploadAsync: true,
					dropZoneEnabled: false,
					required: true,
					uploadUrl: '@Url.Action("FileUpload", "Controle")',
					uploadExtraData: function() {
						return {
							'planningId': '@Model.Planning.Id',
							'fileType': $elm.data("type"),
							'historyTypeId': '@((int)DynamicFieldType.File)',
							'description': $("#file-image-description").val()
						};
					},
					initialPreview: previewList,
					initialPreviewConfig: previewConfig
				});
				$elm.on('fileuploaded', function (event, data, previewId, index) {
					var response = data.response;
					var $lastRow = $("#fileTable tr:last");
					$("#file-image-description").empty();
					var iconType = "pdf";
					var buttonClass = "btn-danger";
					if (response.title.toLowerCase().endsWith(".xls") || response.title.toLowerCase().endsWith(".xlsx"))
					{
						iconType = "excel";
						buttonClass = "btn-green";
					}
					else if (response.title.toLowerCase().endsWith(".doc") || response.title.toLowerCase().endsWith(".docx"))
					{
						iconType = "word";
						buttonClass = "btn-primary";
					}

					$lastRow.after('<tr>'+
						'<td>'+response.createdon+'</td>' +
						'<td>'+response.title+'</td>' +
						'<td class="center">' +
						'<div class="visible-md visible-lg hidden-sm hidden-xs">' +
						'<a href="@(Url.Action("FileDownload", "Controle"))/' + response.id +'" target="_blank" class="btn '+buttonClass+' tooltips" data-original-title="File"><i class="fa clip-file-'+iconType+'"></i></a>' +
						'<a href="#" class="btn btn-bricky tooltips  js-remove-image" data-id="'+response.id+'" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>' +
						'</div>' +
						'<div class="visible-xs visible-sm hidden-md hidden-lg">' +
						'<div class="btn-group">' +
						'<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i><span class="caret"></span></a>' +
						'<ul role="menu" class="dropdown-menu pull-right">' +
						'<li role="presentation"><a role="menuitem" tabindex="-1" href="@(Url.Action("FileDownload", "Controle"))/' + response.id +'" target="_blank"><i class="fa clip-file-'+iconType+'"></i></a></li>' +
						'<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-remove-image" data-id="'+response.id+'"><i class="fa fa-times"></i></a></li>' +
						'</ul>' +
						'</div>' +
						'</div>' +
						'</td>' +
						'</tr>');

					$elm.fileinput('cancel');
					$elm.fileinput('clear');
					$("#fileTable tr:last .tooltips").tooltip();
				});
			});

			$(".js-fileinput-image").each(function (i, elm) {
				var previewList = [];
				var previewConfig = [];
				var $elm = $(elm);
				$elm.fileinput({
					showClose: false,
					uploadAsync: true,
					dropZoneEnabled: false,
					required: true,
					uploadUrl: '@Url.Action("FileUpload", "Controle")',
					uploadExtraData: function() {
						return {
							'planningId': '@Model.Planning.Id',
							'fileType': $elm.data("type"),
							'historyTypeId': '@((int)DynamicFieldType.Image)',
							'description': $("#file-image-description").val()
						};
					},
					initialPreview: previewList,
					initialPreviewConfig: previewConfig
				});
				$elm.on('fileuploaded', function (event, data, previewId, index) {
					console.log(data);
					var response = data.response;
					var $lastRow = $("#pictureTable tr:last");
					$lastRow.after('<tr>' +
						'<td class="img-resize"><img src="data:image/png;base64,'+response.file+'" alt="'+response.id+'" /></td>' +
						'<td class="valign-top"><textarea class="autosize form-control" id="file_data-image-description-' + response.id + '" name="file_data-image-description-' + response.id + '" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 69px;" data-autosize-on="true" placeholder="toelichting">' + response.description +'</textarea></td>' +
						'<td class="center">' +
                        '<div class="visible-md visible-lg hidden-sm hidden-xs">' +
                        '<a href="#" class="btn btn-bricky tooltips js-remove-image" data-id="' + response.id +'" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>' +
						'</div>' +
						'<div class="visible-xs visible-sm hidden-md hidden-lg">' +
						'<div class="btn-group">' +
						'<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>' +
						'<ul role="menu" class="dropdown-menu pull-right">' +
						'<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-remove-image" data-id="'+response.id+'"><i class="fa fa-times"></i> Verwijderen</a></li>' +
						'</ul>' +
						'</div>' +
						'</div>' +
						'</td>' +
						'</tr>');

					$elm.fileinput('cancel');
					$elm.fileinput('clear');
					$('.tooltips').tooltip();
				});
			});
	});
</script>