@using FusionCore.Modules.InstallationManager.Data.Enums
@{
    ViewData["Title"] = "Installatie controle overzicht";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {
    <link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/summernote/dist/summernote.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" asp-append-version="true" />

    <style>

        .af_range.af_range_ok {
            background: #92d050;
            color: #000000;
        }

        .af_range.af_range_outside {
            background: #ffc000;
            color: #000000;
        }

        .af_hv.af_hv_1,
        .af_hv.af_hv_2 {
            background: rgb(83, 142, 213);
            color: #000000;
        }

        .af_hv.af_hv_3,
        .af_hv.af_hv_4 {
            background: rgb(146, 208, 80);
            color: #000000;
        }

        .af_hv.af_hv_5 {
            background: rgb(255, 192, 0);
            color: #000000;
        }

        .af_hv.af_hv_6 {
            background: rgb(255, 0, 0);
            color: #000000;
        }

        .af_tvrtav.af_tvrtav_1 {
            background: rgb(146, 208, 80);
            color: #000000;
        }


        .af_tvrtav.af_tvrtav_2 {
            background: rgb(255, 192, 0);
            color: #000000;
        }


        .af_tvrtav.af_tvrtav_3 {
            background: rgb(255, 0, 0);
            color: #000000;
        }
    </style>
}

@section Scripts {
    <script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
    <script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/jquery-maskmoney/dist/jquery.maskMoney.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
    <script src="~/assets/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/jquery.tagsinput/src/jquery.tagsinput.js" asp-append-version="true"></script>
    <script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>
    <script src="~/assets/libs/ckeditor/adapters/jquery.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>
    <script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
    <script src="~/assets/libs/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/table-data.js" asp-append-version="true"></script>
    <script src="~/assets/js/pages-user-profile.js" asp-append-version="true"></script>
    <script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
    <script src="@Url.Action("GetJs", "Common", new { filename="Assets.signature_pad.js", assemblyName = "FusionCore.Modules.InstallationManager", area = "" })" asp-append-version="true"></script>
    <script>
		jQuery(document).ready(function() {

            $("body").on("click",
                ".js-statuschange",
                function (e) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    $.ajax({
                        url: url
                    }).then(function () {
                        $("#controle").DataTable().ajax.reload();
                    });
                })
                .on('click', '.js-rotate-image', function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    var id = $this.data('id');
                    var planningId = $this.data('planning');
                    var kind = $this.data('kind');
                    $.ajax({
                        url: '@Url.Action("RotateImage", "Controle")/' + id + '?kind=' + kind + 
						'&planningId=' + planningId,
                        type: 'POST',
						beforeSend: function (xhr) {
							xhr.setRequestHeader("RequestVerificationToken",
								$('input:hidden[name="__RequestVerificationToken"]').val());
						},
                    }).then(function (data) {
                        if (data === 'reload') {
                            var $img = $('#img' + id);
                            var src = $img.attr('src').split("?")[0];
                            var d = new Date();
                            $img.attr("src", src + '?' + d.getTime());
                        }   

                    });
                });

			$('#controle').DataTable({
				'stateSave': true,
				"order": [[0, "desc"]],
				"processing": true,
				"serverSide": true,
				"filter": true,
				"orderMulti": false,
				"ajax": "@Url.Action("DataTable")",
				"columns": [
					{ "data": "date" },
					{ "data": "offernumber" },
					{ "data": "employee" },
					{ "data": "building" },
					{ "data": "asset" },
					{ "data": "activity" },
					{ "data": "icon" },
					{ "data": "buttons" }
				],
				"columnDefs": [
					{
						"className": "hidden-xs",
						"targets": 2
					}, {
						"className": "hidden-xs",
						"targets": 3
					}, {
						"className": "hidden-xs",
						"targets": 4
					}, {
						"className": "hidden-xs",
						"targets": 5
					}, {
						"className": "center",
						"targets": 6
					},{
						"render": function(data, type, row) {
							var returnValue = "";
							var statusUrl = "@Url.Action("StatusUpdate")/" + row.id + '?status=@((int)PlanningStatus.Complete)';
							var modalProperties = ' data-title="' + row.offernumber + ' - ' + row.asset +'" data-url="@Url.Action("Get")/' + row.id + '" data-class="big"';
							var deleteUrl = "@Url.Action("Delete")/" + row.id;

							returnValue += '<div class="visible-md visible-lg hidden-sm hidden-xs">\n';
							returnValue += '<a href="' + statusUrl +'" class="btn btn-warning tooltips js-statuschange" data-original-title="Afronden"><i class="fa clip-checkmark-2"></i></a>\n';
							returnValue += '<a href="#" class="btn btn-teal tooltips js-popup-modal" ' + modalProperties + ' data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>\n';
							returnValue += '<a href="' + deleteUrl + '" class="btn btn-bricky tooltips js-modal-delete" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>\n';
							returnValue += '</div>\n';
							returnValue += '<div class="visible-xs visible-sm hidden-md hidden-lg">\n';
							returnValue += '<div class="btn-group">\n';
							returnValue += '<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> <span class="caret"></span></a>\n';
							returnValue += '<ul role="menu" class="dropdown-menu pull-right">\n';
							returnValue += '<li role="presentation"><a href="' + statusUrl + '" class="js-statuschange"><i class="fa clip-checkmark-2"></i> Afronden</a></li>\n';
							returnValue += '<li role="presentation"><a role="menuitem" href="#" class="js-popup-modal" ' + modalProperties + '><i class="fa fa-edit"></i> Edit</a></li>\n';
							returnValue += '<li role="presentation"><a role="menuitem" href="' + deleteUrl +'" class="js-modal-delete"><i class="fa fa-times"></i> Remove</a></li>\n';
							returnValue += '</ul>\n';
							returnValue += '</div>\n';
							returnValue += '</div>\n';

							return returnValue;
						},
						className: "center",
						"targets": 7,
						"orderable": false
					}
				]
			});
		});
    </script>
}

@section PageHeader {
    <ol class="breadcrumb">
        <li><i class="clip-home"></i><a href="#">&nbsp;&nbsp;Home</a></li>
        <li class="active">Controle overzicht</li>
        @await Component.InvokeAsync("SearchBox")
    </ol>
    <div class="page-header">
        <h1> Controle <small>overzicht</small></h1>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <!-- start: DYNAMIC TABLE PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-reorder"></i><div class="mobile_text">Controle</div>
                <div class="panel-tools big">
                    <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
                    <a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#controle" href="#"> <i class="fa fa-refresh"></i> </a>
                    <a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-full-width" id="controle">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th> Offertenummer</th>
                            <th class="hidden-xs"> Werknemer</th>
                            <th class="hidden-xs"> Gebouw</th>
                            <th class="hidden-xs"> Asset</th>
                            <th class="hidden-xs"> Activiteit</th>
                            <th class="center"> Status</th>
                            <th class="center">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>