@using FusionCore.Modules.FundsManager.Models
@using FusionCore.Modules.FundsManager.Data.Enums
@using FusionCore.Core.Enums
@using FusionCore.Core.Helpers
@using FusionCore.Core.Extensions
@model FusionCore.Modules.FundsManager.Models.PagePersistModel
@{
    Layout = null;
}
<form asp-action="Persist" id="AdminForm">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="IsAdmin" value="true" />

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Algemene informatie</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="Titel" class="form-control" asp-for="Title" />
                                            </div>
                                            <div class="form-group"><input type="text" placeholder="Header" class="form-control" asp-for="Header" /></div>
                                            <div class="form-group"><input type="text" placeholder="pagina URL" class="form-control" asp-for="Url" /></div>

                                            <div class="form-group">
                                                <span class="input-icon  dropdown_space_page">
                                                    <select class="form-control" asp-for="Template">
                                                        <option value="" selected="">Selecteer een pagina template</option>
                                                        <option value="@(Template.Standard)">Standaard</option>
                                                        <option value="@(Template.LawPage)">Lege pagina</option>
                                                        <option value="@(Template.AddressPage)">Adres pagina</option>
                                                    </select>
                                                    <i class="fa clip-file-3"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Pagina content</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_content" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="ckeditor form-control" asp-for="Content">Deze informatie komt terug bij informatie button (i-tje) Monteur</textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Pagina instellingen</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input type='checkbox' data-toggle='toggle' data-onstyle='teal' asp-for="Active" />&nbsp;&nbsp; Activiteit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Meta instellingen</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account-2" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"><input type="text" placeholder="Meta naam" class="form-control" asp-for="MetaTitle" /></div>
                                            <div class="form-group"><textarea placeholder="Meta omschrijving" class="form-control limited" asp-for="MetaDescription" maxlength="200"></textarea></div>
                                            <div class="form-group"><textarea placeholder="Meta keywords" class="form-control limited" asp-for="MetaKeywords" maxlength="200"></textarea></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i>
                        <div class="mobile_text">Bestanden overzicht</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#">
                            </a>
                            <a class="btn btn-lg btn-link panel-expand" href="#">
                                <i class="fa icon-resize-full"></i>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">


                        @*<div class="col-sm-12 margin-bottom-small">
                                <input id="file" type="file" class="js-fileinput-file" data-type="@((int)FileType.Pdf)" />
                            </div>*@

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-5">
                                    <input type="text" placeholder="bestandsnaam" class="form-control pagefilename" value="">
                                </div>
                                <div class="col-sm-5">
                                    <input type='file' class="js-fileinput-file" data-type='@((int)FileType.Pdf)' />
                                </div>
                                <div class="col-sm-2">
                                    <a class="btn btn-green full-width pagefileuploadbutton" href="" data-toggle="modal">toevoegen</a>
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped table-bordered table-hover table-full-width" id="fileTable">
                            <thead>
                                <tr>
                                    <th>Datum</th>
                                    <th class="center">Order</th>
                                    <th>Bestandsnaam</th>
                                    <th class="center">Edit </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.PageFiles != null)
                                    {
                                        foreach (var pagefile in Model.PageFiles)
                                        {
                                            var orderup = Url.Action("FileOrderUp") + "?id=" + pagefile.Id + "&&order=" + pagefile.SortOrder;
                                            var orderdown = Url.Action("FileOrderDown") + "?id=" + pagefile.Id + "&&order=" + pagefile.SortOrder;
                                            if (pagefile == null) { continue; }
                                            var iconType = "pdf";
                                            var buttonClass = "btn-danger";
                                            if (pagefile.FileName.ToLower().EndsWith(".xls") || pagefile.FileName.ToLower().EndsWith(".xlsx"))
                                            {
                                                iconType = "excel";
                                                buttonClass = "btn-green";
                                            }
                                            else if (pagefile.FileName.ToLower().EndsWith(".doc") || pagefile.FileName.ToLower().EndsWith(".docx"))
                                            {
                                                iconType = "word";
                                                buttonClass = "btn-primary";
                                            }
                                            <tr>
                                                <td>@pagefile.CreatedOnUtc.ConvertToUserTime().ToString("dd-MM-yyyy - HH:mm")</td>
                                                <td class="center">
                                                    <a class="btn btn-sm btn-light-grey js-file-orderup" href="#" data-order="@pagefile.SortOrder" data-id="@pagefile.Id" data-tempFile="@pagefile.TempID"><i class="fa fa-arrow-circle-up"></i></a>
                                                    <a class="btn btn-sm btn-light-grey js-file-orderdown" href="#" data-order="@pagefile.SortOrder" data-id="@pagefile.Id" data-tempFile="@pagefile.TempID"><i class="fa fa-arrow-circle-down"></i></a>
                                                </td>
                                                <td>
                                                    <a href="#" class="editable editable-click" data-url="@Url.Action("EditPageFile")" data-type="text" data-placement="right" data-placeholder="DisplayName" data-original-title="DisplayName" data-pk="@pagefile.TempID" data-value="@pagefile.DisplayName" data-name="@pagefile.Id" style="margin-top: -3px; margin-right:4px;">
                                                    </a>
                                                    @*@pagefile.FileName*@
                                                </td>
                                                <td class="center">
                                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                        <a asp-action="FileDownload" asp-route-id="@pagefile.Id" target="_blank" class="btn @buttonClass tooltips" data-original-title="File"><i class="fa clip-file-@iconType"></i></a>
                                                        <a href="#" class="btn btn-bricky tooltips js-remove-image" data-id="@pagefile.Id" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                    </div>
                                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                        <div class="btn-group">
                                                            <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i><span class="caret"></span></a>
                                                            <ul role="menu" class="dropdown-menu pull-right">
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" asp-action="FileDownload" asp-route-id="@pagefile.Id" target="_blank"><i class="fa clip-file-@iconType"></i></a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-remove-image" data-id="@pagefile.Id"><i class="fa fa-times"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>




                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
        <button type="submit" class="btn btn-primary js-save">Opslaan</button>
    </div>
</form>
<script>

	jQuery(document).ready(function() {

			@{
	int modelid = 0;
	if (Model != null)
	{
		if (Model.Id.HasValue)
		{
			modelid = Model.Id.Value;
		}
	}
}

		$("body").on('click',
			'.js-remove-image',
			function(e) {
				e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("RemoveFile", "Administrator")?Id=' +
						$this.data("id") +
						'&tempId='+$this.data("tempfile")+
						'&pageId=@modelid',
					success: function(data) {
						$this.closest("tr").remove();
					}
				});
			});

		$("body").on("click", ".js-file-orderup", function (e) {
			e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("FileOrderUp", "Administrator")?Id=' +
						$this.data("id") + '&order='+$this.data("order")+
						'&tempId='+$this.data("tempfile"),
					success: function (data) {


						var currentele = $this.closest("tr");
						var prevele = currentele.prev();
						if (data.currenteleorder > 0 && data.previuoseleorder > 0) {
							$(currentele.children()[1]).find('a').each(function (i, val) {

								$(val).attr("data-order", data.currenteleorder);

							});
							$(prevele.children()[1]).find('a').each(function (i, val) {

								$(val).attr("data-order", data.previuoseleorder);

							});
						}

						var preveletagname = $(prevele.children()[0]).prop("tagName");

						if (preveletagname == "TD") {
							swapElements(currentele[0], prevele[0]);
						}
					}
				});
		});

		$("body").on("click", ".js-file-orderdown", function (e) {
			e.preventDefault();
				var $this = $(this);
				$.ajax({
					beforeSend: function(xhr) {
						xhr.setRequestHeader("RequestVerificationToken",
							$('input:hidden[name="__RequestVerificationToken"]').val());
					},
					type: 'GET',
					url: '@Url.Action("FileOrderDown", "Administrator")?Id=' +
						$this.data("id") +'&order='+$this.data("order")+
						'&tempId='+$this.data("tempfile"),
					success: function (data) {

						var currentele = $this.closest("tr");
						var nextele = currentele.next();
						if (data.currenteleorder > 0 && data.nexteleorder > 0) {
							$(currentele.children()[1]).find('a').each(function (i, val) {

								$(val).attr("data-order", data.currenteleorder);
							});
							$(nextele.children()[1]).find('a').each(function (i, val) {

								$(val).attr("data-order", data.nexteleorder);

							});
						}

						var nexteletagname = $(nextele.children()[0]).prop("tagName");

						if (nexteletagname == "TD") {
							swapElements(currentele[0], nextele[0]);
						}
					}
				});
		});

		$(".js-fileinput-file").each(function(i, elm) {
				var previewList = [];
				var previewConfig = [];

    var $elm = $(elm);
             var $button = $($elm.parent().parent().find(".pagefileuploadbutton")[0]);

					$elm.fileinput({
			allowedFileExtensions: ['pdf','xls','xlsx','doc','docx'],
					showClose: false,
                    showCaption: true,
                    showBrowse: true,
                    showUpload:false,
                    showUploadedThumbs: false,
                    showPreview: false,
                    uploadAsync: true,
                    dropZoneEnabled: false,
                    required: true,
					uploadUrl: '@Url.Action("FileUpload", "Administrator")',
                        uploadExtraData: function () {
                          var filename = $($elm.parent().parent().parent().parent().parent().parent().find(".pagefilename")[0]).val();
                        filename = filename == undefined ? "" : filename;

						return {
							'pageId': '@modelid',
                            'fileType': $elm.data("type"),
                            'filename':filename
							};
					},
					initialPreview: previewList,
					initialPreviewConfig: previewConfig
				});
				$elm.on('fileuploaded', function (event, data, previewId, index) {
					var response = data.response;

					var $lastRow = $("#fileTable tr:last");

					var iconType = "pdf";
					var buttonClass = "btn-danger";
					if (response.title.toLowerCase().endsWith(".xls") || response.title.toLowerCase().endsWith(".xlsx"))
					{
						iconType = "excel";
						buttonClass = "btn-green";
					}
					else if (response.title.toLowerCase().endsWith(".doc") || response.title.toLowerCase().endsWith(".docx"))
					{
						iconType = "word";
						buttonClass = "btn-primary";
					}

					var orderup = "@Url.Action("FileOrderUp")?id=" + response.id + "&&order=" + response.sortOrder+ "&&tempid=" + response.tempId ;
					var orderdown = "@Url.Action("FileOrderDown")?id=" + response.id+"&&order="+response.sortOrder+"&&tempid=" + response.tempId ;

					var OrderValue = "<a class='btn btn-sm btn-light-grey js-file-orderup' href='#' data-order='"+response.sortOrder+"' data-id='" + response.id + "' data-tempFile='" + response.tempId + "' ><i class='fa fa-arrow-circle-up'></i></a><a class='btn btn-sm btn-light-grey js-file-orderdown' href='#' data-id='" + response.id + "' data-order='"+response.sortOrder+"' data-tempFile='" + response.tempId + "' ><i class='fa fa-arrow-circle-down'></i></a>";

					$lastRow.after('<tr>'+
						'<td>' + response.createdon + '</td>' +
						'<td>' + OrderValue + '</td>' +
                        '<td>' +
                        //response.title
                         '<a href="#" class="editable editable-click" data-url="@Url.Action("EditPageFile")" data-type="text" data-placement="right" data-placeholder="DisplayName" data-original-title="DisplayName" data-pk="' + response.tempId + '" data-value="' + response.title + '" data-name="'+ response.id+'" style="margin-top: -3px; margin-right:4px;"></a>' +
                        '</td>' +
						'<td class="center">' +
						'<div class="visible-md visible-lg hidden-sm hidden-xs">' +
						'<a href="@(Url.Action("FileDownload", "Administrator"))/' + response.id + '?tempFile=' + response.tempId + '" target="_blank" class="btn ' + buttonClass + ' tooltips" data-original-title="File"><i class="fa clip-file-' + iconType + '"></i></a>' +
						'<a href="#" class="btn btn-bricky tooltips  js-remove-image" data-id="' + response.id + '" data-tempFile="' + response.tempId + '" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>' +
						'</div>' +
						'<div class="visible-xs visible-sm hidden-md hidden-lg">' +
						'<div class="btn-group">' +
						'<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i><span class="caret"></span></a>' +
						'<ul role="menu" class="dropdown-menu pull-right">' +
						'<li role="presentation"><a role="menuitem" tabindex="-1" href="@(Url.Action("FileDownload", "Administrator"))/' + response.id +'?tempFile=' + response.tempId + '" target="_blank"><i class="fa clip-file-'+iconType+'"></i></a></li>' +
						'<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-remove-image" data-id="'+response.id+'" data-tempFile="' + response.tempId + '"><i class="fa fa-times"></i></a></li>' +
						'</ul>' +
						'</div>' +
						'</div>' +
						'</td>' +
						'</tr>');

                     $($elm.parent().parent().parent().parent().parent().parent().find(".pagefilename")[0]).val('');

                    $elm.fileinput('cancel');
                    $elm.fileinput('clear');
                    $elm.fileinput('reset');
                    $elm.fileinput('refresh');
                    $elm.fileinput('enable');

                    $("#fileTable tr:last .tooltips").tooltip();
                     $('.editable').editable();
                });

               $button.on("click", function () {
                var fname = $($elm.parent().parent().parent().parent().parent().parent().find(".pagefilename")[0]).val();

                if (fname != undefined && fname != '' && hasWhiteSpace(fname)) {
                    $elm.fileinput('upload');
                } else {

                }
            });
		});
    try {
            FormElements.init();
        } catch (exception) { }
        $('.ckeditor').each(function () {
            //  CKEDITOR.replace(this, {
            //    allowedContent: {
            //        '$1': {
            //            attributes: 'data-*'
            //        }
            //    }
            //});
             CKEDITOR.replace(this, {
                allowedContent: true
              });
        });
        //try {
             $('.editable').editable();
        //} catch(err){ }
	});

	function swapElements(obj1, obj2) {

    // create marker element and insert it where obj1 is
    var temp = document.createElement("div");
    obj1.parentNode.insertBefore(temp, obj1);

    // move obj1 to right before obj2
    obj2.parentNode.insertBefore(obj1, obj2);

    // move obj2 to right before where obj1 used to be
    temp.parentNode.insertBefore(obj2, temp);

    // remove temporary marker node
    temp.parentNode.removeChild(temp);
    }
     function hasWhiteSpace(s)
{
     reWhiteSpace = new RegExp(/^\s+$/);

     // Check for white space
     if (reWhiteSpace.test(s)) {

          return false;
     }
return true;
    }
</script>