﻿@using FusionCore.Modules.InstallationManager.Models
@model FusionCore.Modules.InstallationManager.Models.BuildingPersistModel
@{
	Layout = null;

	//TODO: Documentatie
}
<form asp-action="Persist">
<input type="hidden" asp-for="Id"/>
<div class="modal-body">
<div class="tabbable panel-tabs">
<ul class="nav nav-tabs" style="background-color: #F5F4F9; margin: -52px 45px 0 0;">
	<li class="active">
		<a data-toggle="tab" href="#panel_tab_algemeen">
			<h5 class="tab-correct-NM">Algemeen</h5>
		</a>
	</li>
	
	@*<li>
		<a data-toggle="tab" href="#panel_tab_documentatie">
			<h5 class="tab-correct-NM">Documentatie</h5>
		</a>
	</li>*@
</ul>
<div class="tab-content">
<div id="panel_tab_algemeen" class="tab-pane active">
<div class="row">
<div class="col-sm-8 no-padding">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external fa-reorder"></i>
				<div class="mobile_text">Gebouw informatie</div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
					<a class="btn btn-lg btn-link panel-expand" href="#">
						<i class="fa icon-resize-full"></i>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<div id="panel_edit_account" class="tab-pane">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label">Gebouw naam</label>
										<input type="text" placeholder="Media gebouw" class="form-control" asp-for="Name"/>
									</div>
									<div class="form-group">
										<label class="control-label">Opdrachtgever</label>
										<span class="input-icon dropdown_space_page">
											<select class="form-control button-backspace-NM" asp-for="ClientId" asp-items="@Model.AvailableClients">
												<option value="">Selecteer een opdrachtgever</option>
											</select>
											<i class="fa fa-building"></i>
										</span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="space_white"></div>
									<h4>Contactpersoon</h4>
									<hr />
									<div class="form-group">
										<label class="control-label">Naam</label>
										<input type="text" placeholder="Peter" class="form-control" asp-for="Firstname"/>
									</div>
									<div class="form-group">
										<label class="control-label">tussenvoegsel</label>
										<input type="text" placeholder="de" class="form-control" asp-for="Middlename"/>
									</div>
									<div class="form-group">
										<label class="control-label">Achternaam</label>
										<input type="text" placeholder="Vries" class="form-control" asp-for="Lastname"/>
									</div>
									<h4>Contact informatie</h4>
									<hr />
									<div class="form-group">
										<label class="control-label">Email</label>
										<span class="input-icon">
											<input type="text" placeholder="info@novimedia.nl" class="form-control" asp-for="Email"/>
											<i class="fa fa-envelope-square"></i>
										</span>
									</div>
									<div class="form-group">
										<label class="control-label">Telefoon</label>
										<span class="input-icon">
											<input type="text" placeholder="03055669988" class="form-control" asp-for="Phonenumber"/>
											<i class="fa fa-phone-square"></i>
										</span>
									</div>
									<div class="form-group">
										<label class="control-label">Mobiel</label>
										<span class="input-icon">
											<input type="text" placeholder="0622008899" class="form-control" asp-for="Mobilenumber"/>
											<i class="fa clip-mobile"></i>
										</span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="space_white"></div>
									<h4>Adres gegevens</h4>
									<hr />
									<div class="form-group">
										<label class="control-label">Adres</label>
										<input type="text" placeholder="Duizendknooplaan 19" class="form-control" asp-for="Address"/>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Postcode</label>
												<input class="form-control" placeholder="12345" type="text" asp-for="PostalCode"/>
											</div>
										</div>
										<div class="col-md-9">
											<div class="form-group">
												<label class="control-label">Woonplaats</label>
												<input class="form-control tooltips" placeholder="London (UK)" type="text" asp-for="City"/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Land</label>
										<input type="text" placeholder="the Netherlands" class="form-control" asp-for="Country"/>
									</div>
									<h4>Overig</h4>
									<hr />
									<div class="form-group">
										<label class="control-label">Website</label>
										<span class="input-icon">
											<input type="text" placeholder="www.novimedia.nl" class="form-control" asp-for="Website"/>
											<i class="fa clip-globe"></i>
										</span>
									</div>
									<div class="form-group">
										<label class="control-label">Lat</label>
										<input type="text" placeholder="52.128997" class="form-control" asp-for="Latitude"/>
									</div>
									<div class="form-group">
										<label class="control-label">Long</label>
										<input type="text" placeholder="5.084418" class="form-control" asp-for="Longtitude"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external fa-reorder"></i>
				<div class="mobile_text">Opmerkingen </div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
					<a class="btn btn-lg btn-link panel-expand" href="#">
						<i class="fa icon-resize-full"></i>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<div id="panel_edit_content" class="tab-pane">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="summernote" asp-for="Remarks">Deze informatie komt terug bij informatie button (i-tje) Monteur</textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-external fa-reorder"></i>
			<div class="mobile_text">Gebouw</div>
			<div class="panel-tools big">
				<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
				<a class="btn btn-lg btn-link panel-expand" href="#">
					<i class="fa icon-resize-full"></i>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="form-group">
							<div class="col-sm-12">
								<fileupload asp-id="LogoPictureId"
								            asp-value="@Model.LogoPictureId">
								</fileupload>
							</div>
						</div>
						<div class="col-sm-12 margin-top">
							<div class="alert alert-block alert-info fade in">
								<button data-dismiss="alert" class="close" type="button">&times;</button>
								<h4 class="alert-heading"><i class="fa fa-info-circle"></i> Beeld formaat</h4>
								<p>Formaat van deze afbeelding is maximaal 20 pixels hoog</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	@if (Model.Id.HasValue)
	{
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external fa-reorder"></i>
				<div class="mobile_text">Locaties</div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
					<a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#buildingLocations" href="#"><i class="fa fa-refresh"></i></a>
					<a class="btn btn-lg btn-link panel-expand" href="#">
						<i class="fa icon-resize-full"></i>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-full-width" id="buildingLocations">
					<thead>
					<tr>
						<th>Locaties</th>
						<th class="center">Edit</th>
					</tr>
					</thead>
				</table>
				<hr class="no-margin-top">
				<span class="pull-right">
					<a class="btn btn-primary js-popuplocation-modal" href="#" data-class="super" data-title="Nieuwe locatie" data-url="@Url.Action("GetBuildingLocation", new {buildingId = Model.Id})"><i class="fa fa-plus"></i> toevoegen</a>
				</span>
			</div>
		</div>
	}
</div>
<!-- end: PAGE CONTENT-->
</div>
</div>
@*<div id="panel_tab_documentatie" class="tab-pane">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external fa-reorder"></i>
					<div class="mobile_text">Rapportage overzicht</div>
					<div class="panel-tools big">
						<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
						<a class="btn btn-lg btn-link panel-expand" href="#">
							<i class="fa icon-resize-full"></i>
						</a>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-bordered table-hover table-full-width" id="sample_3">
						<thead>
						<tr>
							<th>Datum</th>
							<th class="center">Offertenummer</th>
							<th class="center hidden-xs">Bedrijf</th>
							<th class="center hidden-xs">Gebouw & Locatie</th>
							<th class="center">Edit </th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>11-10-2018 - 10:00</td>
							<td class="center">877876-01</td>
							<td class="center hidden-xs">Novi Media</td>
							<td class="center hidden-xs">Media Gebouw - 7e verdieping Kamer 209</td>
							<td class="center">
								<div class="visible-md visible-lg hidden-sm hidden-xs">
									<a href="https://www.novimediasolutions.nl/wp-content/uploads/Brochure_Novi_Media_Optimalisering_v1.3_web.pdf" target="_blank" class="btn btn-danger tooltips" data-original-title="File">
										<i class="fa clip-file-pdf"></i>
									</a>
									<a href="#" class="btn btn-bricky tooltips" data-placement="top" data-original-title="Remove">
										<i class="fa fa-times fa fa-white"></i>
									</a>
								</div>
								<div class="visible-xs visible-sm hidden-md hidden-lg">
									<div class="btn-group">
										<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
											<i class="fa fa-cog"></i> <span class="caret"></span>
										</a>
										<ul role="menu" class="dropdown-menu pull-right">
											<li role="presentation">
												<a role="menuitem" tabindex="-1" href="https://www.novimediasolutions.nl/wp-content/uploads/Brochure_Novi_Media_Optimalisering_v1.3_web.pdf" target="_blank"><i class="fa clip-file-pdf"></i> Bestand</a>
											</li>
											<li role="presentation">
												<a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times"></i> Verwijderen</a>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>*@
</div>
</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
	<button type="submit" class="btn btn-primary">Opslaan</button>
</div>
</form>
<script>
	jQuery(document).ready(function() {
		$('#buildingLocations').DataTable({
			'stateSave': true,
			"processing": true,
			"serverSide": true,
			"filter": false,
			"lengthChange": false,
			"orderMulti": false,
			"ajax": "@Url.Action("DataTableBuildingLocations", new {buildingId = Model.Id})",
			"columns": [
				{ "data": "name" },
				{ "data": "buttons" }
			],
			"columnDefs": [
				{
					"render": function(data, type, row) {
						var returnValue = "";
						var modalProperties = " data-title=\"" +
							row.name +
							"\" data-url=\"@Url.Action("GetBuildingLocation")/" +
							row.id +
							"\" data-class=\"super\"";
						var deleteUrl = "@Url.Action("DeleteBuildingLocation")/" + row.id;
						returnValue += "<div class=\"visible-md visible-lg hidden-sm hidden-xs\">\n";
						returnValue +=
							"<a href=\"#panel-gebruiker-edit\" class=\"btn btn-teal tooltips js-popup-modal\" " +
							modalProperties +
							" data-placement=\"top\" data-original-title=\"Edit\"><i class=\"fa fa-edit\"></i></a>\n";
						returnValue +=
							"<a href=\"" +
							deleteUrl +
							"\" class=\"btn btn-bricky tooltips js-modal-delete\" data-placement=\"top\" data-original-title=\"Remove\"><i class=\"fa fa-times fa fa-white\"></i></a>\n";
						returnValue += "</div>\n";
						returnValue += "<div class=\"visible-xs visible-sm hidden-md hidden-lg\">\n";
						returnValue += "<div class=\"btn-group\">\n";
						returnValue +=
							"<a class=\"btn btn-primary dropdown-toggle btn-sm\" data-toggle=\"dropdown\" href=\"#\"><i class=\"fa fa-cog\"></i> <span class=\"caret\"></span></a>\n";
						returnValue += "<ul role=\"menu\" class=\"dropdown-menu pull-right\">\n";
						returnValue +=
							"<li role=\"presentation\"><a role=\"menuitem\" href=\"#\" class=\"js-popup-modal\" " +
							modalProperties +
							"><i class=\"fa fa-edit\"></i> Edit</a></li>\n";
						returnValue +=
							"<li role=\"presentation\"><a role=\"menuitem\" href=\"" +
							deleteUrl +
							"\" class=\"js-modal-delete\"><i class=\"fa fa-times\"></i> Remove</a></li>\n";
						returnValue += "</ul>\n";
						returnValue += "</div>\n";
						returnValue += "</div>\n";

						return returnValue;
					},
					className: "center",
					"targets": 1,
					"orderable": false
				}
			]
		});
	});
</script>