﻿@using FusionCore.Modules.InstallationManager.Models
@model FusionCore.Modules.InstallationManager.Models.BuildingLocationPersistModel
@{
	Layout = null;
}
<form asp-action="PersistBuildingLocation">
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="BuildingId" />
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 no-padding">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-external fa-reorder"></i>
							<div class="mobile_text">Locatie informatie</div>
							<div class="panel-tools big">
								<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
								</a>
								<a class="btn btn-lg btn-link panel-expand" href="#">
									<i class="fa icon-resize-full"></i>
								</a>
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-12">
									<div id="panel_edit_account2" class="tab-pane">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="control-label">Gebouw naam</label>
													<input type="text" placeholder="@Model.BuildingName" class="form-control" disabled />
												</div>
												<div class="form-group">
													<label class="control-label">Locatie naam</label>
													<input type="text" placeholder="1e verdieping balkon" class="form-control" asp-for="Name" />
												</div>
											</div>
											<div class="col-sm-12">
												<div class="space_white"></div>
												<h4>Locatie plaats</h4>
												<hr />
												<div class="form-group">
													<label class="control-label">Verdieping</label>
													<input type="text" placeholder="1e verdieping" class="form-control" asp-for="Floor" />
												</div>
												<div class="form-group">
													<label class="control-label">Kamer</label>
													<input type="text" placeholder="345" class="form-control" asp-for="RoomNumber" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-external fa-reorder"></i>
							<div class="mobile_text">Opmerkingen </div>
							<div class="panel-tools big">
								<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
								</a>
								<a class="btn btn-lg btn-link panel-expand" href="#">
									<i class="fa icon-resize-full"></i>
								</a>
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-12">
									<div id="panel_edit_content2" class="tab-pane">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<textarea class="summernote" asp-for="Remarks">Deze informatie komt terug bij informatie button (i-tje) Monteur</textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				@if (Model.Id.HasValue)
				{
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-external fa-reorder"></i>
							<div class="mobile_text">Assets</div>
							<div class="panel-tools big">
								<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
								<a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#buildingLocationAssets" href="#"><i class="fa fa-refresh"></i></a>
								<a class="btn btn-lg btn-link panel-expand" href="#">
									<i class="fa icon-resize-full"></i>
								</a>
							</div>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-full-width" id="buildingLocationAssets">
								<thead>
								<tr>
									<th>Assets</th>
									<th class="center">Edit</th>
								</tr>
								</thead>
							</table>
							<hr class="no-margin-top">
							<div class="row">
								<div class="col-md-7 margin-bottom-small">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group">
												<span class="input-icon dropdown_space_page">
													<select id="js-AddAsset-Select" class="form-control" asp-items="Model.UnassignedAssets">
														<option value="">Selecteer een asset</option>
													</select>
													<i class="fa clip-cube-2"></i>
												</span>
											</div>
										</div>
										<div class="col-md-4 left-center-resp">
											<button type="button" id="js-AddAsset-Button" class="btn btn-primary"><i class="fa fa-plus"></i> Toevoegen</button>
										</div>
									</div>
								</div>
								<div class="col-md-5 margin-bottom-small right-center-resp">
									<a href="@Url.Action("Index", "Asset")?buildingLocationId=@Model.Id#new" class="btn btn-warning" target="_blank"><i class="fa fa-plus"></i> Asset aanmaken en koppelen</a>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
			<!-- end: PAGE CONTENT-->
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</div>
</form>
<script>
	jQuery(document).ready(function () {
		$("#js-AddAsset-Button").on('click',
			function () {
				var $select = $("#js-AddAsset-Select");
				var value = $select.val();
				if (value.length > 0) {
					$.ajax({
						type: "POST",
						url: '@Url.Action("AddAssetToLocation", "Building")',
						data: {
							"buildingLocationId": "@Model.Id",
							"assetId" : value
						},
						success: function (returnData) {
							if (returnData) {
								$("#buildingLocationAssets").DataTable().ajax.reload()
								$("#js-AddAsset-Select option[value='"+value+"']").remove();
							}
						}
					});
				}
			});

		$('#buildingLocationAssets').DataTable({
			'stateSave': true,
			"processing": true,
			"serverSide": true,
			"filter": false,
			"lengthChange": false,
			"orderMulti": false,
			"ajax": "@Url.Action("DataTableBuildingLocationAssets", new {buildingLocationId = Model.Id})",
			"columns": [
				{ "data": "name" },
				{ "data": "buttons" }
			],
			"columnDefs": [
				{
					"render": function(data, type, row) {
						var returnValue = "";
						var deleteUrl = "@Url.Action("DeleteBuildingLocation")/" + row.id;
						returnValue += "<div class=\"visible-md visible-lg hidden-sm hidden-xs\">\n";
						returnValue +=
							"<a href=\"@Url.Action("Index", "Asset")?id=" + row.id+"\" class=\"btn btn-warning tooltips\" target=\"_blank\" data-placement=\"top\" data-original-title=\"Edit\"><i class=\"fa fa-arrow-right\"></i></a>\n";
						returnValue +=
							"<a href=\"" +
							deleteUrl +
							"\" class=\"btn btn-bricky tooltips js-modal-delete\" data-placement=\"top\" data-original-title=\"Remove\"><i class=\"fa fa-times fa fa-white\"></i></a>\n";
						returnValue += "</div>\n";
						returnValue += "<div class=\"visible-xs visible-sm hidden-md hidden-lg\">\n";
						returnValue += "<div class=\"btn-group\">\n";
						returnValue +=
							"<a class=\"btn btn-primary dropdown-toggle btn-sm\" data-toggle=\"dropdown\" href=\"#\"><i class=\"fa fa-cog\"></i> <span class=\"caret\"></span></a>\n";
						returnValue += "<ul role=\"menu\" class=\"dropdown-menu pull-right\">\n";
						returnValue +=
							"<li role=\"presentation\"><a role=\"menuitem\" href=\"@Url.Action("Index", "Asset")?id=" + row.id+"\"><i class=\"fa fa-edit\"></i> Edit</a></li>\n";
						returnValue +=
							"<li role=\"presentation\"><a role=\"menuitem\" href=\"" +
							deleteUrl +
							"\" class=\"js-modal-delete\"><i class=\"fa fa-times\"></i> Remove</a></li>\n";
						returnValue += "</ul>\n";
						returnValue += "</div>\n";
						returnValue += "</div>\n";

						return returnValue;
					},
					className: "center",
					"targets": 1,
					"orderable": false
				}
			]
		});
	});
</script>