﻿@using FusionCore.Modules.InstallationManager.Data.Enums
@model FusionCore.Modules.InstallationManager.Models.ReportIndexViewModel
@{
	ViewData["Title"] = "Installatie rapportage overzicht";
	Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {
	<link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/jquery.tagsinput/dist/jquery.tagsinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/summernote/dist/summernote.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" asp-append-version="true" />
	<style>

		.af_range.af_range_ok {
			background: #92d050;
			color: #000000;
		}

		.af_range.af_range_outside {
			background: #ffc000;
			color: #000000;
		}

		.af_hv.af_hv_1,
		.af_hv.af_hv_2 {
			background: rgb(83, 142, 213);
			color: #000000;
		}

		.af_hv.af_hv_3,
		.af_hv.af_hv_4 {
			background: rgb(146, 208, 80);
			color: #000000;
		}

		.af_hv.af_hv_5 {
			background: rgb(255, 192, 0);
			color: #000000;
		}

		.af_hv.af_hv_6 {
			background: rgb(255, 0, 0);
			color: #000000;
		}

		.af_tvrtav.af_tvrtav_1 {
			background: rgb(146, 208, 80);
			color: #000000;
		}


		.af_tvrtav.af_tvrtav_2 {
			background: rgb(255, 192, 0);
			color: #000000;
		}


		.af_tvrtav.af_tvrtav_3 {
			background: rgb(255, 0, 0);
			color: #000000;
		}
	</style>
}

@section Scripts {
	<script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
	<script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-maskmoney/dist/jquery.maskMoney.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.tagsinput/src/jquery.tagsinput.js" asp-append-version="true"></script>
	<script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/adapters/jquery.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>
	<script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/pages-user-profile.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
	<script src="~/assets/js/table-data.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jqueryui-touch-punch/jquery.ui.touch-punch.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/fullcalendar/dist/fullcalendar.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/form-calendar.js" asp-append-version="true"></script>
	<script src="@Url.Action("GetJs", "Common", new { filename="Assets.signature_pad.js", assemblyName = "FusionCore.Modules.InstallationManager", area = "" })" asp-append-version="true"></script>
	<script>
		jQuery(document).ready(function() {
			$('.date-picker').datepicker({
				autoclose: true,
				container: '#picker-container'
			});

			$(".js-clientChange").on('change',
				function(e) {
					e.preventDefault();
					var $this = $(this);
					var $buildingList = $("#Building");
					$buildingList.val('');
					$.ajax({
						type: "GET",
						url: $this.data('url') + '/' + $this.val(),
						beforeSend: function(xhr) {
							xhr.setRequestHeader("RequestVerificationToken",
								$('input:hidden[name="__RequestVerificationToken"]').val());
						},
						success: function(returnData) {
							if (returnData !== undefined) {
								var len = returnData.length;
								$buildingList.find("option:gt(0)").remove();
								for (var i = 0; i < len; i++) {
									var id = returnData[i]['id'];
									var name = returnData[i]['name'];
									$buildingList.append("<option value='" + id + "'>" + name + "</option>");
								}
							}
						}
					});
				});
			$('#report').DataTable({
				'stateSave': true,
				"order": [[0, "desc"]],
				"processing": true,
				"serverSide": true,
				"filter": true,
				"orderMulti": false,
				"ajax": "@Url.Action("DataTable")",
				"columns": [
					{ "data": "date" },
					{ "data": "offernumber" },
					{ "data": "client" },
					{ "data": "building" },
					{ "data": "assetActivity" },
					{ "data": "buttons" }
				],
				"columnDefs": [
					{
						"className": "hidden-xs",
						"targets": 2
					}, 
					{
						"className": "hidden-xs",
						"targets": 3
					},
					{
						"className": "hidden-xs",
						"targets": 4
					},{
						"render": function(data, type, row) {
							var returnValue = "";
							var statusUrl = "@Url.Action("StatusUpdate")/" +
								row.id +
								'?status=@((int) PlanningStatus.Complete)';
							var modalProperties = ' data-title="' + row.offernumber + ' - '+row.asset+'" data-url="@Url.Action("Get", "Controle")/' +
								row.id +
								'" data-class="big"';
							var deleteUrl = "@Url.Action("Delete")/" + row.id;
							var resendUrl = "@Url.Action("Resend")/" + row.id;
							var pdfUrl = "@Url.Action("Pdf")/" + row.id;

							returnValue += '<div class="visible-md visible-lg hidden-sm hidden-xs">\n';
							returnValue += row.icon + '\n';
							returnValue += '<a href="' +
								resendUrl +
								'" class="btn btn-primary tooltips" data-placement="top" data-original-title="Resend" title="Versturen"><i class="fa fa-mail-forward"></i></a>\n';
							returnValue += '<a href="#" class="btn btn-teal tooltips js-popup-modal" ' + modalProperties + ' data-placement="top" data-original-title="Edit" title="Edit"><i class="fa fa-edit"></i></a>\n';
							returnValue += '<a href="' +
								pdfUrl +
								'" target="_blank" class="btn btn-danger tooltips" data-original-title="File" title="File"><i class="fa clip-file-pdf"></i></a>\n';
							returnValue += '<a href="' +
								deleteUrl +
								'" class="btn btn-bricky tooltips js-modal-delete" data-placement="top" data-original-title="Remove" title="Remove"><i class="fa fa-times fa fa-white"></i></a>\n';
							returnValue += '</div>\n';
							returnValue += '<div class="visible-xs visible-sm hidden-md hidden-lg">\n';
							returnValue += '<div class="btn-group">\n';
							returnValue +=
								'<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">\n';
							returnValue += '<i class="fa fa-cog"></i> <span class="caret"></span>\n';
							returnValue += '</a>\n';
							returnValue += '<ul role="menu" class="dropdown-menu pull-right">\n';
							returnValue += '<li role="presentation">' + row.icon + '\n';
							returnValue += '<li role="presentation"><a role="menuitem" tabindex="-1" href="' +
								resendUrl +
								'"><i class="fa fa-mail-forward"></i> E-mailen</a></li>\n';
							returnValue += '<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="js-popup-modal" ' + modalProperties + ' data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i> Edit</a></li>\n';
							returnValue += '<li role="presentation"><a role="menuitem" tabindex="-1" href="' +
								pdfUrl +
								'" target="_blank"><i class="fa clip-file-pdf"></i> Bestand</a></li>\n';
							returnValue += '<li role="presentation"><a role="menuitem" href="' +
								deleteUrl +
								'" class="js-modal-delete"><i class="fa fa-times"></i> Remove</a></li>\n';
							returnValue += '</ul>\n';
							returnValue += '</div>\n';
							returnValue += '</div>\n';

							return returnValue;
						},
						className: "center",
						"targets": 5,
						"orderable": false
					}
				]
			});
		});
	</script>
}

@section PageHeader {
	<ol class="breadcrumb">
		<li><i class="clip-home"></i><a href="#">&nbsp;&nbsp;Home</a></li>
		<li class="active">Rapportage overzicht</li>
		@await Component.InvokeAsync("SearchBox")
	</ol>
	<div class="page-header">
		<h1> Rapportage <small>overzicht</small></h1>
	</div>
}
<div class="row">
	<div class="col-sm-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external fa-reorder"></i><div class="mobile_text">Rapportage overzicht</div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
					<a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#report" href="#"> <i class="fa fa-refresh"></i> </a>
					<a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered table-hover table-full-width" id="report">
					<thead>
						<tr>
							<th>Datum</th>
							<th>Offertenummer</th>
							<th class="hidden-xs">Opdrachtgever</th>
							<th class="hidden-xs">Gebouw</th>
							<th class="hidden-xs">Activiteit</th>
							<th class="center">Edit</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external fa-reorder"></i><div class="mobile_text">Rapportages exporteren</div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
					<a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<div id="panel_edit_account-2" class="tab-pane">
							<form asp-action="Export" method="post">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<span class="input-icon dropdown_space">
												<select asp-for="Employee" asp-items="@Model.AvailableEmployees" class="form-control">
													<option value="">Selecteer een werknemer</option>
												</select>
												<i class="fa fa-user"></i>
											</span>
										</div>
										<hr>
										<div class="form-group">
											<span class="input-icon dropdown_space">
												<select asp-for="Client" asp-items="Model.AvailableClients" data class="form-control js-clientChange" data-url="@Url.Action("GetBuildings")">
													<option value="">Selecteer een opdrachtgever</option>
												</select>
												<i class="fa fa-building"></i>
											</span>
										</div>
										<div class="form-group">
											<span class="input-icon dropdown_space">
												<select asp-for="Building" class="form-control">
													<option value="" selected>Selecteer een gebouw</option>
												</select>
												<i class="fa fa-map-marker"></i>
											</span>
										</div>
										<hr>
										<div class="form-group">
											<label class="control-label">Start datum</label>
											<div class="input-group" id="picker-container">
												<input type="text" asp-for="Start" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker">
												<span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Eind datum</label>
											<div class="input-group" id="picker-container">
												<input type="text" asp-for="End" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker">
												<span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
											</div>
										</div>
										<hr>
										<div class="form-group"><button class="btn btn-warning btn-lg btn-block" type="submit">Exporteren <i class="fa fa-arrow-circle-right"></i></button></div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
