@using FusionCore.Modules.PageManager.Models
@using FusionCore.Modules.PageManager.Data.Enums
@model FusionCore.Modules.PageManager.Models.PagePersistModel
@{
    Layout = null;
}
<form asp-action="Persist">
    <input type="hidden" asp-for="Id" />
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Algemene informatie</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="Titel" class="form-control" asp-for="Title" />
                                            </div>
                                            <div class="form-group"><input type="text" placeholder="Header" class="form-control" asp-for="Header" /></div>
                                            <div class="form-group"><input type="text" placeholder="pagina URL" class="form-control" asp-for="Url" /></div>
                                            <div class="form-group">
                                                <span class="input-icon dropdown_space_page">
                                                    <select class="form-control" asp-for="Location">
                                                        <option value="" selected="">Selecteer een menu locatie</option>
                                                        <option value="@(Location.None)">Geen</option>
                                                        <option value="@(Location.Main)">Main</option>
                                                        <option value="@(Location.Footer)">Footer</option>
                                                    </select>
                                                    <i class="fa clip-list-5"></i>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <span class="input-icon  dropdown_space_page">
                                                    <select class="form-control" asp-for="Template">
                                                        <option value="" selected="">Selecteer een pagina template</option>
                                                        <option value="@(Template.Standard)">Standaard</option>
                                                        <option value="@(Template.LawPage)">Lawpage</option>
                                                        <option value="@(Template.AddressPage)">Adres pagina</option>
                                                    </select>
                                                    <i class="fa clip-file-3"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Pagina content</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_content" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="ckeditor form-control" asp-for="Content">Deze informatie komt terug bij informatie button (i-tje) Monteur</textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Pagina instellingen</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input type='checkbox' data-toggle='toggle' data-onstyle='teal' asp-for="Active" />&nbsp;&nbsp; Activiteit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Meta instellingen</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account-2" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"><input type="text" placeholder="Meta naam" class="form-control" asp-for="MetaTitle" /></div>
                                            <div class="form-group"><textarea placeholder="Meta omschrijving" class="form-control limited" asp-for="MetaDescription" maxlength="200"></textarea></div>
                                            <div class="form-group"><textarea placeholder="Meta keywords" class="form-control limited" asp-for="MetaKeywords" maxlength="200"></textarea></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </div>
</form>


<script>
    jQuery(document).ready(function () {
        try {
            FormElements.init();
        } catch (exception) { }
        $('.ckeditor').each(function () {
            
            //CKEDITOR.replace(this, {
            //    allowedContent: {
            //        '$1': {
            //            attributes: 'data-*'
            //        }
            //    }
            //});
              CKEDITOR.replace(this, {
                allowedContent: true
              });

        });
    });
</script>