@using FusionCore.Core.Enums
@using Microsoft.Extensions.Configuration
@using FusionCore.Core.Settings
@using FusionCore.Core.Helpers
@using FusionCore.Models.Backend.FusionUser;
@using FusionCore.Services.User;
@model FusionCore.Models.Backend.FusionUser.FusionUserPersistModel
@inject IConfiguration config
@inject IUserService _userService
@{
    Layout = null;
}
@inject IConfiguration config


<form asp-action="Persist">
    <input type="hidden" asp-for="Id" />

    <div class="tabbable panel-tabs">

        <ul class="nav nav-tabs" style="margin: -37px 55px 0 0; background-color:#F5F4F9;">
            <li class="active"><a data-toggle="tab" href="#panel_tab_gebruiker" aria-expanded="true"><h5 class="tab-correct-NM">Gebruikers informatie</h5></a></li>
            @*<li class=""><a data-toggle="tab" href="#panel_tab_voorkeuren" aria-expanded="false"><h5 class="tab-correct-NM">Voorkeuren</h5></a></li>*@
        </ul>
        <div class="tab-content">

            <div id="panel_tab_gebruiker" class="tab-pane active">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Gebruikers informatie</h3>
                            <hr />
                            <div class="form-group">

                                <input type="text" placeholder="Naam" class="form-control" asp-for="Firstname" />
                            </div>
                            <div class="form-group">

                                <input type="text" placeholder="Tussenvoegsel" class="form-control" asp-for="Middlename" />
                            </div>
                            <div class="form-group">

                                <input type="text" placeholder="Achternaam" class="form-control" asp-for="Lastname" />
                            </div>
                            <div class="form-group">

                                <input type="text" placeholder="Beroep" class="form-control" asp-for="Occupation" required />
                            </div>
                            <div class="space_white"></div>
                            <h4>Contact informatie</h4>
                            <hr>
                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="text" placeholder="martijn@novimedia.net" asp-for="Email" class="form-control">
                                    <i class="fa fa-envelope-square"></i>
                                </span>
                            </div>
                            <div class="space_white"></div>
                            <h4>Gebruikers rechten</h4>
                            <hr />
                            <div class="form-group">
                                <div id="roledegradealert" class="alert alert-warning hide">
                                    <strong>Downgrading role will remove existing previlages</strong>.
                                </div>
                                <span class="input-icon dropdown_space">

                                    <select asp-for="Role" class="form-control" required>
                                        <option value="">Selecteer een gebruikers level</option>
                                        <option value="@(FusionRoles.SuperAdmin)" data-role="@((int)FusionRoles.SuperAdmin)">Super admin</option>
                                        <option value="@(FusionRoles.Administrator)" selected="selected" data-role="@((int)FusionRoles.Administrator)">Administrator</option>
                                        <option value="@(FusionRoles.Moderator)" data-role="@((int)FusionRoles.Moderator)">Moderator</option>
                                        <option value="@(FusionRoles.ReadOnly)" data-role="@((int)FusionRoles.ReadOnly)">Read only</option>
                                    </select>
                                    <i class="fa fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>Inlog gegevens</h3>
                            <hr />
                            <div class="form-group">

                                <span class="input-icon">
                                    <input type="text" placeholder="gebruikersnaam" class="form-control" asp-for="Username" />
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <div class="form-group">

                                <span class="input-icon">
                                    <input type="password" placeholder="wachtwoord" class="form-control" asp-for="Password" />
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <div class="form-group">

                                <span class="input-icon">
                                    <input type="password" placeholder="wachtwoord controle" class="form-control" asp-for="PasswordControle" />
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <div class="form-group">&nbsp;</div>
                            <div class="space_white_37"></div>
                            <h4>&nbsp;</h4>
                            <hr>
                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="text" placeholder="03058896635" asp-for="Telephone" class="form-control">
                                    <i class="fa fa-phone-square"></i>
                                </span>
                            </div>
                            <div class="space_white"></div>
                            <h4>Account actief</h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="checkbox" data-toggle="toggle" data-onstyle="teal" asp-for="Active" />&nbsp;&nbsp; Activiteit
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="col-sm-6">
                                <div class="space_white"></div>
                                @if (Context.User.IsInRole(FusionRoles.Administrator.ToString()) || Context.User.IsInRole(FusionRoles.SuperAdmin.ToString()))
                                {
                                    <h4>Module toegang</h4>

                                    var configModules = CommonHelper.GetActiveModulesNames(config.GetSection("MainSettings").Get<MainSettings>().FusionModules);
                                    foreach (var module in configModules)
                                    {
                                        var item = Model.UserAccess.FirstOrDefault(x => x.FusionModule == (int)module.module) ?? new FusionUserAccessModel();
                                        var selected = item.Active ? "checked" : "";
                                        <hr class="small-margin">
                                        <div class="margin-bottom-small"><input name="chkUA_@((int)module.module)" type="checkbox" @selected data-toggle="toggle" data-size="mini" data-onstyle="teal">&nbsp;&nbsp; @module.displayname</div>
                                    }
                                }
                                @* <hr class="small-margin">
                                    <div class="margin-bottom-small"><input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="teal">&nbsp;&nbsp; Pagina's</div>
                                    <hr class="small-margin">
                                    <div class="margin-bottom-small"><input type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="teal">&nbsp;&nbsp; Installatie manager</div>
                                    <hr class="small-margin">
                                    <div class="margin-bottom-small"><input type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="teal">&nbsp;&nbsp; E-learning modules</div>
                                    <hr class="small-margin">
                                    <div class="margin-bottom-small"><input type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="teal">&nbsp;&nbsp; Vacatures</div>
                                    <hr class="small-margin">*@
                            </div>

                            @{
                                //var userphoto = "assets/images/avatar-1-xl.jpg";

                                var userphoto = Model.Photo;
                                if (string.IsNullOrEmpty(userphoto))
                                {
                                    userphoto = "assets/images/avatar-1-xl.jpg";
                                }
                                var uploadpath = Url.Action("FileUpload", "FusionUser");
                            }
                            <div class="col-sm-6">
                                <div class="space_white"></div>
                                <div class="form-group">
                                    <h4>Avatar</h4>
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div id="kv-avatar-errors-2" class="center-block" style="display:none"></div>
                                        <div class="kv-avatar center">
                                            <input id="avatar-3" name="avatar" type="file" class="file-loading center" data-src="@userphoto" data-uploadpath="@uploadpath" data-id="@Model.Id">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" asp-for="Photo" />
                        </div>

                    </div>
                </div>
            </div>

            <div id="panel_tab_voorkeuren" class="tab-pane">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="alert alert-block alert-info fade in">
                                <h4 class="alert-heading"><i class="fa fa-info-circle"></i> Planning</h4>
                                Selecteer hier de groep die je wilt bewerken
                            </div>
                            <div class="form-group">
                                <span class="input-icon dropdown_space_page">
                                    <select id="form-field-locatie15" class="form-control">
                                        <option value="">Algemeen</option>
                                        <option value="Air">Air</option>
                                        <option value="Water">Water</option>
                                        <option value="Service">Service</option>
                                    </select>
                                    <i class="fa fa-suitcase"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <!-- start: DRAGGABLE HANDLES 1 PANEL -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa clip-users-3"></i> Werknemers volgorde  - <strong>Algemeen</strong>
                                    <div class="panel-tools big">
                                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
                                        <a class="btn btn-lg btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> </a>
                                        <a class="btn btn-lg btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
                                        <a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
                                        <a class="btn btn-lg btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="dd" id="nestable">
                                        <ol class="dd-list">
                                            <li class="dd-item" data-id="1">
                                                <div class="dd-handle">
                                                    Item 1
                                                </div>
                                            </li>
                                            <li class="dd-item" data-id="2">
                                                <div class="dd-handle">
                                                    Item 2
                                                </div>
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="3">
                                                        <div class="dd-handle">
                                                            Item 3
                                                        </div>
                                                    </li>
                                                    <li class="dd-item" data-id="4">
                                                        <div class="dd-handle">
                                                            Item 4
                                                        </div>
                                                    </li>
                                                    <li class="dd-item" data-id="5">
                                                        <div class="dd-handle">
                                                            Item 5
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="6">
                                                                <div class="dd-handle">
                                                                    Item 6
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="7">
                                                                <div class="dd-handle">
                                                                    Item 7
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="8">
                                                                <div class="dd-handle">
                                                                    Item 8
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li class="dd-item" data-id="9">
                                                        <div class="dd-handle">
                                                            Item 9
                                                        </div>
                                                    </li>
                                                    <li class="dd-item" data-id="10">
                                                        <div class="dd-handle">
                                                            Item 10
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                            <li class="dd-item" data-id="11">
                                                <div class="dd-handle">
                                                    Item 11
                                                </div>
                                            </li>
                                            <li class="dd-item" data-id="12">
                                                <div class="dd-handle">
                                                    Item 12
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <!-- end: DRAGGABLE HANDLES 1 PANEL -->
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </div>
</form>

<script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true"></script>
<script>
    jQuery(document).ready(function () {
    @{
        var loginuserrole = _userService.GetCurrentUser().Role;
    }
        PagesUserProfile.init();
        var loginuserrole = parseInt("@((int)loginuserrole)");
        var currentrole = parseInt("@((int)Model.Role)");
        //edit user role in profile popup
        $("#Role").on("change", function () {

            var selectedrole = $("#Role option:selected").attr("data-role");

            var newrole = selectedrole!= "" ? parseInt(selectedrole):-1;

            if (newrole == 0 || newrole == 1) {
                $("input[name^='chkUA_']").bootstrapToggle("on");
            }

            if (currentrole < newrole) {
                $("#roledegradealert").removeClass("hide");
            } else {
                if (!$("#roledegradealert").hasClass("hide")) { $("#roledegradealert").addClass("hide"); }
            }
        });
        //edit user role in profile popup

        if (loginuserrole == 1) {
            $('#Role option[data-role="0"]').remove();
        }
        else if (loginuserrole == 2) {
            $('#Role option[data-role="0"]').remove();
            $('#Role option[data-role="1"]').remove();
        }
        else if (loginuserrole == 3) {
            $('#Role option[data-role="0"]').remove();
            $('#Role option[data-role="1"]').remove();
            $('#Role option[data-role="2"]').remove();
        }

                                @{
                                    var roledisable = "";
                                    if (loginuserrole == FusionRoles.ReadOnly || loginuserrole == FusionRoles.Moderator)
                                    {
                                        roledisable = "disable";
                                    }
                                }


        if ("@roledisable" == "disable") {

            $("#Role").find('option').not(':selected').remove();
            $("#Role").attr("disabled","disabled");
        }



        if ("@Model.Id.HasValue" == "False" && ("@loginuserrole" == "@FusionRoles.SuperAdmin" || "@loginuserrole" == "@FusionRoles.Administrator")) {
            setTimeout(function () {
                $("input[name^='chkUA_']").bootstrapToggle("on");
            }, 1000);

        }
    });

</script>