@model object
@{
	ViewData["Title"] = "Gebruikers overzicht";
}
@section Head
	{
	<link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet"  asp-append-version="true"  />
	<link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet"  asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet"  asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet"  asp-append-version="true" />

}
@section Scripts
	{
	<script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/jquery-maskmoney/dist/jquery.maskMoney.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/jquery.tagsinput/src/jquery.tagsinput.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/ckeditor/adapters/jquery.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true" ></script>
	<script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true" ></script>
	<script src="~/assets/js/table-data.js" asp-append-version="true" ></script>
	<script src="~/assets/js/pages-user-profile.js" asp-append-version="true" ></script>
	<script src="~/assets/js/form-elements.js" asp-append-version="true" ></script>

	<script>
		jQuery(document).ready(function() {
			$('#fusion_users').DataTable({
				'stateSave': true,
				"processing": true,
				"serverSide": true,
				"filter": true,
				"orderMulti": false,
					"ajax": "@Url.Action("DataTable")",
					"columns": [
						{ "data": "name" },
						{ "data": "createdOn" },
						{ "data": "status" },
						{ "data": "buttons" }
					],
					"columnDefs": [
						{
						"render": function(data, type, row) {
							var parsedDate = new Date(data);
							return parsedDate.toLocaleDateString();
						},
						"targets": 1
					}, {
						"render": function(data, type, row) {
							switch (row.role) {
							case 0:
								return "<span class=\"label label-inverse\">Super admin</span>";
							case 1:
								return "<span class=\"label label-default\">Administrator</span>";
							case 2:
								return "<span class=\"label label-info\">Moderator</span>";
							default:
								return "<span class=\"label label-warning\">Read only</span>";
							}
						},
						className: "hidden-xs",
						"targets": 2
					}, {
						"render": function(data, type, row) {
							var returnValue = "";
							var modalProperties = " data-title=\"" + row.name + "\" data-url=\"@Url.Action("Get")/" + row.id + "\" data-class=\"big\"";
							var deleteUrl = "@Url.Action("Delete")/" + row.id;
							returnValue += "<div class=\"visible-md visible-lg hidden-sm hidden-xs\">\n";
							returnValue +=
								"<a href=\"#panel-gebruiker-edit\" class=\"btn btn-teal tooltips js-popup-modal\" " + modalProperties +" data-placement=\"top\" data-original-title=\"Edit\"><i class=\"fa fa-edit\"></i></a>\n";
							returnValue +=
								"<a href=\"" + deleteUrl + "\" class=\"btn btn-bricky tooltips js-modal-delete\" data-placement=\"top\" data-original-title=\"Remove\"><i class=\"fa fa-times fa fa-white\"></i></a>\n";
							returnValue += "</div>\n";
							returnValue += "<div class=\"visible-xs visible-sm hidden-md hidden-lg\">\n";
							returnValue += "<div class=\"btn-group\">\n";
							returnValue +=
								"<a class=\"btn btn-primary dropdown-toggle btn-sm\" data-toggle=\"dropdown\" href=\"#\"><i class=\"fa fa-cog\"></i> <span class=\"caret\"></span></a>\n";
							returnValue += "<ul role=\"menu\" class=\"dropdown-menu pull-right\">\n";
							returnValue +=
								"<li role=\"presentation\"><a role=\"menuitem\" href=\"#\" class=\"js-popup-modal\" " + modalProperties +"><i class=\"fa fa-edit\"></i> Edit</a></li>\n";
							returnValue +=
								"<li role=\"presentation\"><a role=\"menuitem\" href=\"" + deleteUrl + "\" class=\"js-modal-delete\"><i class=\"fa fa-times\"></i> Remove</a></li>\n";
							returnValue += "</ul>\n";
							returnValue += "</div>\n";
							returnValue += "</div>\n";

							return returnValue;
						},
						className: "center",
						"targets": 3,
						"orderable": false
					}
				]
			});
		});
	</script>
}
@section PageHeader
	{
	<ol class="breadcrumb">
		<li><i class="clip-home"></i><a asp-controller="Dashboard" asp-action="Index">&nbsp;Home</a></li>
		<li class="active">Fusion gebruikers overzicht</li>

		@await Component.InvokeAsync("SearchBox")
	</ol>
	<div class="page-header">
		<span class="pull-right"><a class="btn btn-primary js-popup-modal" data-class="big" data-title="Nieuwe gebruiker" data-url="@Url.Action("Get", "FusionUser")" href="#"><i class="fa fa-plus"></i> toevoegen</a></span>
		<h1>Fusion gebruikers <small>overzicht</small></h1>
	</div>
}

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa clip-users-3"></i> Gebruikers overzicht
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
					<a class="btn btn-lg btn-link panel-expand" href="#"> <i class="fa icon-resize-full"></i> </a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered table-hover table-full-width" id="fusion_users">
					<thead>
						<tr>
							<th>Naam</th>
							<th>Datum</th>
							<th class="hidden-xs">Status</th>
							<th class="center">Edit</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>