﻿@using FusionCore.Models.Backend.Settings
@model CompanySettingsModel
@{
	ViewData["Title"] = "Bedrijfsinformatie";
}
@section PageHeader
	{
	<ol class="breadcrumb">
		<li><i class="clip-home"></i><a asp-controller="Dashboard" asp-action="Index">&nbsp;Home</a></li>
		<li class="active">Bedrijsinformatie edit</li>
		@await Component.InvokeAsync("SearchBox")
	</ol>
	<div class="page-header">
		<h1>Bedrijsinformatie <small>edit</small></h1>
	</div>
}

<form asp-action="Company" role="form">
	<div class="row">
		<div class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external fa-reorder"></i><div class="mobile_text">Algemene informatie</div>
					<div class="panel-tools big">

						<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
						</a>

						<a class="btn btn-lg btn-link panel-expand" href="#">
							<i class="fa icon-resize-full"></i>
						</a>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<div id="panel_edit_account" class="tab-pane">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Bedrijfsnaam</label>
											<input asp-for="CompanyName" type="text" placeholder="Novi Media" class="form-control" />
										</div>
										<div class="space_white"></div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-12">
												<h4>Contactpersoon</h4>
												<hr />
												<div class="form-group">
													<label class="control-label">Naam</label>
													<input asp-for="ContactFirstName" type="text" placeholder="Peter" class="form-control" />
												</div>
												<div class="form-group">
													<label class="control-label">Tussenvoegsel</label>
													<input asp-for="ContactMiddleName" type="text" placeholder="de" class="form-control" />
												</div>
												<div class="form-group">
													<label class="control-label">Achternaam</label>
													<input asp-for="ContactLastName" type="text" placeholder="Clark" class="form-control" />
												</div>
												<h4 class="italic">Contact gegevens</h4>
												<hr />
												<div class="form-group">
													<label class="control-label">Telefoon</label>
													<span class="input-icon">
														<input asp-for="ContactPhonenumber" type="text" placeholder="03058896635" />
														<i class="fa fa-phone-square"></i>
													</span>
												</div>
												<div class="form-group">
													<label class="control-label">Mobiel</label>
													<span class="input-icon">
														<input asp-for="ContactMobilenumber" type="text" placeholder="06255899663" class="form-control" />
														<i class="fa clip-mobile"></i>
													</span>
												</div>
												<div class="form-group">
													<label class="control-label">Email</label>
													<span class="input-icon">
														<input asp-for="ContactEmail" type="text" placeholder="martijn@novimedia.nl" class="form-control">
														<i class="fa fa-envelope-square"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-12">
												<h4>Adresgegevens</h4>
												<hr />
												<div class="form-group">
													<label class="control-label">Adres</label>
													<input asp-for="AddressLine1" type="text" placeholder="Duizendknooplaan 19" class="form-control" />
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">Postcode</label>
															<input asp-for="AddressPostalCode" class="form-control" placeholder="1234AB" type="text" />
														</div>
													</div>
													<div class="col-md-8">
														<div class="form-group">
															<label class="control-label">Woonplaats</label>
															<input asp-for="AddressCity" class="form-control tooltips" placeholder="Utrecht" type="text" />
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label">Land</label>
													<input asp-for="AddressCountry" type="text" placeholder="the Netherlands" class="form-control" />
												</div>
												<h4 class="italic">Overige gegevens</h4>
												<hr />
												<label class="control-label">Website</label>
												<span class="input-icon">
													<input asp-for="OtherWebsite" type="text" placeholder="www.novimedia.nl" class="form-control">
													<i class="fa clip-globe"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external fa-reorder"></i><div class="mobile_text">Pagina instellingen</div>
					<div class="panel-tools big">
						<a class="btn btn-lg btn-link panel-collapse collapses" href="#">
						</a>
						<a class="btn btn-lg btn-link panel-expand" href="#">
							<i class="fa icon-resize-full"></i>
						</a>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<button class="btn btn-teal btn-lg btn-block" type="submit">Update <i class="fa fa-arrow-circle-right"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>