@model FusionCore.Models.Backend.Settings.WebsiteSettingsModel
@{
    ViewData["Title"] = "Website gegevens";
}
@section Head
	{
    <link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />

}
@section Scripts
	{
    <script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
    <script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/jquery-maskmoney/dist/jquery.maskMoney.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
    <script src="~/assets/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/jquery.tagsinput/src/jquery.tagsinput.js" asp-append-version="true"></script>
    <script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>
    <script src="~/assets/libs/ckeditor/adapters/jquery.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>
    <script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
    <script src="~/assets/js/table-data.js" asp-append-version="true"></script>
    <script src="~/assets/js/pages-user-profile.js" asp-append-version="true"></script>
    <script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
}
@section PageHeader
	{
    <ol class="breadcrumb">
        <li><i class="clip-home"></i><a asp-controller="Dashboard" asp-action="Index">&nbsp;Home</a></li>
        <li class="active">Website gegevens edit</li>
        @await Component.InvokeAsync("SearchBox")
    </ol>
    <div class="page-header">
        <h1>Website gegevens <small>edit</small></h1>
    </div>
}

<form asp-action="Website">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Google Analytics</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#">
                        </a>
                        <a class="btn btn-lg btn-link panel-expand" href="#">
                            <i class="fa icon-resize-full"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="panel_edit_account" class="tab-pane">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <span class="input-icon">
                                                        <input asp-for="GoogleAnalyticsCode" class="form-control" type="text" placeholder="Analytics code Voorbeeld: UA-34890XXX-X" />
                                                        <i class="fa clip-stats"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="btn btn-green btn-block" href="https://www.google.com/analytics/" target="_blank">Link <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div>
                                        <hr style="margin-top:7px;" />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>Social Media</h3>
                                                <hr />
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Twitter</label>
                                                    <span class="input-icon">
                                                        <input asp-for="TwitterCode" class="form-control" type="text" placeholder="Twitter code" />
                                                        <i class="clip-twitter"></i>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Facebook</label>
                                                    <span class="input-icon">
                                                        <input asp-for="FacebookCode" class="form-control" type="text" placeholder="Facebook code" />
                                                        <i class="clip-facebook"></i>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Google Plus</label>
                                                    <span class="input-icon">
                                                        <input asp-for="GooglePlusCode" class="form-control" type="text" placeholder="Google plus code" />
                                                        <i class="clip-google-plus"></i>
                                                    </span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Instagram</label>
                                                    <span class="input-icon">
                                                        <input asp-for="InstagramCode" class="form-control" type="text" placeholder="Instagram code" />
                                                        <i class="fa fa-instagram"></i>
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Linkedin</label>
                                                    <span class="input-icon">
                                                        <input asp-for="LinkedInCode" class="form-control" type="text" placeholder="Linkedin code" />
                                                        <i class="clip-linkedin"></i>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Skype</label>
                                                    <span class="input-icon">
                                                        <input asp-for="SkypeCode" class="form-control" type="text" placeholder="Skype code" />
                                                        <i class="clip-skype"></i>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Whatsapp</label>
                                                    <span class="input-icon">
                                                        <input asp-for="WhatsappCode" class="form-control" type="text" placeholder="Whatsapp code" />
                                                        <i class="fa fa-whatsapp"></i>
                                                    </span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Youtube</label>
                                                    <span class="input-icon">
                                                        <input asp-for="YoutubeCode" class="form-control" type="text" placeholder="Youtube code" />
                                                        <i class="fa fa-youtube"></i>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Pagina instellingen</div>
                    <div class="panel-tools big">
                        <a class="btn btn-lg btn-link panel-collapse collapses" href="#">
                        </a>
                        <a class="btn btn-lg btn-link panel-expand" href="#">
                            <i class="fa icon-resize-full"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-teal btn-lg btn-block" type="submit">Update <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>