﻿@using FusionCore.Modules.InstallationManager.Data.Enums
@using FusionCore.Core.Extensions
@model FusionCore.Modules.InstallationManager.Models.AssetActivityFieldPersistModel
@{
	Layout = null;
}
<form asp-action="AddActivityField">
	<input type="hidden" asp-for="AssetActivityId" />
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Werkbon item</label>
					<span class="input-icon dropdown_space_page">
						<select asp-for="DynamicFieldTypeId" class="form-control">
							<option value="">Selecteer een item</option>
							@{ 
								var values = Enum.GetValues(typeof(DynamicFieldType)).Cast<DynamicFieldType>().OrderBy(x => x.GetStringValue());
								foreach(var item in values.Where(x => x != DynamicFieldType.File && x != DynamicFieldType.Image))
								{
									<option value="@((int)item)">@item.GetStringValue()</option>		
								}
							}
						</select>
						<i class="fa fa-wrench"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</div>
</form>