﻿@model FusionCore.Modules.InstallationManager.Models.AssetActivityPersistModel
@{
	Layout = null;
}
<form asp-action="AddActivity">
	<input type="hidden" asp-for="AssetId" />
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Activiteit</label>
					<input type="text" placeholder="Activiteit name" class="form-control" asp-for="Name" />
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</div>
</form>