﻿@using FusionCore.Core.Enums
@using FusionCore.Modules.InstallationManager.Models
@model FusionCore.Modules.InstallationManager.Models.AssetPersistModel
@{
	Layout = null;
}
<script src="@Url.Action("GetJs", "Common", new { filename="Assets.AssetGet.js", assemblyName = "FusionCore.Modules.InstallationManager", area = "" })" asp-append-version="true"></script>

<div class="modal-body">
	<div class="tabbable panel-tabs">
		<ul class="nav nav-tabs" style="background-color: #F5F4F9; margin: -52px 45px 0 0;">
			<li class="active">
				<a data-toggle="tab" href="#panel_tab_algemeen">
					<h5 class="tab-correct-NM">Algemeen</h5>
				</a>
			</li>
			<li>
				<a data-toggle="tab" href="#panel_tab_documentatie">
					<h5 class="tab-correct-NM">Documentatie</h5>
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div id="panel_tab_algemeen" class="tab-pane active">
				<div class="row">
					<div class="col-sm-8 no-padding">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="fa fa-external fa-reorder"></i>
									<div class="mobile_text">Asset informatie</div>
									<div class="panel-tools big">
										<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
										<a class="btn btn-lg btn-link panel-expand" href="#">
											<i class="fa icon-resize-full"></i>
										</a>
									</div>
								</div>
								<div class="panel-body">
									<div class="row">
										<form asp-action="Persist" id="assetGetForm">
											<input type="hidden" asp-for="Id" />
											<div class="col-sm-12">
												<div id="panel_edit_account" class="tab-pane">
													<div class="row">
														<div class="col-md-12">
															<div class="form-group">
																<label class="control-label">Asset naam</label>
																<input type="text" placeholder="Novi Media" class="form-control" asp-for="Name" />
															</div>
															<div class="form-group">
																<label class="control-label">Asset type</label>
																@if (!Model.Id.HasValue)
																{
																	<br /><select class="form-control search-select search-select-NM" asp-for="AssetTypeId" asp-items="@Model.AvailableTypes">
																		<option value="">Selecteer een asset type</option>
																	</select>
																}
																else
																{
																	<input type="hidden" asp-for="AssetTypeId" />
																	<br />@Model.AssetTypeName
																}
															</div>
															<div class="form-group">
																<label class="control-label">Gebouw en Locatie</label>
																<select class="form-control search-select search-select-NM" asp-for="BuildingLocationId" asp-items="@Model.AvailableLocations">
																	<option value="">Selecteer een gebouw en locatie</option>
																</select>
																<a href="@Url.Action("Index", "Building")?id=@Model.BuildingId" class="btn btn-warning btn-sm tooltips float-r" data-placement="top" data-original-title="Edit">
																	<i class="fa fa-arrow-right fa fa-white"></i>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						@if (Model.Id.HasValue)
						{
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading" id="activities">
										<i class="fa fa-external fa-reorder"></i>
										<div class="mobile_text">Activiteiten</div>
										<div class="panel-tools big">
											<a class="btn btn-primary btn-xs js-popup-modal" href="#" data-title="Activiteit toevoegen" data-url="@Url.Action("AddActivity", new {assetId = Model.Id})" data-class="" data-reload-content="true"><i class="fa fa-plus"></i> toevoegen</a>
											<a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
											<a class="btn btn-lg btn-link panel-expand" href="#">
												<i class="fa icon-resize-full"></i>
											</a>
											<a class="btn btn-lg btn-link panel-close" href="#">
												<i class="fa fa-times"></i>
											</a>
										</div>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-md-12 js-load-content" data-url="@Url.Action("LoadActivities", new {Model.Id})">
											</div>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
					<div class="col-sm-4">
						@if (Model.Id.HasValue)
						{
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="fa fa-external fa-reorder"></i>
									<div class="mobile_text">Dynamische velden</div>
									<div class="panel-tools big">
										<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
										<a class="btn btn-lg btn-link panel-expand" href="#">
											<i class="fa icon-resize-full"></i>
										</a>
									</div>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12 space10">
											<button class="btn btn-primary add-row pull-right"><i class="fa fa-plus"></i> toevoegen</button>
										</div>
									</div>
									<div class="table-responsive">
										<table class="table table-hover table-bordered table-full-width" id="dynamicFields"
											   data-sortorderurl="@Url.Action("UpdateSortOrder")"
											   data-deleteurl="@Url.Action("DeleteAssetDynamicField")"
											   data-updateurl="@Url.Action("PersistAssetDynamicField")"
											   data-geturl="@Url.Action("DataTableBuildingAssetDynamicFields", new { assetId = Model.Id })"
											   data-id="@Model.Id">
											<thead>
												<tr>
													<th>Name</th>
													<th>Waarde</th>
													<th>Sortering</th>
													<th>Edit</th>
													<th>Delete</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
			<div id="panel_tab_documentatie" class="tab-pane">
				<div class="row">
					<div class="col-sm-6 no-padding">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="fa fa-external fa-reorder"></i>
									<div class="mobile_text">Rapportage overzicht</div>
									<div class="panel-tools big">
										<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
										<a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#rapportageTable" href="#"><i class="fa fa-refresh"></i></a>
										<a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
									</div>
								</div>
								<div class="panel-body">
									<table class="table table-striped table-bordered table-hover table-full-width" id="rapportageTable">
										<thead>
											<tr>
												<th>Datum</th>
												<th class="center">Offertenummer</th>
												<th class="center hidden-xs">Bedrijf</th>
												<th class="center hidden-xs">Gebouw & Locatie</th>
												<th class="center">Edit </th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="fa fa-external fa-reorder"></i>
									<div class="mobile_text">Bestanden overzicht</div>
									<div class="panel-tools big">
										<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
										<a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#filesTable" href="#"><i class="fa fa-refresh"></i></a>
										<a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
									</div>
								</div>
								<div class="panel-body">
									<table class="table table-striped table-bordered table-hover table-full-width" id="filesTable">
										<thead>
											<tr>
												<th>Datum</th>
												<th>Bestandsnaam</th>
												<th class="center">Edit </th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-external fa-reorder"></i>
								<div class="mobile_text">Bestanden uploaden</div>
								<div class="panel-tools big">
									<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
									<a class="btn btn-lg btn-link panel-refresh" href="#"><i class="fa fa-refresh"></i></a>
									<a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
								</div>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group">
										<div class="col-sm-12">
											<input id="file" type="file" class="js-fileinput-file" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-external fa-reorder"></i>
								<div class="mobile_text">Image overview</div>
								<div class="panel-tools big">
									<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
									<a class="btn btn-lg btn-link panel-refresh" href="#"><i class="fa fa-refresh"></i></a>
									<a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
								</div>
							</div>
							<div class="panel-body">
								<div class="row" id="imagesTable">
									
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
	<button type="button" class="btn btn-primary" id="js-submitbutton">Opslaan</button>
</div>
<script>
	$(function() {
		LoadImages();
		$(".js-fileinput-file").each(function(i, elm) {
				var previewList = [];
				var previewConfig = [];
				var $elm = $(elm);
				$elm.fileinput({
					allowedFileExtensions: ['pdf', 'jpg', 'png', 'jpeg'],
					showClose: false,
					uploadAsync: true,
					dropZoneEnabled: false,
					required: true,
					uploadUrl: '@Url.Action("FileUpload", "Asset")',
					uploadExtraData: function() {
						return {
							'assetId': '@Model.Id'
						};
					},
					initialPreview: previewList,
					initialPreviewConfig: previewConfig
				});
				$elm.on('fileuploaded', function (event, data, previewId, index) {

					$elm.fileinput('cancel');
					$elm.fileinput('clear');

					$("#filesTable").DataTable().ajax.reload();
					LoadImages();
				});
			});

		$("#filesTable").DataTable({
			'stateSave': true,
			"processing": true,
			"serverSide": true,
			"filter": false,
			"orderMulti": false,
			"lengthChange": false,
			"searching": false,
			"pageLength": 3,
			"ajax": "@Url.Action("GetFiles", new {type = FileType.Pdf})&assetId=@Model.Id",
			"columns": [
				{ "data": "date" },
				{ "data": "file" },
				{ "data": "buttons" }
			],
			"columnDefs": [
				{
					"targets": 0,
					"orderable": false
				}, {
					"targets": 1,
					"orderable": false
				}, {
					"render": function(data, type, row) {
						var returnValue = "";
						var downloadUrl = '@Url.Action("DownloadFile")/'+row.id;
						var deleteUrl = "@Url.Action("DeleteFile")/" + row.id;
						var iconType = "pdf";
						var buttonClass = "btn-danger";
						var fileName = row.file.toLowerCase();
						if (fileName.endsWith(".xls") || fileName.endsWith(".xlsx"))
						{
							iconType = "excel";
							buttonClass = "btn-green";
						}
						else if (fileName.endsWith(".doc") || fileName.endsWith(".docx"))
						{
							iconType = "word";
							buttonClass = "btn-primary";
						}
						returnValue += '<div class="visible-md visible-lg hidden-sm hidden-xs">\n';
						returnValue += '<a href="'+downloadUrl+'" target="_blank" class="btn '+buttonClass+' tooltips" data-original-title="File">\n';
						returnValue += '<i class="fa clip-file-'+iconType+'"></i>\n';
						returnValue += '</a>\n';
						returnValue += '<a href="' + deleteUrl +'" class="btn btn-bricky tooltips js-modal-delete-ajax" data-selector="#filesTable" data-placement="top" data-original-title="Remove">\n';
						returnValue += '<i class="fa fa-times fa fa-white"></i>\n';
						returnValue += '</a>\n';
						returnValue += '</div>\n';
						returnValue += '<div class="visible-xs visible-sm hidden-md hidden-lg">\n';
						returnValue += '<div class="btn-group">\n';
						returnValue += '<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">\n';
						returnValue += '<i class="fa fa-cog"></i> <span class="caret"></span>\n';
						returnValue += '</a>\n';
						returnValue += '<ul role="menu" class="dropdown-menu pull-right">\n';
						returnValue += '<li role="presentation">\n';
						returnValue += '<a role="menuitem" tabindex="-1" href="' + downloadUrl + '" target="_blank"><i class="fa clip-file-' + iconType +'"></i> Bestand</a>\n';
						returnValue += '</li>\n';
						returnValue += '<li role="presentation">\n';
						returnValue += '<a role="menuitem" tabindex="-1" href="' + deleteUrl +'" data-selector="#filesTable" class="js-modal-delete-ajax"><i class="fa fa-times"></i> Verwijderen</a>\n';
						returnValue += '</li>\n';
						returnValue += '</ul>\n';
						returnValue += '</div>\n';
							returnValue += '</div>\n';

						return returnValue;
					},
					className: "center",
					"targets": 2,
					"orderable": false
				}
			]
		});

		$('#rapportageTable').DataTable({
			'stateSave': true,
			"processing": true,
			"serverSide": true,
			"filter": false,
			"orderMulti": false,
			"lengthChange": false,
			"searching": false,
			"pageLength": 3,
			"ajax": "@Url.Action("GetFiles", new {type = FileType.Report})&assetId=@Model.Id",
			"columns": [
				{ "data": "date" },
				{ "data": "offernumber" },
				{ "data": "company" },
				{ "data": "buildingLocation" },
				{ "data": "buttons" }
			],
			"columnDefs": [
				{
					"targets": 0,
					"orderable": false
				}, {
					"className": "center",
					"targets": 1,
					"orderable": false
				}, {
					"className": "center hidden-xs",
					"targets": 2,
					"orderable": false
				}, {
					"className": "center hidden-xs",
					"targets": 3,
					"orderable": false
				}, {
					"render": function(data, type, row) {
						var returnValue = "";
						var downloadUrl = '@Url.Action("DownloadFile")/'+row.id;
						var deleteUrl = "@Url.Action("DeleteFile")/" + row.id;

						returnValue += '<div class="visible-md visible-lg hidden-sm hidden-xs">\n';
						returnValue += '<a href="' + downloadUrl +'" target="_blank" class="btn btn-danger tooltips" data-original-title="File">\n';
						returnValue += '<i class="fa clip-file-pdf"></i>\n';
						returnValue += '</a>\n';
						returnValue += '<a href="' + deleteUrl +'" class="btn btn-bricky tooltips js-modal-delete-ajax" data-selector="#rapportageTable" data-placement="top" data-original-title="Remove">\n';
						returnValue += '<i class="fa fa-times fa fa-white"></i>\n';
						returnValue += '</a>\n';
						returnValue += '</div>\n';
						returnValue += '<div class="visible-xs visible-sm hidden-md hidden-lg">\n';
						returnValue += '<div class="btn-group">\n';
						returnValue += '<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">\n';
						returnValue += '<i class="fa fa-cog"></i> <span class="caret"></span>\n';
						returnValue += '</a>\n';
						returnValue += '<ul role="menu" class="dropdown-menu pull-right">\n';
						returnValue += '<li role="presentation">\n';
						returnValue += '<a role="menuitem" tabindex="-1" href="' + downloadUrl +'" target="_blank"><i class="fa clip-file-pdf"></i> Bestand</a>\n';
						returnValue += '</li>\n';
						returnValue += '<li role="presentation">\n';
						returnValue += '<a role="menuitem" tabindex="-1" href="' + deleteUrl +'" class="js-modal-delete-ajax" data-selector="#rapportageTable"><i class="fa fa-times"></i> Verwijderen</a>\n';
						returnValue += '</li>\n';
						returnValue += '</ul>\n';
						returnValue += '</div>\n';
						returnValue += '</div>\n';

						return returnValue;
					},
					className: "center",
					"targets": 4,
					"orderable": false
				}
			]
		});
	});

	function LoadImages() {
		var $imagesTable = $('#imagesTable');
		$imagesTable.html('');

		$.ajax({
			type: "GET",
			url: '@Url.Action("ImageList", "Asset", new { id = Model.Id})',
			beforeSend: function(xhr) {
				xhr.setRequestHeader("RequestVerificationToken",
					$('input:hidden[name="__RequestVerificationToken"]').val());
			},
			success: function(data) {
				$imagesTable.html(data);
			}
		});
	}
</script>