﻿@model System.Collections.Generic.List<FusionCore.Modules.InstallationManager.Data.Entities.AssetFile>

@{
	Layout = null;
	var groups = Model.GroupBy(x => x.CreatedOnUtc.Date);
}
@foreach (var group in groups)
{
	var images = Model.Where(x => x.CreatedOnUtc.Date == group.Key).ToList();
	<div class="col-sm-12">
		<div class="panel-group margin-bottom-small" id="acc@(group.Key.Ticks)">
			<div class="panel panel-default">
				<div class="panel-heading padding-left-small">
					<a data-toggle="collapse" data-parent="#acc@(group.Key.Ticks)" href="#@group.Key.Ticks" class="link-collapse text-resp assets"><i class="fa fa-arrow-down"></i> @group.Key.ToString("dd-MM-yyyy")</a>
					<a href="@Url.Action("DeleteFile", new {date = group.Key.Date})" data-function="LoadImages" class="js-modal-delete-ajax btn btn-bricky tooltips pull-right" style="margin-right: -14px; margin-top: -9px;">
						<i class="fa fa-times fa fa-white"></i>
					</a>
				</div>
				<div id="@group.Key.Ticks" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="row">
							@foreach (var image in images)
							{
								<div class="col-md-3 col-sm-4 gallery-img">
									<div class="wrap-image">
										<a class="group1" href="@Url.Action("DownloadFile", new {image.Id})" title="Clip-One Business Card">
											<img src="@Url.Action("Image", "Asset", new {id = image.Id})" alt="@image.Id" class="img-responsive">
										</a>
										<div class="tools tools-bottom">
											<a href="@Url.Action("DeleteFile", new {image.Id})" data-function="LoadImages" class="js-modal-delete-ajax">
												<i class="clip-close-2 fa-3x"></i>
											</a>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}