@model FusionCore.Modules.InstallationManager.Models.AssetIndexViewModel
@{
	ViewData["Title"] = "Installatie asset overzicht";
	Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {
	<link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/summernote/dist/summernote.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/x-editable/dist/inputs-ext/address/address.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/x-editable/dist/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet" asp-append-version="true" />
	<style>
		
		.af_range.af_range_ok {
			background:#92d050;
			color:#000000;    
		}
		.af_range.af_range_outside {
			background:#ffc000;
			color:#000000;    
		}

		.af_hv.af_hv_1,
		.af_hv.af_hv_2 {
			background: rgb(83, 142, 213);
			color:#000000;    
		}

		.af_hv.af_hv_3,
		.af_hv.af_hv_4 {
			background:rgb(146, 208, 80);
			color:#000000;    
		}

		.af_hv.af_hv_5 {
    
			background:rgb(255, 192, 0);
			color:#000000;    
		}

		.af_hv.af_hv_6 {
			background: rgb(255, 0, 0);
			color:#000000;    
		}

		.af_tvrtav.af_tvrtav_1 {
			background:rgb(146, 208, 80);
			color:#000000;    
		}
    

		.af_tvrtav.af_tvrtav_2 {
			background:rgb(255, 192, 0);
			color:#000000;    
		}
    

		.af_tvrtav.af_tvrtav_3 {
			background: rgb(255, 0, 0);
			color:#000000;    
		}
	</style>
}

@section Scripts {

	<script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
	<script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-maskmoney/dist/jquery.maskMoney.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.tagsinput/src/jquery.tagsinput.js" asp-append-version="true"></script>
	<script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/adapters/jquery.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
	<script src="~/assets/libs/Nestable/dist/js/jquery.nestable.js" asp-append-version="true"></script>

	<script src="~/assets/libs/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/inputs-ext/typeaheadjs/typeaheadjs.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/inputs-ext/typeaheadjs/lib/typeahead.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/inputs-ext/address/address.js" asp-append-version="true"></script>
	<script src="~/assets/js/pages-user-profile.js" asp-append-version="true"></script>
	<script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
	<script>
		jQuery(document).ready(function() {
			@if (Model.Id.HasValue)
			{
				<text>PreLoadItem();</text>
			}
			$("body").on('click', '#js-submitbutton', function() {
				$("#assetGetForm").submit();
			});
			$("body").on('click',
				'.js-activitydelete',
				function(e) {
					e.preventDefault();
					$this = $(this);
					bootbox.confirm("Weet u het zeker?",
						function(result) {
							if (result) {
								$.ajax($this.data('url')).then(function(data) {
									if (data) {
										Main.runLoadContent();
									} else {

										Main.AddAlert(
											"Verwijderen is niet mogelijk, omdat er planningen aan gekoppeld zijn",
											"#panel_tab_algemeen #activities");
									}
								});
							}
						});

					return false;
				});

			$("body").on('change', ".af_range", function () {
				var val = parseInt($(this).val());
				var parent = $(this).parent().parent();
				var minVal = parseInt(parent.find(".one").val());
				var maxVal = parseInt(parent.find(".two").val());
				$(this).removeClass("af_range_ok");
				$(this).removeClass("af_range_outside");
				if (minVal <= val && maxVal >= val) {
					$(this).addClass("af_range_ok");
				} else {
					$(this).addClass("af_range_outside");
				}
			}).trigger('change');

			$('body').on('change',
				'.af_hv',
				function() {
					$(this).removeClass("af_hv_1");
					$(this).removeClass("af_hv_2");
					$(this).removeClass("af_hv_3");
					$(this).removeClass("af_hv_4");
					$(this).removeClass("af_hv_5");
					$(this).removeClass("af_hv_6");
					var val = $(this).val();
					if (val === "") return;

					if (val > 6) val = 6;
					if (val < 1) val = 1;

					$(this).addClass("af_hv_" + val);
				}).trigger('change');


		$('#asset').DataTable({
			'stateSave': true,
			"processing": true,
			"serverSide": true,
			"filter": true,
			"orderMulti": false,
			"ajax": "@Url.Action("DataTable")",
			"columns": [
				{ "data": "name" },
				{ "data": "buildingName" },
				{ "data": "locationName" },
				{ "data": "buttons" }
			],
			"columnDefs": [
				{
					"className": "hidden-xs",
					"targets": 1
				}, {
					"className": "hidden-xs",
					"targets": 2
				}, {
					"render": function(data, type, row) {
						@{
							var editUrl = Url.Action("Get");
						}
						var returnValue = "";
						var modalProperties = " data-title=\"" +
							row.name +
							"\" data-url=\"@editUrl/" +
							row.id +
							"\" data-class=\"super\"";
						var deleteUrl = "@Url.Action("Delete")/" + row.id;
						returnValue += "<div class=\"visible-md visible-lg hidden-sm hidden-xs\">\n";
						returnValue +=
							"<a href=\"#panel-gebruiker-edit\" class=\"btn btn-teal tooltips js-popup-modal\" " +
							modalProperties +
							" data-placement=\"top\" data-original-title=\"Edit\"><i class=\"fa fa-edit\"></i></a>\n";
						returnValue +=
							"<a href=\"" +
							deleteUrl +
							"\" class=\"btn btn-bricky tooltips js-modal-delete\" data-placement=\"top\" data-original-title=\"Remove\"><i class=\"fa fa-times fa fa-white\"></i></a>\n";
						returnValue += "</div>\n";
						returnValue += "<div class=\"visible-xs visible-sm hidden-md hidden-lg\">\n";
						returnValue += "<div class=\"btn-group\">\n";
						returnValue +=
							"<a class=\"btn btn-primary dropdown-toggle btn-sm\" data-toggle=\"dropdown\" href=\"#\"><i class=\"fa fa-cog\"></i> <span class=\"caret\"></span></a>\n";
						returnValue += "<ul role=\"menu\" class=\"dropdown-menu pull-right\">\n";
						returnValue +=
							"<li role=\"presentation\"><a role=\"menuitem\" href=\"#\" class=\"js-popup-modal\" " +
							modalProperties +
							"><i class=\"fa fa-edit\"></i> Edit</a></li>\n";
						returnValue +=
							"<li role=\"presentation\"><a role=\"menuitem\" href=\"" +
							deleteUrl +
							"\" class=\"js-modal-delete\"><i class=\"fa fa-times\"></i> Remove</a></li>\n";
						returnValue += "</ul>\n";
						returnValue += "</div>\n";
						returnValue += "</div>\n";

						return returnValue;
					},
					className: "center",
					"targets": 3,
					"orderable": false
				}
			]
		});
	});
		@if (Model.Id.HasValue)
		{
				<text>
				function PreLoadItem() {
					Modals.CreateModal('Asset', '@Url.Action("Get")/@Model.Id.Value', 'super', function() {

						try {
							$("#asset").dataTable().api().ajax.reload(null, false);
						} catch (err) {
							//ignored
						}

					});
				}
				</text>
		}
	</script>
}

@section PageHeader {
	<ol class="breadcrumb">
		<li>
			<i class="clip-home"></i><a asp-controller="Dashboard" asp-action="Index">&nbsp;Home</a>
		</li>
		<li class="active">Gebouwen & Locaties overzicht</li>
		@await Component.InvokeAsync("SearchBox")
	</ol>
	<div class="page-header">
		<span class="pull-right">
			<a class="btn btn-primary js-popup-modal js-new-button" data-class="super" data-title="Nieuw gebouw" data-url="@Url.Action("Get")?buildingLocationId=@Model.BuildingLocationId"><i class="fa fa-plus"></i> toevoegen</a>
		</span>
		<h1> Asset <small>overzicht</small></h1>
	</div>

}

<div class="row">
	<div class="col-md-12">
		<!-- start: DYNAMIC TABLE PANEL -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-reorder"></i>
				<div class="mobile_text">Assets</div>
				<div class="panel-tools big">
					<a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>

					<a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#asset" href="#"><i class="fa fa-refresh"></i></a>
					<a class="btn btn-lg btn-link panel-expand" href="#">
						<i class="fa icon-resize-full"></i>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered table-hover table-full-width" id="asset">
					<thead>
						<tr>
							<th>Naam</th>
							<th class="hidden-xs"> Gebouw</th>
							<th class="hidden-xs"> Locatie</th>
							<th class="center">Edit</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>