﻿@model System.Collections.Generic.List<FusionCore.Modules.InstallationManager.Data.Entities.AssetActivity>

@{
	Layout = null;
}
<div class="panel-group" id="accordion">
	@foreach (var activity in Model)
	{
		<div class="panel panel-default">
			<div class="panel-heading padding-left-small">
				<a data-toggle="collapse" data-parent="#accordion" href="#activity@(activity.Id)" class="link-collapse text-resp assets"><i class="fa fa-arrow-down"></i> @activity.Name</a>
				<a href="#" data-url="@Url.Action("DeleteActivity")?activity=@activity.Id" class="btn btn-bricky tooltips pull-right js-activitydelete" style="margin-top: -9px; margin-right: -14px;" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
				<a href="@Url.Action("Index", "Planning")?activity=@activity.Id" target="_blank" data-toggle="modal" class="btn btn-primary tooltips pull-right" style="margin-right: 5px; margin-top: -9px;" data-placement="top" data-original-title="Inplannen">
					<i class="fa clip-calendar-3 fa fa-white"></i>
				</a>
				<a class="btn btn-primary btn-xs pull-right js-popup-modal" href="#" style="margin-top: -3px; margin-right: 8px;" data-title="Werkbon item toevoegen" data-url="@Url.Action("AddActivityField", new {assetActivityId = activity.Id})" data-class="" data-reload-content="true"><i class="fa fa-plus"></i> toevoegen</a>
				<div class="pull-right" style="margin-top: -7px; margin-right: 7px;">
					<input asp-for="@activity.Active" type="checkbox" data-toggle="toggle" data-onstyle="teal" data-size="small" data-url="@Url.Action("SetActiveAssetActivity", new {id = activity.Id})" class="js-post-remove" data-element="">
				</div>
			</div>
			<div id="activity@(activity.Id)" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="col-md-12">
						<div class="form-group">
							<div class="row">
								@await Component.InvokeAsync("ActivityFields", new { activityId = activity.Id })
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
<script>
	$(function() {
		$(".af_hv").each(function (i, elm) {
			$(this).change();
		});

		$(".af_range").each(function (i, elm) {
			$(this).change();
		});
	});
</script>