						<div class="tabbable panel-tabs">
							<ul class="nav nav-tabs" style="margin-top: -37px;">
							<li class="active"><a data-toggle="tab" href="#panel_tab_gebouwen"><h5 class="tab-correct-NM">Gebouwen</h5></a></li>
							<li><a data-toggle="tab" href="#panel_tab_locaties"><h5 class="tab-correct-NM">Locaties</h5></a></li>
							</ul>
							<div class="tab-content">
							<div id="panel_tab_gebouwen" class="tab-pane active">
							</div>
							<div id="panel_tab_locaties" class="tab-pane">
							</div>
							</div>
						</div>