@using FusionCore.Core.Settings
@using Microsoft.Extensions.Configuration
@model FusionCore.Models.Backend.Common.NavigationTopModel
@inject IConfiguration _configuration
<div class="navbar navbar-inverse navbar-fixed-top">
    <!-- start: TOP NAVIGATION CONTAINER -->
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="clip-list-2"></span>
            </button>
            <a class="navbar-brand" asp-action="Index" asp-controller="Dashboard">
                <img src="~/assets/images/header-logo.png" class="img-fm" alt="Fusion Media" width="165" height="">
            </a>
        </div>
        <div class="navbar-tools">
            <!-- start: TOP NAVIGATION MENU -->
            <ul class="nav navbar-right">
                <!-- start: TO-DO DROPDOWN -->
                <li class="dropdown" id="navlitodolist">
                    @{
                        await Html.RenderPartialAsync("_NavigationToDoList", Model);
                    }
                </li>
                <!-- end: TO-DO DROPDOWN-->
                <!-- start: NOTIFICATION DROPDOWN -->
                @*     <li class="dropdown">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                            <i class="clip-notification-2"></i>
                            <span class="badge"> 11</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li>
                                <span class="dropdown-menu-title"> You have 11 notifications</span>
                            </li>
                            <li>
                                <div class="drop-down-wrapper">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-primary"><i class="fa fa-user"></i></span>
                                                <span class="message"> New user registration</span>
                                                <span class="time"> 1 min</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-success"><i class="fa fa-comment"></i></span>
                                                <span class="message"> New comment</span>
                                                <span class="time"> 7 min</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-success"><i class="fa fa-comment"></i></span>
                                                <span class="message"> New comment</span>
                                                <span class="time"> 8 min</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-success"><i class="fa fa-comment"></i></span>
                                                <span class="message"> New comment</span>
                                                <span class="time"> 16 min</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-primary"><i class="fa fa-user"></i></span>
                                                <span class="message"> New user registration</span>
                                                <span class="time"> 36 min</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-warning"><i class="fa fa-shopping-cart"></i></span>
                                                <span class="message"> 2 items sold</span>
                                                <span class="time"> 1 hour</span>
                                            </a>
                                        </li>
                                        <li class="warning">
                                            <a href="javascript:void(0)">
                                                <span class="label label-danger"><i class="fa fa-user"></i></span>
                                                <span class="message"> User deleted account</span>
                                                <span class="time"> 2 hour</span>
                                            </a>
                                        </li>
                                        <li class="warning">
                                            <a href="javascript:void(0)">
                                                <span class="label label-danger"><i class="fa fa-shopping-cart"></i></span>
                                                <span class="message"> Transaction was canceled</span>
                                                <span class="time"> 6 hour</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-success"><i class="fa fa-comment"></i></span>
                                                <span class="message"> New comment</span>
                                                <span class="time"> yesterday</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-primary"><i class="fa fa-user"></i></span>
                                                <span class="message"> New user registration</span>
                                                <span class="time"> yesterday</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-primary"><i class="fa fa-user"></i></span>
                                                <span class="message"> New user registration</span>
                                                <span class="time"> yesterday</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-success"><i class="fa fa-comment"></i></span>
                                                <span class="message"> New comment</span>
                                                <span class="time"> yesterday</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="label label-success"><i class="fa fa-comment"></i></span>
                                                <span class="message"> New comment</span>
                                                <span class="time"> yesterday</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="view-all">
                                <a href="javascript:void(0)">
                                    See all notifications <i class="fa fa-arrow-circle-o-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: NOTIFICATION DROPDOWN -->*@
                <!-- start: MESSAGE DROPDOWN -->
            <li class="dropdown" id="navlinewmsglist">
                @{
                    await Html.RenderPartialAsync("_NavigationMessageList", Model);
                }
            </li>
                <!-- end: MESSAGE DROPDOWN -->
                <!-- start: USER DROPDOWN -->
                <li class="dropdown current-user">
                    @{
                        if (!string.IsNullOrEmpty(Model.CurrentUser.Photo) && !Model.CurrentUser.Photo.Contains("assets/images/avatar-1-xl.jpg"))
                        {
                            var fusionurl = _configuration.GetSection("MainSettings").Get<MainSettings>().FusionUrl;
                            var path = _configuration.GetSection("FileSettings").Get<FileSettings>().UserFileRelativePath;
                            Model.CurrentUser.Photo = string.Concat(fusionurl, path, Model.CurrentUser.Photo);
                        }
                        else
                        {
                            Model.CurrentUser.Photo = "/assets/images/avatar-1-xl.jpg";
                        }
                    }
                    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                        <img id="navtopuserimage" data-navtopusername="@Model.CurrentUser.GetFullName" data-navtopuserid="@Model.CurrentUser.Id" src="@Model.CurrentUser.Photo" class="circle-img" alt="" height="30" width="30">@*~/assets/images/avatar-1-small.jpg*@
                        <span class="username">@Model.CurrentUser.GetFullName</span>
                        <i class="clip-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>

                            <a class="js-popup-modal" href="#" data-url="@Url.Action("Get", "FusionUser",new { area = "",Model.CurrentUser.Id })" data-title="@Model.CurrentUser.GetFullName" data-class="big">
                                <i class="clip-user-2"></i> &nbsp;My Profile
                            </a>
                        </li>
                        @*<li>
                                <a href="pages_calendar.html">
                                    <i class="clip-calendar"></i> &nbsp;My Calendar
                                </a>
                            </li>
                            <li>
                                <a href="pages_messages.html">
                                    <i class="clip-bubble-4"></i> &nbsp;My Messages (3)
                                </a>
                            </li>*@
                        <li class="divider"></li>
                        @*<li>
                                <a href="utility_lock_screen.html">
                                    <i class="clip-locked"></i> &nbsp;Lock Screen
                                </a>
                            </li>*@
                        <li>
                            <a asp-controller="Login" asp-action="Logout">
                                <i class="clip-exit"></i> &nbsp;Log Out
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- end: USER DROPDOWN -->
                <!-- start: PAGE SIDEBAR TOGGLE -->
                <li>
                    <a class="sb-toggle" href="#"><i class="fa fa-outdent"></i></a>
                </li>
                <!-- end: PAGE SIDEBAR TOGGLE -->
            </ul>
            <!-- end: TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
</div>