@using FusionCore.Modules.FundsManager.Models
@using FusionCore.Core.Enums
@using FusionCore.Core.Helpers
@using FusionCore.Modules.FundsManager.Data.Enums
@using FusionCore.Modules.FundsManager.Models
@model FusionCore.Modules.FundsManager.Models.BannerPersistModel
@{
    Layout = null;
}
<form asp-action="Persist" id="AdminForm">
    <input type="hidden" asp-for="Id" />

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Algemene informatie</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="Naam" class="form-control" asp-for="Title" />

                                            </div>
                                            <div class="form-group">
                                                <span class="input-icon dropdown_space_page">
                                                    <select id="form-field-locatie" class="form-control" asp-for="bannerType" required>
                                                        @*<option value="@BannerType.none" selected="">Selecteer een type banner</option>*@
                                                        <option value="@BannerType.Presentatie">Presentatie</option>
                                                        <option value="@BannerType.Pages">Pagina</option>
                                                    </select>
                                                    <i class="fa fa-image"></i>
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default presentatie">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Banner content (presentatie)</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_content" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-6" id="headerblack">
                                            <div class="form-group">
                                                <input type="text" placeholder="Header" class="form-control" asp-for="Header" />
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="headerred">
                                            <div class="form-group">
                                                <input type="text" placeholder="Header sub" class="form-control" asp-for="HeaderRed" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea placeholder="Onderschrift" class="form-control limited" asp-for="Description" maxlength="200"></textarea>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group fonds">
                                                <span class="input-icon dropdown_space_page">
                                                    <select class="form-control" asp-for="PageID">
                                                        <option value="" selected="">Selecteer een link</option>
                                                        @{
                                                            var pageslist = ViewBag.Pages as List<PagePersistModel>;
                                                            if (pageslist != null && pageslist.Any())
                                                            {
                                                                foreach (var _page in pageslist)
                                                                {
                                                                    <option value="@_page.Id">@_page.Title</option>
                                                                }
                                                            }

                                                        }
                                                    </select>
                                                    <i class="fa clip-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group fonds">
                                                <input type="text" placeholder="Button text" class="form-control" asp-for="buttontext">
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="panel panel-default fonds">
                        <div class="panel-heading">
                            <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Banner content (funds)</div>
                            <div class="panel-tools big">
                                <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                                <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                                <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="panel_edit_content" class="tab-pane">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Header" class="form-control" asp-for="Header" />
                                                </div>
                                                <div class="form-group">
                                                    <textarea placeholder="Onderschrift" class="form-control limited" asp-for="Description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <span class="input-icon dropdown_space_page">
                                                        <select id="form-field-locatie" class="form-control" asp-for="FundID">
                                                            <option value="" selected="">Selecteer een fonds link</option>
                                                            @{
                                                                var fundslist = ViewBag.Funds as List<FundsPersistModel>;
                                                                if (fundslist != null && fundslist.Any())
                                                                {
                                                                    foreach (var fund in fundslist)
                                                                    {
                                                                <option value="@fund.Id">@fund.Title</option>
                                                                    }
                                                                }

                                                            }
                                                        </select>
                                                        <i class="fa clip-link"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Pagina instellingen</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input type='checkbox' data-toggle='toggle' data-onstyle='teal' asp-for="Active" />&nbsp;&nbsp; Activiteit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external fa-reorder"></i><div class="mobile_text">Beeld</div>
                        <div class="panel-tools big">
                            <a class="btn btn-lg btn-link panel-collapse collapses" href="#"></a>
                            <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                            <a class="btn btn-lg btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="panel_edit_account-2" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <fileupload asp-id="BannerFileID"
                                                                    asp-value="@Model.BannerFileID">
                                                        </fileupload>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 margin-top">
                                                    <div class="alert alert-block alert-info fade in">
                                                        <button data-dismiss="alert" class="close" type="button">&times;</button>
                                                        <h4 class="alert-heading"><i class="fa fa-info-circle"></i> Beeld formaat</h4>
                                                        <p>Formaat van deze afbeelding is maximaal 2500x1600 pixels</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
        <button type="submit" class="btn btn-primary js-save">Opslaan</button>
    </div>
    <input type="hidden" value="@Model.bannerType" id="hdnbannertype" />
    <input type="hidden" value="@Model.sortOrder" id="sortOrder" name="sortOrder" />
</form>
<script>

    $(document).ready(function () {
        if ($("#hdnbannertype").val() == "Pages") {
            //$(".presentatie").hide();
            $(".fonds").show();
            $("#form-field-locatie").val("Pages");
            // $(".presentatie :input textarea").attr("disabled", true);

            // $(".fonds :input textarea").removeAttr("disabled");

            $(".mobile_text").text("Banner content (link)");

            $("#headerblack").removeClass("col-md-12");
            $("#headerblack").addClass("col-md-6");
            $("#headerred").show();
        }
        else {
            //$(".presentatie").show();
            $(".fonds").hide();
            $("#form-field-locatie").val("Presentatie");
            //$(".fonds :input textarea").attr("disabled", true);

            //$(".presentatie :input textarea").removeAttr("disabled");
            $(".mobile_text").text("Banner content (presentatie)");

            $("#headerblack").removeClass("col-md-6");
            $("#headerblack").addClass("col-md-12");
            $("#headerred").hide();
        }
        $("#form-field-locatie-error").html("");
        try {
            FormElements.init();
        } catch (exception) { }
    });
    jQuery("#form-field-locatie").on("change", function (e) {
        if ($("#form-field-locatie").val() == "Pages") {
            //$(".presentatie").hide();
            $(".fonds").show();
            //$(".presentatie :input textarea").attr("disabled", true);

            //$(".fonds :input textarea").removeAttr("disabled");
            $(".mobile_text").text("Banner content (link)");

            $("#headerblack").removeClass("col-md-12");
            $("#headerblack").addClass("col-md-6");
            $("#headerred").show();

        } else {
            //$(".presentatie").show();
            $(".fonds").hide();
            //$(".fonds :input textarea").attr("disabled", true);

            //$(".presentatie :input textarea").removeAttr("disabled");
            $(".mobile_text").text("Banner content (presentatie)");

            $("#headerblack").removeClass("col-md-6");
            $("#headerblack").addClass("col-md-12");
            $("#headerred").hide();
        }
    });
</script>
