@model object
@{
    ViewData["Title"] = "Banner overzicht";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {

    <link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
    @*<link href="~/assets/libs/ckeditor/contents.css" rel="stylesheet" />*@
    <link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/assets/libs/moment/min/moment.min.js"></script>
    <script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js"></script>
    <script src="~/assets/libs/autosize/dist/autosize.min.js"></script>

    <script src="~/assets/libs/ckeditor/ckeditor.js"></script>
    @*<script src="~/assets/libs/ckeditor/adapters/jquery.js"></script>*@


    <script src="~/assets/libs/bootbox.js/bootbox.js"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js"></script>

    <script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js"></script>
    <script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js"></script>

    
    <script src="~/assets/js/pages-user-profile.js"></script>
    <script src="~/assets/js/form-elements.js"></script>

    <script>
        jQuery(document).ready(function () {
            try {
                $('#banner').DataTable({
                    'stateSave': true,
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "orderMulti": false,
                    "order": [[ 2, "desc" ]],
                    "ajax": "@Url.Action("DataTable")",
                    "columns": [
                        { "data": "fileid" },
                        { "data": "title" },
                        { "data": "sortorder" },
                        { "data": "active" },
                        { "data": "buttons" }
                    ],
                    "columnDefs": [
                        {
                            "render": function (data, type, row) {
                                console.log(row);
                                var file = row.bannerFileID != null ? ("@Url.Action("Get","File",new { Area="" })?id=" + row.bannerFileID+"&type=bannerfileid") : "@Url.Content("../assets/images/user.jpg")";

                                var returnValue = "<img src='" + file + "' alt='" + row.title + "' style='height:50px;' >";

                                return returnValue;
                            },
                            className: "center",
                            "targets": 0,
                        },
                        {
                            "render": function (data, type, row) {

                                var orderup = "@Url.Action("OrderUp")?id=" + row.id + "&&order=" + row.sortOrder;
                                var orderdown = "@Url.Action("OrderDown")?id=" + row.id + "&&order=" + row.sortOrder;
                                var returnValue = "<a style='margin: 0 4px;' class='btn btn-sm btn-light-grey' href='" + orderdown + "'><i class='fa fa-arrow-circle-up'></i></a><a class='btn btn-sm btn-light-grey' href='" + orderup + "'><i class='fa fa-arrow-circle-down'></i></a>";

                                return returnValue;
                            },
                            className: "center",
                            "targets": 2,
                        },
                        {

                            "render": function (data, type, row) {
                                var activeUrl = "@Url.Action("Active")";
                                var pageid = row.id;
                                var returnValue = "";
                                if (row.active) {

                                    returnValue += "<input type='checkbox' data-toggle='toggle' data-onstyle='teal' checked data-id=" + pageid + " data-url=" + activeUrl + " onchange='CheckActive($(this));' />";
                                } else {

                                    returnValue += "<input type='checkbox' data-toggle='toggle' data-onstyle='teal'  data-id=" + pageid + " data-url=" + activeUrl + " onchange='CheckActive($(this));' />";
                                }

                                return returnValue;
                            },
                            className: "hidden-xs",
                            "targets": 3,

                        },
                        {
                            "render": function (data, type, row) {

                                var returnValue = "";
                                var modalProperties = " data-title=\"" +
                                    row.title +
                                    "\" data-url=\"@Url.Action("Get")/" +
                                    row.id +
                                    "\" data-class=\"super\"";
                                var deleteUrl = "@Url.Action("Delete")/" + row.id;

                                returnValue += "<div class=\"visible-md visible-lg hidden-sm hidden-xs\">\n";
                                returnValue +=
                                    "<a href=\"#panel-gebruiker-edit\" class=\"btn btn-teal tooltips js-popup-modal\" " +
                                    modalProperties +
                                    " data-placement=\"top\" data-original-title=\"Edit\"><i class=\"fa fa-edit\"></i></a>\n";
                                returnValue +=
                                    "<a href=\"" +
                                    deleteUrl +
                                    "\" class=\"btn btn-bricky tooltips js-modal-delete\" data-placement=\"top\" data-original-title=\"Remove\"><i class=\"fa fa-times fa fa-white\"></i></a>\n";
                                returnValue += "</div>\n";
                                returnValue += "<div class=\"visible-xs visible-sm hidden-md hidden-lg\">\n";
                                returnValue += "<div class=\"btn-group\">\n";
                                returnValue +=
                                    "<a class=\"btn btn-primary dropdown-toggle btn-sm\" data-toggle=\"dropdown\" href=\"#\"><i class=\"fa fa-cog\"></i> <span class=\"caret\"></span></a>\n";
                                returnValue += "<ul role=\"menu\" class=\"dropdown-menu pull-right\">\n";
                                returnValue +=
                                    "<li role=\"presentation\"><a role=\"menuitem\" href=\"#\" class=\"js-popup-modal\" " +
                                    modalProperties +
                                    "><i class=\"fa fa-edit\"></i> Edit</a></li>\n";
                                returnValue +=
                                    "<li role=\"presentation\"><a role=\"menuitem\" href=\"" +
                                    deleteUrl +
                                    "\" class=\"js-modal-delete\"><i class=\"fa fa-times\"></i> Remove</a></li>\n";
                                returnValue += "</ul>\n";
                                returnValue += "</div>\n";
                                returnValue += "</div>\n";

                                return returnValue;
                            },
                            className: "center",
                            "targets": 4,
                            "orderable": false
                        }
                    ],
                    "createdRow": function (row, data, dataIndex) {
                        $(row).find("[data-toggle='toggle']").bootstrapToggle();
                    },
                    "drawCallback": function (settings) {
                        //var api = this.api();

                        //// Output the data for the visible rows to the browser's console
                        //console.log( api.rows( {page:'current'} ).data() );
                        	 $('.dataTables_length select').select2();
                    }

                });
            } catch (exception) {
                console.log(exception);
            }
		});
		function CheckActive(e){
			if (e.length > 0) {
				var url = $(e[0]).attr("data-url");
				var pageid = $(e[0]).attr("data-id");
				var ischecked = $(e[0]).is(":checked");
				var data = { id: pageid, value: ischecked };

            $.ajax({
				type: "POST",
				url: url,
						data: data,
						beforeSend: function (xhr) {
							xhr.setRequestHeader("RequestVerificationToken",
								$('input:hidden[name="__RequestVerificationToken"]').val());
						},
						success: function (returnData) {

						}
					});
			}
		}

    </script>

}

@section PageHeader {

    <ol class="breadcrumb">
        <li>
            <i class="clip-home"></i><a asp-controller="Dashboard" asp-action="Index">&nbsp;Home</a>
        </li>
        <li class="active">Banner overzicht</li>
        @await Component.InvokeAsync("SearchBox")
    </ol>
    <div class="page-header">
        <span class="pull-right">
            <a class="btn btn-primary js-popup-modal js-new-button" data-class="super" data-title="toevoegen" data-url="@Url.Action("Get")"><i class="fa fa-plus"></i> Toevoegen</a>
        </span>
        <h1> Banner <small>overzicht</small></h1>
    </div>

}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external fa-reorder"></i>
                <div class="mobile_text">Banner Overzicht</div>
                <div class="panel-tools big">
                    <a class="btn btn-lg btn-link panel-collapse collapses" href="#"> </a>
                    <a class="btn btn-lg btn-link panel-refresh js-refresh" data-id="#banner" href="#"><i class="fa fa-refresh"></i></a>
                    <a class="btn btn-lg btn-link panel-expand" href="#"><i class="fa icon-resize-full"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-full-width" id="banner">
                    <thead>
                        <tr>
                            <th class="center">Beeld</th>
                            <th class="hidden-xs"> Naam </th>
                            <th class="center"> Order</th>
                            <th class="hidden-xs"> Active</th>
                            <th class="center">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

