@using FusionCore.Modules.InstallationManager.Data.Enums
@using FusionCore.Core.Extensions
@model FusionCore.Modules.InstallationManager.Models.ActivityIndexViewModel
@{
	ViewData["Title"] = "Installatie activiteiten beheer";
	Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {
	<link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/summernote/dist/summernote.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/x-editable/dist/inputs-ext/address/address.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/assets/libs/x-editable/dist/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {

	<script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-maxlength/src/bootstrap-maxlength.js" asp-append-version="true"></script>
	<script src="~/assets/libs/autosize/dist/autosize.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-maskmoney/dist/jquery.maskMoney.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.js" asp-append-version="true"></script>
	<script src="~/assets/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.tagsinput/src/jquery.tagsinput.js" asp-append-version="true"></script>
	<script src="~/assets/libs/summernote/dist/summernote.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/ckeditor.js" asp-append-version="true"></script>
	<script src="~/assets/libs/ckeditor/adapters/jquery.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery.pulsate/jquery.pulsate.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootbox.js/bootbox.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
	<script src="~/assets/libs/Nestable/dist/js/jquery.nestable.js" asp-append-version="true"></script>
	<script src="~/assets/libs/jquery-mockjax/dist/jquery.mockjax.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/moment/min/moment.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/inputs-ext/typeaheadjs/typeaheadjs.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/inputs-ext/typeaheadjs/lib/typeahead.js" asp-append-version="true"></script>
	<script src="~/assets/libs/x-editable/dist/inputs-ext/address/address.js" asp-append-version="true"></script>
	<script src="~/assets/js/ui-nestable.js" asp-append-version="true"></script>
	<script src="~/assets/js/table-data.js" asp-append-version="true"></script>
	<script src="~/assets/js/form-elements.js" asp-append-version="true"></script>
	<script src="@Url.Action("GetJs", "Common", new { filename="Assets.ActivityManagement.js", assemblyName = "FusionCore.Modules.InstallationManager", area = "" })" asp-append-version="true"></script>
}

@section PageHeader {
	<ol class="breadcrumb">
		<li>
			<i class="clip-home"></i>
			<a asp-controller="Dashboard" asp-action="Index">&nbsp;Home</a>
		</li>
		<li class="active">Activiteiten beheer</li>
		@await Component.InvokeAsync("SearchBox")
	</ol>
	<div class="page-header">
		<h1> Activiteiten <small>beheer</small></h1>
	</div>
}
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-reorder"></i> Beheer </div>
			<div class="panel-body">
				<div class="tabbable panel-tabs">

					<ul class="nav nav-tabs">
						<li class="nav-tabs-dropdown">
							<span id="js-dropdownIcon" class="input-group-addon dropdown"><i class="fa clip-cube-2" style="color:white"></i></span>
							<select id="js-dropdownAssetTypes"></select>
							<select id="js-dropdownActivityAssets" data-url="@Url.Action("GetActivityAssetTypes")"></select>
						</li>

						<li class="active"><a data-toggle="tab" href="#panel_tab_beheer" id="js-Tab-Fill">Opmaak</a></li>
						<li><a data-toggle="tab" href="#panel_tab_activiteiten" id="js-Tab-Activities">Activiteiten</a></li>
						<li><a data-toggle="tab" href="#panel_tab_assets" id="js-Tab-AssetType">Assets type</a></li>
					</ul>
					<div class="tab-content">
						<div id="panel_tab_beheer" class="tab-pane active">

							<div class="row">
								<div class="col-sm-12">
									<h4>Dynamische velden</h4>
									<hr>
								</div>
							</div>

							<div class="alert alert-info">
								<form asp-action="AddDynamicField" id="NewDynamicFieldForm">
									<i class="fa fa-plus-square fa-pull-left size-32" style="color: white"></i>
									<div class="row">
										<div class="col-sm-4">
											<input type="text" placeholder="Veld naam" asp-for="NewDynamicField" class="form-control">
										</div>
										<div class="col-sm-2">
											<label for="form-field-select-1" class="height-cntr pull-right"><strong>Type veld</strong></label>
										</div>
										<div class="col-sm-3">
											<select asp-for="DynamicFieldType" class="form-control">
												<option value="@((int)DynamicFieldType.Header)" selected="selected">Header</option>
												<option value="@((int)DynamicFieldType.Text)">Tekst veld</option>
											</select>
										</div>
										<div class="col-sm-2 pull-right">
											<button id="js-addActivityDynamicField" class="btn btn-responsive btn-primary" type="button"><i class="fa fa-plus"></i> toevoegen</button>
										</div>
									</div>
								</form>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="dd nestable" data-originalurl="@Url.Action("SaveSortActivityDynamicField")">
										<ol class="dd-list" id="activityDynamicFields" data-url="@Url.Action("GetActivityDynamicFields")" data-deleteUrl="@Url.Action("DeleteActivityDynamicField")" data-updateurl="@Url.Action("UpdateDynamicField")"></ol>
									</div>
								</div>
							</div>

							<div class="space_white"></div>
							<div class="row">
								<div class="col-sm-12">
									<h4>Activiteiten</h4>
									<hr>
								</div>
							</div>

							<div class="alert alert-info">
								<form asp-action="AddActivityField" id="NewActivityFieldForm">
									<i class="fa fa-plus-square fa-pull-left size-32" style="color: white"></i>
									<div class="row">
										<div class="col-sm-4">
											<input type="text" placeholder="Activiteit naam" asp-for="NewField" class="form-control">
										</div>
										<div class="col-sm-2">
											<label for="form-field-select-2" class="height-cntr pull-right"><strong>Type veld</strong></label>
										</div>
										<div class="col-sm-3">
											<select asp-for="DynamicFieldType" class="form-control">
												@{
													var values = Enum.GetValues(typeof(DynamicFieldType)).Cast<DynamicFieldType>().OrderBy(x => x.GetStringValue());
													foreach (var item in values.Where(x => x != DynamicFieldType.File && x != DynamicFieldType.Image))
													{
														<option value="@((int) item)">@item.GetStringValue()</option>
													}
												}
											</select>
										</div>
										<div class="col-sm-2 pull-right">
											<button id="js-addActivityField" class="btn btn-responsive btn-primary" type="button"><i class="fa fa-plus"></i> toevoegen</button>
										</div>
									</div>
								</form>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="dd nestable" data-originalurl="@Url.Action("SaveSortActivityField")">
										<ol class="dd-list" id="activityActivityFields" data-url="@Url.Action("GetActivityFields")" data-deleteUrl="@Url.Action("DeleteActivityField")" data-updateurl="@Url.Action("UpdateActivityField")"></ol>
									</div>
								</div>
							</div>

						</div>
						<div id="panel_tab_activiteiten" class="tab-pane">
							<div class="row">
								<div class="col-sm-12">
									<h4>Activiteiten</h4>
									<hr>
								</div>
							</div>

							<div class="alert alert-info">
								<form asp-action="AddActivity" id="NewActivityForm">
									<i class="fa fa-plus-square fa-pull-left size-32" style="color: white"></i>
									<div class="row">
										<div class="col-sm-4">
											<input type="text" placeholder="Activiteit naam" asp-for="NewActivity" class="form-control">
										</div>
										<div class="col-sm-2">
											<label for="form-field-select-1" class="height-cntr pull-right"><strong>Asset type</strong></label>
										</div>
										<div class="col-sm-3">
											<select asp-for="AssetType" class="form-control">
												<option value="">Kies</option>
											</select>
										</div>
										<div class="col-sm-2 pull-right">
											<button id="js-addActivity" class="btn btn-responsive btn-primary" type="button"><i class="fa fa-plus"></i> toevoegen</button>
										</div>
									</div>
								</form>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="dd nestable" data-originalurl="@Url.Action("SaveSortActivity")">
										<ol class="dd-list" id="activityList" data-url="@Url.Action("GetActivities")" data-deleteUrl="@Url.Action("DeleteActivity")" data-updateurl="@Url.Action("UpdateActivity")"></ol>
									</div>
								</div>
							</div>

						</div>
						<div id="panel_tab_assets" class="tab-pane">

							<div class="row">
								<div class="col-sm-12">
									<h4>Asset type</h4>
									<hr>
								</div>
							</div>

							<div class="alert alert-info">
								<i class="fa fa-plus-square fa-pull-left size-32" style="color: white"></i>
								<form asp-action="AddAssetType" id="NewAssetTypeForm">
									<div class="row">
										<div class="col-sm-9">
											<input type="text" placeholder="Asset type naam" asp-for="NewAssetType" class="form-control" />
										</div>
										<div class="col-sm-2 pull-right">
											<button id="js-addAssetType" class="btn btn-responsive btn-primary" type="button"><i class="fa fa-plus"></i> toevoegen</button>
										</div>
									</div>
								</form>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="dd nestable" data-url="@Url.Action("SaveSortAssetType")">
										<ol class="dd-list" id="assetTypeList" data-url="@Url.Action("GetAssetTypes")" data-deleteUrl="@Url.Action("DeleteAssetType")" data-updateurl="@Url.Action("UpdateAssetType")"></ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
