@using FusionCore.Modules.InstallationManager.Data.Enums
@using FusionCore.Modules.InstallationManager.Services
@model FusionCore.Modules.InstallationManager.Data.Entities.AssetActivity
@if (Model != null && Model.AssetActivityFields != null && Model.AssetActivityFields.Any())
{
	<div class="dd nestable" data-url="@Url.Action("SaveSort", new {assetActivityId = Model.Id})">
		<ol class="dd-list">
			@foreach (var field in Model.AssetActivityFields.OrderBy(x => x.SortOrder))
			{
				var autoUpdateUrl = Url.Action("PersistAssetActivityFieldLatestValue", "Asset", new { id = field.Id, assetActivityId = field.AssetActivityId });
				var editableDefaults = $"data-type=\"text\" data-pk=\"{field.Id}\" data-placement=\"right\" data-original-title=\"Veld aanpassen\" data-url=\"{Url.Action("PersistAssetActivityField", "Asset")}\" " + "data-params=\"{assetActivityId: '" + field.AssetActivityId + "'}\" ";
				switch (field.DynamicFieldType)
				{
					case DynamicFieldType.Header:
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content header">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click header-set-NM" title="@field.Name">@field.Name</a>
							</div>
						</li>
						break;

					case DynamicFieldType.Text:
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click text-set-NM length" title="@field.Name">@field.Name</a>
								<span class="input-set-NM col-60-NM">
									<input type="text" placeholder="toelichting" class="form-control js-auto-update ignore" value="@field.LatestValue" data-url="@autoUpdateUrl" />
								</span>
							</div>
						</li>
						break;
					case DynamicFieldType.Bullet:
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click text-set-NM length" title="@field.Name">@field.Name</a>
								<span class="bullet-set-NM">
									<label class="radio-inline">
										<input type="radio" class="square-green js-auto-update" data-url="@autoUpdateUrl" value="1" @(field.LatestValue == "1" ? "checked" : "") name="field@(field.Id)"> <span>JA</span>
									</label>
									<label class="radio-inline">
										<input type="radio" class="square-green js-auto-update" data-url="@autoUpdateUrl" value="0" @(field.LatestValue == "0" ? "checked" : "") name="field@(field.Id)"> <span>NEE</span>
									</label>
								</span>
							</div>
						</li>
						break;
					case DynamicFieldType.Hv:

						var hv = AssetFieldValueHelper.GetHuidigeEnVorigeWaarden(field.LatestValue);
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content" data-url="@autoUpdateUrl" data-latestvalue="@field.LatestValue">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click text-set-NM length" title="@field.Name">@field.Name</a>
								<span class="input-set-NM col-10-NM">
									<input type="text" placeholder="1" name="firstValue_@field.Id" value="@hv.Huidige" class="js-installation-hv form-control center af_hv">
								</span>
								@{
									int i = 2;
								}
								@for (var index = 0; index < hv.VorigeWaarden.Count; index++)
								{
									var vorige = hv.VorigeWaarden[index];									
									<span class="input-set-NM col-5-NM">
										<input type="text" step="any" name="@("Model_" + Model.Id + "_vorige" + index)" value="@vorige" min="1" max="6" placeholder="6" class="js-installation-hv form-control center af_hv">
									</span>
								}
							</div>
						</li>
						break;
					case DynamicFieldType.HvExplain:
					
						var hve = AssetFieldValueHelper.GetAssetFieldHuidigeEnVorigeWaardeEnToelichting(field.LatestValue);
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content" data-url="@autoUpdateUrl" data-latestvalue="@field.LatestValue">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click text-set-NM length" title="@field.Name">@field.Name</a>
								<span class="input-set-NM col-10-NM">
									<input type="text" placeholder="1" name="firstValue_@field.Id" value="@hve.Huidige" class="js-installation-hve form-control center af_hv">
								</span>
								<span class="input-set-NM col-10-NM">
									<input type="text" placeholder="3" name="secondValue_@field.Id" value="@hve.Vorige" class="js-installation-hve form-control center af_hv">
								</span>
								<span class="input-set-NM col-40-NM">
									<input type="text" placeholder="toelichting" name="thirdValue_@field.Id" value="@hve.Toelichting" class="js-installation-hve form-control">
								</span>
							</div>
						</li>
						break;
					case DynamicFieldType.AnalyseKt:
					
						var akt = AssetFieldValueHelper.GetAnalyseKt(field.LatestValue);
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content" data-url="@autoUpdateUrl" data-latestvalue="@field.LatestValue">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click text-set-NM length" title="@field.Name">@field.Name</a>
								<span class="input-set-NM col-10-NM analyse-left">
									<input type="text" name="firstValue_@field.Id" value="@akt.MinWaarde" class="js-installation-analyse form-control center one">
								</span>
								<span class="input-set-NM col-10-NM analyse-right">
									<input type="text" name="secondValue_@field.Id" value="@akt.MaxWaarde" class="js-installation-analyse form-control center two">
								</span>
								<span class="input-set-NM col-10-NM">
									<input type="text" name="thirdValue_@field.Id" value="@akt.Waarde" class="js-installation-analyse form-control center af_range">
								</span>
								<span class="input-set-NM col-10-NM">
									<input type="text" placeholder="suppletie" name="fifthValue_@field.Id" value="@akt.Suppletie" class="js-installation-analyse form-control">
								</span>
							</div>
						</li>
						break;
					case DynamicFieldType.AnalyseSk:
						var ask = AssetFieldValueHelper.GetAnalyseSk(field.LatestValue);
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content" data-url="@autoUpdateUrl" data-latestvalue="@field.LatestValue">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click text-set-NM length" title="@field.Name">@field.Name</a>
								<span class="input-set-NM col-10-NM analyse-left">
									<input type="text" name="firstValue_@field.Id" value="@ask.MinWaarde" class="js-installation-analyse form-control center one">
								</span>
								<span class="input-set-NM col-10-NM">
									<input type="text" name="secondValue_@field.Id" value="@ask.MaxWaarde" class="js-installation-analyse form-control center two">
								</span>
								<span class="input-set-NM col-10-NM">
									<input type="text" name="thirdValue_@field.Id" value="@ask.Waarde" placeholder="ketel waarde" class="js-installation-analyse form-control center af_range">
								</span>
								<span class="input-set-NM col-10-NM">
									<input type="text" placeholder="" name="fourthValue_@field.Id" value="@ask.Ontgassing" class="js-installation-analyse form-control center">
								</span>
								<span class="input-set-NM col-10-NM">
									<input type="text" placeholder="suppletie" name="fifthValue_@field.Id" value="@ask.Suppletie" class="js-installation-analyse form-control">
								</span>
							</div>
						</li>
						break;
					case DynamicFieldType.Value:
						var oldValues = !string.IsNullOrEmpty(field.LatestValue) ? field.LatestValue.Split(Convert.ToChar(";")) : new string[0];
						var firstValue = (oldValues.Length > 0 ? oldValues[0] : "0");
						var secondValue = (oldValues.Length > 1 ? oldValues[1] : "");
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content" data-url="@autoUpdateUrl" data-latestvalue="@field.LatestValue">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click text-set-NM length" title="@field.Name">@field.Name</a>
								<span class="input-set-NM col-10-NM">
									<input type="text" placeholder="1" i name="firstValue_@field.Id" value="@firstValue" class="js-installation-value form-control center af_hv">
								</span>
								<span class="input-set-NM col-50-NM">
									<input type="text" placeholder="toelichting" name="secondValue_@field.Id" value="@secondValue" class="js-installation-value form-control">
								</span>
							</div>
						</li>
						break;
					case DynamicFieldType.ValueUsuage:
						var vuOldValues = !string.IsNullOrEmpty(field.LatestValue) ? field.LatestValue.Split(Convert.ToChar(";")) : new string[0];
						var vuFirstValue = (vuOldValues.Length > 0 ? vuOldValues[0] : "");
						var vuSecondValue = (vuOldValues.Length > 1 ? vuOldValues[1] : "");
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content" data-url="@autoUpdateUrl" data-latestvalue="@field.LatestValue">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click text-set-NM length" title="@field.Name">@field.Name</a>
								<span class="input-set-NM col-30-NM">
									<input type="text" placeholder="waarde" name="firstValue_@field.Id" value="@vuFirstValue" class="js-installation-value-usuage form-control">
								</span>
								<span class="input-set-NM col-30-NM">
									<input type="text" placeholder="verbruik" name="secondValue_@field.Id" value="@vuSecondValue" class="js-installation-value-usuage form-control">
								</span>
							</div>
						</li>
						break;
					case DynamicFieldType.FiltersVSnaren:
					case DynamicFieldType.FiltersVSnarenWV:
						var fvs = AssetFieldValueHelper.GetFiltersVSnaren(field.LatestValue);
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content" data-url="@autoUpdateUrl" data-latestvalue="@field.LatestValue">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click text-set-NM length" title="@field.Name">@field.Name</a>
								<span class="input-set-NM col-10-NM">
									<input type="text" placeholder="fabrikant/merk" name="firstValue_@field.Id" value="@fvs.Fabrikant" class="js-installation-filtersvsnaren form-control">
								</span>
								<span class="input-set-NM col-5-NM">
									<input type="text" placeholder="2" name="secondValue_@field.Id" value="@fvs.Aantal" class="js-installation-filtersvsnaren form-control">
								</span>
								<span class="input-set-NM col-10-NM">
									<input type="text" placeholder="type/soort" name="thirdValue_@field.Id" value="@fvs.Type" class="js-installation-filtersvsnaren form-control">
								</span>
								<span class="input-set-NM col-5-NM">
									<input type="text" placeholder="LxBxH" name="fourthValue_@field.Id" value="@fvs.Toelichting" class="js-installation-filtersvsnaren form-control">
								</span>
								<span class="input-set-NM col-30-NM">
									<input type="text" placeholder="toelichting" name="fifthValue_@field.Id" value="@fvs.Toelichting" class="js-installation-filtersvsnaren form-control">
								</span>
							</div>
						</li>
						break;
					case DynamicFieldType.AirChange:
						var acOldValues = !string.IsNullOrEmpty(field.LatestValue) ? field.LatestValue.Split(Convert.ToChar(";")) : new string[0];
						var acFirstValue = (acOldValues.Length > 0 ? acOldValues[0] : "");
						var acSecondValue = (acOldValues.Length > 1 ? acOldValues[1] : "");
						<li class="dd-item dd3-item" data-id="@field.Id">
							<div class="dd-handle dd3-handle"></div>
							<div class="dd3-content" data-url="@autoUpdateUrl" data-latestvalue="@field.LatestValue">
								<a href="#" data-url="@Url.Action("DeleteAssetActivityField", new {id = field.Id})" data-element="[data-id='@field.Id']" class="btn btn-bricky form_drag_del js-post-remove">
									<i class="fa fa-times fa fa-white"></i>
								</a>
								<a href="#" @Html.Raw(editableDefaults) class="editable editable-click text-set-NM length" title="@field.Name">@field.Name</a>
								<span class="bullet-set-NM">
									<label class="radio-inline">
										<input type="radio" name="firstValue_@field.Id" value="1" @(acFirstValue == "1" ? "checked" : "") class="js-installation-air-change square-green"> <span>JA</span>
									</label>
									<label class="radio-inline">
										<input type="radio" name="firstValue_@field.Id" value="0" @(acFirstValue == "0" ? "checked" : "") class="js-installation-air-change square-green"> <span>NEE</span>
									</label>
								</span>
								<span class="input-set-NM col-10-NM">
									<input type="text" placeholder="" name="secondValue_@field.Id" value="@acSecondValue" class="js-installation-air-change form-control">
								</span>
							</div>
						</li>
						break;
				}
			}
		</ol>
	</div>
}