﻿@using FusionCore.Models.Backend.Login
@model FusionCore.Models.Backend.Login.ForgotModel
@{
	var hasError = this.ViewData.ModelState.ErrorCount > 0;
}
<div class="box-forgot">
	<h3>Wachtwoord vergeten?</h3>
	<p>
		Vul je emailadres onder in om je wachtwoord te resetten.
	</p>
	<form asp-action="Forgot" asp-controller="Login" class="form-forgot">
		@if (hasError)
		{
			<div asp-validation-summary="All" class="errorHandler alert alert-danger no-display">
				<i class="fa fa-remove-sign"></i>Er is iets mis gegaan, kijk onder voor meer informatie
			</div>
		}
		<fieldset>
			<div class="form-group">
				<span class="input-icon">
					<input asp-for="Email" type="email" class="form-control" placeholder="Email" />
					<i class="fa fa-envelope"></i>
				</span>
			</div>
			<div class="form-actions">
				<a class="btn btn-light-grey btn-lg pull-left go-back" href="#">
					<i class="fa fa-arrow-circle-left"></i> Terug
				</a>
				<button type="submit" class="btn btn-green btn-lg pull-right">
					Versturen <i class="fa fa-arrow-circle-right"></i>
				</button>
			</div>
		</fieldset>
	</form>
</div>