﻿@model FusionCore.Models.Backend.Login.LoginModel
@{
	var hasError = this.ViewData.ModelState.ErrorCount > 0;
}
<div class="box-login">
	<h3>Aanmelden</h3>
	<p>
		Vul AUB je gebruikersnaam en wachtwoord in om je aan te melden.
	</p>
	<form asp-controller="Login" asp-action="Index" class="form-login">
		<input type="hidden" asp-for="ReturnUrl" />
		@if (hasError)
		{
			<div class="errorHandler alert alert-danger">
				<i class="fa fa-remove-sign"></i>Er is helaas iets fout gegaan
			</div>
		}
		<fieldset>
			<div class="form-group">
				<span class="input-icon">
					<input asp-for="UserName" type="text" class="form-control" placeholder="Gebruikersnaam" />
					<i class="fa fa-user"></i>
				</span>
			</div>
			<div class="form-group form-actions">
				<span class="input-icon">
					<input asp-for="Password" type="password" class="form-control password" placeholder="Wachtwoord" />
					<i class="fa fa-lock"></i>
					<a class="forgot" href="#forgot">
						Wachtwoord vergeten?
					</a>
				</span>
			</div>
			<div class="form-actions">
				<label for="remember" class="checkbox-inline">
					<input type="checkbox" asp-for="RememberMe" class="grey remember" />
					Onthoud mijn login
				</label>
				<button type="submit" class="btn btn-green btn-lg pull-right">
					Aanmelden <i class="fa fa-arrow-circle-right"></i>
				</button>
			</div>
			<div class="new-account">
				Nog geen aanmeld gegevens?
				<a href="#register" class="register">
					Registreer je hier
				</a>
			</div>
		</fieldset>
	</form>
</div>