﻿@using FusionCore.Core.Enums
@using FusionCore.Models.Backend.Login
@model FusionCore.Models.Backend.Login.RegisterModel
@{
	var hasError = this.ViewData.ModelState.ErrorCount > 0;
}
<div class="box-register">
	<h3>Registreren</h3>
	<p>
		Vul onder je persoonlijke gegevens in:
	</p>
	<form asp-controller="Login" asp-action="Register" class="form-register">
		@if (hasError)
		{
			<div asp-validation-summary="All" class="errorHandler alert alert-danger no-display">
				<i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
			</div>
		}
		<fieldset>
			<div class="form-group">
				<input asp-for="Name" type="text" class="form-control" placeholder="Naam" />
			</div>
			<div class="form-group">
				<input asp-for="Address" type="text" class="form-control" placeholder="Adres" />
			</div>
			<div class="form-group">
				<input asp-for="PostalCode" type="text" class="form-control" placeholder="Postcode" />
			</div>
			<div class="form-group">
				<input asp-for="City" type="text" class="form-control" placeholder="Stad" />
			</div>
			<div class="form-group">
				<div>
					<label class="radio-inline">
						<input asp-for="Gender" type="radio" class="grey" value="@(GenderType.Female)" name="gender" />
						Vrouw
					</label>
					<label class="radio-inline">
						<input asp-for="Gender" type="radio" class="grey" value="@(GenderType.Male)" name="gender" />
						Man
					</label>
				</div>
			</div>
			<p>
				Vul je aanmeld gegevens hieronder in:
			</p>
			<div class="form-group">
				<span class="input-icon">
					<input asp-for="Email" type="email" class="form-control" placeholder="Email" />
					<i class="fa fa-envelope"></i>
				</span>
			</div>
			<div class="form-group">
				<span class="input-icon">
					<input asp-for="Password" type="password" class="form-control" placeholder="Wachtwoord" />
					<i class="fa fa-lock"></i>
				</span>
			</div>
			<div class="form-group">
				<span class="input-icon">
					<input asp-for="PasswordControle" type="password" class="form-control" placeholder="Wachtwoord ter controle" />
					<i class="fa fa-lock"></i>
				</span>
			</div>
			<div class="form-group">
				<div>
					<label for="agree" class="checkbox-inline">
						<input asp-for="PrivacyAccepted" type="checkbox" class="grey agree" />
						Ik ga akkoord met de voorwaarden en de Privacy verklaring
					</label>
				</div>
			</div>
			<div class="form-actions">
				<a class="btn btn-light-grey btn-lg go-back" href="#">
					<i class="fa fa-arrow-circle-left"></i> Terug
				</a>
				<button type="submit" class="btn btn-green btn-lg pull-right">
					Versturen <i class="fa fa-arrow-circle-right"></i>
				</button>
			</div>
		</fieldset>
	</form>
</div>