﻿@using FusionCore.Models.Backend.Login
@model FusionCore.Models.Backend.Login.ResetModel
@{
	var hasError = this.ViewData.ModelState.ErrorCount > 0;
}
<div class="box-login" style="display: block !important;">
	<h3>Nieuw wachwoord aanmaken</h3>
	<p>
		Vul 2x je nieuwe wachtwoord in om deze aan te maken.
	</p>
	<form asp-action="Reset" asp-controller="Login" class="form-forgot">
		@if (hasError)
		{
			<div asp-validation-summary="All" class="errorHandler alert alert-danger no-display">
				<i class="fa fa-remove-sign"></i>Er is iets mis gegaan, kijk onder voor meer informatie
			</div>
		}
		<fieldset>
			<div class="form-group">
				<span class="input-icon">
					<input type="password" class="form-control password" asp-for="Password" placeholder="Wachtwoord">
					<i class="fa fa-lock"></i>
				</span>
			</div>
			<div class="form-group form-actions">
				<span class="input-icon">
					<input type="password" class="form-control password" asp-for="PasswordControle" placeholder="Wachtwoord controle">
					<i class="fa fa-lock"></i>
				</span>
			</div>

			<div class="form-actions">
				<a class="btn btn-light-grey btn-lg pull-left go-back" asp-action="Index">
					<i class="fa fa-arrow-circle-left"></i> Terug
				</a>
				<button type="submit" class="btn btn-green btn-lg pull-right">
					Versturen <i class="fa fa-arrow-circle-right"></i>
				</button>
			</div>
		</fieldset>
		<input type="hidden" asp-for="Guid" />
		<input type="hidden" asp-for="UserId" />
	</form>
</div>