@charset "utf-8";
/* CSS Document */


/*********************************************
COLOR MANAGEMENT
*********************************************/

.breadcrumb a, a.view-more, a, li.paginate_button.active {
	color: #337ab7;
	font-weight: normal;
}

	.breadcrumb a:hover, a.view-more:hover, a:hover {
		color: #656565;
		text-decoration: none;
	}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: #68c30b;
	border-color: #68c30b;
}

.pagination > li > a, .pagination > li > span {
	color: #3b7203;
}

.btn-teal {
	background-color: #68c30b;
	border-color: #5da611;
	color: #fff;
}

	.btn-teal:hover {
		background-color: #5da611;
		border-color: #5da611;
		color: #fff;
	}


/*********************************************
FONT MANAGEMENT
*********************************************/

.dataTables_info {
	font-style: italic;
	margin-left: 5px;
}

span.text_active {
	color: #468b00;
	font-weight: bold;
}

span.text_not_active {
	color: #bbbbbb;
	font-weight: bold;
}

span.checkbox_NM {
	top: 4px;
	position: relative;
}

div.panel-heading .mobile_text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50%;
}

@media (max-width: 768px) {
	div.panel-heading .mobile_text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 40%;
	}
}

.text-resp.assets {
	width: 60%;
}

@media (max-width: 768px) {
	.text-resp {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 85%;
	}

		.text-resp.assets {
			width: 50%;
		}
}

@media (max-width: 600px) {
	.text-resp.assets {
		width: 30%;
	}
}

.tab-correct-NM {
	margin-top: 1px;
}

/*********************************************
LOGIN
*********************************************/

body.login .logo {
	padding: 20px 20px 5px 20px;
	margin-bottom: -42px;
	text-align: center;
}

body.login {
	background-image: url(/assets/images/background-01.jpg);
	background-color: #a4ed59 !important;
	background-repeat: no-repeat;
	background-size: cover;
}

.copyright {
	color: #ffffff;
	margin-bottom: 20px !important;
}


/*********************************************
HEADER
*********************************************/

@media (max-width: 768px) {
	.logo, .navbar > .container .navbar-brand {
		padding: 6px 0 0 6px;
	}

	.navbar-brand > img {
		z-index: 99999 !important;
		float: left;
		display: block;
		position: relative;
	}

	.clip-bubble-3, .clip-notification-2, .clip-list-5, .fa-outdent {
		color: #ababab;
	}

	i.clip-chevron-down {
		color: #ffffff;
	}

	.navbar-toggle {
		margin: 7px 10px 0 0;
		background-color: #707070;
		border-radius: 4px;
		padding: 10px 10px 5px 10px;
	}

	.navbar-tools {
		width: 1000px;
		margin: 0 -15px 0 0 !important;
		padding: 0 !important;
		background: #555555;
		float: right;
		display: block;
		position: relative;
		border-top: 0 solid #333333;
		z-index: 9999 !important;
	}
}

.logo, .navbar > .container .navbar-brand {
	padding: 6px 0 0 6px;
}

.navigation-toggler {
	cursor: pointer;
	height: 30px;
	margin-left: 185px;
	margin-top: 11px;
	margin-bottom: 9px;
	width: 30px;
	line-height: 32px;
}

ul.main-navigation-menu > li > a i.clip-cursor {
	margin-left: 4px;
	margin-bottom: -2px;
}

li.dropdown.current-user .dropdown-toggle {
	padding: 10px 4px 10px 9px;
}

ul.main-navigation-menu > li > a {
	padding-left: 9px;
}

@media (max-width: 767px) {
	ul.main-navigation-menu {
		margin: 6px 0 0 0;
	}
}


/*********************************************
MENU
*********************************************/

.sub-menu {
	margin: 0 0 !important;
}

	.sub-menu li:first-child {
		border-top: 1px solid #fff !important;
	}

	.sub-menu li {
		border-bottom: 1px solid #fff !important;
	}

ul.main-navigation-menu li > ul.sub-menu > li a {
	padding: 10px 0 10px 10px !important;
	background: #ececec;
}

.sub-menu li:last-child {
	border-bottom: 0 solid #fff !important;
}

ul.main-navigation-menu li > ul.sub-menu li > ul.sub-menu.sm-correct-NM > li > a {
	padding-left: 30px !important;
}

	ul.main-navigation-menu li > ul.sub-menu li > ul.sub-menu.sm-correct-NM > li > a:hover {
		color: #000000;
		background: #dfdfdf;
	}

	ul.main-navigation-menu li > ul.sub-menu li > ul.sub-menu.sm-correct-NM > li > a.active {
		color: #000000;
		background: #dfdfdf;
	}

ul.main-navigation-menu li > ul.sub-menu > li {
	margin-top: 0 !important;
}

.navigation-small .main-navigation h5 {
	width: 35px !important;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 35px;
	z-index: 1000;
	display: none;
}

@media (max-width: 991px) {
	.nav.nav-tabs li a {
		white-space: nowrap;
	}
}

li.end_border {
	border-bottom: 1px solid #c8c7cc !important;
}

.main-navigation-menu h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	background: #656565;
	padding: 10px 0 10px 10px;
	margin: 0 0 0 0;
	color: #ffffff;
}

@media (max-width: 989px) and (min-width: 767px) {
	.main-navigation-menu h5 {
		display: none !important;
	}
}

.modal {
	padding-left: 0 !important;
}

.modal-header {
	background-color: #337ab7;
	border-radius: 4px 4px 0 0;
	color: #ffffff;
}

	.modal-header .close {
		margin: 2px 4px 0 0;
		color: #ffffff;
		font-size: 30px !important;
		font-weight: 100 !important;
		opacity: 0.7;
	}

		.modal-header .close:hover {
			opacity: 1.0;
		}

.modal-title {
	padding-top: 5px;
	padding-left: 5px;
}

.modal-dialog.big {
	width: 900px;
}

.modal-dialog.super {
	width: auto;
	margin: 15px 20px 15px 20px;
}

@media (max-width: 991px) {
	.modal-dialog.big {
		width: auto;
		margin: 10px;
	}

	.modal-dialog.super {
		width: auto;
		margin: 10px;
	}
}

@media (max-width: 767px) {
	.panel-tabs .nav-tabs > li.active > a, .panel-tabs .nav-tabs > li > a {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 45px;
	}
}

.tabs-left .nav-tabs > li > a, .tabs-right .nav-tabs > li > a {
	min-width: 300px !important;
}

/*********************************************
ACCORDION MENU
*********************************************/

div.navigation-content {
}

	div.navigation-content ul {
		margin: -15px 0 0 0;
		padding: 0;
	}

	div.navigation-content li {
		margin-bottom: 10px;
		position: relative;
		overflow: hidden;
	}

	div.navigation-content ul li a.navigation-head {
		background: #b4b4b4 url('/assets/images/header-text-background.jpg') top repeat-x;
		padding: 11px 0 19px 11px;
		height: 40px;
		display: block;
		position: relative;
		color: #444;
		border: 1px solid #d1d1d1;
		border-radius: 2px;
		text-decoration: none;
		font-weight: bold;
	}

		div.navigation-content ul li a.navigation-head:hover {
			opacity: 0.7;
			font-style: normal;
			text-decoration: none;
		}

	div.navigation-content a.toggler {
		width: 30px;
		height: 35px;
		top: 20px;
		right: 6px;
		z-index: 99;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url('/assets/images/icon-down.png');
		border: none !important;
		padding: 0 0 0 0 !important;
		display: block;
		position: absolute !important;
	}

	div.navigation-content .open a.toggler {
		background-image: url('/assets/images/icon-up.png') !important;
	}

	div.navigation-content .open a.navigation-head {
		background: #656565;
		height: 40px;
		color: #ffffff;
		text-decoration: none;
		border-top: 1px solid #949494;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		background-image: none !important;
	}

	div.navigation-content ul li div.wrapper {
		position: relative;
		border-width: 0 1px 1px 1px;
		padding: 10px 10px 0 10px;
		border-style: solid;
		border-color: #d1d1d1;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}

		div.navigation-content ul li div.wrapper.files {
			border-left: 5px solid #949494 !important;
			border-radius: 0 !important;
		}

		div.navigation-content ul li div.wrapper.no-space {
			padding: 0 0 0 0;
			border-width: 0 1px 0 1px;
		}

		div.navigation-content ul li div.wrapper.line {
			border-left: 5px solid #949494 !important;
			border-radius: 0 !important;
		}

/*********************************************
ICONS
*********************************************/

i.fa.check {
	display: inline-block;
	vertical-align: middle;
}

i.fa.size-14, .size-14 {
	font-size: 14px;
}

i.fa.size-16, .size-16 {
	font-size: 16px;
}

i.fa.size-18, .size-18 {
	font-size: 18px;
}

i.fa.size-20, .size-20 {
	font-size: 20px;
}

i.fa.size-22, .size-22 {
	font-size: 22px;
}

i.fa.size-24, .size-24 {
	font-size: 24px;
}

i.fa.size-26, .size-26 {
	font-size: 26px;
}

i.fa.size-28, .size-28 {
	font-size: 28px;
}

i.fa.size-30, .size-30 {
	font-size: 30px;
}

i.fa.size-32, .size-32 {
	font-size: 32px;
}

i.fa.size-50, .size-50 {
	font-size: 50px;
}

i.fa.size-100, .size-100 {
	font-size: 100px;
}

i.fa.size-500, .size-500 {
	font-size: 500px;
}

i.fa.green {
	color: #3d9400 !important;
}

i.fa.yellow {
	color: #e09d00 !important;
}

i.fa.red {
	color: #e02222 !important;
}

i.fa.grey {
	color: #a5a5a5 !important;
}

i.fa.dark-grey {
	color: #656565 !important;
}


/*********************************************
BUTTONS
*********************************************/
.add-btn-icon {
	color: #ffffff;
	opacity: 1.0 !important;
}

.add-btn {
	background-color: #1173bb !important;
	border-top: 1px solid #268eda !important;
	border-bottom: 1px solid #dddddd !important;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease;
	transition: all .3s ease 0s;
}

	.add-btn:hover {
		background-color: #286090 !important;
		-moz-transition: all .3s ease 0s;
		-o-transition: all .3s ease 0s;
		-webkit-transition: all .3s ease;
		transition: all .3s ease 0s;
	}

.tab-del {
	float: right !important;
	padding: 6px 9px;
	margin: 11px 7px -40px 0;
	position: relative;
	color: #ffffff !important;
	border-radius: 0 4px 4px 0;
	z-index: 99;
}

.acc-del {
	float: right;
	padding: 6px 9px;
	margin: -44px 7px 0 0;
	position: relative;
	color: #ffffff !important;
	border-radius: 0 4px 4px 0;
}

@media (max-width: 640px) {
	.btn-group.responsive {
		width: 100%;
	}

		.btn-group.responsive a {
			width: 100%;
			border-radius: 0px;
			margin: 0;
			border-bottom: 0px solid #cccccc !important;
		}

			.btn-group.responsive a:first-child {
				margin: 0 0 0 -1px !important;
			}

			.btn-group.responsive a:last-child {
				border-bottom: 1px solid #cccccc !important;
				margin-bottom: 20px;
			}
}

@media (max-width: 640px) {
	.btn.btn-responsive {
		width: 100%;
		margin-top: 10px;
	}
}

.fa-plus.icon_nm {
	margin-top: 1px;
	width: 20px;
}

.badge-new.icon_nm {
	border-radius: 3px !important;
}

	.badge-new.icon_nm a {
		float: right;
	}

.badge-new.icon_nm {
	background-color: #337ab7 !important;
	float: right;
}

	.badge-new.icon_nm:hover {
		background-color: #286090 !important;
	}

span.badge.badge-new.icon_nm {
	margin-top: 10px !important;
}

.button-style-NM {
	padding: 0 3px !important;
}

.button-backspace-NM {
	margin-right: 50px;
}

.button-backspace-stack-NM {
	float: right;
	margin-top: -33px;
}

.button-space-NM {
	margin-bottom: 3px !important;
	margin-top: 3px !important;
	width: 70px !important;
	height: 70px !important;
}

.no-button {
	cursor: default !important;
	background-color: #ffffff !important;
	font-size: 22px !important;
	padding: 0.5px 8px !important;
	margin-right: 1px;
}

	.no-button:hover {
		background-color: #ffffff;
	}

	.no-button.green {
		color: #3d9400;
	}

		.no-button.green:hover {
			color: #3d9400;
		}

	.no-button.orange.border {
		color: #ffffff;
		border: 1px solid #d27b00 !important;
		background-color: #f0ad4e !important;
	}

	.no-button.orange:hover {
		background-color: #f0ad4e;
	}

	.no-button.red.border {
		color: #ffffff;
		border: 1px solid #c11d0b !important;
		background-color: #cb2b19 !important;
	}

	.no-button.red:hover {
		background-color: #cb2b19;
	}

@media (max-width: 991px) {
	.no-button {
		margin-left: 8px !important;
	}

		.no-button.orange {
			color: #d27b00;
		}

			.no-button.orange:hover {
				background-color: #f0ad4e;
			}

		.no-button.red {
			color: #c11d0b;
		}

			.no-button.red:hover {
				background-color: #cb2b19;
			}
}

a.btn.full-width, button.full-width, .full-width {
	width: 100% !important;
}

.fa-top {
	padding-top: 2px;
}

.dropdown-menu-NM {
	position: absolute;
	min-width: 800px;
	padding: 20px;
}

/*********************************************
FORM
*********************************************/
.dropdown_space select {
	padding-left: 20px;
}

.checkbox, .radio {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	font-size: 15px;
}

textarea.form-control {
	padding: 4px;
}

input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], textarea {
	color: #000000 !important;
}

span.dropdown_add {
	width: 90%;
}

@media (max-width: 767px) {
	span.dropdown_add {
		width: 90%;
	}
}

input.form-control.from_drag {
	font-weight: normal;
	font-size: 14px;
	height: 26px;
	margin: -4px 0 0 -10px;
	border: 0 solid #fff;
}

span.form_add {
	position: relative;
	float: right;
	margin-top: -32px;
}

.form_drag_del {
	float: right !important;
	padding: 6px 10px;
	margin: -8px -10px -40px 0;
	position: relative;
	color: #ffffff !important;
	border-radius: 0 4px 4px 0;
	z-index: 99;
}

span.control-text {
	display: block;
	vertical-align: left;
	margin: 7px 0 0 0;
}

@media (max-width: 767px) {
	span.control-text {
		padding: 2px 5px 7px 7px;
		float: left;
	}

	select.form-control.responsive {
		width: auto;
	}

	input.small {
		float: left;
	}
}

input.small {
	width: 27px;
}

.checkbox, .radio {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	font-size: 15px;
}

label.radio-inline span.text {
	display: inline-block;
	padding-top: 3px;
	vertical-align: middle !important;
}

.height-cntr {
	height: 100%;
	vertical-align: middle;
	margin: 5% auto;
}

.form-text {
	display: inline-block;
	vertical-align: middle !important;
	padding: 10px 0;
}

@media (max-width: 767px) {
	.form-text {
		min-width: 100%;
		color: #FFFFFF;
		text-align: center;
		background: #5a5a5a;
		margin: 0 0 10px 0;
	}

	.panel-body.responsive {
		padding: 0 0 20px 0 !important;
	}

	.container-check {
		margin: 0 0 -10px 0;
		width: 100% !important;
	}

	.container-textarea {
		padding: 0 10px !important;
	}

	.col-sm-12.responsive {
		margin: 0 0 -20px 0;
	}
}

div.col-sm-12.no-padding.responsive {
	margin: -10px 0px !important;
}

.form-buttons {
	display: inline-block;
	vertical-align: middle !important;
	padding: 10px 0;
}

@media (max-width: 767px) {
	.form-buttons {
		margin: 0 0 0 10px;
	}

	div.col-sm-4.half {
		float: right;
		margin-top: 10px;
		text-align: right;
	}
}

.kilometrage {
	padding: 7px !important;
	width: 105px;
}

.input-group-addon.dropdown {
	width: 37px;
	height: 27px !important;
	display: inline-block;
	margin-bottom: 3px;
	margin-right: -4px;
	background: #337ab7;
}

@media (max-width: 767px) {
	.input-group-addon.dropdown {
		display: none;
	}
}

a.btn-toolbar {
	margin-left: 0.2px;
	margin-right: 0.2px;
}

/*********************************************
ASSETS
*********************************************/

.dd3-content:hover {
	color: #000000 !important;
}

.dd3-content.header {
	background: #aeaeae !important;
	text-transform: uppercase;
}

	.dd3-content.header:hover {
		background: #919191 !important;
	}

.header-set-NM {
	display: block;
	text-align: left !important;
	margin-right: 10px !important;
}

.text-set-NM {
	display: inline-block;
	width: 20% !important;
	text-align: right !important;
	margin-right: 10px !important;
}

@media (max-width: 767px) {
	.text-set-NM {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: 5px !important;
	}
}

a.text-set-NM.length {
	white-space: nowrap;
	text-overflow: ellipsis;
}

a.text-set-NM {
	text-decoration: none !important;
	color: #337ab7;
}

	a.text-set-NM:hover {
		text-decoration: none !important;
		color: #0c5390;
	}

a.header-set-NM {
	text-decoration: none !important;
	color: #f2f2f2;
}

	a.header-set-NM:hover {
		text-decoration: none !important;
		color: #ffffff;
	}

.input-set-NM input {
	display: inline-block;
	width: 60%;
	height: 27px;
	font-weight: normal !important;
	margin-top: -4px;
	color: #000000 !important;
}

.input-set-NM.analyse-left input {
	border-right: 0px solid #cccccc;
}

.input-set-NM.analyse-right input {
}

.input-set-NM.col-80-NM input {
	width: 80%;
}

.input-set-NM.col-70-NM input {
	width: 70%;
}

.input-set-NM.col-60-NM input {
	width: 60%;
}

.input-set-NM.col-50-NM input {
	width: 50%;
}

.input-set-NM.col-40-NM input {
	width: 40%;
}

.input-set-NM.col-30-NM input {
	width: 30%;
}

.input-set-NM.col-25-NM input {
	width: 25%;
}

.input-set-NM.col-20-NM input {
	width: 20%;
}

.input-set-NM.col-16-NM input {
	width: 15.8%;
}

.input-set-NM.col-15-NM input {
	width: 15%;
}

.input-set-NM.col-10-NM input {
	width: 10%;
}

.input-set-NM.col-5-NM input {
	width: 5%;
}

@media (max-width: 767px) {

	.resp-center {
		text-align: center !important;
		vertical-align: middle !important;
	}

	.input-set-NM input {
		margin: 2px 0;
		padding: 0 10px;
		vertical-align: middle;
	}

	.input-set-NM.col-80-NM input, .input-set-NM.col-80-NM input, .input-set-NM.col-70-NM input, .input-set-NM.col-60-NM input, .input-set-NM.col-50-NM input, .input-set-NM.col-40-NM input, .input-set-NM.col-30-NM input, .input-set-NM.col-25-NM input, .input-set-NM.col-20-NM input, .input-set-NM.col-16-NM input, .input-set-NM.col-15-NM input, .input-set-NM.col-10-NM input, .input-set-NM.col-5-NM input {
		width: 100%;
	}
}

.bullet-set-NM {
	display: inline-block;
	font-weight: bold !important;
	height: 27px;
	margin-top: -6px;
}

	.bullet-set-NM span {
		display: inline-block;
		margin-top: 2px;
	}

input.form-control.blue {
	background: #538ed5;
}

input.form-control.green {
	background: #92d050;
}

input.form-control.yellow {
	background: #ffc000;
}

input.form-control.red {
	background: #ff0000;
}

input.form-control.orange {
	background: #ff7200;
}

a.link-collapse {
	text-decoration: none !important;
	color: #337ab7;
	width: 80%;
	display: inline-block;
}

	a.link-collapse:hover {
		color: #8B8B8B;
	}

/*********************************************
MEDIA
*********************************************/

td.img-resize {
	width: 250px;
}

	td.img-resize img {
		width: 250px;
		margin: 0;
	}

@media (max-width: 767px) {
	td.img-resize {
		width: 100%;
	}

		td.img-resize img {
			width: 100%;
			margin: 0;
		}
}

/*********************************************
FOOTER
*********************************************/
.footer-inner {
	width: auto;
	margin: 7px auto 0 auto;
	text-align: center;
	float: none;
}

@media (max-width: 767px) {
	.footer-inner {
		margin: 7px 0 0 10px;
		text-align: left !important;
	}
}

.go-top {
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 30px;
	margin-bottom: 10px;
	margin-right: -5px;
	margin-top: -45px;
	padding-top: 10px;
	text-decoration: none;
	line-height: 5px;
	border-radius: 0 0 4px 4px;
	text-align: center;
}

.go-top, .navigation-toggler {
	background-color: #656565 !important;
	color: #ffffff;
}

	.go-top:hover, .navigation-toggler:hover {
		background-color: #9b9b9b !important;
		color: #000000;
	}


/*********************************************
POSITIONS
*********************************************/

.align-right {
	text-align: right !important;
	float: right;
	padding: 5px !important;
}

.align-left {
	text-align: left !important;
	float: left;
	padding: 7px !important;
}

.valign-top {
	vertical-align: top !important;
	width: auto;
}

.valign-center {
	vertical-align: middle !important;
	height: auto !important;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.pull-right-button {
	float: right;
	margin-right: 35px;
}

.left-center-resp {
	text-align: left;
}

@media (max-width: 991px) {
	.left-center-resp {
		text-align: center;
	}
}

.right-center-resp {
	text-align: right;
}

@media (max-width: 991px) {
	.right-center-resp {
		text-align: center;
	}
}

.filters-correction-search {
	width: 15%;
	margin-top: 5px;
}

@media (max-width: 991px) {
	.filters-correction {
		display: inline-block;
		margin: 20px auto;
		align-content: center;
	}

	.filters-correction-search {
		width: 100%;
		margin-top: 10px;
		margin-left: 0 !important;
	}
}

/*********************************************
SPACINGS
*********************************************/

.no-margin {
	margin: 0 0 0 0 !important;
}

.no-margin-top {
	margin-top: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.margin-top {
	margin-top: 20px;
}

.margin-top-xsmall {
	margin-top: 3px;
}

.margin-top-small {
	margin-top: 6px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-bottom-small {
	margin-bottom: 10px;
}

.margin-sides {
	margin-left: 35px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.padding-sides {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.margin-left {
	margin-left: 10px;
}

.margin-right {
	margin-right: 10px;
}

.small-padding {
	padding: 1px 4px;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.no-padding.right {
	padding: 0 0 0 10px !important;
}

@media (max-width: 991px) {
	.no-padding.right {
		padding: 0 !important;
	}
}

.padding-left-small {
	padding-left: 10px !important;
}

.dropdown_space_page select {
	padding-left: 25px !important;
}

.search-select.NM, .select2-container {
	width: 93% !important;
}

@media (max-width: 991px) {
	.search-select.NM, .select2-container {
		width: 80% !important;
	}
}

div.space_white {
	height: 20px;
	display: block;
}

div.space_white_10 {
	height: 7px;
	display: block;
}

.width-afterbutton {
	width: 93%;
	display: inline-block;
}

@media (max-width: 991px) {
	.width-afterbutton {
		width: 90%;
		display: inline-block;
	}
}

/*********************************************
POPOVER
*********************************************/

.popover, .popover:hover {
	color: #000000;
}

.editable-click, a.editable-click, a.editable-click:hover {
	text-decoration: none !important;
	border-bottom: none !important;
	font-weight: normal !important;
}

h3.popover-title {
	margin: 0 !important;
}

/*********************************************
DIVERSEN
*********************************************/

hr.hr-empty {
	border: 0 solid #ffffff !important;
	height: 15px;
}

hr.small-margin {
	margin: 5px 0 !important;
}

.nav.nav-tabs.tab-padding.tab-space-3 a:hover {
	color: #5da611;
}

.nav.nav-tabs.tab-padding.tab-space-3 li.active a:hover {
	color: #333;
}

.nav-tabs-dropdown {
	margin-right: 5px;
	margin-top: 4px;
}

	.nav-tabs-dropdown select {
		height: 27px !important;
	}

@media (max-width: 767px) {
	.nav-tabs-dropdown {
		width: 50% !important;
		margin-right: 0 !important;
		margin-top: 4px !important;
	}

		.nav-tabs-dropdown select {
			float: right;
			width: 35% !important;
			margin-right: 5px;
		}
}

div.form-group.background-grey {
	background-color: #eeeeee !important;
	margin: 0 !important;
	padding: 10px !important;
}

.progress {
	margin-bottom: 0 !important;
}

div.panel-tools.big {
	padding: 0 0 0 0 !important;
	margin: -3px 0 0 0 !important;
}

	div.panel-tools.big a.btn {
		padding: 0 3px !important;
		margin: 0 0 0 0 !important;
	}

.container-NM {
	float: right;
	display: block;
	width: 100%;
	padding: 15px !important;
}

.container-NM-no-padding {
	float: right;
	display: block;
	width: 100%;
	margin-top: 15px;
}

.panel-body h3 {
	margin: 10px 0;
}

span.vr-NM {
	border-left: 1px solid #c8c7cc;
	vertical-align: middle;
	margin: auto 0 !important;
}

.bg_grey {
	margin: -20px 0 20px 0;
	border-bottom: 1px dashed #c8c7cc;
}

.italic {
	font-style: italic;
}

.file-icon-1_5x {
	font-size: 1.6em;
}

.position-warning {
	margin-left: 35px;
	display: block;
}

.dd3-content {
	padding: 7px 10px 5px 45px;
	height: 35px;
}

.dd3-handle {
	width: 35px;
	height: 35px;
}

	.dd3-handle:before {
		top: 6px;
	}

.dropzone {
	min-height: 130px !important;
	border: 1px dashed rgba(0,0,0,0.3) !important;
	padding: 10px 20px !important;
	border-radius: 4px;
	background-color: #eeeeee !important;
}

	.dropzone:hover {
		background-color: #f6f6f6 !important;
	}

.table-full-width {
	width: 100% !important;
}

#cboxContent {
	margin: 100px 50px 50px 50px;
	background: none !important;
}

.cboxPhoto {
	padding: 50px;
}

#cboxLoadedContent {
	background: #fff !important;
	border-radius: 8px 0 8px 8px;
}

#cboxTitle {
	display: none !important;
}

.wrap-image > .tools.tools-bottom {
	bottom: -45px;
	height: 45px !important;
}

.dataTables_processing {
	width: 350px !important;
	margin-left: -175px !important;
	padding: 50px !important;
}

	.dataTables_processing.panel {
		background: rgba(71, 129, 191, 0.9);
		color: #ffffff;
	}

textarea.note-codable {
	color: #bababa !important;
	}
