/*********************************************
HTML
**********************************************/
body {
	width:100%;
	background:#fff;
	min-width:600px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#282828;
	}

a {
	color:#449207;
	text-decoration:none;
	}
	a:hover {
	color:#000000;
	}

h1 {
	color:#47800c;
	font-size:12px;
	text-align:right;
	margin-right:10px;
	}

h2 {
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:2px;
	}

h3 {
	background-color:#949494;
	padding:11px 9px 9px 11px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	vertical-align:middle;
	}
	h3.lighter { background-color:#cdcdcd; }
	h3 img { margin:-5px 2px -6px -4px ; }

h4 {
	background-color:#949494;
	padding:10px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	border-radius:5px;
	}
	h3.lighter { background-color:#cdcdcd; }		

h5 {
	}

h6 {
	padding:11px 11px 11px 0;
	font-size:16px;
	font-weight:bold;
	color:#0f8e00;
	text-transform:uppercase;
	}
		
div#resultaten {
	background-color:#949494;
	padding:10px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	vertical-align:middle;
	}
	div#resultaten.lighter { background-color:#cdcdcd; }
	div#resultaten img { margin:-5px 2px -6px -4px ; }
	div#resultaten span {
		float:right;
		font-size:12px;
		font-weight:normal !important;
		text-transform:none !important;
		color:#fafafa;
		margin:-6px -6px 0 0;
		}

i.icon {
	height:100%;
	width:16px;
	position:absolute;
	top:0;
	left:0;
	background-repeat:no-repeat;
	background-position:center center;
	}
	i.icon.building 		 { background-image:url('../img/icons/building.png'); }
	i.icon.cog					{ background-image:url('../img/icons/cog.png'); }
	i.icon.database 	   { background-image:url('../img/icons/database.png'); }
	i.icon.news 			  { background-image:url('../img/icons/news.png'); }
	i.icon.partner 			 { background-image:url('../img/icons/partner.png'); }
	i.icon.members 		  { background-image:url('../img/icons/members.png'); }
	i.icon.gebruikers 	   { background-image:url('../img/icons/gebruikers.png'); }
	i.icon.player 			   { background-image:url('../img/icons/f_player.png'); }
	i.icon.vacatures 		{ background-image:url('../img/icons/f_vacatures.png'); }
	i.icon.content 			 { background-image:url('../img/icons/f_content.png'); }
	i.icon.application 	   { background-image:url('../img/icons/f_application.png'); }
	i.icon.email 			   { background-image:url('../img/icons/f_mail.png'); }
	i.icon.plus 				{ background-image:url('../img/icons/f_plus.png'); }
	i.icon.lock 				{ background-image:url('../img/icons/lock.png'); }
	i.icon.files 			     { background-image:url('../img/icons/files.png'); }
	i.icon.upload 			 { background-image:url('../img/icons/upload.png'); }
	i.icon.client 			    { background-image:url('../img/icons/client.png'); }
	i.icon.support 			 { background-image:url('../img/icons/support.png'); }
	i.icon.event 			   { background-image:url('../img/icons/event.png'); }
	i.icon.planning			 { background-image:url('../img/icons/planning.png'); }
	i.icon.team				   { background-image:url('../img/icons/team.png'); }
	i.icon.car	 				  { background-image:url('../img/icons/car.png'); }
	i.icon.brand 			   { background-image:url('../img/icons/brand.png'); }
	i.icon.gallery 			    { background-image:url('../img/icons/gallery.png'); }
	i.icon.store 				{ background-image:url('../img/icons/store.png'); }
	i.icon.date 				{ background-image:url('../img/icons/date.png'); }
	i.icon.faq	 				 { background-image:url('../img/icons/faq.png'); }
	i.icon.location			 { background-image:url('../img/icons/location.png'); }
	i.icon.planning-item { background-image:url('../img/icons/planning-item.png'); padding-left:12px; }
	i.icon.alert 				 { background-image:url('../img/icons/alert.png'); top:-2px; width:32px; }
	i.icon.layout 			   { background-image:url('../img/icons/f_application.png'); padding-left:12px; }
	i.icon.list 					{ background-image:url('../img/icons/list.png'); padding-left:12px; }
	i.icon.list-alert			{ background-image:url('../img/icons/list_alert.png'); padding-left:12px; }
	i.icon.cog-menu 	   { background-image:url('../img/icons/cog.png'); padding-left:12px; }
	i.icon.plus-menu 	   { background-image:url('../img/icons/f_plus.png'); padding-left:12px; }
	
span.arrow {
	position:relative;
	display:block;
	float:right;
	margin:-4px;
	}
	
.sortable-highlight {
	border:1px dashed #909090 !important;
	opacity:0.4;
	width:auto;
	}
	
.message_box {
	border:1px dashed #909090 !important;
	border-radius: 4px;
	background: #fcfcfc;
	margin:0 auto 10px auto;
	padding:15px;
	text-align:left;
	overflow:auto
	}
.message_box p {
	line-height: normal;
	}
.message_box img {
	padding:0 10px 0 0;
	}

.access_denied {
	border:1px dashed #909090 !important;
	margin:0 auto 20px auto;
	padding:10px 20px 20px 20px;
	text-align:center;
	overflow:auto
	}
.access_denied img {
	padding:0 10px 0 0;
	}

/*********************************************
FORMS
**********************************************/
	
input,
textarea,
select {
	font:normal 13px/normal Tahoma, Helvetica, sans-serif;
	margin:0;
	}

input.text,
textarea,
select {
	background-color:#f9f9f9;
	border:1px solid #666;
	color:#222;
	border-radius:2px;
	}
	input.blue {
		background:#538ed5;
		}
	input.green {
		background:#92d050;
		}
	input.orange {
		background:#ffc000;
		}
	input.red {
		background:#ff0000;
		}
	input.text {
		width:300px;
		padding:4px;
		}
	input.text.waarde {
		width:50px;
		padding:4px;
		text-align:center;
		}
	input.text.toelichting {
		width:235px;
		padding:4px;
		margin-left:3px;
		}
	input.text.toelichting_status {
		width:169px;
		padding:4px;
		margin-right:3px;
		}
	input.text.vorige {
		width:50px;
		padding:4px;
		margin-right:3px;
		text-align:center;
		}
	input.text.prev {
		width:30px;
		padding:4px;
		margin-right:3px;
		text-align:center;
		}
	input.text.huidige {
		width:50px;
		padding:4px;
		margin-right:3px;
		text-align:center;
		}
	input.text.type_soort_air {
		width:75px;
		padding:4px;
		margin-right:3px;
		text-align:center;
		}
	input.text.toelichting_air {
		width:235px;
		padding:4px;
		}
	input.text.air_waarde {
		width:30px;
		padding:4px;
		margin-right:3px;
		text-align:center;
		}
	input.text.air_toelichting {
		width:169px;
		padding:4px;
		margin-right:3px;
		}
	input.text.air_waarde_text {
		width:40px;
		padding:4px;
		margin-right:3px;
		}
	input.text.air_datum {
		width:70px;
		padding:4px;
		margin-left:10px;
		}
	input.text.text_veld {
		width:143px;
		padding:4px;
		margin-right:3px;
		}
	input.text.verbruik {
		width:143px;
		padding:4px;
		margin-right:3px;
		}
	input.text.richtwaarde.one {
		width:40px;
		padding:4px;
		margin-right:-4px;
		border-radius:2px 0 0 2px;
		}
	input.text.richtwaarde.two {
		width:40px;
		padding:4px;
		margin-right:3px;
		border-radius:0 2px 2px 0;
		}
	input.text.waarde_veld {
		width:55px;
		padding:4px;
		margin-right:3px;
		text-align:center;
		}
	input.text.waarde_veld_air {
		width:117px;
		padding:4px;
		margin-right:3px;
		text-align:left;
		}
	input.text.dynamic {
		margin:0 !important;
		}
	select {
		padding:2.5px;
		}
	textarea {
		width:560px;
		height:175px;
		overflow:auto;
		padding:4px;
		}
	textarea.files {
		width:300px;
		height:70px;
		overflow:auto;
		padding:4px;
		}
		input.error,
		textarea.error {
			border-color:#ffb9b9;
			background-color:#fff4f4;
			}
		input.focus,
		textarea.focus,
		select.focus {
			border-color:#5779c0;
			}
input[type=checkbox], input[type=radio] {
	/* margin-right:5px; */
	cursor:pointer;
	}

label {
	cursor:pointer;
	}
	
/*********************************************
MENU
**********************************************/

ul#header-menu {
	float:right;
	color:#dadada;
	margin:24px 10px 0 0;
	}
	ul#header-menu li.hm-list-item {
		display:block;
		float:left;
		position:relative;
		padding:0 5px;
		}
	ul#header-menu li.hm-list-item-image {
		display:block;
		float:left;
		position:relative;
		bottom:5px;
		padding:0px 6px 0 0;
		}
	ul#header-menu li.hm-list-item-image:hover {
		opacity:0.9;
		cursor:pointer;
		}
	ul#header-menu li.hm-list-item-image-reload {
		display:block;
		float:left;
		position:relative;
		bottom:15px;
		padding:0px 6px 0 0;
		text-align:center;
		}
	ul#header-menu li.hm-list-item-image-reload:hover {
		opacity:0.9;
		cursor:pointer;
		}
		ul#header-menu li.hm-list-item span {
			color:#6ed91a;
		}
		ul#header-menu li.hm-list-item a,
		ul#header-menu li.hm-list-item strong {
			color:#fff;
			font-weight:bold;
		}
		ul#header-menu li.hm-list-item a:hover {
			color:#ccc;
			font-weight:bold;
		}
		
div#navigation {
	padding:5px 5px 0 5px;
	}
	div#navigation ul {
		}
		div#navigation ul li {
			margin-bottom:5px;
			position:relative;
			overflow:hidden;
			}
		div#navigation ul li a.navigation-head {
			background:#b4b4b4 url('../img/cms/navigation-head-background.jpg') top repeat-x;
			padding:8px 0 9px 28px;
			height:13px;
			display:block;
			position:relative;
			color:#444;
			border-width:1px 1px 1px 1px;
			border-style:solid;
			border-color:#929292;
			border-radius:2px;
			}
		div#navigation ul li a.navigation-head span.day {
			width: 350px !important;
			}
		div#navigation ul li a.navigation-head:hover,
		div#navigation ul li a.navigation-head.hover {
			color:#000000;
			text-decoration:none;
			}
		div#navigation ul li a.navigation-head i.icon {
			left:5px !important;
			top:7px !important;
			height:16px;
			}
		div#navigation ul li.open a.navigation-head {
			background:#292929 url('../img/cms/navigation-head-open-background.jpg') top repeat-x;
			color:#fff;
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			}
		div#navigation ul li.open a.navigation-head.sub {
			background:#ffffff url('../img/cms/navigation-head-open-background.jpg') top repeat-x;
			color:#fff;
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			}
		div#navigation ul li a.toggler {
			width:21px;
			height:28px;
			top:2px;
			right:-2px;
			z-index:99;
			background-position:center center;
			background-repeat:no-repeat;
			background-image:url('../img/cms/navigation-toggler-expand.png');
			border:none !important;
			padding:0px 0 0 0 !important;
			display:block;
			position:absolute !important;
			}
			div#navigation ul li.open a.toggler {
				background-image:url('../img/cms/navigation-toggler-collapse.png');
			}
		div#navigation ul li div.wrapper {
			position:relative;
			border-width:0 1px 0 1px;
			border-style:solid;
			border-color:#929292;
			border-bottom-left-radius:2px;
			border-bottom-right-radius:2px;
			}
		div#navigation ul li div ul {
			background-color:#fff !important;
			}
		div#navigation ul li div ul li {
			border-bottom:1px solid #929292;
			margin:0 !important;
			}
		div#navigation ul li div ul li a {
			background-color:#fff;
			color:#444;
			padding:10px 8px;
			display:block;
			font-size:12px;
			}
		div#navigation ul li div ul li a:hover {
			color:#222;
			background-color:#cacaca;
			}
		div#navigation ul li div ul li.current a {
			color:#222;
			background-color:#cacaca;
			}
		div#navigation li.client-select {
			padding:8px 2px;
			}
			
div.navigation-bar {
	padding:5px 5px 0 5px;
	margin:-16px -14px 0 0;
	width:150px;
	float:right;
	}
	div.navigation-bar ul {
		}
		div.navigation-bar ul li {
			margin-bottom:5px;
			position:relative;
			overflow:hidden;
			}
		div.navigation-bar ul li a.navigation-head {
			background:#b4b4b4 url('../img/cms/navigation-head-background.jpg') top repeat-x;
			padding:8px 0 9px 28px;
			height:13px;
			display:block;
			position:relative;
			color:#444;
			border-width:1px 1px 1px 1px;
			border-style:solid;
			border-color:#929292;
			border-radius:2px;
			}
		div.navigation-bar ul li a.navigation-head:hover,
		div.navigation-bar ul li a.navigation-head.hover {
			color:#000000;
			text-decoration:none;
			}
		div.navigation-bar ul li a.navigation-head i.icon {
			left:5px !important;
			top:7px !important;
			height:16px;
			}
		div.navigation-bar ul li.open a.navigation-head {
			background:#292929 url('../img/cms/navigation-head-open-background.jpg') top repeat-x;
			color:#fff;
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			}
		div.navigation-bar ul li.open a.navigation-head.sub {
			background:#ffffff url('../img/cms/navigation-head-open-background.jpg') top repeat-x;
			color:#fff;
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			}
		div.navigation-bar ul li a.toggler {
			width:21px;
			height:28px;
			top:2px;
			right:-2px;
			z-index:99;
			background-position:center center;
			background-repeat:no-repeat;
			background-image:url('../img/cms/navigation-toggler-expand.png');
			border:none !important;
			padding:0px 0 0 0 !important;
			display:block;
			position:absolute !important;
			}
			div.navigation-bar ul li.open a.toggler {
				background-image:url('../img/cms/navigation-toggler-collapse.png');
				}
		div.navigation-bar ul li div.wrapper {
			position:relative;
			border-width:0 1px 0 1px;
			border-style:solid;
			border-color:#929292;
			border-bottom-left-radius:2px;
			border-bottom-right-radius:2px;
			}
		div.navigation-bar ul li div ul {
			background-color:#fff !important;
			}
		div.navigation-bar ul li div ul li {
			border-bottom:1px solid #929292;
			margin:0 !important;
			}
		div.navigation-bar ul li div ul li a {
			background-color:#fff;
			color:#444;
			padding:10px 8px;
			display:block;
			font-size:12px;
			font-weight:bold;
			}
			div.navigation-bar ul li div ul li a:hover {
				color:#222;
				background-color:#cacaca;
				}
			div.navigation-bar ul li div ul li.current a {
				color:#222;
				background-color:#cacaca;
				}

div.navigation-content {
	}
	div.navigation-content ul {		
		}
	div.navigation-content ul.level-3 {
		margin-left:20px;
		}
		div.navigation-content li {
			margin-bottom:5px;
			position:relative;
			overflow:hidden;
			}
		div.navigation-content li.sub {
			margin-bottom:5px;
			position:relative;
			overflow:hidden;
			border-left:5px solid #949494;
			}
		div.navigation-content ul li a.navigation-head {
			background:#b4b4b4 url('../img/cms/header-text-background.jpg') top repeat-x;
			padding:9px 0 8px 8px;
			height:13px;
			display:block;
			position:relative;
			color:#444;
			border:1px solid #d1d1d1;
			border-radius:2px;
			}
		div.navigation-content ul li span.check {
			border:1px solid #d1d1d1;		
			float:right !important;
			padding:3px 3px 3px 4px;
			position:relative !important;
			z-index:99999 !important;
			margin:5px 5px 0 0 !important;
			background: #FFFFFF;
			border-radius: 2px;
			}
		div.navigation-content ul li span.plan {
			float:right;
			position:relative;
			z-index:99999;
			margin:5px 32px 0 0;
			}
		div.navigation-content ul li span.plan:hover {
			opacity:0.7;
			}
		div.navigation-content ul li span.first {
			float:right;
			position:relative;
			z-index:99999;
			margin:5px 32px 0 0;
			}
		div.navigation-content ul li span.first:hover {
			opacity:0.7;
			}
		div.navigation-content ul li span.second {
			float:right;
			position:relative;
			z-index:99999;
			margin:5px 5px 0 0;
			}
		div.navigation-content ul li span.second:hover {
			opacity:0.7;
			}
		div.navigation-content ul li span.status {
			float:right;
			position:relative;
			z-index:99999;
			margin:2px 3px 0 0;
			}
		div.navigation-content ul li a.navigation-head.sub {
			background:#f1f1f1 url('assets/img/cms/button-gray-licht-background.jpg') !important;
			background-image:none;
			padding:9px 0 8px 8px;
			height:13px;
			display:block;
			position:relative;
			color:#444 !important;
			border:1px solid #d1d1d1 !important;
			border-left:5px solid #949494 !important;
			border-radius:0 !important;
			}
		div.navigation-content ul li a.navigation-head:hover {
			opacity:0.7;
			}
		div.navigation-content ul li a.navigation-head .time {
			float: left;
			display: text;
			width: auto !important;
			margin-right: 5px;
			font-weight: bold;
			}
		div.navigation-content ul li a.navigation-head .day {
			float: left;
			display: text;
			width: 200px !important;
			}
		div.navigation-content a.toggler {
			width:23px;
			height:28px;
			top:2px;
			right:6px;
			z-index:99;
			background-position:center center;
			background-repeat:no-repeat;
			background-image:url('../img/cms/icon-down.png');
			border:none !important;
			padding:0 0 0 0 !important;
			display:block;
			position:absolute !important;
			}
		div.navigation-content .open a.toggler {
			background-image:url('../img/cms/icon-up.png') !important;
			}
		div.navigation-content .open a.navigation-head {
			background:#949494;
			height:13px;
			color:#ffffff;
			border-top:1px solid #949494;
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			background-image:none !important;
			}
		div.navigation-content ul li div.wrapper {
			position:relative;
			border-width:0 1px 1px 1px;
			padding:10px 10px 0 10px;
			border-style:solid;
			border-color:#d1d1d1;
			border-bottom-left-radius:2px;
			border-bottom-right-radius:2px;
			}
		div.navigation-content ul li div.wrapper.files {
			border-left:5px solid #949494 !important;
			border-radius:0 !important;
			}
		div.navigation-content ul li div.wrapper.no-space {
			padding:0 0 0 0;
			border-width:0 1px 0 1px;
			}
		div.navigation-content ul li div.wrapper.line {
			border-left:5px solid #949494 !important;
			border-radius:0 !important;
			}
			
div.navigation-content-top {
			}
		div.navigation-content-top ul {
			margin:0 0 10px 0;
			}
		div.navigation-content-top.browse {
			border-bottom:1px dashed #d1d1d1;
			margin:0 0 10px 0;
			padding:15px 10px 10px 10px;
			background:#ececec;
			}
		div.navigation-content-top.file {
			border-bottom:1px dashed #d1d1d1;
			border-left:1px solid #d1d1d1;
			border-right:1px solid #d1d1d1;
			margin:0 0 10px 0;
			padding:15px 10px 10px 10px;
			background:#ececec;
			}
		div.navigation-content-top li.name {
			float:left;
			width:200px;
			height:15px;
			}
		div.navigation-content-top li.field {
			}
		div.navigation-content-top li.check {
			}

div.plan_item {
	}
	div.plan_item ul {		
		}
		div.plan_item li {
			margin-bottom:5px;
			position:relative;
			overflow:hidden;
			}
		div.plan_item ul li a.navigation-head {
			background:#b4b4b4 url('../img/cms/header-text-background.jpg') top repeat-x;
			padding:9px 0 8px 8px;
			height:13px;
			display:block;
			position:relative;
			color:#444;
			border:1px solid #d1d1d1;
			border-radius:2px;
			}
		div.plan_item ul li span.check {
			border:1px solid #d1d1d1;		
			float:right !important;
			padding:3px 3px 3px 4px;
			position:relative !important;
			z-index:99999 !important;
			margin:5px 5px 0 0 !important;
			background: #FFFFFF;
			border-radius: 2px;
			}
		div.plan_item ul li span.plan {
			float:right;
			position:relative;
			z-index:99999;
			margin:5px 32px 0 0;
			}
		div.plan_item ul li span.plan:hover {
			opacity:0.7;
			}
		div.plan_item ul li span.first {
			float:right;
			position:relative;
			z-index:99999;
			margin:5px 32px 0 0;
			}
		div.plan_item ul li span.first:hover {
			opacity:0.7;
			}
		div.plan_item ul li span.second {
			float:right;
			position:relative;
			z-index:99999;
			margin:5px 5px 0 0;
			}
		div.plan_item ul li span.second:hover {
			opacity:0.7;
			}
		div.plan_item ul li span.status {
			float:right;
			position:relative;
			z-index:99999;
			margin:2px 3px 0 0;
			}
		div.plan_item ul li span.del {
			float:right;
			position:relative;
			z-index:99999;
			margin:5px 5px 0 0;
			}
		div.plan_item ul li span.del:hover {
			opacity:0.7;
			}
		div.plan_item ul li a.navigation-head:hover {
			opacity:0.7;
			}
		div.plan_item ul li a.navigation-head .time {
			float: left;
			display: text;
			width: auto !important;
			margin-right: 5px;
			font-weight: bold;
			}
		div.plan_item ul li a.navigation-head .day {
			float: left;
			display: text;
			width: 200px !important;
			}
		div.plan_item ul li a.navigation-head .workcart {
			float: left;
			display: text;
			width: 200px !important;
			font-weight: bold;
			}
		div.plan_item ul li a.navigation-head .client {
			float: left;
			display: text;
			width: 200px !important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
			}
		div.plan_item ul li a.navigation-head .location {
			float: left;
			display: text;
			width: 200px !important;
			}
		div.plan_item ul li a.navigation-head .dossiernr {
			float: left;
			display: text;
			width: 200px !important;
			}
		div.plan_item ul li a.navigation-head .order {
			float: left;
			display: text;
			width: 150px !important;
			}

div#page-tab {
	height:30px;
	position:relative;
	z-index:1;
	float:right;
	}
	div#page-tab ul {
		color:#449207;
		float:left;
		margin-right:10px;
		line-height:33px;
		text-transform:uppercase;
		font-weight:bold;
		font-size:12px;
		}
	div#page-tab li {
		display:block;
		float:inherit;
		padding:0px 10px 0 10px;
		margin:6px 2px 0 2px;
		color:#262626;
		border-color:#89430a;
		border:1px solid #262626;
		background-color:#262626;
		background-image:url('../img/cms/button-gray-licht-background.jpg');
		border-top-left-radius:2px;
		border-top-right-radius:2px;
		}
	div#page-tab li.print-button {
		padding:0 10px !important;
		margin:-7px 2px 6px 10px !important;
		border-color:#89430a;
		background-color:#c06012 !important;
		background:url('../img/cms/button-orange-background.jpg');
		background-repeat: repeat-x;
		border-radius:2px;
		}
	div#page-tab li.print-button:hover {
		background-image:none !important;
		}
	div#page-tab li.print-button a {
		color: #ffffff;
		}
	div#page-tab li.print-button a:hover {
		color: #ffffff;
		}
	div#page-tab li.arrow {
		display:block;
		float:inherit;
		padding:7px 10px 0 10px;
		margin:6px 2px 0 2px;
		color:#262626;
		border-color:none;
		border:none;
		background:none;
		border-top-left-radius:2px;
		border-top-right-radius:2px;
		}
	div#page-tab li a {
		color:#262626;
		}
	div#page-tab li a:hover {
		color:#737373;
		}
	div#page-tab li.active {
		display:block;
		float:inherit;
		padding:0px 10px 0 10px;
		margin:6px 2px 0 2px;
		color:#fff;
		border-color:#89430a;
		border:1px solid #262626;
		background-color:#262626;
		background:#bebebe url('../img/cms/button-gray-background.jpg');
		border-top-left-radius:2px;
		border-top-right-radius:2px;
		}
	div#page-tab li.inactive {
		display:block;
		float:inherit;
		padding:0px 10px 0 10px;
		margin:6px 2px 0 2px;
		color:#b4b4b4;
		border-color:#89430a;
		border-bottom:1px solid #262626;
		border-left:1px solid #b4b4b4;
		border-top:1px solid #b4b4b4;
		border-right:1px solid #b4b4b4;
		background-color:#262626;
		background-image:url('../img/cms/button-gray-licht-background.jpg');
		}
	div#page-tab span {
		background:url('../img/icons/lock.png') no-repeat;
		background-position:left;
		padding-left:22px;
		padding-top:2px;
		}
	div#page-tab li.dropdown {
		padding-top:5px;
		margin-right:15px;
		border-bottom:10px solid #262626;
		border-radius:0 0 15px 15px;
		}
	div#page-tab li.dropdown_activiteiten {
		padding-top:4px;
		padding-bottom:0;
		margin-right:15px;
		margin-top:2px;
		}
			
div#page-tab-sub {
	z-index:1;
	margin:-2px -2px 0 -2px;
	padding:0;
	}
	div#page-tab-sub ul {
		float:left;
		display:block;
		color:#449207;
		text-transform:uppercase;
		font-size:13px;
		}
	div#page-tab-sub li {
		float:left;
		display:block;
		padding:15px 25px;
		margin:0 2px 0 2px;
		color:#262626;
		border-color:#89430a;
		background-color:#262626;
		border-top-left-radius:2px;
		border-top-right-radius:2px;
		}
	div#page-tab-sub li a {
		color:#ffffff;
		padding:15px 0 15px;
		}
	div#page-tab-sub li a:hover {
		color:#737373;
		}
	div#page-tab-sub li.active {
		padding:15px 25px;
		margin:0 2px 0 2px;
		color:#fff;
		border-color:#89430a;
		background-color:#949494;
		border-top-left-radius:2px;
		border-top-right-radius:2px;
		}
	div#page-tab-sub li.inactive {
		padding:0px 10px 0 10px;
		margin:6px 2px 0 2px;
		color:#b4b4b4;
		border-color:#89430a;
		border-bottom:1px solid #262626;
		border-left:1px solid #b4b4b4;
		border-top:1px solid #b4b4b4;
		border-right:1px solid #b4b4b4;
		background-color:#262626;
		}
	div#page-tab-sub span {
		background:url('../img/icons/lock.png') no-repeat;
		background-position:left;
		padding-left:22px;
		padding-top:2px;
		}
		
div.pagination-bar {
		padding:11px 11px;
		border:1px solid #d8dfea;
		background:url('../img/cms/header-text-background.jpg');
		margin-bottom:5px;
		}

div.pagination-button-left {
		float:left;
		margin:-7px -6px -6px -6px;
		}
div.pagination-button-left a:hover {
		opacity:0.7;
		cursor:pointer;
		}
div.pagination-button-right {
		float:right;
		margin:-20px -6px 0 -6px;
		}
div.pagination-button-right a:hover {
		opacity:0.7;
		cursor:pointer;
		}
	
	div.pagination.top { 
		padding:5px 0 18px !important;
		margin-top:0 !important;
		margin-bottom:10px;
		border-bottom:1px solid #d8dfea;
		border-top:0 !important;
		}
	div.pagination ul { 
		text-align:center;
		}
		div.pagination li { 
			display:inline; 
			font-weight:bold; 
			font-size:11px;
			}
			div.pagination li a { 
				background-color:#ddd;
				padding:5px 8px;
				margin:0 2px;
				color:#292929;
				border-radius:2px;
				}
				div.pagination li a:hover {
					background-color:#292929;
					font-size:11px;
					padding:5px 8px;
					text-decoration:none;
					margin:0 2px;
					color:#fff;
					border-radius:2px;
					}
				div.pagination li.active { 
					background-color:#292929;
					font-size:11px;
					padding:5px 8px;
					text-decoration:none;
					margin:0 2px;
					color:#fff;
					border-radius:2px;
					}
				div.pagination li.active a {
					background-color:#292929;
					color:#fff;
					}
						
						
div.js-popup.top {
	margin:-8px -5px 0 0;
	float:right;
	}
div.js-popup.bottom {
	margin:-11px -17px 0 0; 
	float:right; 
	text-transform:uppercase;	
	}
div.pull-right.bottom {
	margin:3px 20px 0 0; 
	float:right;
	}
span.pull-left.bottom {
	margin:0 0 -10px 10px; 
	text-transform:uppercase; 
	font-weight:bold;
	}
div.button.bottom {
	height:22px;
	padding-top:11px;
	}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
	float:left;
	width:94.3%;
	margin:-3px 0 0 -3px;
	border-radius:0;
	border:0 0 1px 0;
	height:25px;
	text-transform:uppercase;
	background:#949494;
	}
.ui-dialog-title {
	height:25px;
	padding-top:6px;
	color:#ffffff;
	}
 .popr-item, .popr-item {
	font-size:14px;
	border-bottom:1px solid #dddddd;
	padding:8px 5px;
	margin:0 !important;
	}
 .popr-item:hover {
		background-color:#dddddd;
		}
	 .popr-item:hover {
		background-color:#dddddd;
		}

/*********************************************
BUTTONS
**********************************************/

div.right-col-buttons label.button,
div.right-col-buttons a.link-button {
	margin-bottom:10px;
	display:block !important;
	}
	div.right-col-buttons label.button input,
	div.right-col-buttons a.link-button {
		padding:8px 0 !important;
		text-transform:uppercase;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		line-height:normal;
		font-size:13px;
	}
	div.right-col-buttons label.button input {
		width:100%;
	}
	
a.link-button {
	border-style:solid;
	border-width:1px;
	background-position:0 top;
	background-repeat:repeat-x;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	font-size:13px;
	padding:6px 10px;
	text-align:center;
	border-radius:2px;
	}
	a.link-button.bar {
		float:left;
		display:inline-block;
		border-style:solid;
		border-width:1px;
		background-position:0 top;
		background-repeat:repeat-x;
		cursor:pointer;
		font-weight:bold;
		font-size:13px;
		padding:6px 10px;
		text-align:center;
		border-radius:2px;
		}
	a.link-button.big {
		float: left;
		width: 99.7%;
		padding:20px 0;
		margin:10px 0 0 0;
		text-transform: uppercase;
		}
	a.link-button.big.green {
		background-image:none !important;
		}
	a.link-button.big.green:hover {
		background-color:#0c6e01;
		}
	a.link-button.big.red {
		background-image:none !important;
		}
	a.link-button.big.red:hover {
		background-color:#8d0000;
		}
	a.link-button:hover {
		text-decoration:none;
		color:#000000;
		}
	a.link-button.green {
		color:#fff;
		border-color:#163b06;
		background-color:#0f8e00;
		background-image:url('../img/cms/button-green-background.jpg');
		}
		a.link-button.green:hover {
		background-image:none;
		}
	a.link-button.blue {
		color:#fff;
		border-color:#0263a2;
		background-color:#0d6ba8;
		background-image:url('../img/cms/button-blue-background.jpg');
		}
		a.link-button.blue:hover {
		background-image:none;
		}
	a.link-button.orange {
		color:#fff;
		border-color:#89430a;
		background-color:#c06012;
		background-image:url('../img/cms/button-orange-background.jpg');
		}
		a.link-button.orange:hover {
		background-image:none;
		}
	a.link-button.red {
		color:#fff;
		border-color:#8e0909;
		background-color:#c01212;
		background-image:url('../img/cms/button-red-background.jpg');
		}
		a.link-button.red:hover {
		background-image:none;
		}
	a.link-button.gray {
		color:#fff;
		border-color:#222222;
		background-color:#222222;
		background-image:url('../img/cms/button-gray-background.jpg');
		}
		a.link-button.gray:hover {
		background-image:none;
		}

a.link-button-bar {
	border-style:solid;
	border-width:1px;
	background-position:0 top;
	background-repeat:repeat-x;
	cursor:pointer;
	display:inline-block;
	text-align:center;
	border-radius:2px;
	z-index:999999;
	}
	a.link-button-bar:hover {
		text-decoration:none;
		color:#000000;
		}
	a.link-button-bar.red {
		color:#fff;
		border-color:#8e0909;
		background-color:#c01212;
		background-image:url('../img/cms/button-red-background.jpg');
		float:left;
		display:block;
		padding:8px 9px;
		margin:0 10px 0 0;
		font-size:13px;
		font-weight:bold;
		}
		a.link-button-bar.red:hover {
		background-image:none;
		}
	a.link-button-bar.green {
		color:#fff;
		border-color:#163b06;
		background-color:#0f8e00;
		background-image:url('../img/cms/button-green-background.jpg');
		float:right;
		display:block;
		padding:2px 50px;
		margin:-7px -5px 0 0;
		font-size:18px;
		font-weight:normal;
		}
	a.link-button-bar.green.dynamic-sub {
		color:#fff;
		border-color:#163b06;
		background-color:#0f8e00;
		background-image:url('../img/cms/button-green-background.jpg');
		padding:2px 50px;
		margin:5px 5px;
		font-size:18px;
		font-weight:normal;
		vertical-align:top;
		}
		a.link-button-bar.green:hover {
		background-image:none;
		}

label.button {
	border-style:solid;
	border-width:1px;
	background-position:0 top;
	background-repeat:repeat-x;
	cursor:pointer;
	display:inline-block;
	border-radius:2px;
	}
	label.button input {
		border:none;
		background:none;
		font-weight:bold;
		font-size:12px;
		padding:5px 10px;
		overflow:visible;
		cursor:pointer;
	}
	label.button.dynamic input {
		padding:0 5px;
	}
	label.button.green {
		border-color:#163b06;
		background-color:#0f8f02;
		background-image:url('../img/cms/button-green-background.jpg');
		}
		label.button.green input {
			color:#fff;
		}
		label.button.green:hover {
		background-image:none;
		}
	label.button.orange {
		border-color:#89430a;
		background-color:#c06012;
		background-image:url('../img/cms/button-orange-background.jpg');
		}
		label.button.orange input {
			color:#fff;
		}
		label.button.orange:hover {
		background-image:none;
		}
	label.button.red {
		border-color:#8e0909;
		background-color:#c01212;
		background-image:url('../img/cms/button-red-background.jpg');
		}
		label.button.red input {
			color:#fff;
		}
		label.button.red:hover {
		background-image:none;
		}
	label.button.gray {
		border-color:#222222;
		background-color:#222222;
		background-image:url('../img/cms/button-gray-background.jpg');
		}
		label.button.gray input {
			color:#fff;
		}
		label.button.gray:hover {
		background-image:none;
		}

a.link-button-buildings {
	border-style:solid;
	border-width:1px;
	background-position:0 top;
	background-repeat:repeat-x;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	font-size:13px;
	padding:15px 0;
	text-align:center;
	border-radius:2px;
	width:100%;
	text-transform:uppercase;
	}
	a.link-button-buildings:hover {
		text-decoration:none;
		color:#000000;
		}
	a.link-button-buildings.green {
		color:#fff;
		border-color:#163b06;
		background-color:#0f8e00;
		background-image:url('../img/cms/button-green-background.jpg');
		}
		a.link-button-buildings.green:hover {
		background-image:none;
		}		
		
/*********************************************
TABLES
**********************************************/

table.f {
	margin:5px 0;
	width:100%;
	}
	table.f th, table.f td {
		padding:5px 10px 5px 10px;
		}
	table.f th {
		text-align:left;
		width:150px;
		font-weight:normal;
		color:#222;
		}
	table.f.dropdown th {
		width:160px !important;
		}
	table.f.repeat th {
		width:150px !important;
		}
	table.f .rights {
		width:170px;
		}
	table.f .nummerbord {
		background:no-repeat url('../img/cms/nummerbord.png');
		border:none !important;
		width:150px;
		padding:7px 0;
		font-size:18px;
		font-weight:bold;
		text-transform:uppercase;
		text-align:center;
		margin-top:4px;
		}
	
table.g {
	margin:5px 0;
	width:100%;
	vertical-align:top;
	}
	table.g th, table.g td {
		padding:5px 10px 5px 10px;
		vertical-align:middle;
	}
	table.g th {
		text-align:left;
		width:110px;
		font-weight:normal;
		color:#222;
	}
	
table.i {
	margin:5px 0;
	width:100%;
	}
	table.i th, table.i td {
		padding:3px 10px 3px 3px;
	}
	table.i th {
		text-align:left;
		width:175px;
		font-weight:normal;
		color:#222;
		}

table.i2 {
	margin:5px 0;
	width:100%;
	}
	table.i2 th, table.i2 td {
		padding:3px 10px 3px 3px;
	}
	table.i2 th {
		text-align:left;
		width:153px;
		font-weight:normal;
		color:#222;
		}

table.i3 {
	margin:5px 0;
	width:100%;
	}
	table.i3 th, table.i3 td {
		padding:0 10px 0 3px;
	}
	table.i3 th {
		text-align:left;
		width:153px;
		font-weight:normal;
		color:#222;
		}

table.b {
	padding:0px 0 0 0;
	}
	table.b th {
	padding:10px 0 0 0;
	}
	table.b td {
	padding:0px 10px 0 0;
	}
	
table.t {
	width:100%;
	}
	table.t thead th, table.t tbody td {
		vertical-align:middle;
	}
	table.t thead th {
		text-align:left;
		padding:12px 0 10px 10px;
		text-transform:uppercase;
		color:#292929;
		border-top:1px solid #d1d1d1;
		border-bottom:1px solid #d1d1d1;
		font-size:12px;
		background:#e8e8e8 url('../img/cms/header-text-background-head.jpg');
	}
	table.t tbody td {
		padding:3px 4px 2px 10px;
		border-top:1px solid #d1d1d1;
		border-bottom:1px solid #d1d1d1;
		font-size:12px;
		background:#e8e8e8 url('../img/cms/header-text-background.jpg');
	}
	table.t img {
		padding:-10px 0 0 0 !important;
	}
	table.t img:hover {
		opacity:0.7;
	}
	
table.u {
	width:70%;
	margin-left:20px;
	}
	table.u thead th, table.u tbody td {
		vertical-align:middle;
		padding:4px 0 10px 0;
	}
	table.u thead th {
		text-align:left;
		padding:12px 0 10px 10px;
		margin:20px;
		text-transform:uppercase;
		color:#292929;
		border-top:1px solid #d1d1d1;
		border-bottom:1px solid #d1d1d1;
		font-size:12px;
		background-color:#e8e8e8;
	}
	table.u tbody td {
		padding:0px 10px 0 10px;
		border-top:1px solid #d1d1d1;
		border-bottom:1px solid #d1d1d1;
		height:30px;
		font-size:12px;
		background-color:#e8e8e8;
	}
	table.u tbody.even td {
		background-color:#fff !important;
		padding:0px 10px 0 10px;
	}
	
table.p {
	width:100%;
	}
	table.p thead th, table.p tbody td {
		vertical-align:middle;
	}
	table.p thead th {
		text-align:left;
		padding:12px 0 10px 10px;
		margin:20px;
		text-transform:uppercase;
		color:#292929;
		border-top:1px solid #d1d1d1;
		border-bottom:1px solid #d1d1d1;
		font-size:12px;
		background-image:url('../img/cms/header-text-background-head.jpg');
		background-color:#e8e8e8;
	}
	table.p tbody td {
		padding-left:10px !important;
		border-top:1px dashed #d1d1d1;
		border-bottom:1px dashed #d1d1d1;
		height:30px;
		font-size:12px;
		background-color:#fafafa;
	}
	
table.r {
	width:100%;
	}
	table.r th {
		text-align:left;
		padding:12px 0 10px 10px;
		margin:20px;
		text-transform:uppercase;
		color:#292929;
		border-top:1px solid #d1d1d1;
		border-bottom:1px solid #d1d1d1;
		font-size:12px;
		background-image:url('../img/cms/header-text-background-head.jpg');
		background-color:#e8e8e8;
	}
	table.r td {
		padding:0 0 0 10px;
		border-top:1px solid #d1d1d1;
		border-bottom:1px solid #d1d1d1;
		font-size:12px;
		height:30px;
		background-color:#fafafa;
	}
	table.r img {
		padding:3px 4px 1px 0;
		text-align:right;
		right:4px;
	}
	table.r a {
		height:27px;
	}

table.checkboxes-table {
	width:100%;
	}
	table.checkboxes-table tr td {
		vertical-align:middle;
		padding:10px;
		border-bottom:1px solid #c7c7c7;
		}
		table.checkboxes-table.left tr td {
			border-right:1px solid #c7c7c7;
		}
		table.checkboxes-table.right tr td {
			border-left:1px solid #c7c7c7;
		}
		table.checkboxes-table tr td label {
			display:inline-block;
			margin-left:7px;
		}
		
table.schedule {
	width:100%;
	font-size:12px;
	}
	table.schedule thead th {
		background-color:#292929;
		padding:10px;
		color:#fff;
		font-size:11px;
		text-align:left;
		border:1px solid #b8b8b8;
		text-transform:uppercase;
		}
		table.schedule thead th.navigation {
			background-image:url('../img/cms/header-text-background-head.jpg');
			color:inherit;
			text-align:center;
		}
	table.schedule tbody td {
		border:1px solid #b8b8b8;
		padding:10px;
		height:80px;
		line-height:1.6;
		vertical-align:top;
	}
	table.schedule tbody td.month {
		border-bottom:1px solid #ffffff !important;
	}
	div#table-schedule-name {
		position:absolute;
		display:block;
		float:left;
		padding:10px;
		height:483px;
		width:154px;
		margin:73px 0 0 1px;
		line-height:1.3;
	}
	div#table-schedule-date {
		position:relative;
		display:block;
		float:right;
		top:-10px;
		right:-10px;
		width:20px;
		overflow:hidden;
		text-align:center;
		font-weight:bold;
		font-size:11px;
		border-left:1px solid #b8b8b8;
		border-bottom:1px solid #b8b8b8;
		background:#dadada;
	}
	
table.schedule td.no-job { background-color:#e8e8e8; }
table.schedule td.has-job { background-color:#7be348; }

table.schedule td.att-job { 
		background-color:#e3aa48; 
		}
table.schedule td.att-job a { 
		color:#000000; 
		}
table.schedule td.att-job a:hover { 
		color:#ffffff; 
		}

table.schedule td.end-job { background-color:#4895e3; }
table.schedule td.end-job a { 
		color:#000000; 
		}
table.schedule td.end-job a:hover { 
		color:#ffffff; 
		}

table.schedule.minimize-td-spacing td {
	padding:5px 5px 0;
}

table.schedule td.has-job a {
	color:#111;
	}
	table.schedule td.has-job a:hover {
		color:#f7f7f7;
		}
	table.schedule td.has-job {
		color:#222;
	}
	
div.schedule-divvert {
	border:1px solid #dadada;
	padding:5px;
	margin-bottom:5px;
	color:#222;
	cursor:pointer;
	}
	div.schedule-divvert a {
		font-weight:bold;
		text-decoration:underline;
		color:#111;
	}

table.tr-image-blok {
	width:580px;
	margin-top:10px;
	text-align:center;
	}
	table.tr-image-blok tbody {
		}
	table.tr-image-blok tr {
		border:1px solid #d1d1d1;
		border-radius:5px;
		}
	table.tr-image-blok td {
		vertical-align:middle;
		padding:10px 21px;
		}
	table.tr-image-blok ul {
	}
	table.tr-image-blok li {
		text-align:right;
		padding-top:5px;
	}
	
table.tr-image-header-blok {
	width:580px;
	margin-top:10px;
	text-align:center;
	}
	table.tr-image-header-blok tbody {
		}
	table.tr-image-header-blok tr {
		border:1px solid #d1d1d1;
		border-radius:5px;
		}
	table.tr-image-header-blok td {
		vertical-align:middle;
		padding:10px 10px 10px 9px;
		}
	table.tr-image-header-blok ul {
	}
	table.tr-image-header-blok li {
		text-align:right;
		padding-top:5px;
	}
	
table.tr-image-blok-beelden {
	width:auto;
	margin-top:10px;
	text-align:center;
	}
	table.tr-image-blok-beelden tbody {
		}
	table.tr-image-blok-beelden tr {
		border:1px solid #d1d1d1;
		border-radius:5px;
		}
	table.tr-image-blok-beelden td {
		padding:10px 9px 10px 12px;
		}
	table.tr-image-blok-beelden ul {
	}
	table.tr-image-blok-beelden li {
		text-align:right;
		padding-top:5px;
	}
	
/*********************************************
HEADER
**********************************************/

input#header-search {
	width:150px;
	position:absolute;
	left:10px;
	top:17px;
	border-radius:3px;
	background-image:url('../img/cms/header-search-background.jpg');
	background-position:139px center;
	background-repeat:no-repeat;
}

a#header-logo {
	position:absolute;
	display:block;
	width:178px;
	height:70px;
	background:url('../img/cms/header-logo.png') no-repeat;
	top:14px;
	left:190px;
	}
	a#header-logo:hover {
		opacity:0.8;
		}

div.file-header {
	padding:9px;
	color:#ffffff;
	background:#949494;
	margin-bottom:5px;
	text-transform:uppercase;
	font-weight:bold;
	}
		
div#sub-header-top-bar {
	height:40px;
	position:relative;
	width:auto;
}

div#sub-header-bottom-bar {
	position:relative;
	background-color:#262626;
	border-bottom:1px solid #fff;
	text-transform:uppercase;
	height:6px;
	overflow:hidden;
	}
	div#sub-header-bottom-bar ul {
		float:right;
		line-height:1;
		}
		div#sub-header-bottom-bar ul li,
		div#sub-header-bottom-bar ul li a {
			display:block;
			float:left;
			position:relative;
			}
			div#sub-header-bottom-bar ul li {
				margin:0 10px;
				}
				div#sub-header-bottom-bar ul li a {
					color:#fff;
					height:23px;
					padding:9px 10px 0;
				}
				div#sub-header-bottom-bar ul li.current a {
					font-weight:bold;
					background:url('../img/cms/sub-header-tab-tabs-current-background.jpg') center bottom no-repeat;
				}

/* HEADERS START */	
div.header-top {
		background-color:#949494;
		margin-bottom:5px;
		overflow:hidden;
		}
div.header-top.half {
		float: left;
		width: 45% !important;
		}
div.header-top.lighter {
		background: #cdcdcd;
		}
div.header-top.no-space {
		margin-bottom:0;
		}
	div.header-top ul {
		height:11px;
		font-weight:bold;
		text-transform:uppercase;
		color:#ffffff;
		font-size:13px;
		margin:11px;
		}
	div.header-top li.dropdown {
		float:right;
		text-transform:none !important;
		font-weight:normal !important;
		margin:-20px -7px 0 0 !important;
		}
	div.header-top span.dropdown {
		float:right;
		text-transform:none !important;
		font-weight:normal !important;
		margin:-7px -7px 0 0 !important;
		}
	div.header-top li.image img {
		float:left;
		align:center;
		margin:-6px 5px 0 -6px !important;
		}
			
div.header-top-nobottom-low {
		background-color:#949494;
		overflow:hidden;
	}
	div.header-top-nobottom-low ul {
		height:11px;
		color:#ffffff;
		font-size:13px;
		margin:11px;
		}
	div.header-top-nobottom-low span.dropdown {
		float:right;
		text-transform:none !important;
		font-weight:normal !important;
		margin:-7px !important;
		}
	div.header-top-nobottom-low span.number {
		float:right;
		text-transform:none !important;
		font-weight:normal !important;
		}

div.header-top-nobottom {
		background-color:#949494;
		overflow:hidden;
		}
	div.header-top-nobottom ul {
		height:11px;
		font-weight:bold;
		text-transform:uppercase;
		color:#ffffff;
		font-size:13px;
		margin:11px;
		}
	div.header-top-nobottom span.dropdown {
		float:right;
		text-transform:none !important;
		font-weight:normal !important;
		margin:-7px !important;
		}
	div.header-top-nobottom li.dropdown {
		float:right;
		text-transform:none !important;
		font-weight:normal !important;
		margin:-25px -7px 0 0 !important;
		}
	div.header-top-nobottom li.dropdown-fullpage {
		float:right;
		text-transform:none !important;
		font-weight:normal !important;
		margin:-20px -7px 0 0 !important;
		}
		
div.header {
		border:1px solid #d1d1d1;
		background:#e8e8e8 url('../img/cms/header-text-background-head.jpg');
		margin-bottom:5px;
		overflow:hidden;
	}
	div.header ul {
		height:11px;
		font-weight:bold;
		text-transform:uppercase;
		font-size:12px;
		margin:11px;
		}
		div.header.button ul {
			height:11px;
			font-weight:bold;
			text-transform:uppercase;
			font-size:12px;
			margin:0;
			}
		div.header li.name.button {
			display:block;
			width:100%;
			margin:0 0 0 0;
			padding:0 0 0 0;
			}
		div.header li.name.button span.text {
			float:left;
			display:block;
			margin:12px 10px 10px 10px;
			}
	div.header li.dropdown {
		float:right;
		text-transform:none !important;
		font-weight:normal !important;
		margin:-6px -7px 0 0 !important;
		}
	div.header li.functie {
		float:left;
		text-align:right;
		width:85px;
		}
	div.header li.groep {
		float:left;
		text-align:left;
		width:85px;
		}
	div.header li.user {
		float:left;
		margin-left:37px;
		}
	div.header li.stad-planning {
		display:inline-block;
		float:left;
		margin-left:120px;
		}
	div.header li.time {
		display:inline-block;
		float:left;
		}
	div.header li.project {
		display:inline-block;
		float:left;
		margin-left:70px;
		}
	div.header li.name {
		float:left;
		margin-left:37px;
		}
	div.header li.name-ras {
		float:left;
		margin-left:37px;
		width:200px;
		}
	div.header li.name-planning {
		display:inline-block;
		float:left;
		margin-left:30px;
		}
	div.header li.name-controle {
		display:inline-block;
		float:left;
		margin-left:30px;
		}
	div.header li.gebouw-controle {
		display:inline-block;
		float:left;
		margin-left:46px;
		}
	div.header li.asset-controle {
		display:inline-block;
		float:left;
		margin-left:108px;
		}
	div.header li.activiteit-controle {
		display:inline-block;
		float:left;
		margin-left:120px;
		}
	div.header li.name-user {
		float:left;
		margin-left:165px;
		}
	div.header li.name-mailing {
		float:left;
		text-align:right;
		width:90px;
		}
	div.header li.name-kwartaal {
		float:left;
		margin-left:72px;
		}
	div.header li.name-start {
		float:left;
		text-align:right;
		}
	div.header li.name-form {
		float:left;
		text-align:left;
		width:180px;
		}
	div.header li.name-file {
		float:left;
		}
	div.header li.ras {
		float:left;
		width: 180px;
		}
	div.list span.name-ras {
		float:left;
		width:200px;
		}
div.header li.onderwerp {
		float:left;
		text-align:left;
		width:180px;
		}
	div.header li.name-vacatures {
		float:left;
		text-align:right;
		width:125px;
		}
	div.header li.status {
		float:right;
		width:auto;
		}
	div.header li.status-controle {
		float:right;
		width:160px;
		}
	div.header li.email {
		float:right;
		width:250px;
		}
	div.header li.date {
		float:right;
		width:160px;
		}
	div.header li.date-text {
		float:right;
		text-align:right;
		width:160px;
		margin:-12px -15px -10px 10px !important;
		}
	div.header li.date-search {
		float:right;
		width:130px;
		}
	div.header li.date-file {
		float:left;
		width:123px;
		}
	div.header li.date-controle {
		float:left;
		width:16px;
		}
	div.header li.date-form {
		float:right;
		width:160px;
		}
	div.header li.file {
		float:left;
		width:44px;
		}
	div.header li.date-vacature {
		float:right;
		width:90px;
		}
	div.header li.date-vacature-2 {
		float:right;
		width:110px;
		}
	div.header li.bedrijf-vacatures {
		float:right;
		width:170px;
		}
	div.header li.bedrijf-vacatures-controle {
		float:right;
		width:330px;
		}
	div.header li.verzending {
		float:right;
		width:190px;
		}
	div.header li.read {
		float:right;
		width:140px;
		}
	div.header li.jaar {
		float:right;
		width:110px;
		}
	div.header li.kwartaal {
		float:right;
		width:110px;
		}
	div.header li.checkbox {
		float:right;
		width:160px;
		}
	div.header li.checkbox-2 {
		float:right;
		width:90px;
		}
	div.header li.checkbox-0b {
		float:right;
		width:101px;
		}
	div.header li.cat {
		float:right;
		width:230px;
		}
	div.header li.cat-2 {
		float:right;
		width:240px;
		}
	div.header li.cat-3 {
		float:right;
		width:210px;
		}
	div.header li.functions {
		float:right;
		width:78px;
		}
/* HEADERS END */

/* LIST START */		
div.list-cat {
	}
	div.list-cat ul {
		margin:10px 0;
		}
	div.list-cat li {
		}
	div.list-cat li.browse {
		border-bottom:1px dashed #d1d1d1;
		border-left:1px solid #d1d1d1;
		border-right:1px solid #d1d1d1;
		padding:10px;
		margin-top:-10px;		
		background:#ececec;
		}
	div.list-cat li.browse.message {
		line-height:normal;
		}
	div.list-cat li.browse span {
		float:right;
		padding:3px 7px 10px 7px;
		font-weight:bold;
		font-size:13px;
		}
	div.list-cat li.browse.waarde div.w_spacing {
		margin:0 0 5px 0;
		}
	div.list-cat li.browse.waarde div.w_spacing:last-child {
		margin:0 0 0 0;
		}
	div.list-cat li.browse.waarde span.waarde {
		float:left;
		padding:7px 10px 0 0;
		font-weight:normal;
		}
	div.list-cat li.browse.waarde span {
		float:none;
		padding:0 10px;
		font-weight:normal;
		}
	div.list-cat li.browse span.social {
		float:left;
		padding:7px 0 0 0;
		width:150px !important;
		font-weight:normal;
		}
	div.list-cat li.browse span.button {
		float:right;
		padding:0 0 0 0;
		font-weight:normal;
		}
	div.list-cat li.browse .align {
		padding:5px 5px 5px 5px;
		}
	div.list-cat li.browse span input {
		margin:5px 5px 5px 5px;
		}
	div.list-cat li.browse-multie {
		border-bottom:1px dashed #d1d1d1;
		border-left:1px solid #d1d1d1;
		border-right:1px solid #d1d1d1;
		padding:0 0 20px 0;
		margin-top:-10px;		
		background:#ececec;
		}
	div.list-cat li.browse .file_layout {
		border:1px solid #d1d1d1;
		background: #FFFFFF;
		border-radius: 4px;
		padding:4px;
		margin:1px 5px 0 0;
		}
	div.list-cat li.browse.half {
		height: 140px;
		}
	div.list-cat li.text {
		float:left;
		display:block;
		padding:17px 10px 10px 10px;
		}
	
div.list {
	}
	div.list.mb {
		margin-bottom:20px;
		}
	div.list li {
		height:11px;
		font-size:12px;
		border:1px solid #d1d1d1;
		background:#fdfdfd url('../img/cms/header-text-background.jpg');
		margin-bottom:5px;
		padding:11px;
		}
	div.list.dynamic li.list_header {
		background-image:none;
		background:#949494;
		color:#ffffff;
		}
	div.list li.list_header {
		background-image:none;
		background:#949494;
		color:#ffffff;
		}
	div.list span.header.dynamic {
		float:left;
		text-align:right;
		font-weight:normal !important;
		min-width:50px;
		margin:-7px 15px 0 0;
		}
	div.list span.header.dynamic .click {
		font-weight:normal !important;
		}
	div.list span.header.dynamic input {
		margin:-7px 0 0 0 !important;
		padding:4px;
		border:#000;
		border-radius:2px;
		}
	div.list.dynamic li {
		height:11px;
		font-size:12px;
		background:#fdfdfd url('../img/cms/header-text-background.jpg');
		margin-bottom:5px;
		padding:11px;
		}
	div.list.dynamic-sub li {
		height:11px;
		font-size:12px;
		margin-bottom:5px;
		padding:11px 0 11px 11px;
		width:auto;
		}
	div.list span.move.dynamic {
		float:left;
		padding:0;
		cursor:move;
		margin:-1px 0 0 0;
		}
	div.list span.field.dynamic {
		float:left;
		display:block;
		padding:0;
		margin:-7px 0 0 0;
		top:0;
		}
	div.list span.name.dynamic {
		float:left;
		font-weight:normal;
		width:265px;
		margin:-7px 0 0 0;
		}
	div.list span.name.dynamic input {
		float:left;
		margin:-6px 0 -8px 0;
		padding:5px;
		}
	div.list span.button.dynamic {
		text-align:right;
		float:right;
		margin:-8px -5px 0 0;
		}
	div.list span.move.dynamic-sub {
		float:left;
		padding:0 19px 0 0;
		cursor:move;
		}
	div.list span.button.dynamic-sub {
		text-align:right;
		float:right;
		margin:-7px 5px 0 0;
		}
	div.list span.name.dynamic-sub input {
		margin:-7px 0 0 0 !important;
		padding:4px;
		}
	div.list span.field.dynamic-sub {
		float:left;
		display:block;
		padding:0;
		margin:-7.7px 20px 0 0;
		top:0;
		}
	div.list span.field.dynamic-sub input[type=radio] {
		margin:6px 8px 8px 8px;
		}
	div.list span.field.dynamic-sub input[type=radio] span {
		padding-top:12px;
		}
	div.list span.name.dynamic-sub {
		float:left;
		font-size:14px;
		font-weight:normal;
		text-align:right;
		min-width:250px;
		margin:-2px 15px 0 0;
		}
	div.list span.header.dynamic-sub {
		float:left;
		font-size:14px;
		font-weight:normal;
		text-align:right;
		min-width:50px;
		margin:-1px 15px 0 0;
		}
	div.list span.header.dynamic-sub input {
		margin:-7px 0 0 0 !important;
		padding:4px;
		border:#000;
		border-radius:2px;
		}
	div.list li.dotted {
		border-top:1px dashed #d1d1d1;
		border-bottom:1px dashed #d1d1d1;
		border-left:0 dashed #d1d1d1;
		border-right:0 dashed #d1d1d1;
		background:#fafafa;
		margin-bottom:5px;
		overflow:hidden;
		}
	div.list ul.sub {
		width:auto;
		margin-left:20px;
		}
	div.list ul.sub-sub {
		width:auto;
		margin-left:40px;
		}
	div.list input[type=checkbox] {
		margin-right:3px;
		}
	div.list li.sub {
		background-color:#f1f1f1;
		background-image:none;
		}
	div.list li.sub-sub {
		background-color:#e8e8e8;
		background-image:none;
		}
	div.list span.move {
		float:left;
		padding:1px 19px 0 0;
		cursor:move;
		}
	div.list span.move a {
		cursor:move;
		}
	div.list span.file {
		float:left;
		padding:0 19px 0 0;
		margin:-7px 0 0 -7px;
		}
	div.list span.building {
		float:left;
		padding:0 15px 0 0;
		margin:-7px 0 0 -3px;
		}
	div.list span.building a:hover {
		opacity:0.7;
		cursor:pointer;
		}
	div.list span.file a:hover {
		opacity:0.7;
		cursor:pointer;
		}
	div.list span.image-file {
		float:right;
		padding:0 19px 0 0;
		margin:-7px 0 0 -7px;
		width:120px;
		}
	div.list span.image-file-controle {
		float:right;
		padding:0 19px 0 0;
		margin:-7px 0 0 -7px;
		width:50px;
		}
	div.list span.time {
		float:left;
		padding:0 23px 0 0;
		}
	div.list span.functie {
		float:left;
		width:140px;
		}
	div.list span.groep {
		float:left;
		width:140px;
		}
	div.list span.name {
		float:left;
		width:auto;
		}
	div.list span.name .crop {
		float:left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width:150px;
		margin-right:10px;
		}
	div.list span.name-form {
		float:left;
		width:180px;
		}
	div.list span.onderwerp {
		float:left;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		max-width:180px;
		}
	div.list span.name-vacature {
		float:left;
		width:auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width:220px;
		margin-right:10px;
		}
	div.list span.name-planning {
		float:left;
		width:115px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width:125px;
		margin-right:10px;
		}
	div.list span.gebouw-planning {
		float:left;
		width:150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width:200px;
		margin-right:10px;
		}
	div.list span.asset-planning {
		float:left;
		width:150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width:200px;
		margin-right:10px;
		}
	div.list span.activiteit-planning {
		float:left;
		width:175px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width:200px;
		margin-right:10px;
		}
	div.list span.project {
		float:left;
		width:145px;
		}
	div.list span.name-user {
		float:left;
		width:200px;
		}
	div.list span.name input {
		background-color:#f9f9f9;
		border:1px solid #666;
		color:#222;
		padding:5px 10px;
		border-radius:2px;
		margin-top:-8px;
		}
	div.list span.email {
		float:right;
		width:250px;
		}
	div.list span.type {
		float:right;
		margin-right:80px;
		}
	div.list span.style {
		float:right;
		margin-right:40px;
		}
	div.list span.date {
		float:right;
		width:110px;
		}
	div.list span.date-form {
		float:right;
		width:160px;
		}
	div.list span.date-planning {
		float:left;
		width:auto;
		}
	div.list span.bedrijf {
		float:right;
		width:170px !important;
		}
	div.list span.bedrijf-vacature {
		float:right;
		width:160px !important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width:160px;
		margin-right:10px;
		}
	div.list span.bedrijf-2 {
		float:right;
		width:180px !important;
		}
	div.list span.bedrijf-controle {
		float:right;
		width:250px !important;
		}
	div.list span.date-upload {
		float:right;
		width:110px;
		}
	div.list span.jaar {
		float:right;
		width:90px;
		}
	div.list span.kwartaal {
		float:right;
		width:110px;
		}
	div.list span.verzending {
		float:right;
		width:110px;
		}
	div.list span.read {
		float:right;
		width:120px;
		}
	div.list span.email {
		float:right;
		width:250px;
		}
	div.list span.checkbox {
		float:right;
		width:110px;
		}
	div.list span.checkbox-2 {
		float:right;
		width:90px;
		}
	div.list span.checkbox-0b {
		float:right;
		width:100px;
		}
	div.list span.cat {
		float:right;
		width:230px;
		}
	div.list span.cat-2 {
		float:right;
		width:240px;
		}
	div.list span.cat-3 {
		float:right;
		width:160px;
		}
	div.list span.buttons {
		float:right;
		margin:-8px -7px 0 0;
		}
	div.list span.browse {
		float:right;
		display:block;
		margin:-8px 5px 0 0;
		}
	div.list span.buttons a:hover {
		opacity:0.7;
		cursor:pointer;
		}
/* LIST END */

/*********************************************
BANNERS
**********************************************/	

div.list-banner {
	margin-bottom:10px;
	}
	div.list-banner li {
		float:left;
		display:inline-block;
		width:auto;
		font-size:12px;
		border:1px solid #d1d1d1;
		background:#ffffff;
		padding:11px;
		margin:0 0 11px 0;
		}
	div.list-banner li.small {
		float:left;
		font-size:12px;
		border:1px solid #d1d1d1;
		background:#ffffff;
		padding:11px;
		margin:0 11px 11px 0;
		}
	div.list-banner li.wide {
		float:none;
		display:block;
		position:relative;
		font-size:12px;
		border:1px solid #d1d1d1;
		background:#ffffff;
		margin:0 0 11px 0;
		width:auto;
		}
	div.list-banner li.no-space {
		margin:0 0 11px 0;
		}
	div.list-banner span.bottom {
		float:left;
		width:100%;
		padding:11px;
		margin:10px -30px -11px -11px;
		border-top:1px dashed #d1d1d1;
		background:#ececec;
		}
	div.list-banner span.move {
		float:left;
		margin:10px 18px 10px 6px;
		vertical-align:middle;
		text-align:center;
		cursor:move;
		}
	div.list-banner span.move a {
		cursor:move;
		}
	div.list-banner span.image img {
		border:1px solid #d1d1d1;
		}
	div.list-banner span.image  {
		float:left;
		margin-top: 4px;
		}
	div.list-banner span.omschrijving {
		float:left;
		font-size:14px;
		line-height:14px;
		padding:5px 5px 5px 15px;
		position:relative;
		display:block;
		width:50%;
		}
	div.list-banner span.close {
		float:right;
		margin:0 -2px 0 0;
		}
	div.list-banner span.close_wide {
		float:right;
		top:0;
		right:0;
		margin:5px;
		position: absolute;
		display:block;
		}
	div.list-banner span.titel {
		float:left;
		margin:2px 0;
		padding-left:5px;
		z-index:99999;
		}
	div.list-banner span.titel span.text {
		float:left;
		width:36px;
		margin-top:7px;
		}
	div.list-banner span.URL {
		float:left;
		margin:2px 0;
		padding-left:5px;
		z-index:99999;
		}
	div.list-banner span.URL span.text {
		float:left;
		width:36px;
		margin-top:7px;
		}
	div.list-banner span.field {
		float:left;
		margin:2px 0;
		padding-left:5px;
		z-index:99999;
		}
	div.list-banner span.field span.text {
		float:left;
		width:36px;
		margin-top:7px;
		}
		
/*********************************************
SIDEBAR
**********************************************/

div#sidebar-left {
	width:180px;
}

div#sidebar-right {
	width:180px;
}

ul.breadcrumbs-navigation {
	position:relative;
	color:#449207;
	float:left;
	height:0px;
	line-height:33px;
	font-size:12px;
	margin:4px 0 0 10px;
	}
	ul.breadcrumbs-navigation li.bn-list-item {
		display:block;
		float:left;
		padding-right:5px;
		margin:0px 0 0 0;
	}	
	ul.breadcrumbs-navigation li.bn-list-item img {
		padding-right:4px;
	}
	
div.planning {
	display:block;
	border:1px solid #929292;
	border-radius:2px;
	padding:5px;
	background:#a9a9a9 url('../img/cms/navigation-head-background.jpg') top repeat-x;
	margin-bottom:10px;
	}
	div.planning .provincie {
		font-size:14px;
		font-weight:bold;
		display:block;
		text-align:center;
		}
	div.planning img {
		display:block;
		margin-bottom:-15px;
		margin-left:-7px;
		}
	div.planning .aantal {
		display:block;
		text-align:center;
		margin-top:5px;
		}
	div.planning .aantal span {
		font-size:16px;
		font-weight:bold;
		}
	div.planning .plannen {
		display:block;
		margin-top:5px;
		margin-bottom:-10px;
		}

/*********************************************
FOOTER
**********************************************/	
		
div#inner-footer {
	padding:10px;
	color:#c7c7c7;
	font-size:11px;
	position:relative;
	}
	div#inner-footer span {
		display:block;
		padding:4px;
	}
	div#inner-footer span.datetime {
		float:left;
		font-size:12px;
		padding-left:19px;
		padding-right:10px;
		background:url('../img/cms/footer-datetime-icon.jpg') no-repeat;
		vertical-align:center;
	}
	div#inner-footer span.copyright {
		float:right;
	}

/*********************************************
DIVERSEN
**********************************************/	

div.map  {
	display:block;
	width:100%;
	height:600px;
	text-align:center;
	border:1px solid #b8b8b8;
	}

div.building-press {
	background:#e2e2e2 url('../img/cms/background-building.png') repeat-x;
	border:1px solid #949494;
	font-size:13px;
	padding:10px;
	margin-bottom:5px;
	overflow:hidden;
	}
	div.building-press span {
		float:left;
		display:block;
		font-weight:bold;
		width:150px;
		}
	div.building-press span.image {
		float:left;
		display:block;
		border:1px solid #949494;
		width:243px;
		height:243px;
		margin-right:10px;
		}
	div.building-press ul {
		display:block;
		width:100%;
		}
	div.building-press li.header {
		font-size:18px;
		font-family:'Lato', Verdana, Geneva, sans-serif;
		font-weight:bold;
		margin-bottom:20px;
		}
	div.building-press li.text {
		font-size:13px;
		margin-bottom:20px;
		line-height:normal;
		}
	div.building-press li.address {
		margin-bottom:10px;
		line-height:normal;
		}
	div.building-press li.address span {
		display:block;
		margin-right:10px;
		height:80px;
		}
	div.building-press li.tenant {
		margin-bottom:5px;
		}
	div.building-press li.area {
		margin-bottom:10px;
		}

div.building-press-small {
	background:#e2e2e2 url('../img/cms/background-building.png') repeat-x;
	border:1px solid #949494;
	font-size:13px;
	padding:10px;
	margin-bottom:5px;
	margin-right:10px;
	overflow:hidden;
	width:auto;
	float:left;
	display:block;
	}
	div.building-press-small ul {
		display:block;		
		text-align:center;

		}
	div.building-press-small span {
		display:block;
		font-weight:bold;
		width:150px;
		}
	div.building-press-small li.image {
		display:block;
		border:1px solid #949494;
		width:243px;
		height:243px;
		}
	div.building-press-small li.header {
		font-size:16px;
		font-weight:bold;
		margin-bottom:20px;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		max-width:230px;
		}
	div.building-press-small ul.button {
		display:block;
		margin:0 auto;
		padding-top:10px;
		}
	div.building-press-small li.button {
		display:block;
		text-align:center;
		margin-top:10px;
		}

div.form-border {
	border-bottom:1px dashed #d1d1d1;
	border-left:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	padding:10px;
	margin:-5px 0 10px 0;		
	background:#ececec;
	}
		
div#authentication-container {
	padding:10px;
	width:530px;
	border-radius:5px;
	background-color:#d7d7d7;
	position:relative;
	overflow:hidden;
	margin:100px auto 0;
	}
	div#authentication-container div.header-login {
		height:63px;
		position:relative;
		border-top-left-radius:5px; 
		border-top-right-radius:5px; 
		background-color:#292929;
		}
		div#authentication-container div.header-login a.auth-logo {
			display:block;
			width:auto;
			height:75px;
			position:relative;
			top:18px;
			left:20px;
			background:url('../img/cms/authentication-logo.png') no-repeat;
			text-indent:-1000em;
		}
	div#authentication-container div.body {
		border-width:0 1px;
		border-style:solid;
		border-color:#292929;
		padding:30px 20px 20px 20px;
		background-color:#f2f2f2;
		}
		div#authentication-container div.body table.form {
			width:100%;
			}
			div#authentication-container div.body table.form td {
				padding-bottom:10px;
				vertical-align:middle;
			}
			div#authentication-container div.body table.form input.text {
				padding-top:8px;
				padding-bottom:8px;
			}
			div#authentication-container div.body table.form label.button input {
				padding:8px 0 !important;
				text-transform:uppercase;
				font-family:Tahoma, Helvetica, sans-serif;
				line-height:normal;
				font-size:13px;
			}
	div#authentication-container div.footer {
		padding:10px 20px;
		position:relative;
		background-color:#292929;
		border-bottom-left-radius:5px; 
		border-bottom-right-radius:5px; 
		font-size:12px;
		color:#868686;
		}
		div#authentication-container div.footer a {
			color:#6ed91a;
			}
		div#authentication-container div.footer a:hover {
			color:#3e8e00;
			}

.content-position {
	margin-bottom:10px; 
	position:relative; 
	overflow:hidden;
	}
	.content-position.half {
		float: left;
		width: 49.5%;
		padding:0 0 0 0;
		}
	.content-position.half.last {
		float: right;
		}
	.content-position.full {
		width: 100%;
		padding:0 10px 0 0;
		}
	.content-position.no-space {
		margin-bottom:0;
		}
	.content-position.top-space {
		margin-top:10px;
		}
	div.content-position .header-top .dossiernummer {
		float: right;
		text-align: right;
		color: #FFFFFF;
		margin:-2px 0 0 0;
		font-style: normal;
		}
	div.content-position .header-top .dossiernummer strong {
		color:#000000;
		font-size: 14px;
		font-style:bold !important;
		}

.check-active {
	color:#0a8a00; 
	font-weight:bold; 
	font-size:14px;  
	vertical-align:middle;
	}

.check-inactive {
	color:#8e0909; 
	font-weight:bold; 
	font-size:14px;  
	vertical-align:middle;
	}

.homepage-text-blok-main {
	border:1px solid #d1d1d1;
	background-color:#dfdfdf;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	margin-bottom:10px; 
	position:relative; 
	overflow:hidden;
	}
	
.homepage-text-blok {
	border:1px solid #d1d1d1; 
	border-radius:10px; 
	margin-bottom:10px; 
	position:relative; 
	overflow:hidden;
	width:811px;
	}
.homepage-text-blok-width {
	border:1px solid #d1d1d1; 
	border-radius:10px; 
	margin-bottom:10px; 
	overflow:hidden;
	width:400px;
	}
	
.border-style {
	border:1px solid #afafaf;
	padding:2px 5px 5px 5px;
	}
	
.border-style-banner {
border:1px solid #afafaf;
padding:3px 5px 5px 5px;
}
.border-style-banner-text {
border:1px solid #afafaf;
padding:3px 5px 5px 5px;
margin-bottom:10px;
}

.meta-text {
	vertical-align:middle; 
	font-size:14px; 
	}
	.meta-text span {
		color:#449207;
		font-weight:bold; 
		}

.info-box {
	position:relative;
	font-size:14px;
	line-height:18px;
	color:#000;
	bottom:17px;
	width:250px;
	border:1px solid #afafaf;
	background:#f0f0f0;
	padding:15px;
	margin-left:65px;
	border-radius:5px;
	z-index:9999;
	}
	.info-box span {
		float:right;
		position:relative;
		margin-right:-16px;
		margin-top:-35px;
	}
	
.div-numbers {
	font-size:24px;
	text-align:center;
	}

.tr {
	height:5px;
	}

.warning_label {
	color:#373738;
	padding:10px;
	margin:10px;
	border:1px solid #929292;
	border-radius:3px;
	background-color:#c2c2c2;
	}
	
.tr-line {
	border-left:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	}
	
.td-image {
	height:5px;
	}

.color {
	border:1px solid #666;
	padding:4px;
	width:227px;
	}

.login-text {
	position:relative; 
	display:block; 
	width:250px;
	padding:10px 0 0 40px;
	margin-bottom:10px;
	}

.spacing {
	height:5px;
	}
	
.splitline {
	margin:10px 0 10px 0;
	height:2px;
	background-image:url('../img/cms/splitline.jpg');
	}
.splitline-dot {
	margin:10px 0 10px 0;
	height:2px;
	border-bottom:1px dashed #6c6c6c;
	}
tr.splitline-dot {
	float:left;
	margin:0 0 3px 0;
	height:2px;
	border-bottom:1px dashed #6c6c6c;
	width:100%;
	}

.p { padding:10px; }

.margin-l { margin-left:7px !important; }
.margin-r { margin-right:15px !important; }
.margin-lr { margin:0 7px !important; }

.align-t { vertical-align:top !important }
.align-l { text-align:left !important; }
.align-c { text-align:center !important; }
.align-r { text-align:right !important; }
.align-j { text-align:justify !important; }

.float-r { float:right !important; }
.float-l { float:left !important; }
.float-n { float:none !important; }
.float-r-copyright { float:right !important; font-size:11px; }

.no-margin { margin:0 !important; }
.no-padding { padding:0 !important; }

.hidden { display:none !important; }

.uppercase { text-transform:uppercase !important; }
.lowercase { text-transform:lowercase !important; }

.all-clearfix {
	padding:0;
	margin:0;
	height:0;
}

.clearfix:after {
	content:'.';
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {
	display:inline-block;
}

/* \*/
* html .clearfix {
	height:1%;
}

.clearfix {
	display:block;
}
/* */

/*
ASSET FIELD
*/

.af_range.af_range_ok {
		background:#92d050;
		color:#000000;    
}
.af_range.af_range_outside {
		background:#ffc000;
		color:#000000;    
}

.af_hv.af_hv_1,
.af_hv.af_hv_2 {
    background: rgb(83, 142, 213);
    color:#000000;    
}

.af_hv.af_hv_3,
.af_hv.af_hv_4 {
    background:rgb(146, 208, 80);
    color:#000000;    
}

.af_hv.af_hv_5 {
    
    background:rgb(255, 192, 0);
    color:#000000;    
}

.af_hv.af_hv_6 {
    background: rgb(255, 0, 0);
    color:#000000;    
}

.af_tvrtav.af_tvrtav_1 {
    background:rgb(146, 208, 80);
    color:#000000;    
}
    

.af_tvrtav.af_tvrtav_2 {
    background:rgb(255, 192, 0);
    color:#000000;    
}
    

.af_tvrtav.af_tvrtav_3 {
    background: rgb(255, 0, 0);
    color:#000000;    
}